
.btn-create-party {
   width: 160px;
   text-transform: uppercase;
   font-weight: bolder;
   padding: 11px 3px;
   color: #FFFFFF;
   border: 1px solid #BB5151;
   font-size: 10px;
   cursor: pointer;
   background: #e94f6a;
   border-radius: 1px;
   box-shadow: 0 1px 2px  1px rgba(233, 79, 106, 0.24);
   height: 33px;
}
 .btn-create-party {
   width: 150px;
   min-width: 0;
   padding: inherit;
 }