.map {
    width: 100%;
}

.app-section.x--map {
    height: 100vh;
    position: relative;
}

.js-map-wrap {
    height: 100%;
    width: 100%;
    position: absolute!important;
    z-index: 11;
}

.map__icon {
    position: absolute;
    z-index: 1;
    font-size: 30px;
    border: 1px solid #1a59c3;
}

.map__icon.x--geoloc,
.map__icon.x--change-location,
.map__icon.x--facebook {
    bottom: 31px;
    font-size: 18px;
    cursor: pointer;
    background: #ffffff;
    color: #1a59c3;
    width: 40px;
    height: 40px;
}

.map__icon.x--geoloc:hover,
.map__icon.x--change-location:hover,
.map__icon.map-zoom i:hover {
    color: #508aea;
} 

.map__icon.x--facebook {
    z-index: 101;
}

.map__icon.x--facebook.x--hearted {
    background: #1a59c3;
    color: white;
    right: 46px;
    left: auto;
}

.map__icon.x--facebook.x--hearted:hover {
    opacity: .8;
}

.map__icon.x--facebook i {
    position: relative;
    top: -2px;
}

.map__icon.x--facebook i.icon-heart {
    position: absolute;
    color: #f63c5d;
    transform: rotate(30deg);
}

.map__icon.x--facebook i.icon-heart.x--1 {
    top: -5px;
    right: -10px;
    font-size: 18px;
}

.map__icon.x--facebook i.icon-heart.x--2 {
    top: 0px;
    right: -22px;
    font-size: 12px;
    color: rgba(246, 60, 93, 0.64);
}

.map__icon.x--facebook i.icon-heart.x--3 {
    top: -12px;
    right: -17px;
    font-size: 9px;
    color: rgba(246, 60, 93, 0.38);
}

.map__icon.x--facebook:hover {
    opacity: .8;
}

.map__icon.x--change-location {
    right: 20px;
}

.map__icon.x--create-before,
.map__icon.x--filter-dates {
    position: fixed;
    height: 50px;
    width: 50px;
    font-size: 20px;
    top: 130px;
    cursor: pointer;
    z-index: 10;
    display: none;
}

.map__icon.x--create-before {
    padding: 2px;
    color: white;
    bottom: 30px;
    top: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-family: 'quenda';
    font-size: 26px;
    box-shadow: 0 2px 3px #8a8a8a;
    border: none;
}

.map__icon.x--create-before:hover {
    /* background: red; */
}

.map__icon.x--create-before .x--plus {
    position: absolute;
    top: 0;
    right: -2px;
    font-size: 12px;
    background: #f1245d;
    height: 26px;
    width: 26px;
}

.map__icon.x--create-before.js-create-before.x--round-icon {}

.map__icon.x--create-before.x--hosting {
    /* background: linear-gradient(45deg, #ffec4d, rgb(255, 236, 77)); */
    /* color: #ffa900; */
}

.map__icon.x--filter-dates {
    color: #1a59c3;
    right: 10px;
    display: flex;
    top: 110px;
}

.map__icon.x--create-before:hover {
    opacity: .8!important;
}

.map__icon.x--geoloc,
.map__icon.x--facebook {
    left: 20px;
}

.map__icon.x--location {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none!important;
}

.map__overlay {
    background: rgba(232, 232, 232, 0.64);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.28);
}

.map-browse {
    position: fixed;
    bottom: 32px;
    right: 86px;
    width: 300px;
    height: 44px;
    border-radius: 100px;
    z-index: 10;
    box-sizing: border-box;
    display: none;
    overflow: hidden;
    border: 1px solid #adc2e5;
}

.map-browse input {
    width: 330px;
    border-radius: 2px;
    padding: 0 30px;
    font-size: 13px;
    border: none;
}

.map-browse input::-webkit-input-placeholder {
    color: #ccc!important;
}

.map-browse input:-moz-placeholder {
    /* Firefox 18- */
    color: #ccc!important;
}

.map-browse input::-moz-placeholder {
    /* Firefox 19+ */
    color: #ccc!important;
}

.map-browse input:-ms-input-placeholder {
    color: #ccc!important;
}

.map-zoom {
    bottom: 90px;
    right: 25px;
    height: 70px;
    width: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background: white;
    border-radius: 100px;
    color: #1a59c3;
    cursor: pointer;
}

.map-zoom__in,
.map-zoom__out {
    width: 100%;
    height: 50%;
}

.map-zoom__out {}

.map-zoom__splitter {
    background: #d9d9d9;
    height: 1px;
    width: 80%;
    flex-shrink: 0;
}

.marker-wrapper {
    z-index: 1;
}
.marker-wrapper.x--hover {
    z-index: 20;
}
.marker-wrapper.x--last-hovered {
    z-index: 2;
}
.marker-wrapper-translate {
    transform: translate(-50%,-50%);
}

.marker {
    border: 2px solid transparent;
    padding: 4px;
    opacity: 0;
    cursor: pointer;
    transition: transform linear 0.05s;
}


.marker.x--face {
    width: 50px;
    height: 50px;
    border: 1px solid;
    padding: 0px;
    background: white;
    border-radius: 100px;
    position: absolute;
    border-color: #1a59c3;
    transform: translate(-50%,-50%);
}

.marker.x--face > * {
    position: absolute;
}

.marker.x--male {}

.marker.x--female {
    border-color: #d55d8c;
}

.marker.x--mixed {
    border-color: #7b4cbb;
}

.marker.x--accepted {
    border-color: #fa555c;
}

.marker.x--host {
    border-color: #ffa900;
}

.mrk__img,
.mrk__loader {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    /* width: 40px; */
    /* height: 40px; */
    border-radius: 100px;
    overflow: hidden;
}

.mrk__loader {
    width: 20px;
    height: 20px;
}

.marker img {
    width: 100%;
    height: 100%;
}

.mrk__img {
    z-index: 1;
    margin: 4px;
}

.mrk__img .img-wrap {
    width: 100%;
    height: 100%;
}

.mrk__img .img-item {
    transition: all linear .5s;
    position: absolute;
}

.mrk__status {
    bottom: -2px;
    right: -4px;
    z-index: 2;
    width: 20px;
    height: 20px;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    background-color: white;
    color: white;
}


.mrk__status span {
    position: relative;
    top: 0px;
}


.marker.x--male .mrk__status {
    background: #4080ff;
}

.marker.x--female .mrk__status {
    background: #d55d8c;
}

.marker.x--mixed .mrk__status {
    background: #7b4cbb;
}


.marker.x--pending .mrk__status {
    background: white;
    border: 2px solid;
    font-size: 9px;
    border-color: #1a59c3;
    color: #1a59c3;
}

.marker.x--male.x--pending .mrk__status {
    border-color: #4080ff;
    color: #4080ff;
}
.marker.x--female.x--pending .mrk__status {
    border-color: rgb(213, 93, 140);
    color: rgb(213, 93, 140);
}
.marker.x--mixed.x--pending .mrk__status {
    border-color: #7b4cbb;
    color: #7b4cbb;
}



.marker.x--accepted .mrk__status {
    border-color: white!important;
    color: white!important;
    background: linear-gradient(45deg, #fe685c, #ed105d);
}


.marker.x--host .mrk__status {
    background: #ffec4d!important;
    color: #ffa900!important;
    border: 1px solid #ffec4d!important;
    border-color: white;
}

.mrk__status.x--host.x--round-icon {}



.mrk__status i {}

.mrk__seen {
    background: #e61515;
    /* background: #8814b3; */
    /* background: #fd7124; */
    top: 5px;
    right: 1px;
    width: 8px;
    height: 8px;
    border-radius: 100px;
    z-index: 3;
    border: 0px solid #ffffff;
    display: none;
}

.meemap-closed {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    background: white;
    position: fixed;
    flex-flow: column;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
}

.meemap-closed__h1 {
    font-family: 'quenda';
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bolder;
    color: #1a59c3;
    text-align: center;
}

.meemap-closed__h1 h1 {}

.meemap-closed__h2 {
    font-size: 12.5px;
    font-weight: bolder;
    text-align: center;
    line-height: 24px;
    align-items: center;
    color: #454545;
}

.meemap-closed__h2 h2 {}

.meemap-closed__icon {
    order: -1;
    font-size: 60px;
    margin-bottom: 30px;
    color: #ccc;
    margin-top: auto;
}

.meemap-closed__h3 {
    width: 50%;
    text-align: center;
    font-size: 12.5px;
    line-height: 24px;
    color: #454545;
}

.meemap-closed__h3 h3 {}

.meemap-closed__icon i {}

.meemap-igloo {
    width: 260px;
    height: 60px;
    background: linear-gradient(45deg, #fe685C, #ed105d);
    align-items: flex-end;
    margin-top: auto;
    border-top-left-radius: 220px 100px;
    border-top-right-radius: 220px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meemap-countdown {
    color: white;
    font-size: 22px;
    margin-top: 4px;
    font-family: 'quenda';
}


.mapboxgl-control-container {
    opacity: .3;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 10px;
}