.map {
    width: 100%;
}

.app-section.--map {
    height: 100vh;
    position: relative;
    top: -2px;
}

.js-map-wrap {
    height: 100%;
    width: 100%;
    position: absolute!important;
}

.map__icon {
    position: absolute;
    z-index: 1;
    font-size: 30px;
}

.map__icon.--geoloc,
.map__icon.--change-location {
    bottom: 30px;
    font-size: 22px;
    cursor: pointer;
    background: #ffffff;
    color: #1b69ec;
    /* border: 2px solid; */
    width: 50px;
    height: 50px;
}

.map__icon.--geoloc:hover, .map__icon.--change-location:hover, .map__icon.map-zoom i:hover {
    color: #508aea;
}

.map__icon.--change-location {
    right: 20px;
}

.map__icon.--create-before {
    position: fixed;
    background: #1B69EC;
    color: white;
    height: 50px;
    width: 50px;
    font-size: 20px;
    right: 20px;
    top: 122px;
    cursor: pointer;
    z-index: 10;
    display: none;
}

.map__icon.--create-before:hover {
    background: rgba(27, 105, 236, 0.75);
}

.map__icon.--geoloc {
    left: 20px;
}

.map__icon.--location {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.map__overlay {
    background: rgba(0, 0, 0, .15);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.map-browse {
    position: fixed;
    bottom: 36px;
    right: 86px;
    width: 300px;
    height: 44px;
    border-radius: 100px;
    z-index: 10;
    box-sizing: border-box;
    display: none;
}

.map-browse input {
    width: 330px;
    border-radius: 2px;
    padding: 0 30px;
    font-size: 13px;
    border: none;
    border-bottom: 3px solid #1b69ec;
}

.map-browse input::-webkit-input-placeholder {
    color: #ccc!important;
}

.map-browse input:-moz-placeholder {
    /* Firefox 18- */
    color: #ccc!important;
}

.map-browse input::-moz-placeholder {
    /* Firefox 19+ */
    color: #ccc!important;
}

.map-browse input:-ms-input-placeholder {
    color: #ccc!important;
}
 
.map-zoom {
    bottom: 100px;
    right: 26px;
    height: 90px;
    width: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background: white;
    border-radius: 100px;
    color: #1b69ec;
    cursor: pointer;
}
.map-zoom__in,
.map-zoom__out {
    width: 100%;
    height: 50%;
}
.map-zoom__out {}
.map-zoom__splitter {
    background: #d9d9d9;
    height: 1px;
    width: 80%;
    flex-shrink: 0;
}
