.map {
    width: 100%;
}

.app-section.x--map {
    height: 100vh;
    position: relative;
    top: -2px;
}

.js-map-wrap {
    height: 100%;
    width: 100%;
    position: absolute!important;
}

.map__icon {
    position: absolute;
    z-index: 1;
    font-size: 30px;
    border: 1px solid #ececec;
}

.map__icon.x--geoloc, .map__icon.x--change-location, .map__icon.x--facebook {
    bottom: 31px;
    font-size: 22px;
    cursor: pointer;
    background: #ffffff;
    color: #1a59c3;
    /* border: 2px solid; */
    width: 50px;
    height: 50px;
}

.map__icon.x--geoloc:hover,
.map__icon.x--change-location:hover,
.map__icon.map-zoom i:hover {
    color: #508aea;
}

.map__icon.x--facebook {

}

.map__icon.x--facebook:hover{
    
}

.map__icon.x--change-location {
    right: 20px;
}

.map__icon.x--create-before,
.map__icon.x--filter-dates {
    position: fixed;
    height: 50px;
    width: 50px;
    font-size: 20px;
    top: 130px;
    cursor: pointer;
    z-index: 10;
    display: none;
}

.map__icon.x--create-before {
    background: #1a59c3;
    padding: 2px;
    color: white;
    right: 20px;
    font-size: 20px;
    bottom: 30px;
    top: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-family: 'quenda';
    font-size: 20px;
    box-shadow: 0 2px 3px #8a8a8a;
    background: linear-gradient( 45deg, #1a59c3, #7b4cbb );
    border: none;
}


.map__icon.x--create-before:hover {
    /* background: red; */
}
.map__icon.x--create-before.js-create-before.x--round-icon {}

.map__icon.x--filter-dates {
    color: #1a59c3;
    right: 10px;
    display: flex;
    top: 110px;
}

.map__icon.x--create-before:hover {opacity: .8!important;}

.map__icon.x--geoloc, .map__icon.x--facebook {
    left: 20px;
}

.map__icon.x--location {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none!important;
}

.map__overlay {
    background: rgba(232, 232, 232, 0.64);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.17);
}

.map-browse {
    position: fixed;
    bottom: 36px;
    right: 86px;
    width: 300px;
    height: 44px;
    border-radius: 100px;
    z-index: 10;
    box-sizing: border-box;
    display: none;
}

.map-browse input {
    width: 330px;
    border-radius: 2px;
    padding: 0 30px;
    font-size: 13px;
    border: none;
    border-bottom: 3px solid #1a59c3;
}

.map-browse input::-webkit-input-placeholder {
    color: #ccc!important;
}

.map-browse input:-moz-placeholder {
    /* Firefox 18- */
    color: #ccc!important;
}

.map-browse input::-moz-placeholder {
    /* Firefox 19+ */
    color: #ccc!important;
}

.map-browse input:-ms-input-placeholder {
    color: #ccc!important;
}

.map-zoom {
    bottom: 100px;
    right: 26px;
    height: 90px;
    width: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background: white;
    border-radius: 100px;
    color: #1a59c3;
    cursor: pointer;
}

.map-zoom__in,
.map-zoom__out {
    width: 100%;
    height: 50%;
}

.map-zoom__out {}

.map-zoom__splitter {
    background: #d9d9d9;
    height: 1px;
    width: 80%;
    flex-shrink: 0;
}

.mrk {
    border: 2px solid transparent;
    padding: 4px;
    opacity: 0;
}

.marker.x--face {
    width: 50px;
    height: 50px;
    border: 1px solid;
    /* box-sizing: border-box; */
    padding: 0px;
    background: white;
    border-radius: 100px;
    border-radius: 100px;
    position: absolute;
    border-color: rgb(49, 49, 49);
    border-color: white;
    border-color: #1a59c3;
    border-color: #1a59c3;
}

.marker.x--face > * {
    position: absolute;
}

.mrk__img,
.mrk__loader {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    /* width: 40px; */
    /* height: 40px; */
    border-radius: 100px;
    overflow: hidden;
}

.mrk__loader {
    width: 20px;
    height: 20px;
}

.mrk img {
    width: 100%;
    height: 100%;
}

.mrk__img {
    z-index: 1;
    margin: 4px;
}

.mrk__img .img-wrap {
    width: 100%;
    height: 100%;
}

.mrk__img .img-item {
    transition: all linear .5s;
    position: absolute;
}

.mrk__status {
    bottom: -2px;
    right: -4px;
    z-index: 2;
    width: 20px;
    height: 20px;
    font-size: 11px;
    justify-content: center;
    align-items: center;
}

.mrk__status.x--accepted {
    background: #1a59c3;
    background: #1a59c3;
    color: white;
    border: 2px solid white;
}

.mrk__status.x--pending {
    color: #1a59c3;
    background: white;
    border: 2px solid #1a59c3;
    font-size: 9px;
}

.mrk__status.x--number {color: white;border: 2px solid white;font-family: 'quenda';}
.mrk__status.x--number  span {
    position: relative;
    top: 1px;
}
.mrk__status.x--number.x--1 {
    background: #1ecc21;
}
.mrk__status.x--number.x--2 {
    background: #7b4cbb;
}
.mrk__status.x--number.x--3 {
    background: pink;
    color: #771224;
}
.mrk__status.x--number.x--4 {
    background: #fd7124;
}

.mrk__status.x--host {
    background: orange;
    background: #ffec4d;
    color: white;
    color: #ffec4d;
    color: #ffa900;
    border: 1px solid;
    border-color: white;
    border-color: #ffec4d;
}

.mrk__status.x--host.x--round-icon {}

.mrk__status.x--pending {
    color: #1a59c3;
    background: white;
    border: 2px solid #1a59c3;
    font-size: 9px;
}

.mrk__status i {}

.mrk__seen {
    background: #e61515;
    /* background: #8814b3; */
    /* background: #fd7124; */
    top: 5px;
    right: 1px;
    width: 8px;
    height: 8px;
    border-radius: 100px;
    z-index: 3;
    border: 0px solid #ffffff;
    display: none;
}

.meemap-closed {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    background: white;
    height: 70%;
    position: fixed;
    flex-flow: column;
    bottom: 0;
    left: 0;
    right: 0;
}
.meemap-closed__h1 {font-family: 'quenda';font-size: 22px;margin-bottom: 20px;color: #7b4cbb;}
.meemap-closed__h1 h1 {}
.meemap-closed__h2 {
    font-size: 12.5px;
    margin-bottom: 80px;
    width: 50%;
    text-align: center;
    line-height: 24px;
    align-items: center;
    color: #454545;
}
.meemap-closed__h2 h2 {}
.meemap-closed__icon {
    order: -1;
    font-size: 54px;
    margin-bottom: 30px;
    width: 120px;
    height: 120px;
    background: #faf7ff;
    color: #7b4cbb;
}
.meemap-closed__icon i {}
