
.mapview-wrap {
    background: #313131;
    padding: 12px 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px -1px black;
    overflow: hidden;
    position: absolute;
    color: white;
    /*min-width: 400px;*/
    font-size: 12px;
    font-family: 'Karla';
    letter-spacing: .4px;
    opacity: 0;
}
.mapview {
    display: flex;
    justify-content: space-around;
}
.mapview--event {
}
.mapview--party {

} 
.mapview__close {
    position: absolute;
    right: 0px;
    top: 0;
    cursor: pointer;
    color: #ADADAD;
    font-size: 10px;
    text-shadow: 0 0 2px black;
    border-radius: 0 0 0 2px;
    width: 20px;
    height: 14px;
    padding-top: 3px;
}
.mapview__close:hover {
    color: white;
}

.mapview__divider--sm {
    margin: 0 5px;
}
.mapview__divider--md {
    margin: 0 8px;
}

.mapview-hosts {
    display: flex;
    align-items: center;
}
.mapview-host {
    margin: 0 3px;
    position: relative;
}
.mapview-host__flag {
    background: #313131;
    border-color: #313131;
}
.mapview-host__img {

} 
.mapview-context {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mapview-context__element {
    margin: 2px 0;
    text-shadow: 0 0 2px black;
    display: flex;
}
.mapview-context__icon {
    color: #e94f6a;
    margin-right: 2px;
}
.mapview-address {
    display: flex;
}
.mapview-address__name {

}
.mapview-address__icon {

} 
.mapview-date {
    display: flex;
    color: #CACACA;
    font-family: 'Lato';
}
.mapview-date__icon {

}
.mapview-date__hour {

} 
.mapview-date__day {

}
.mapview-date__splitter {
    width: 7px;
}
.mapview-hostnames {
    display: flex;
}
.mapview-hostnames__name {
    display: none;
    padding: 4px 6px;
    background: #B01756;
    margin: 2px 2px 0;
    overflow: hidden;
    max-width: 80px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 10px;
}
.mapview-action {
    display: flex;
    justify-content: center;
    align-items: center;
} 
.mapview-action__btn {
    font-size: 10px;
    background: #B01756;
    border: 1px solid #520C29;
}
.mapview-action__btn:hover {
    background: #E02471;
}

.mapview-context--party {
}
.mapview-emptytext {

}
.mapview-emptytext__name {

}
.mapview-emptytext__icon {

}