
.pictures {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 60px;
}
.picture {
   position: relative;
   background: white;
   /* border: 1px solid rgb(228, 228, 228); */
   width: 170px;
   height: 170px;
   transition: .2s;
   padding: 10px;
   cursor: pointer;
   /* display: flex; */
}

.picture img {
  width: 100%;
  height: 100%;
}
.picture:hover {
   /* border: 1px double #DCDCDC; */
   /* box-shadow: 0 0 10px #CCCCDC; */
}


.picture.--main {
}

.picture-icon {
    transition: all ease-in .10s;
    display: flex;
    flex-flow: row wrap;
    height: 170px;
    width: 170px;
    background: rgba(79, 130, 226, 0.33);
    top: 10px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.picture-icon:hover {
    opacity: 1;
}

 
.picture__icon { 
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 24px;
   border: 1px solid #BDBDBD;
   box-sizing: border-box;
   color: white;
   border: 1px solid;
   position: relative;
   cursor: pointer;
}
.picture__icon:hover {
    background: rgba(255,255,255,.2);
}
.picture__icon.--mainify {}
.picture__icon.--upload-facebook {}
.picture__icon.--upload-desktop {}
.picture__icon.--delete {}
.picture__icon:nth-of-type(1){
    border-right: none;
    border-bottom: none;
}
.picture__icon:nth-of-type(2){
    border-bottom: none;
}
.picture__icon:nth-of-type(3){
    border-right: none;
}

.pictures .cloudinary-fileupload { 
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0.01;
   cursor: pointer!important;
}

.hashtag {

}

.picture__hashtag {display: none;align-items: center;width: 100%;overflow: hidden;justify-content: center;flex-flow: row wrap;}

.hashtag__hash {
  font-weight: bolder;
  font-size: 20px;
  color: #33AFFF;
}

.hashtag span {

}

.hashtag input {padding: 5px 0px;border: none;font-size: 12px;font-weight: bolder;width: 150px;outline: none;cursor: pointer;background: none;transition: all ease-in .15s;}

.hashtag input.--active {
  background: rgba(51, 175, 255, 0.08);
  border-bottom: 1px solid #B0E0FF;
  padding-left: 8px;
}

.hashtag-action {
  display: none;
  width: 100%;
  justify-content: flex-end;
  padding-right: 8px;
  margin-top: 6px;
}

.hashtag-action.--pending {
  opacity: .4!important;
}

.hashtag-action > div {
  font-size: 12px;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  border: 1px solid #454545;
  box-sizing: border-box;
  padding-top: 6px;
  margin: 0 2px;
  position: relative;
  top: -2px;
  text-align: center;
}

.hashtag__action-validate {
}
.hashtag__action-cancel {color: #FF6767;border-color: #ff6767!important;}

.picture__progress-bar {
  width: 100%;
  position: absolute;
  height: 6px;
  top: -12px;
  left: -1px;
  z-index:10;
  /* border: 1px solid #CCC; */
  border-radius: 10px;
  overflow: hidden;
  display: none;
}
 
.picture__progress-bar-bg {
  width: 0%;
  height: 100%;
  background: #eee;
  transition: all ease-in 1s;
}









.main-picture i.icon-main,
.main-picture i.icon-delete {
   display: none;
}

.picture-hashtag {
   text-align: center;
   width: 90%;
   margin: 0 auto;
   position: relative;
   top: -4px; 
   cursor: pointer;
}
.picture-hashtag:hover {
    background: #F9F9F9;
}

.picture-hashtag span {
    color: #E94F6A;
}
.picture-hashtag input {
   width: 114px;
   padding: 3px 3px 3px 6px;
   color: #B7B7B7;
   border-bottom: 1px solid transparent;
   transition: all .5s;
   font-family: 'Karla';
   font-size: 11px;
   border: none;
   cursor: pointer;
}

.row-pictures.editing .picture-hashtag {
   border-bottom: 1px solid #C1C1C1;
   background-color: whitesmoke;
   color: #312525;
}

.picture-edit {
   display: none;
}

.picture-edit,
.picture-upload {
   width: 160px;
   height: 152px;
   position: absolute;
   background-color: rgba(254, 254, 254, 0.58);
   top: 0px;
   left: -1px;
   padding-top: 71px;
   z-index: 1000000;
}
.picture-edit {
    z-index: 10000000;
}

.upload-facebook,
.upload-desktop {
   display: inline-block;
   position: relative;
   cursor: pointer;
}

.upload_form + i {
   cursor: pointer;
}

.upload_form:hover + i {
   background-color: #F3F3F3;
}

.picture-upload i:hover {
   background-color: #F3F3F3;
}

.picture-edit i,
.picture-upload i {
   font-size: 20px;
   background-color: white;
   border: 1px solid #696969;
   padding: 3Px;
   color: #828282;
   margin: 3px;
   transition: all ease-out .2s;
   cursor: pointer;
}

.picture-edit i:not(.selected):hover {
   background: #eee;
}

.picture-edit i:first-child {
}

.row-buttons {
   display: none;
   margin-top: 36px;
   text-align: center;
}

.row-buttons--modal {margin-top: 15px;height: 40px;}

.picture-edit > div {
   display: inline-block;
}

.mainPicture {
   padding: 9px;
   background: white;
}
/*various hacks*/

.upload_form {
   position: absolute;
   top: 0;
   left: 0;
}

.picture.--main .picture__ribbon-main {
  opacity: 1;
}
.picture__ribbon-main {
  opacity: 0;
  transition: all ease-out .2s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  width: 70%;
  top: 140px;
  left: 50%;
  border-radius: 100px;
  transform: translate(-50%,0);
  background: rgba(27,105,236,0.75);
  height: 26px;
}

@media (max-width: 1000px ){
  .pictures {
    flex-flow: row wrap;
  }
  .menu.--downsized h3 {
    font-size: 10px;
  }

  .menu-item__icon i {
    font-size: 20px;
  }
}

@media (max-width: 500px){
  
  .menu.--downsized h3 {
    display: none;
  }
}