
.onb-welcome {
    display: flex;
    flex-flow: column;
    color: white;
    justify-content: center;
    align-items: center;
}
.onb-welcome__icon {
    font-size: 70px;
    width: 100px;
    height: 100px;
    border: 2px solid rgb(218, 152, 255);
    color: rgb(218, 152, 255);
    padding: 20px;
    margin-bottom: 30px;
}
.onb-welcome__icon i {}
.onb-welcome__title {font-family: 'creamy';font-size: 60px;margin-bottom: 30px;}
.onb-welcome__title span {}
.onb-welcome__subtitle {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    width: 90%;
    margin-bottom: 40px;
}
.onb-welcome__subtitle span {}
.onb-welcome__footer {
    width: 250px;
    height: 50px;
    border: 2px solid;
}
.onb-welcome__footer button {
    width: 100%;
    height: 100%;
    background: none;
    color: #f5bfa1;
    font-size: 16px;
    font-family: 'quenda';
}