
.landing-connexion {
    position: relative;
    width: 260px;
    height: 46px;
    text-align: center;
    position: absolute;
    bottom: 2px;
    right: 0;
    z-index: 10000;
    width: 100%;
}

.landing-connexion button {
    color: white;
    background: #3b5998;
    border-radius: 5px;
    font-size: 15px;
    width: 100%;
    height: 100%;
    background: #1a59c3;
    background: linear-gradient(45deg,#1a59c3,#1a85c3);
    /* border-radius: 100px; */
}

.landing-connexion button:hover {
  background: #5f96f1;
  opacity: 1;
}

.js-no-popup {
  display: none;
  opacity: 0.01;
  width: 100%; 
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}

.js-no-popup:hover + button {
  opacity: .75;
}

.landing-lang {
    position: fixed;
    top: 20px;
    right: 20px;
}

.landing-lang button {
    width: 80px;
    height: 34px;
    border: 1px solid;
    color: #1a59c3;
    background: white;
    font-size: 12px;
    border-radius: 100px;
}



.landing-privacy {
    width: 350px;
    text-align: center;
    font-size: 9px;
    line-height: 14px;
    position: fixed;
    bottom: 50px;
    width: 100%;
    color: #454545;
    left: 0;
    right: 0;
}

.landing-privacy h3 {
    margin-top: 10px;
}