.landing-footer {
   background: #191919;
   background-origin: border-box;
   text-align: center;
   color: #F4F4F4;
   font-family: 'Alegreya Sans';
   overflow: hidden;
   font-size: 14px;
   border-top: 1px solid #000000;
   height: 420px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.footer-followus {
   margin-top: 40px;
   font-size: 40px;
   color: #F5F5F5;
   font-weight: bolder;
}

.footer-socials {margin-top: 20px;}

.footer-socials i {transition: all ease-in-out .15s;border-radius: 200px;width: 90px;height: 90px;display: inline-block;padding-top: 20px;cursor: pointer;margin: 0 6px;font-size: 46px;color: white;border: 2px solid white;box-sizing: border-box;}
.footer-socials i {transition: all ease-in-out .15s;border-radius: 200px;width: 90px;height: 90px;display: inline-block;padding-top: 20px;cursor: pointer;margin: 0 6px;font-size: 46px;color: white;border: 2px solid white;}
.footer-socials i:hover {
    background: #333;
}
.footer-socials .icon-facebook {}
 
.footer-socials .icon-twitter {

}

.footer-socials .icon-instagram {
 
}

.footer-socials .icon-youtube {

}

.footer-divider {height: 4px;margin: 0 auto;width: 540px;background: #000000;margin-top: 22px;}

.footer-list {margin-top: 20px;margin-bottom: 30px;}

.footer-list-item {display: inline-block;margin: 0 10px;cursor: pointer;}
.footer-list-item:hover a{color: #E94F6A;}

.footer-list-item a{
    text-decoration: none;
    color: #EDEDED;
    transition: all .15s ease-in-out;
    font-size: 20px;
}





