
.landing.x--v2 {
    display: flex;
    align-items: center;
    height: 100vh;
}

.landing-hero {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    color: white;
    padding-left: 60px;
    box-sizing: border-box;
}

.landing__h1 {font-family: 'Helvetica';/* font-weight: 700; */font-size: 66px;margin-bottom: 32px;font-family: 'pacifico';font-family: 'creamy';text-align: center;font-size: 35px;font-family: 'quenda';font-weight: bolder;text-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);}
.landing__h1 h1 {}
.landing__h2 {
    margin-bottom: 40px;
    font-family: 'Open sans';
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
}
.landing__h2 h2 {}

.landing-connexion {
    text-align: center;
    width: 300px;
    height: 50px;
}

.landing-connexion.x--bald {
  width: 70px;
  height: 70px;
}

.landing-connexion button {
    width: 100%;
    height: 100%;
    border-radius: 1000px;
    font-size: 15px;
}
.landing-connexion i {
  display: none;
}

.landing-connexion.x--white button {
  background: white;
}

.landing-connexion.x--fire button {
  background: linear-gradient(45deg,#fe685c, #ed105d);
  color: white;
  width: 170px;
  font-size: 12px;
}

.landing-connexion.x--bald button {
  font-size: 36px;
  background: linear-gradient(45deg,#fe685c, #ed105d);
  color: white;
  animation: pound-light .75s infinite alternate;
}

.landing-connexion.x--bald div {
  display: none;
}
.landing-connexion.x--bald i {
  display: block;
  position: relative;
  left: 2px;
}

.landing-connexion button:hover {
    opacity: .8;
}

.js-no-popup {
    display: none;
    opacity: 0.01;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}

.js-no-popup:hover + button {
    opacity: .75;
}

.landing-lang {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.landing-lang button {
    width: 80px;
    height: 34px;
    border: 1px solid;
    font-size: 12px;
    border-radius: 100px;
    color: white;
    background: none;
}

.landing-privacy {
    text-align: center;
    font-size: 9px;
    line-height: 18px;
    color: white;
    margin-top: 30px;
}

.landing-privacy h3 {
    margin-top: 10px;
}

.landing-logo {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 36px;
}

.landing-logo img {
    width: 100%;
    height: 100%;
}

.landing-logo.x--inverse {}

.landing-logo.x--brand {
    width: 130px;
    top: 12px;
    left: 12px;
}

.landing-logo.x--rounded {
    width: 50px;
    top: 10px;
    left: 15px;
}

.landing-facebook-page {
    position: absolute;
    top: 20px;
    right: 110px;
    border: 1px solid white;
    height: 32px;
    width: 32px;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    z-index: 10;
}

.landing-facebook-page:hover {
    opacity: .8;
}
.landing-facebook-page i {}



.landing-screenshots {
  display: flex;
  width: 350px;
  height: 400px;
  position: absolute;
  bottom: 70px;
  right: 20px;
}
 
.landing__screenshot {position: absolute;bottom: 0;left: 0;width: 50%;}

.landing__screenshot.x--1 {width: 60%;left: 0;z-index: 3;}

.landing__screenshot.x--2 {left: auto;right: 30px;z-index: 2;bottom: 30px;}

.landing__screenshot.x--3 {width: 54%;left: -126px;z-index: 1;bottom: 20px;}

.landing-screenshots img {
  width: 100%;
}


.landing-link {
    font-weight: 700;
    cursor: pointer;
}

.landing-bold {
    font-weight: 700;
}
.landing-footer {
    margin-top: auto;
    color: #919191;
    font-family: 'quenda';
    font-size: 13px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding-left: 30px;
}

.landing-footer__item {
   margin: 0 40px 0 0;
   cursor: pointer;
   transition: all ease-in-out .2s;
}

.landing-footer__item:hover {
    color: white;
}

.landing-footer__item span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.landing-privacy {

}

.landing-footerlay {
    /* background: linear-gradient( transparent, black); */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.landing-layer {
    position: absolute;
    width: 100%;
    height: 100%;
}
.landing-background {
    background-image: url(/img/landing/lp23.jpg);
    z-index: 1;
    background-size: cover;
    background-position: top left;
}
.landing-overlay {
    background: linear-gradient( #1A59C5, black );
    z-index: 2;
    opacity: 0.6;
    /* background: linear-gradient(45deg,rgba(251, 89, 92, 0),#f0215d); */
    /* background: rgba(255, 255, 255, 0.45); */
    /* background: rgba(0, 0, 0, 0.49); */
}
.landing-content {
    z-index: 3;
}

.landing-publish {
    font-size: 11px;
    margin-top: 20px;
}
.landing-publish span {}


.landing-avant {position: relative;}

svg {position: absolute;top: 30px;left: -4px;width: 100px;}

path {
  fill: none;
  stroke: #fff;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
}

.start-anim path {
  animation: dash 700ms cubic-bezier(.63,.25,.25,.9) forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}



@media (max-width: 1100px) {
   
   .landing__screenshot.x--3 {
     display: none;
   }

   .landing-avant * {
     display: none;
   }
   

}
@media (max-width: 900px) {
   
   .landing__screenshot.x--2 {
     display: none;
   }
   
   .landing__screenshot.x--1 {
     left: 0;
     right: 0;
     bottom: 80px;
     margin: auto;
     width: 55%;
     bottom: 23px;
   }


}
@media (max-width: 700px) {
   
   .landing-background {
      background-position: center center;
   }
   .landing__h2 {
     display: none;
   }

  
   .landing-screenshots {
      position: absolute;
      top: auto;
      left: 0;
      right: 0;
      bottom: 140px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      max-width: 300px;
      height: 100%;
      bottom: 0;
   }

   .landing-hero {
     width: 100%;
     padding: 20px;
     height: 100%;
     position: relative;
   }
 
   .landing__h1 {
      font-size: 24px;
      position: absolute;
      bottom: 74%;
      width: 80%;
      line-height: 30px;
      left: 0;
      right: 0;
      margin: auto;
   }

  
   .landing-connexion {
       position: absolute;
       z-index: 5;
       width: 230px;
       bottom: 72px;
       left: 0;
       right: 0;
       margin: auto;
   }

   .landing-publish {
     position: absolute;
     bottom: 56px;
     font-size: 10px;
     color: white;
     z-index: 1;
     left: 0;
     right: 0;
     margin: auto;
     text-align: center;
   }

 

   .landing-connexion button {
     font-size: 12px;
     height: 42px;
   }

   .landing-footer {
     padding: 0;
     justify-content: center;
   }


   .landing-footer__item {
     margin: 0 10px;
     font-size: .8em;
   }

    .landing__screenshot.x--1 {
      bottom: 80px;
      width: 50%;
    }

}



/* iPhone 5/5S Portrait mode  */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  
  .landing__screenshot.x--1 {
    width: 115px;
  }


}


/* iPhone 6 Portrait mode */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    
  .landing__screenshot.x--1 {
    width: 62%;
  }

  .landing-connexion button {
    width: 90%!important;
  }

}


/* iPhone 6+ Portrait mode */
@media (min-width: 414px) and (max-width: 736px) { 
  
  .landing__screenshot.x--1 {
    width: 200px;
  }

  .landing-connexion button {
    width: 100%!important;
  }

}