 
.landing-contact {/* width: 500px; */}

.contact-title {display: inline-block;padding: 7px 16px;font-size: 50px;font-weight: bolder;color: #454545;font-family: 'Creamy script';}

.contact-row { 
margin: 10px 0;text-align: left;}
 
.landing-contact input {background: white;border: 1px solid #eee;border-top: none;padding: 11px 10px;width: 100%;display: inline-block;font-size: 20px;}

.landing-contact label {
  font-weight: bolder;
  display: inline-block;
  color: #454545;
  padding: 7px 10px;
  width: 100%;
  text-align: left;
  font-size: 22px;
}

.landing-contact textarea {background: white;width: 100%;padding: 20px;font-family: 'Alegreya Sans';line-height: 16px;font-size: 18px;border: 1px solid #eee;border-top: none;}

.contact-error {
  background: #e94f6a;
  color: white;
  width: 100%;
  padding: 18px 20px;
  font-family: 'Alegreya Sans';
  text-align: center;
  font-size: 14px;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin: 0;
}

.contact-send-success {
  
font-weight: bolder;
  
font-size: 18px;
  
line-height: 30px;
  
font-family: 'Alegreya Sans';
  
color: #595959;
}