

.hero-logo-name {
  font-family: 'Creamy script';
  font-size: 30px;
  color: white;
}


.lp-avant {
  display: inline-block;
  position: relative;
}

.lp-avant img {
  position: absolute;
  bottom: -12px;
  left: 3px;
}


.etiquette {
   background: rgba(255, 255, 255, 0.81);
   border-bottom: 1px solid #E4E4E4;
   box-shadow: 0 0 1px #e4e4e4;
   padding: 15px;
   border-radius: 2px 2px 0 0;
    /* display: inline-block; */
   ;
}

.fb-overlay {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: white;
   z-index: 1;
   transition: all ease-out .3s;
   opacity: 0;
}


.landing-subscribe {
   margin-top: 40px;
}

.preloading {
   -webkit-transition: all ease-in-out .5s;
   -transition: all ease-in-out .5s;
}


#facebook_connect {
   width: 350px;
   margin: 0 auto;
   /* background-image: url('/img/fbbluepattern.png'); */
   /* background-repeat: repeat-x; */
   /* background-color: #3a5795; */
   border: 2px solid #FFFFFF;
   box-shadow: 0 0 1Px #383838;
   color: white;
   text-shadow: 0 0 1px #8E8E8E;
   padding: 20px 20px;
   font-size: 28px;
   position: relative;
   cursor: pointer;
   -webkit-transition: all .5s;
   transition: all .5s;
   text-align: center;
   font-family: Creamy Script;
   margin-top: 40px;
   border-radius: 50px;
}

#facebook_connect:hover .fb-overlay {
   opacity: .1;
}

#facebook_connect i {
   position: absolute;
   left: 10px;
   border-right: 1px solid white;
   padding-right: 10px;
   color: white;
}
#facebook_connect span {
  color: white;
}

.hero-logo {
   position: absolute;
   z-index: 1000;
   top: 0px;
   left: 10px;
   text-align: center;
   cursor: pointer;
   /* border: 1px solid white; */
   padding: 10px;
   border-radius: 300px;
   width: 75px;
   height: 75px;
}

.hero-logo img {
  position: relative;
    top: 4px;
}



/* Typed Pluggin Styles */
.typed-text {
   color: white;
}

.typed-cursor {
   opacity: 1;
   -webkit-animation: blink 0.7s infinite;
   -moz-animation: blink 0.7s infinite;
   animation: blink 0.7s infinite;
   margin-left: 5px;
   color: white;
}

@keyframes blink {
   0% {
      opacity: 1;
   }

   50% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

@-webkit-keyframes blink {
   0% {
      opacity: 1;
   }

   50% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

@-moz-keyframes blink {
   0% {
      opacity: 1;
   }

   50% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}
/* Typed Pluggin Styles [end]*/







/*New Landing Rules */

#landingWrap {
    position: relative;
}
.landing-hero {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-header {font-family: 'CreamyScript';text-align: center;color: white;line-height: 50px;/* text-transform: uppercase; *//* letter-spacing: .5px; */font-weight: bold;font-weight: normal;font-size: 70px;}
.hero-header-sub {color: #FFFFFF;margin-top: 16px;font-size: 26px;text-shadow: 1px 1px 1px rgba(47, 47, 47, 0.45);text-align: center;line-height: 38px;font-family: 'Alegreya Sans';font-weight: 300;}


.hero-languages {
   position: absolute;
   right: 20px;top: 20px;
}

.hero-languages .flag-icon {cursor: pointer;margin: 0 2px;}

/* Kenburn Styles */
.landing-kenburns {100%:360px;
    height: 100vh;
    background-color:black;
    overflow: hidden;
    position: relative;
    /* background: url('/img/kb/bg8.jpg') no-repeat center center; */
    background-size: cover;
}
.kb-slide{
    position: absolute;
    z-index: 1;
    opacity: 0;
}

.kb-slide img{
    position: relative;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}
.kenburns-overlay {
   z-index: 4;
   height: 100%;
   width: 100%;
   background: rgba(0, 0, 0, 0.45);
   background: rgba(29, 70, 107, 0.45);
   position: absolute;
}
/* End Kenbuns Styles */


.landing-front {
   position: relative;
}


.hero-lang {
   color: #E6E6E6;
   text-transform: uppercase;
   font-family: 'Creamy Script';
   font-size: 20px;
   margin: 0;
}

.hero-lang:hover {
    color: white;
}

.hero-lang.active {border-bottom: 3px solid #33AFFF;color: white;}

.moving-arrow {
   position: absolute;
   right: 20px;
   z-index: 100;
   bottom: 20px;
   color: #FFFFFF;
   font-size: 45px;
   -webkit-animation: movingarrow .1s 5s infinite alternate linear;/* Safari 4+ */
   -moz-animation: movingarrow .8s 1s infinite alternate linear;/* Fx 5+ */
   -o-animation: movingarrow .8s 1s infinite alternate linear;/* Opera 12+ */
   animation: movingarrow .8s 1s infinite alternate linear;
   cursor: pointer;
   background: rgba(255, 255, 255, 0.09);
}

@-webkit-keyframes movingarrow {
   0% { bottom: 30px; }
   100% { bottom: 10px; }
}

@-moz-keyframes movingarrow {
   0% { bottom: 30px; }
   100% { bottom: 10px; }
}

@-o-keyframes movingarrow {
   0% { bottom: 30px; }
   100% { bottom: 10px; }
}

@keyframes movingarrow{
   0% { bottom: 30px; }
   100% { bottom: 10px; }
}




.landing-places-wrap {
  color: #FFFFFF;
  position: absolute;
  bottom: 20px;
  left: 22px;
  z-index: 10;
  font-family: 'Creamy script';
  font-size: 26px;
}

.landing-places-wrap .lp-places-hash {color: #33AFFF;position: relative;font-size: 15px;top: 0px;left: -3px;font-family: 'Pacifico';display: inline;}


