.app-section.x--menu {
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    padding-top: 60px;
    /* transition: padding linear .6s; */
}

.app-section.x--menu.x--downsized {
    padding-top: 70px;
}

.menu {
    display: flex;
    position: absolute;
    width: 100%;
    flex-flow: row nowrap;
    height: 100px;
    margin-bottom: 60px;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
    background: rgba(255, 255, 255, 0.67);
    border-bottom: 1px solid #33AFFF;
    left: 0;
    top: 40px;
    z-index: 100;
    border: none;
    border-bottom: 1px solid rgba(51, 175, 255, 0);
}

.menu__line {
    left: 50%;
    width: 64%;
    transform: translate(-50%, 0);
    margin: 0 auto;
    height: 1px;
    position: absolute;
    z-index: 0;
    top: 119px;
}

.menu-section {
    display: none;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 80%;
    margin-bottom: 50px;
    padding-top: 30px;
}

.menu-section .empty {
    display: flex;
}

.menu-item {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
    width: 130px;
    z-index: 1;
}

.menu-item__icon {
    display: flex;
    font-size: 38px;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    box-sizing: border-box;
    background: white;
    margin-bottom: 10px;
    color: #454545;
    background: white;
    /* border: 1px solid #454545; */
}

.menu-item.x--active {}

.menu-item.x--active h3 {}

.menu-item.x--active .menu-item__bar {
    display: block;
}

.menu-item__body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: #454545;
}

.menu-item.x--active .menu-item__body {}

.menu-item.x--active .menu-item__icon {
    /* border: 2px solid; */
    color: #1a59c3;
    color: #1a59c3;
    /* background: #1a59c3; */
    /* border: 1px solid #1a59c3; */
}

.menu-item__body i {
    margin: auto;
}

.menu-item__body i.icon-meedrink {
    transform: rotate(20deg);
}

.menu-item__body h3 {
    font-weight: 500;
    margin: 0px;
    font-size: 12px;
    display: none;
}

.menu-item__bar {
    display: none;
    height: 4px;
    width: 104%;
    margin: auto;
    bottom: -23px;
    border-radius: 20px;
    left: 0px;
    background: #1a59c3;
    background: #1a59c3;
    position: absolute;
}

.menu-section__subtitle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 40px;
    display: none;
}

.menu-section__subtitle h3 {
    font-family: 'creamy';
    font-size: 50px;
    margin: 0 30px;
    color: #454545;
}

.update-pictures {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid;
    padding: 10px 45px;
    color: #1a59c3;
    border-radius: 100px;
}

.update-pictures.x--active {
    color: #a3bbe4;
    border-color: #a3bbe4
}

.menu__loader {
    width: 32px;
}

.menu-section-segment {
    width: 40%;
    margin: 30px 0 50px 0;
}

.segment {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 34px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #1a59c3;
    box-sizing: border-box;
}

.segment__part {
    display: flex;
    height: 100%;
    width: 98%;
    cursor: pointer;
    transition: all ease-in-out .15s;
    justify-content: center;
    align-items: center;
}

.segment__part.x--active {
    background: #1a59c3;
    color: white;
    border-radius: 20px!important;
    width: 110%;
}

.segment__part:not(.x--active):hover {}

.segment__part:nth-of-type(1) {
    border-right: none;
    border-radius: 20px 0 0 20px;
}

.segment__part:nth-of-type(2) {
    border-left: none;
    border-radius: 0 20px 20px 0;
}

.segment__part h3 {
    margin: auto;
}

.app-subheader.x--menu .menu-item__body {
    flex-flow: row;
}

.app-subheader.x--menu .menu-item__icon {
    width: 24px;
    height: 24px;
    font-size: 12px;
    margin: 0 8px;
    background: none;
}

.app-subheader.x--menu .menu-item__bar {
    width: 90%;
    margin-left: 20px;
    top: 25px;
}

.app-subheader.x--menu h3 {
    display: block;
    font-family: 'quenda';
    font-size: 14px;
    position: relative;
    top: 2px;
}

.row-pic__filterlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .0;
    transition: all ease-in-out .2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1000px) {
    .app-subheader .menu-item__bar {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 400px) {
    .app-subheader.x--menu h3 {
        display: none;
    }
}
