@media screen and ( min-width: 1024px ) {
   .m-loaderWrap,
   .m-warning {
      display: none!important;
   }
}

@media screen and ( max-width: 1024px ) {
	 
	 .btn-requestin {
	 	display: none;
	 }
	 .row-events-accepted-tabview {
	 	display: none!important;
	 }
	 .loaderWrap {
	 	display: none!important;
	 }
	 .row-events-filters{
	 	top: 40px;
	 }
	 .centered {
	 	width: 100%;
	 	padding: 0 20px;
	 }
	 #eventsWrap {
	 	padding: 0px;
	 }
	 .row-profile .picture {
	 	display: inline-block;
	 	margin: 23px;
	 }

	 .hero-logo {
	 	top: 5px;
	 	left:10px;
	 }
	 .hero-logo img {
	 	width: 35px;
	 }

	 .hero-languages {
	 	top: 5px;
	 	right: 5px;
	 	font-size: 10px;

	 }
     .landing-kenburns {
         height: auto;
     }

     .lp-arrow {
     	display: none;
     }

     .bx-wrapper .bx-controls-direction a {
     	display: none;
     }

     .hero-header {
		font-size: 40px;
		}

     .hero-subheader {
     	font-size: 15px;
     	margin-top: 5px;
     	line-height: 25px;
     	padding: 0 50px;
     }


     #search {
     	display: none!important;
     }

     #logo {
     	left: 0;
     }

     .beta {
     	left: 25px!important;
     	font-size: 8px;
     	top: 21px!important;
     }

     #languages {
     	display: none;
     }

     #menuWrap {
     	margin-left: 65px;
     }
	.filters-date, .filters-create-meefore, .row-events-filters-divider, .filters-create-party {
		display: none;
	}
	#settings {
		float: none;
	}
	#facebook_connect, .landing-map-button {
		width: 240px;
		padding: 15px 20px;
		font-size: 14px;
		
	}
	#facebook_connect {
		margin-top: 30px;
	}

	.keypoint-message {
		font-size: 22px;
		width: 70%;
		margin: 30px auto;
	}

	.row-select-description {
		display: none;
	}

	.row-preview {
		width: 100%!important;
		justify-content: center!important;
	}

	.row-party-preview {
		top: 220px!important;
	}

	.row-input {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 85px;
	}

	.row-input * {
		flex: 1 0 auto;
		width: 100%!important;
		align-self: center;
		text-align: center!important;
		margin: 0;
		border: none;
	}
	
	.row-select-wrap * {
		width: auto!important;
	}

	label {
		height: 30px;;
	}
}

@media screen and ( max-width: 750px ) {
	
	* {
		cursor: pointer!important;
		
	}
	#moveAround {
		width: 10px!important;
	}

	.event-preview, .party-preview {
		flex-direction: column;
		text-align: center;
	}
	.row-events-preview {
		top: 121px!important;
	}
	.row-party-preview {
		top: 264px!important;
	}
	.row-title div{
		font-size: 15px;
	}
	.row-subtitle div {
		font-size: 11px;
	}

	.preview-date {
		position: absolute;
		top: -8px;
		left: -17px;
		border: 1px solid #ccc;
		background: white;
	}
	.preview-date div {
		width: 100%;
	}
	
	 .toast {
		width: 100%;
		font-size: 11px;
	 }

	 .hero-header {
		font-size: 20px;
		width: 80%;
		line-height: 30px;
	 }

	 .hero-header-sub {
	 	font-size: 12px;
	 	line-height: 20px;
	 	margin-top: 3px;
	 	margin-bottom: 3px;
	 	padding: 0 35px;
	 }

		.lp-avant {
			width: auto;
		}

		.lp-avant img {
			top: 30px
		}

	.row-subtitle-text {
		font-size: 13px;
	}
	
	 #thumbWrap {
     	display: none!important;
     }
	
	.row-country {
		display: none;
	}
	#facebook_connect {
		width: 150px;
		padding: 7px 10px;
		font-size: 10px;
		margin-top: 12px;
	}

	.hero-subheader {
		font-size: 10px;
		line-height: 17px
	}

	.moving-arrow {
		display: none;
	}

	.landing-places-wrap {
		font-size: 10px;
		bottom: 10px;
		left: 10px;
	}
	.landing-places-wrap .icon {
		font-size: 12px;
		top: 1px;
	}

	.keypoint-wrap {
		width: auto;
		height: auto;
		margin-bottom: 20px;
	}
	.keypoint-2 {
		height: 280px;
		border-radius: 0px;
	}

	.keypoint-body {
		font-size: 13px;
	}

	.modal-container {
		width: 80%!important;
		min-width: 80%;
		max-width: 80%;
	}

	.event-filter-label {
		display: none;
	}

	.auto-login-msg {
		display: none!important;
	}

}


@media screen and ( max-width: 300px ){

	 .hero-header-sub {
	 	display: none;
	 }
}