<!DOCTYPE html>

<html lang="fr">
<head>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<title>Meefore | Early Adopters </title>

	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:800' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Viga' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/jscrollpane.css">
	<link rel="stylesheet" href="/css/fontello/css/fontello.css">
	<link rel="stylesheet" href="/css/hint.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/landing.css">
	<link rel="stylesheet" href="/css/media.css">
	<link rel="stylesheet" href="/css/earlyadopters.css">

</head>
<body>
<div class="loaderWrap"></div>
<div class="m-loaderWrap"></div>
	  
	<header class="lg-header">
	  <div id="headerContent">
		<h1 class="stay">meefore - <span id="earlyadopters">early adopters</span></h1>
	  </div>
	</header>
	<div id="mainWrap" class="centered">

		<section id="contentWrap" class="">
			<section id="landingWrap" class="centered m-revealed">
	            <div class="container">
	                <div class="row">
	                        <div class="center-heading">
	                            <h2>Le bonheur d'être early adopter</h2>
	                            <span class="earl center-line"></span>
	                        </div>
	                </div><!--center heading row-->
			</section>
		<section id="earlyAdoPointList" class="centered">
			<div class="earl-row">
				<div class="left earl-num">1</div>
				<div class="earl-title">Tu habites sur Paris ou en banlieue (très) proche</div>
				<div class="earl-body">Si tu n'habites pas sur Paris mais que les points dessous te parlent, contacte nous quand même</div>
			</div>
			<div class="earl-row">
				<div class="left earl-num">2</div>
				<div class="earl-title">Just like the rest of us, tu aimes les soirées. Toutes les soirées.</div>
				<div class="earl-body">Afterwork, bar dansant, soirée apparte, boite de nuit, festival, etc</div>
			</div>
			<div class="earl-row">
				<div class="left earl-num">3</div>
				<div class="earl-title">Tu aimes particulièrement le before (parfois c'est là que tout se joue, pour ceux qui comprendront)</div>
				<div class="earl-body">Mais t'aime aussi le middle, l'after, le débrief. En fait, tout sauf le transport -_- .</div>
			</div>
			<div class="earl-row">
				<div class="left earl-num">4</div>
				<div class="earl-title">Une bonne soirée pour toi, c'est surtout synonymes de bonnes rencontres (au sens large)</div>
				<div class="earl-body">Certes la musique, certes le lieu, certes le prix des conso (ahah) mais surtout les rencontres</div>
			</div>
			<div class="earl-row">
				<div class="left earl-num">5</div>
				<div class="earl-title">Tu as envie de profiter de tous les avantages d'avoir été early adopter.</div>
				<div class="earl-body">Entrée gratuite aux soirées, cramer la queue, verres offerts, crédits djumps, etc...</div>
			</div>
			<div class="earl-row">
				<div class="left earl-num">6</div>
				<div class="earl-title">Envoie un mail à community@meefore.com ou ajoute Loulou Gs sur Facebook </div>
				<div class="earl-body">N'oublie pas de préciser</div>
			</div>
		</section>

		</section>
		</div>
		<script src="//js.pusher.com/2.2/pusher.min.js"></script>
		<script src="dist/lib.min.js"></script>
		<!-- custom scripts -->
		<script src="js/lj-params.js"></script>
		<script src="js/lj-render.js"></script>
		<script src="js/lj-domEvents.js"></script>
		<script src="js/lj-admin.js"></script>
		<script src="js/lj.js"></script>
		<script src="/js/lj-early.js"></script>

		</body>
	</html>