<!DOCTYPE html>

<html lang="fr">

<head>

  <title>Des rencontres avant d'aller en soirée </title>

  <meta charset="utf-8"> 
  <meta name="viewport"           content="width=device-width, initial-scale=1">
  <meta name="viewport"           content="width=device-width, initial-scale=1, maximum-scale=1" />

  <meta property="og:title" content="Des rencontres avant d'aller en soirée">
  <meta property="og:site_name" content="Meefore">
  <meta property="og:url" content="http://www.meefore.com/home">
  <meta property="og:image" content="http://res.cloudinary.com/radioreve/image/upload/v1456943482/landing_1.jpg">
  <meta property="fb:app_id" content="1509405206012202">

  <meta property="og:description" content="L'application Meefore permet de faire des rencontres en participant à des before proches de chez soi.">

  <meta name="description" content="L'application Meefore permet de faire des rencontres en participant à des before proches de chez soi">

  <link rel="stylesheet" href="/fonts/creamy/creamy.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,100,300,700,800" rel="stylesheet" type="text/css">
  
  <!-- Librairies -->
  <link rel="stylesheet" href="/dist/mee.css" />

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-65278026-1', 'none');
  ga('send', 'pageview', '/home');
</script>

</head>

<body>

  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_EN/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  
  
  <div class="curtain sticky"></div>
    
   <!-- Landing Page Begin -->
  <div class="landing">
    <!-- landing front page -->
    <div class="landing-front">
      <!-- landing kenburns -->
      <div class="landing-kenburns">
        <div class="kenburns-overlay"></div>
        <ul class="bxslider">
          <li><img src="http://res.cloudinary.com/radioreve/image/upload/v1456943482/landing_1.jpg" width="100%"/></li>
          <li><img src="http://res.cloudinary.com/radioreve/image/upload/v1456943480/landing_2.jpg" width="100%"/></li>
          <li><img src="http://res.cloudinary.com/radioreve/image/upload/v1456943479/landing_3.jpg" width="100%"/></li>
          <li><img src="http://res.cloudinary.com/radioreve/image/upload/v1456943485/landing_4.jpg" width="100%"/></li>
          <li><img src="http://res.cloudinary.com/radioreve/image/upload/v1456943479/landing_5.jpg" width="100%"/></li>
        </ul>
      </div>
      <!-- end landing kenburns -->
      <!-- landing hero -->
      <div class="landing-hero">
        <div class="hero-logo">
          <img src="/img/app/logo-light.png" width="44" alt="Logo meefore soirées">
          <!-- <h1 class="hero-logo-name">meefore</h1> -->
        </div>
        <div class="hero-languages">
          <span data-code="fr" class="no-cb pick-lang hero-lang active">FR</span>
          <span data-code="us" class="no-cb pick-lang hero-lang">EN</span>
        </div>
        <h1 data-lid="lp_subtitle" class="hero-header">
          Faîtes des rencontres avant d'aller en soirée
        </h1>
        <h2 data-lid="lp_subtitle_sub" class="hero-header-sub">
          Meefore est le 1er site qui vous permet de participer à des before avec les personnes qui vont aux mêmes soirées que vous.
        </h2>
        <div id="facebook_connect" class="js-login">
            <i class="icon icon-facebook"></i>
            <span data-lid="lp_conn_button">Connexion</span>
            <div class="fb-overlay"></div>
        </div>
      </div>
      <!-- end landing hero -->
      <!-- moving arrow -->
      <i class="icon moving-arrow icon-down-open-big"></i>
      <!-- end Moving arrow -->
       <!-- landing places -->
      <div class="landing-places-wrap">
        <div class="lp-places-hash">#</div>
        <span class="landing-places"></span>
      </div>
      <!-- end landing places  -->
    </div>
    <!-- end landing front page -->

    <!--  landing rtb  -->
      <div class="landing-rtb landing-rtb--1">
        <div class="landing-rtb-screen">
          <img class="landing-rtb-screen__img" src="/img/sc/sc1.png" width="300"></img>
        </div>
        <div class="landing-rtb-reason">
          <div class="landing-rtb-reason__step">1</div>
          <div data-lid="lp_reason_1_h1" class="landing-rtb-reason__h1">
            Trouvez votre before
          </div>
          <div data-lid="lp_reason_1_h2" class="landing-rtb-reason__h2">
            Parcourez et repérez sur la map les before qui s'organisent près de chez vous.
          </div>
        </div>
      </div>
      <div class="landing-rtb landing-rtb--2">
        <div class="landing-rtb-screen">
          <img class="landing-rtb-screen__img" src="/img/sc/sc2.png" width="300"></img>
        </div>
        <div class="landing-rtb-reason">
        <div class="landing-rtb-reason__step">2</div>
          <div data-lid="lp_reason_2_h1" class="landing-rtb-reason__h1">
            Demandez à participer
          </div>
          <div data-lid="lp_reason_2_h2" class="landing-rtb-reason__h2">
            Envoyez une demande de participation pour rejoindre le before qui vous ambiance le plus avec au moins un
            de vos amis.
          </div>
        </div>
      </div>
      <div class="landing-rtb landing-rtb--3">
        <div class="landing-rtb-screen">
          <img class="landing-rtb-screen__img" src="/img/sc/sc3.png" width="300"></img>
        </div>
        <div class="landing-rtb-reason">
        <div class="landing-rtb-reason__step">3</div>
          <div data-lid="lp_reason_3_h1" class="landing-rtb-reason__h1">
            Faites connaissance
          </div>
          <div data-lid="lp_reason_3_h2" class="landing-rtb-reason__h2">
            Une fois accepté, discutez avec les organisateurs pour préparer votre soirée avant de vous retrouver.
          </div>
        </div>
      </div>
    <!-- end landing rtb  -->

    <!-- landing footer -->
    <footer class="landing-footer">
      <div data-lid="lp_footer_followus" class="footer-followus">
        Nous suivre
      </div>
      <div class="footer-socials">
        <a href="https://www.facebook.com/meefore" target="_blank"><i class="icon icon-facebook"></i></a>
        <a href="https://www.facebook.com/meefore" target="_blank"><i class="icon icon-twitter"></i></a>
        <a href="https://www.facebook.com/meefore" target="_blank"><i class="icon icon-instagram"></i></a>
        <a href="https://www.facebook.com/meefore" target="_blank"><i class="icon icon-youtube"></i></a>
      </div>
      <div class="footer-divider"></div>
      <div class="footer-list">
        <ul>
          <li class="footer-list-item"><a href="/legals" target="_blank" >Mentions légales</a></li>
          <li class="footer-list-item"><a id="contact" >Contact</a></li>
        </ul>
      </div>
    </footer>
    <!-- end landing footer -->
  </div>
  <!-- Landing Page End -->
  

  <section class="app nonei">
    
    <!-- header -->
    <header class="app-header">
      <div class="app-header__splitter"></div>
      <div class="app-header-titles">
        <div class="app-header__title" data-link="menu" data-lid="nav_menu_title"></div>
        <div class="app-header__title" data-link="map" data-lid="nav_map_title"></div>
        <div class="app-header__title" data-link="search" data-lid="nav_search_title"></div>
      </div>
      <div class="app-header__logo nonei">
        <img src="/img/app/logo_nobg.png" width="40"/>
      </div>
      <nav class="app-nav">
        <ul>
          <li class="app__menu-item --menu" data-link="menu">
            <a href="#menu">
              <i class="app__menu-icon icon icon-menu"></i>
            </a>
          </li>
          <li class="app__menu-item --map" data-link="map">
            <a href="#map">
              <i class="app__menu-icon icon icon-location"></i>
            </a>
          </li>
          <li class="app__menu-item --notifications">
            <a href="#notifications">
              <i class="app__menu-icon icon icon-bell"></i>
            </a>
          </li>
          <li class="app__menu-item --search" data-link="search">
            <a href="#search">
              <i class="app__menu-icon icon icon-search-zoom"></i>
            </a>
          </li>
        </ul>
      </nav>
      <div class="app-lang nonei">
        <div class="app-lang__icon">
          <i class="icon icon-planet"></i>
        </div>
        <div class="app-lang__flag-icons">
          <i class="flag-icon flag-icon-fr" data-cc="fr"></i>
          <i class="flag-icon flag-icon-us" data-cc="us"></i>
        </div>
      </div>
      <div class="app-logout js-logout">
        <i class="icon icon-power"></i>
      </div>
    </header>
    <!-- header end -->
    

    <!-- Thumbnail start -->
    <section class="app-thumbnail">
      <div class="thumbnail__picture">
        <img src="/img/bots/bot26f.jpg" width="45" alt="Just another bot">
      </div>
      <div class="thumbnail__name">Héléna</div>
    </section>
     <!-- Thumbnail end -->
  

   <!-- Menu section start -->
    <section class="app-section --menu" data-link="menu">
    
      <!-- Menu begin -->
      <nav class="menu">
        <div class="menu__line"></div>
        <li class="menu-item --profile" data-link="profile">
          <div class="menu-item__body">
            <div class="menu-item__icon --round-icon">
              <i class="icon icon-pricetag"></i>
            </div>
            <h3 data-lid="menu_profile"></h2>
          </div>
          <div class="menu-item__bar"></div>
        </li>
        <li class="menu-item --shared" data-link="shared">
          <div class="menu-item__body">
            <div class="menu-item__icon --round-icon">
              <i class="icon icon-forward"></i>
            </div>
            <h3 data-lid="menu_shared"></h2>
          </div>
          <div class="menu-item__bar"></div>
        </li>
        <li class="menu-item --meepass" data-link="meepass">
          <div class="menu-item__body">
           <div class="menu-item__icon --round-icon">
              <i class="icon icon-meepass"></i>
            </div>
            <h3 data-lid="menu_meepass"></h2>
          </div>
          <div class="menu-item__bar"></div>
        </li>
        <li class="menu-item --friends" data-link="friends">
          <div class="menu-item__body">
            <div class="menu-item__icon --round-icon">
              <i class="icon icon-users"></i>
            </div>
            <h3 data-lid="menu_friends"></h2>
          </div>
          <div class="menu-item__bar"></div>
        </li>
        <li class="menu-item --settings" data-link="settings">
          <div class="menu-item__body">
            <div class="menu-item__icon">
              <i class="icon icon-cog --round-icon"></i>
            </div>
            <h3 data-lid="menu_settings"></h2>
          </div>
          <div class="menu-item__bar"></div>
        </li>
      </nav>
      <!-- Meepass begin -->


      <!-- Profile begin -->
      <section class="menu-section --profile" data-link="profile">
        <div class="menu-section__subtitle">
          <h3 data-lid="menu_subsection_pictures"></h3>
        </div>
        <div class="pictures">
          <!-- %% Dynamically injected %%-->
        </div>
        <div class="menu-section__subtitle">
           <h3 data-lid="menu_subsection_informations"></h3>
        </div>
        <div class="me">
          <div class="me-item" data-param="name">
            <div class="icon-item">
              <i class="icon icon-pricetag"></i>
            </div>
            <div class="edit">
              <i class="icon icon-pen"></i>
            </div>
            <div class="action">
              <div class="action__validate --round-icon">
                <i class="icon icon-check"></i>
              </div>
              <div class="action__cancel --round-icon">
                <i class="icon icon-cancel"></i>
              </div>
            </div>
            <div class="me-item-body">
              <label for="me__name" data-lid="p_name_label"></label>
              <input readonly data-lid="p_name_placeholder" id="me__name" type="text">
              <div class="me-item__explanation" data-lid="p_name_explanation"></div>
            </div>
          </div>
          <div class="me-item" data-param="age">
            <div class="icon-item --round-icon">
              <i class="icon icon-gift"></i>
            </div>
            <div class="edit">
              <i class="icon icon-pen"></i>
            </div>
            <div class="action">
              <div class="action__validate --round-icon">
                <i class="icon icon-check"></i>
              </div>
              <div class="action__cancel --round-icon">
                <i class="icon icon-cancel"></i>
              </div>
            </div>
            <div class="me-item-body">
              <label for="me__age" data-lid="p_age_label"></label>
              <input readonly data-lid="p_age_placeholder" id="me__age"type="number">
              <div class="me-item__explanation" data-lid="p_age_explanation"></div>
            </div>
          </div>
          <div class="me-item --no-edit">
            <div class="icon-item">
              <i class="icon icon-flag"></i>
            </div>
            <div class="me-item-body">
              <label for="me__country" data-lid="p_country_label"></label>
              <input readonly type="text" id="me__country">
              <div class="me-item__explanation" data-lid="p_country_explanation"></div>
            </div>
          </div>
          <div class="me-item" data-param="job">
            <div class="icon-item --round-icon">
              <i class="icon icon-education"></i>
            </div>
            <div class="edit">
              <i class="icon icon-pen"></i>
            </div>
            <div class="action">
              <div class="action__validate --round-icon">
                <i class="icon icon-check"></i>
              </div>
              <div class="action__cancel --round-icon">
                <i class="icon icon-cancel"></i>
              </div>
            </div>
            <div class="me-item-body">
              <label for="me__job" data-lid="p_job_label"></label>
              <input readonly data-lid="p_job_placeholder" id="me__job" type="text">
              <div class="me-item__explanation" data-lid="p_job_explanation"></div>
            </div>
          </div>
          <div class="me-item" data-param="location">
            <div class="icon-item">
              <i class="icon icon-location-barred"></i>
            </div>
            <div class="edit">
              <i class="icon icon-pen"></i>
            </div>
            <div class="action">
              <div class="action__validate --round-icon">
                <i class="icon icon-check"></i>
              </div>
              <div class="action__cancel --round-icon">
                <i class="icon icon-cancel"></i>
              </div>
            </div>
            <div class="me-item-body">
              <label for="me__location" data-lid="p_location_label"></label>
              <input readonly type="text" id="me__location">
              <div class="me-item__explanation" data-lid="p_location_explanation"></div>
            </div>
          </div>
          <div class="me-item" data-param="ideal_night">
            <div class="icon-item">
              <i class="icon icon-dj"></i>
            </div>
            <div class="edit">
              <i class="icon icon-pen"></i>
            </div>
            <div class="action">
              <div class="action__validate --round-icon">
                <i class="icon icon-check"></i>
              </div>
              <div class="action__cancel --round-icon">
                <i class="icon icon-cancel"></i>
              </div>
            </div>
            <div class="me-item-body">
              <label for="me__ideal-night" data-lid="p_ideal_night_label"></label>
              <textarea readonly data-lid="p_ideal_night_placeholder" id="me__ideal-night">
              </textarea>
              <div class="me-item__explanation" data-lid="p_ideal_night_explanation"></div>
            </div>
          </div>
        </div>
      </section>
      <!-- Profile end -->

      
      <!-- Shared begin -->
      <section class="menu-section --shared" data-link="shared">
        <div class="shared">
          <!-- %% Dynamically injected %%-->
        </div>
      </section>
      <!-- Shared end -->


      <!-- Meepass begin -->
      <section class="menu-section --meepass" data-link="meepass">
        <div class="menu-section-segment">
          <div class="segment">
            <div class="segment__part --active" data-link="received">
              <h3 data-lid="segment_meepass_received"></h3>
            </div>
            <div class="segment__part" data-link="sent">
              <h3 data-lid="segment_meepass_sent"></h3>
            </div>
          </div>
        </div>
        <div class="meepass">
          <!-- %% Dynamically injected %%-->
        </div>
      </section>
      <!-- Meepass end -->

    
      <!-- Friends begin -->
      <section class="menu-section --friends" data-link="friends">
        <div class="friends">
          <!-- %% Dynamically injected %%-->
        </div>
      </section>
      <!-- Friends end -->


      <!-- Settings begin -->
      <section class="menu-section --settings" data-link="settings">
      <!-- acountsection -->
          <ul class="menu-section-submenu">
            <li class="menu-section-submenu__item" data-link="account">
              <h4 data-lid="menu_subsection_account"></h4>
              <div class="menu-section-submenu__bar"></div>
            </li>
            <li class="menu-section-submenu__item" data-link="code">
              <h4 data-lid="menu_subsection_code"></h4>
              <div class="menu-section-submenu__bar"></div>
            </li>
            <li class="menu-section-submenu__item" data-link="notifications">
              <h4 data-lid="menu_subsection_notifications"></h4>
              <div class="menu-section-submenu__bar"></div>
            </li>
            <li class="menu-section-submenu__item" data-link="ux">
              <h4 data-lid="menu_subsection_ux"></h4>
              <div class="menu-section-submenu__bar"></div>
            </li>
          </ul>
        <div class="menu-section__subtitle">
          <h3 data-lid="menu_subsection_account"></h3>
        </div>
        <div class="settings --account" data-link="account">
          <div class="settings-item" data-settings-type-id="contact_email">
            <div class="settings-input">
              <div class="settings-input__icon --round-icon">
                <i class="icon icon-arobat"></i>
              </div>
              <div class="settings-input-label">
                <input readonly placeholder="ben@mymail.com" id="settings__contact-email" type="text">
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_code_sponsor_explanation"></div>
            <div class="edit">
              <i class="icon icon-pen"></i>
            </div>
            <div class="action">
              <div class="action__validate --round-icon">
                <i class="icon icon-check"></i>
              </div>
              <div class="action__cancel --round-icon">
                <i class="icon icon-cancel"></i>
              </div>
            </div>
          </div>
          <div class="settings-item">
            <button class="settings__button --delete" data-lid="settings_account_delete_button"></button>
          </div>
        </div>
        <!-- code section -->
        <div class="menu-section__subtitle">
          <h3 data-lid="menu_subsection_code"></h3>
        </div>
        <div class="settings --code" data-link="code">
          <div class="settings__title">
            <h3 data-lid="settings_part_title_code"></h3>
          </div>
           <div class="settings-item" data-settings-type-id="invite_code">
            <div class="settings-input">
              <div class="settings-input__icon --round-icon">
                <i class="icon icon-code"></i>
              </div>
              <div class="settings-input-label">
                <input readonly placeholder="BL1347"  id="settings__invite-code" type="text">
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_code_sponsor_explanation"></div>
            <div class="edit">
              <i class="icon icon-pen"></i>
            </div>
            <div class="action">
              <div class="action__validate --round-icon">
                <i class="icon icon-check"></i>
              </div>
              <div class="action__cancel --round-icon">
                <i class="icon icon-cancel"></i>
              </div>
            </div>
          </div>
          <div class="settings-item">
            <button class="settings__button --sponsor" data-lid="settings_code_sponsor_button"></button>
          </div>
        </div>
        <!-- emails and notifications section -->
        <div class="menu-section__subtitle">
          <h3 data-lid="menu_subsection_notifications"></h3>
        </div>
        <div class="settings --notifications" data-link="notifications">
          <div class="settings__title">
            <h3 data-lid="settings_part_title_notifications"></h3>
          </div>
          <div class="settings-item" data-settings-type-id="accepted_in">
            <div class="settings-input">
              <div class="settings-input__icon --round-icon"><i class="icon icon-drinks"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_emails_accepted_in_label"></div>
              </div>
              <div class="toggle">
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_emails_accepted_in_explanation"></div>
          </div>
          <div class="settings-item" data-settings-type-id="new_message_received">
            <div class="settings-input">
              <div class="settings-input__icon --round-icon"><i class="icon icon-chat-bubble-duo"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_emails_new_message_received_label"></div>
              </div>
              <div class="toggle">
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_emails_new_message_received_explanation"></div>
          </div>
          <div class="settings__title">
            <h3 data-lid="settings_part_title_email"></h3>
          </div>
          <div class="settings-item" data-settings-type-id="newsletter">
            <div class="settings-input">
              <div class="settings-input__icon --round-icon"><i class="icon icon-mail"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_notifs_newsletter_label"></div>
              </div>
              <div class="toggle">
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_notifs_newsletter_explanation"></div>
          </div>
          <div class="settings-item" data-settings-type-id="invitations">
            <div class="settings-input">
              <div class="settings-input__icon --round-icon"><i class="icon icon-newsletter"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_notifs_invitations_label"></div>
              </div>
              <div class="toggle">
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_notifs_invitations_explanation"></div>
          </div>
        </div>
        <!-- ux section -->
        <div class="menu-section__subtitle">
          <h3 data-lid="menu_subsection_ux"></h3>
        </div>
        <div class="settings --ux" data-link="ux">
          <div class="settings-item" data-settings-type-id="message_readby">
            <div class="settings-input">
              <div class="settings-input__icon --round-icon"><i class="icon icon-chat-read"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_ux_unread_messages_label"></div>
              </div>
              <div class="toggle">
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_ux_unread_messages_explanation"></div>
          </div>
          <div class="settings-item" data-settings-type-id="show_gender">
            <div class="settings-input">
            <div class="settings-input__icon --round-icon"><i class="icon icon-gender"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_ux_gender_label" ></div>
              </div>
              <div class="toggle">
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_ux_gender_explanation"></div>
          </div>
          <div class="settings-item" data-settings-type-id="show_country">
            <div class="settings-input">
              <div class="settings-input__icon --round-icon"><i class="icon icon-planet"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_ux_country_label"></div>
              </div>
              <div class="toggle">
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_ux_country_explanation"></div>
          </div>
          <div class="settings-item" data-settings-type-id="auto_login">
            <div class="settings-input">
              <div class="settings-input__icon --round-icon"><i class="icon icon-refresh"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_ux_auto_login_label"></div>
              </div>
              <div class="toggle">
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_ux_auto_login_explanation"></div>
          </div>
          <div class="settings-item">
            <button class="settings__button --changelang js-changelang" data-lid="settings_ux_changelang_button"></button>
          </div>
        </div>
      </section>
      <!-- Settings end -->

    </section>
     <!-- Menu section end -->


  

     <!-- Map start -->
    <section class="app-section --map" data-link="map">
      <div class="js-map-wrap">
        <!-- Holds the Google map -->
      </div>

      <div class="be-create">
        <div class="be-create__close">
          <div class="icon icon-close"></div>
        </div>
        <div class="be-create__title">
          <h1 data-lid="be_create_title"></h1>
        </div>
        <div class="be-create-row__subtitle">
          <h2 data-lid="be_create_subtitle_hosts"></h2>
        </div>
        <div class="be-create-row --hosts">
          <div class="be-create__icon --round-icon"><i class="icon icon-star"></i></div>
          <div class="be-create-row__input">
            <input readonly data-lid="be_create_hosts_placeholder"/>
          </div>
          <div class="be-create-row__explanations">
            <div data-lid="be_create_hosts_explanations"></div>
          </div>
          <div class="js-create-host-selected">
            <!-- Will be used to know where append the selected users -->
          </div>
        </div>
        <div class="be-create-row__subtitle">
          <h2 data-lid="be_create_subtitle_before"></h2>
        </div>
        <div class="be-create-row --date">
          <div class="be-create__icon --round-icon"><i class="icon icon-calendar"></i></div>
          <div class="be-create-row__input">
            <input data-lid="be_create_date_placeholder"/>
          </div>
        </div>
        <div class="be-create-row --hour">
          <div class="be-create__icon --round-icon"><i class="icon icon-clock"></i></div>
          <div class="be-create-row__input">
            <input data-lid="be_create_hour_placeholder"/>
          </div>
        </div>
        <div class="be-create-row --location">
          <div class="be-create__icon --round-icon"><i class="icon icon-location"></i></div>
          <div class="be-create-row__input">
            <input data-lid="be_create_location_placeholder" />
          </div>
          <div class="be-create-row__explanations">
            <div data-lid="be_create_before_explanations"></div>
          </div>
        </div>
        <div class="be-create__button">
          <button data-lid="be_create_button"></button>
        </div>
      </div>



      <div class="be-rows">
        <div class="be-header">
          <div class="be-dates">
            <div class="be-dates__date" data-date=''>Lundi 25/04</div>
            <div class="be-dates__date --active" data-date=''>Mardi 26/04</div>
            <div class="be-dates__date" data-date=''>Mercredi 27/04</div>
          </div>
          <div class="be-dates__address">
            <i class="icon icon-location"></i>
            <span>A proximité du 37 rue du Four, 75006 Paris </span>
          </div>
        </div>
        <div class="be-row">
          <div class="be-hour">20h30</div>
          <div class="be-users">
            <div class="be__user">
              <img src="/img/bots/bot5f.jpg" alt="">
              <div class="be__user-country">
                <i class="flag-icon flag-icon-fr"></i>
              </div>
              <div class="be__user-gender user-gender --female"></div>
            </div>
            <div class="be__user">
              <img src="/img/bots/bot3f.jpg" alt="">
              <div class="be__user-country">
                <i class="flag-icon flag-icon-de"></i>
              </div>
              <div class="be__user-gender user-gender --male"></div>
            </div>
          </div>
        </div>
        <div class="be-row">
          <div class="be-hour">21h30</div>
          <div class="be-users">
            <div class="be__user">
              <img src="/img/bots/bot17f.jpg" alt="">
              <div class="be__user-country">
                <i class="flag-icon flag-icon-fr"></i>
              </div>
              <div class="be__user-gender user-gender --female"></div>
            </div>
            <div class="be__user">
              <img src="/img/bots/bot19f.jpg" alt="">
              <div class="be__user-country">
                <i class="flag-icon flag-icon-de"></i>
              </div>
              <div class="be__user-gender user-gender --female"></div>
            </div>
          </div>
        </div>
        <div class="be-row">
          <div class="be-hour">22h30</div>
          <div class="be-users">
            <div class="be__user">
              <img src="/img/bots/bot22f.jpg" alt="">
              <div class="be__user-country">
                <i class="flag-icon flag-icon-bz"></i>
              </div>
              <div class="be__user-gender user-gender --female"></div>
            </div>
            <div class="be__user">
              <img src="/img/bots/bot25f.jpg" alt="">
              <div class="be__user-country">
                <i class="flag-icon flag-icon-de"></i>
              </div>
              <div class="be__user-gender user-gender --female"></div>
            </div>
          </div>
        </div>
      </div>

        
    </section>
     <!-- Map end -->

     <!-- Search start -->
    <section class="app-section --search" data-link="search">
      
      <div class="search-filters__icon --round-icon">
        <i class="icon icon-filters"></i>
      </div>

      <div class="search-filters">
        <div class="search-filters__close --round-icon">
          <i class="icon icon-cancel"></i>
        </div>
        <div class="search-filters-section --gender">
          <div class="search-filters-section__title">
            <h2 data-lid="search_filters_gender_title">Titre de la section 1</h2>
          </div>
          <div class="search-filters-row js-filters-male">
            <div class="search-filters-gender">
              <div class="search-filters-gender__icon --round-icon">
                <i class="icon icon-male"></i>
              </div>
              <div class="search-filters-gender__label">
                <label data-lid="search_filters_gender_label_male">Des hommes</label>
              </div>
            </div>
            <div class="toggle">
              <div class="toggle__background"></div>
              <div class="toggle__button"></div>
            </div>
          </div>
          <div class="search-filters-row js-filters-female">
            <div class="search-filters-gender">
              <div class="search-filters-gender__icon --round-icon">
                <i class="icon icon-female"></i>
              </div>
              <div class="search-filters-gender__label">
                <label data-lid="search_filters_gender_label_female">Des femmes</label>
              </div>
            </div>
            <div class="toggle">
              <div class="toggle__background"></div>
              <div class="toggle__button"></div>
            </div>
          </div>
          <div class="search-filters-section__explanations">
            <h5 data-lid="search_filters_gender_explanations">Explications supplémentaires...</h5>
          </div>
        </div>
        <div class="search-filters-section --age">
          <div class="search-filters-section__title">
            <h2 data-lid="search_filters_age_title">Titre de la section 2</h2>
          </div>
          <div class="search-filters-row">
            <div class="search-filters-agerange">
              <div id="search-filters__input"></div>
            </div>
          </div>
          <div class="search-filters-section__explanations">
            <h5 data-lid="search_filters_age_explanations">Explications supplémentaires...</h5>
          </div>
        </div>
        <div class="search-filters-section --countries">
          <div class="search-filters-section__title">
            <h2 data-lid="search_filters_countries_title">Titre de la section 3</h2>
          </div>
          <div class="search-filters-body">
            <div class="js-filters-countries"></div>
          </div>
          <div class="search-filters-section__explanations">
            <h5 data-lid="search_filters_countries_explanations">Explications supplémentaires...</h5>
          </div>
        </div>
      </div>

      <div class="search-users">

        <!-- Dynamically injected -->
      </div>

    </section>
     <!-- Search end -->

  </section>
  


  <script src="//js.pusher.com/3.0/pusher.min.js"></script>

  <script src="/dist/mee.js"></script>

  
  

   
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6QesJukMVpHVS6l8yvSt_pmCDCeYiYMI&libraries=places,geometry&callback=LJ.map.sayHello" type="text/javascript"></script>
  
  <script id="app_ids">  
      //
window.facebook_app_id = "1509405206012202";      // 
window.pusher_app_id = "e0e801db688ab26d8581";
      // 
window.LJ.app_mode = "prod";
  </script> 
  
  <script>
    $('document').ready(function(){
      LJ.init( 300 );
    }); 
  </script>

</body>

</html>
