<!DOCTYPE html>

<html lang="fr">
<head>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<title>Meefore | Home </title>

	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:800' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Viga' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/jscrollpane.css">
	<link rel="stylesheet" href="/css/fontello/css/fontello.css">
	<link rel="stylesheet" href="/css/hint.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/events.css">
	<link rel="stylesheet" href="/css/manage.css">
	<link rel="stylesheet" href="/css/chat.css">
	<link rel="stylesheet" href="/css/landing.css">
	<link rel="stylesheet" href="/css/media.css">
	<link rel="stylesheet" href="/css/admin.css">

</head>
<body>
<div id="fb-root"></div>
 <script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_EN/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>

<div class="overlay overlay-high"></div>
<div class="overlay overlay-low"></div>
<div class="overlay overlay-veryhigh"></div>
<div id="adminPanelWrap"></div>
<div class="progress_bar"></div>
<div class="loaderWrap"></div>
<div class="m-loaderWrap"></div>
	  
	<header class="lg-header">
	  <div id="headerContent">
		<h1>meefore</h1>
		  <ul id="menuWrap" class="">
			<li id="profile" class="left menu-item menu-item-active icon icon-user" data-linkedcontent="#profileWrap"><span class="underlay"></span></li>
			<li id="search" class="left menu-item icon icon-search" data-linkedcontent="#searchUsersWrap" ><span class="underlay"></span></li>
			<li id="events"  class="left menu-item icon icon-glass" data-linkedcontent="#eventsWrap"><span class="underlay"></span></li>
			<li id="create" class="left menu-item icon icon-plus" data-linkedcontent="#createEventWrap"><span class="underlay"></span></li>
			<li id="management" class="left menu-item icon icon-users" data-linkedcontent="#manageEventsWrap" ><span class="underlay"></span></li>
			<li id="settings" class="right menu-item icon icon-cog" data-linkedcontent="#settingsWrap" ><span class="underlay"></span></li>
			<li id="contact" class="right menu-item icon icon-mail-alt" data-linkedcontent="#contactWrap" ><span class="underlay"></span></li>
		  </ul>
	  </div>
	  <div class="sm-header none">
	    <div class="sm-brand">MFR</div>
		<button class="sm-signup">S'inscrire</button>
		<button class="sm-fb"><i class="icon icon-facebook"></i></button>
		<button class="sm-login">Login</button>
	   </div>
	  <div class="sm-loginWrap none centered">
	  	<h2>Identification</h2>
	  	<form>
		  	<label for="">Email</label><input id="m-email"type="text" placeholder="email"></input>
		  	<label for="">Mot de passe</label><input id="m-pw" type="text" placeholder="password"></input>
		  	<label for=""></label><input class="themeBtn themeBtnMain" type="submit" value="login"></input>
	  	</form>
	  </div>
	  <section id="loginWrapp" class="revealed right">
		  <div> Connexion </div>
			<div class="formWrap">
				<form autocomplete="off">
					<input class="header-field" type="text" id="email" placeholder="email">
					<input class="header-field" type="password" id="pw" placeholder="password">
					<input type="submit" class="" id="login" value="Login"></input>
					<div id="login-fb"><i class="icon icon-facebook"></i>
					<a href="/auth/facebook" type="submit"></a>
					</div>
				</form>
		    </div>
		<div id="lost_pw" class="sub-actions right">Mot de passe oublié ?</div>
		<div id="join" class="sub-actions right">Pas encore inscrit ?</div>
	  </section>
	  <section id="resetWrapp" class="none right">
			<div>Trop de vodka ? </div>
			<div class="formWrap">
				<form autocomplete="off">
					<input class="input-field" type="text" id="pwResetInput" placeholder="email">
					<input type="submit" class="" id="reset" value="Reset"></input>
				</form>
		  </div>
	    <div id="pw_remember" class="sub-actions right">Je m'en souviens!</div>
	  </section>
	</header>
	<div id="mainWrap" class="centered">
		<div id="thumbWrap" class="none ">
			<div class="imgWrap">
			</div>
			<div id="thumbInfos">
				<h2 id="thumbName"></h2>
				<span id="logout" class="action">Log out</span>
			</div>
		</div>
		<section id="contentWrap" class="">
			<section id="landingWrap" class="centered m-revealed">
	            <div class="container">
	                <div class="row">
	                        <div class="center-heading">
	                            <h2>Pourquoi attendre d'être <span>déchiré en boite</span> en soirée pour faire des rencontres ?</h2>
	                            <span class="center-line"></span>
	                        </div>
	                </div><!--center heading row-->
	                <div class="row">
	                    <div class="col">
	                        <div class="services-box">
	                            <div class="services-box-icon">
	                                <i class="icon icon-star"></i>
	                            </div><!--services icon-->
	                            <div class="services-box-info">
	                                <h4>Le concept</h4>
	                                <p>
	                                  89% des 18-30 ans déclarent aller régulièrement en soirée pour faire des rencontres et au final
	                                  ne rencontrer personne. WTF?
	                                </p>
	                            </div>
	                        </div><!--services box-->
	                    </div><!--services col-->
	                    <div class="col">
	                        <div class="services-box">
	                            <div class="services-box-icon">
	                                <i class="icon icon-glass"></i>
	                            </div><!--services icon-->
	                            <div class="services-box-info">
	                                <h4>Chacun son délire</h4>
	                                <p>
	                                	Bar, apéro, boite, soirée apparte... orienté amitié ou rencontre, tout est possible. Liberté, Egalité, Ebriété.
	                                </p>
	                            </div>
	                        </div><!--services box-->
	                    </div><!--services col-->
	                    <div class="col">
	                        <div class="services-box">
	                            <div class="services-box-icon">
	                                <i class="icon icon-thumbs-up-alt"></i>
	                            </div><!--services icon-->
	                            <div class="services-box-info">
	                                <h4>La charte MFR</h4>
	                                <p>
	                                    Toujours être à l'heure et surtout... ne jamais venir les mains vides !
	                                </p>
	                            </div>
	                        </div><!--services box-->
	                    </div><!--services col-->
	                  </div>
	                  <div class="row">
	                     <div class="col">
	                        <div class="services-box">
	                            <div class="services-box-icon">
	                                <i class="icon icon-chat-1"></i>
	                            </div><!--services icon-->
	                            <div class="services-box-info">
	                                <h4>Discutez avant la soirée</h4>
	                                <p>
	                                    Inscris toi à un meefore en 1 clic, et chat avec l'organisateur jusqu'à trouver la soirée
	                                    qui te convient le plus à toi et à tes potes.
	                                </p>
	                            </div>
	                        </div><!--services box-->
	                    </div><!--services col-->
	                    <div class="col">
	                        <div class="services-box">
	                            <div class="services-box-icon">
	                                <i class="icon icon-user-add"></i>
	                            </div><!--services icon-->
	                            <div class="services-box-info">
	                                <h4>Ajoutez vos amis</h4>
	                                <p>
	                                    Si tes amis sont encore au boulot ou en train de dormir aucun problème, ajoute les à leur place. 
	                                    L'organisateur voit que vous vous connaissez.

	                                </p>
	                            </div>
	                        </div><!--services box-->
	                    </div><!--services col-->
	                    <div class="col">
	                        <div class="services-box">
	                            <div class="services-box-icon">
	                                <i class="icon icon-crown"></i>
	                            </div><!--services icon-->
	                            <div class="services-box-info">
	                                <h4>Devenir ambassadeur</h4>
	                                <p>
	                                    Les soirées, ça te connait. Tu veux nous aider à lancer le virus sur Paris? Deviens ambassadeur!
	                                </p>
	                            </div>
	                        </div><!--services box-->
	                    </div><!--services col-->
	                </div><!--services row-->
	            </div>
			</section>

			<section id="signupWrapp" class="centered none">
			<div id="signupWrap">
				<h2>Rejoignez-nous</h2>
				<div class="formWrap">
					<form>
					<label for="emailSignup">Email</label>
					<input class="input-field" type="text"     id="emailSignup"   placeholder="you@mail.com">
					<label for="pwSignup">Mot de passe</label>
					<input class="input-field" type="password" id="pwSignup"      placeholder="********">
					<label for="pwCheckSignup">Confirmation</label>
					<input class="input-field" type="password" id="pwCheckSignup" placeholder="********">
					<div class="input-radio">
					<div>
						<input class="" type="radio" name="gender" value="male" checked  ><span><i class="icon icon-male"></i>Homme</span></input>
					</div>
					<div>
						<input class="" type="radio" name="gender" value="female"    ><span><i class="icon icon-female"></i>Femme</span>
					</div>
					</div>
					<input type="submit" id="signup" class="themeBtn themeBtnMain right" value="Rejoindre">
					</form>
				</div>
			</div>
			</section>
			<section id="profileWrap" class="none centered">
				<h2>Me, myself & I</h2>
				<div class="row">
				<div id="pictureWrap"class="left hint--bottom" data-hint="cliquez pour changer de photo">
					<form class="upload_form"></form>
					<h5 id="codebarre"><span class="icon icon-barcode-1"></span>53ef548dgk0847j6H7Y</h5>
				</div>
				<div class="fieldsWrap left">
					<div class="input-row-wrap">
						<label for="name">Nom</label>
						<input id="name" class="profileInput" placeholder="Prad Bitt" type="text" maxlength="25">
					</div>
					<div class="input-row-wrap split">
						<label for="age">Age</label>
						<input id="age" class="profileInput" placeholder="25" type="number" max="50" min="18">
					</div>
					<div class="input-row-wrap">
						<label for="favoriteDrink">Ton verre</label>
						<div id="favoriteDrink">
							<div class="drink" data-drink="water">water</div>
							<div class="drink" data-drink="soft">soft</div>
							<div class="drink" data-drink="hard">hard</div>
							<div class="drink" data-drink="shots">shots</div>
							<div class="drink" data-drink="wine">wine</div>
							<div class="drink" data-drink="kro">kro</div>
						</div>
					</div>
					<div class="input-row-wrap split">
						<label for="mood">Humeur du jour</label>
						<div id="mood">
							<div class="mood" data-mood="whatever">whatever</div>
							<div class="mood" data-mood="tired">tired</div>
							<div class="mood" data-mood="drunk">still drunk</div>
							<div class="mood" data-mood="happy">happy</div>
							<div class="mood" data-mood="fail">fail</div>
							<div class="mood" data-mood="fired">on fire</div>
						</div>
					</div>
					<div class="input-row-wrap">
						<label class="labelTextArea" for="description">Qui es-tu ?</label>
						<textarea id="description" class="profileInput" placeholder="Tell the world what you like"></textarea>
					</div>
				</div>
				</div>
				<button id="validate" class="right themeBtn themeBtnMain">Modifier</button>
			</section>
			<section id="eventsWrap" class="none centered">
			  <div class="eventsHeader">
				<h2>Tous les meefore</h2>
				<div class="actionsWrap actionsStyle">
					<span id="activateFilters" class="action">Appliquer les filtres</span>
					<span id="displayFilters" class="action"><span>Afficher</span> tous les filtres</span>
					<span id="resetFilters" class="action">Enlever tous les filtres</span>
					<span id="refreshEventsFilters" class="action">Rafraîchir</span>
				</div>
				<div class="filtersWrap none">
				
				  <div class="filters-tags-row tags-wrap"> <span>Tags</span><!-- Content dynamically loaded --></div>
				  <div class="filters-locs-row locs-wrap"> <!-- Content dynamically loaded --></div>
				</div>
			  </div>
			  	<div id="frozenTimezone" class="none">
					<h2>Fais un break</h2>
					<center><h3>Les meefores sont fermés le matin, reprise à 14H. Time to sleep.</h3></center>
				</div>
				<section id="eventsListWrap"> <!-- Content dynamically loaded --> </section>
				<div id="no">
					
				</div>
				<div id="friendListWrap" class="none">
						<div id="myFriends">
						<!-- Content dynamically loaded -->	
						</div>
					</div>
			</section>
			<section id="createEventWrap" class="none centered">
				<h2>Créer votre évènement</h2>
				<div id="createEventInputsWrap">
					<div class="input-row-wrap">
						<label for="eventName">Before</label>
						<input id="eventName" placeholder="quelle soirée ?" type="text" class="input-field_create">
					</div>
					<div class="input-row-wrap">
						<label for="eventLocation">Arrondissement</label>
						<input id="eventLocation" class="input-field_create" placeholder="1" max="20" min="1" type="number">
					</div>
					<div class="input-row-wrap">
						<label for="eventHour">Heure de début</label>
						<input id="eventHour" class="input-field_create" type="text" placeholder="20" maxlength="2"><b>h</b>
						<input id="eventMinut" class="input-field_create" type="text" placeholder="00" maxlength="2">
					</div>
					<div class="input-row-wrap hint--right" data-hint="Restez raisonnable...">
						<label for="eventMaxGuest">Nombre d'invités </label>
						<input id="eventMaxGuest" class="input-field_create" value = "3" max="100" min="2" type="number">
					</div>
					<div class="input-row-wrap">
						<label for="tags">Tags</label>
						<div class="tags-wrap"></div>
					</div>
					<div class="input-row-wrap">
					<label for="eventDescription">About</label>
					<textarea id="eventDescription" placeholder="Winter is coming..."></textarea>
					</div>
					<button id="createEventBtn" class="right themeBtn themeBtnMain">Create event</button>
				</div>
			</section>
			<section id="manageEventsWrap" class="none centered">
				<h2>Ils veulent venir à ton meefore</h2>
				<div class="actionsWrap actionsStyle">
					<span id="cancelEvent" class="action">Annuler</span>
					<span id="suspendEvent" class="action">Suspendre</span>
				</div>
				<div id="askersListWrap">
					<div id="askersThumbs"></div>
					<div class="askersMainWrap">
					    <i class="icon icon-left-open-big next-left"></i>
					    <i class="icon icon-right-open-big next-right"></i>
					  <div id="askersMain">
					  </div>
					</div>
				</div>
			</section>
			<section id="searchUsersWrap" class="none centered">
				<h2>Ajoute tes amis</h2>
				<div class="actionsWrap actionsStyle">
					<span id="friendsOnly" class="action">Amis uniquement</span>
				</div>
				<div id="searchBarWrap">
					<div id="searchBar">
						<i class="icon icon-search"></i>
					   <input type="text" placeholder="Search by name, age or drink">
					</div>
				</div>
				<div id="searchUsers"> <!-- Content dynamicall loaded --> </div>
			</section>
			<section id="settingsWrap" class="none centered">
				<h2> Préférences </h2>
				<div id="settingsInputsWrap">
					<div class="input-row-wrap">
						<label for="currentEmail">Email</label>
						<input id="currentEmail" placeholder="Email" type="text" class="input-field_create">
					</div>
					<div class="input-row-wrap">
						<label for="currentPw">Mot de passe</label>
						<input id="currentPw" class="input-field_create" readonly value="**********" type="text">
					</div>
					<div class="input-row-wrap">
						<label for="newPw">Nouveau mdp</label>
						<input id="newPw" class="input-field_create" placeholder="New password" maxlength="40" type="password">
					</div>
					<div class="input-row-wrap">
						<label for="newPwConf">Confirmer nouveau mdp</label>
						<input id="newPwConf" class="input-field_create" placeholder="Confirm new password" maxlength="40" type="password">
					</div>
					<div class="input-row-wrap">
						<label for="newsletter">Recevoir la newz</label>
						<input id="newsletter" class="input-field_create" type="checkbox">
					</div>
					<button id="submitSettingsBtn" class="right themeBtn themeBtnMain">Modifier </button>
				</div>
			</section>
			<section id="contactWrap" class="none centered">
			<h2>On veut tout savoir</h2>
			<form>
			<div>
			<label for="contactName">Nom</label>
				<input id="contactName" type="text" placeholder="Jack Bamboo">
			</div>
			<div>
			<label for="contactMail">Email</label>
				<input id="contactMail" type="text" placeholder="jack@bamboomail.com">
			</div>
			<label for="contactBody" class="align-top">Ton message</label>
				<textarea id="contactBody" placeholder="Hi there, ..."></textarea>
			</form>
			<button id="sendContactForm" class="right themeBtn themeBtnMain">Envoyer</button>
			</section>
		</section>
		</div>
		<script src="//js.pusher.com/2.2/pusher.min.js"></script>
		<script src="dist/lib.min.js"></script>
		
		<!-- custom scripts -->
		<script src="js/lj-params.js"></script>
		<script src="js/lj-render.js"></script>
		<script src="js/lj-domEvents.js"></script>
		<script src="js/lj-admin.js"></script>
		<script src="js/lj.js"></script>

	</body>
	</html>