<!DOCTYPE html>

<html lang="fr">
 
<head>

  <title>Des rencontres avant d'aller en soirée </title> 

  <meta charset="utf-8"> 
  <meta name="viewport"           content="width=device-width, initial-scale=1"> 
  <meta name="viewport"           content="width=device-width, initial-scale=1, maximum-scale=1" />

  <meta property="og:title" content="Des rencontres avant d'aller en soirée">
  <meta property="og:site_name" content="Meefore">
  <meta property="og:url" content="http://www.meefore.com/home">
  <meta property="og:image" content="http://res.cloudinary.com/radioreve/image/upload/v1456943482/landing_1.jpg">
  <meta property="fb:app_id" content="<!-- build:header-fb-id -->1509405206012202<!-- endbuild -->">

  <meta property="og:description" content="L'application Meefore permet de faire des rencontres en participant à des before proches de chez soi.">

  <meta name="description" content="L'application Meefore permet de faire des rencontres en participant à des before proches de chez soi">
 
  <link rel="apple-touch-icon" sizes=="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="Meefore">
  <meta name="application-name" content="Meefore">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="/fonts/creamy/creamy.css">
  <link rel="stylesheet" href="/fonts/quenda-medium/quenda-medium.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
  
  <link rel="stylesheet" href="/css/lib/fontello/css/fontello.css">
  <link rel="stylesheet" href="/css/lib/flags/flags.css">
  <!-- Librairies -->
  <!-- build:css -->
  <link rel="stylesheet" href="/css/lib/jscrollpane/jscrollpane.css">
  <link rel="stylesheet" href="/css/lib/hint/hint.css">
  <link rel="stylesheet" href="/css/lib/nouislider/nouislider.css">
  <link rel="stylesheet" href="/css/lib/pikadate/pikadate.css">
  
  <!-- Reset and common styles -->
  <link rel="stylesheet" href="/css/src/reset.css">
  <link rel="stylesheet" href="/css/src/common.css">
  
  <!-- App, in any order -->
  <link rel="stylesheet" href="/css/src/ioptions/ioptions.css">
  <link rel="stylesheet" href="/css/src/before/before.css"> 
  <link rel="stylesheet" href="/css/src/before/before_create.css">
  <link rel="stylesheet" href="/css/src/party/party.css">
  <link rel="stylesheet" href="/css/src/party/party_create.css">
  <link rel="stylesheet" href="/css/src/chat/chat.css">
  <link rel="stylesheet" href="/css/src/chat/chat_inview.css">
  <link rel="stylesheet" href="/css/src/friends/friends.css">
  <link rel="stylesheet" href="/css/src/cheers/cheers.css">
  <link rel="stylesheet" href="/css/src/landing/landing.css">
  <link rel="stylesheet" href="/css/src/menu/menu.css">
  <link rel="stylesheet" href="/css/src/notifications/notifications.css">
  <link rel="stylesheet" href="/css/src/onboarding/onboarding.css">
  <link rel="stylesheet" href="/css/src/profile/profile.css">
  <link rel="stylesheet" href="/css/src/profile/profile_user.css">
  <link rel="stylesheet" href="/css/src/pictures/pictures.css">
  <link rel="stylesheet" href="/css/src/thumbnail/thumbnail.css">
  <link rel="stylesheet" href="/css/src/rosace/rosace.css">
  <link rel="stylesheet" href="/css/src/hive/hive.css">
  <link rel="stylesheet" href="/css/src/search/search.css">
  <link rel="stylesheet" href="/css/src/search/search_filters.css">
  <link rel="stylesheet" href="/css/src/seek/seek.css">
  <link rel="stylesheet" href="/css/src/settings/settings.css">
  <link rel="stylesheet" href="/css/src/login/login.css">
  <link rel="stylesheet" href="/css/src/map/map.css">
  <link rel="stylesheet" href="/css/src/map/map_mapview.css">
  <link rel="stylesheet" href="/css/src/map/map_sideview.css">
  <link rel="stylesheet" href="/css/src/dev/dev.css">

  <link rel="stylesheet" href="/css/src/media.css">
  <!-- endbuild -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-65278026-1', 'none');
  ga('send', 'pageview', '/home');
</script>

</head>

<body>

  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_EN/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  
  
  <div class="curtain x--sticky x--light"></div>
    
   <!-- Landing Page Begin -->
 <div class="multi-landing"></div>
  <!-- Landing Page End -->
  

  <section class="app nonei">
    
    <!-- header wrapper, for styles modifications -->
    <div class="header-wrap x--white x--empty">
    
      <!-- header -->
      <header class="app-header">
        <div class="app-header__splitter"></div>
        <div class="app-header-titles">
          <div class="app-header__title" data-link="menu" data-lid="nav_menu_title"></div>
          <div class="app-header__title" data-link="map" data-lid="nav_map_title"></div>
          <div class="app-header__title" data-link="search" data-lid="nav_search_title"></div>
        </div>
        <div class="app-header__logo nonei">
          <img src="/img/logo/5.png" width="40"/>
        </div>
        <nav class="app-nav">
          <ul>
            <li class="app__menu-item x--menu" data-link="menu">
              <a href="#menu">
                <i class="app__menu-icon icon icon-menu-app x--filled"></i>
                <i class="app__menu-icon icon icon-menu-app x--empty"></i>
              </a>
            </li>
            <li class="app__menu-item x--map" data-link="map">
              <a href="#map"> 
                <i class="app__menu-icon icon icon-location x--filled"></i>
                <i class="app__menu-icon icon icon-location-empty x--empty"></i>
              </a>
            </li>
            <li class="app__menu-item x--search" data-link="search">
              <a href="#search">
                <i class="app__menu-icon icon icon-members x--filled"></i>
                <i class="app__menu-icon icon icon-members-empty x--empty"></i>
              </a>
            </li>
            <li class="app__menu-item x--notifications x--right">
            <a href="#notifications">
              <i class="app__menu-icon icon icon-bell x--filled"></i>
              <i class="app__menu-icon icon icon-bell-empty x--empty"></i>
            </a>
          </li>
          <li class="app__menu-item x--chats">
            <a href="#chat">
              <i class="app__menu-icon icon icon-chat-bubble-duo x--filled"></i>
              <i class="app__menu-icon icon icon-chat-bubble-duo-empty x--empty"></i>
            </a>
          </li>
          </ul>
        </nav>
        <div class="app-lang nonei">
          <div class="app-lang__icon">
            <i class="icon icon-planet"></i>
          </div>
          <div class="app-lang__flag-icons">
            <i class="flag-icon flag-icon-fr" data-cc="fr"></i>
            <i class="flag-icon flag-icon-us" data-cc="us"></i>
          </div>
        </div>
        <!-- <div class="app-logout js-logout">
          <i class="icon icon-power"></i>
        </div> -->
      </header>
      <!-- header end -->
        
      <div class="app-header__brand">
        Meefore
      </div>  

      <!-- Thumbnail start -->
      <section class="app-thumbnail nonei">
        <div class="thumbnail__picture x--filterlayable">
          <img src="/img/bots/bot26f.jpg" width="45" alt="Just another bot">
        </div>
        <div class="thumbnail__name">Héléna</div>
      </section>
       <!-- Thumbnail end -->
    </div>
    <!-- Header wrapper end -->

   <!-- Menu section start -->
    <section class="app-section x--menu" data-link="menu">
    
      <!-- Menu begin -->
      <nav class="app-subheader x--menu">
        <div class="menu__line"></div>
        <li class="menu-item x--profile" data-link="profile">
          <div class="menu-item__body">
            <div class="menu-item__icon x--round-icon">
              <i class="icon icon-profile-rounded x--filled"></i>
              <i class="icon icon-profile-rounded-empty x--empty"></i>
            </div>
            <h3 data-lid="menu_profile"></h2>
          </div>
          <div class="menu-item__bar"></div>
        </li>
        <li class="menu-item x--friends" data-link="friends">
          <div class="menu-item__body">
            <div class="menu-item__icon x--round-icon">
              <i class="icon icon-users x--filled"></i>
              <i class="icon icon-users-empty x--empty"></i>
            </div>
            <h3 data-lid="menu_friends"></h2>
          </div>
          <div class="menu-item__bar"></div>
        </li>
        <li class="menu-item x--settings" data-link="settings">
          <div class="menu-item__body">
            <div class="menu-item__icon">
              <i class="icon icon-cog x--filled"></i>
              <i class="icon icon-cog-empty x--empty"></i>
            </div>
            <h3 data-lid="menu_settings"></h2>
          </div>
          <div class="menu-item__bar"></div>
        </li>
      </nav>
      <!-- Menu end -->


      <!-- Profile begin -->
      <section class="menu-section x--profile" data-link="profile">
        <div class="menu-section__subtitle">
          <h3 data-lid="menu_subsection_pictures"></h3>
        </div>
        <div class="update-pictures js-edit-pictures x--mb">
          <h3 data-lid="mb_update_pictures"></h3>
        </div>
        <div class="pictures">
          <!-- %% Dynamically injected %%-->
        </div>
        <div class="menu-section__subtitle">
           <h3 data-lid="menu_subsection_informations"></h3>
        </div>
        <div class="me">
          <div class="me-item" data-param="name">
            <div class="icon-item">
              <i class="icon icon-pricetag-empty"></i>
            </div>
            <div class="edit">
              <i class="icon icon-pen"></i>
            </div>
            <div class="action">
              <div class="action__validate x--round-icon">
                <i class="icon icon-check"></i>
              </div>
              <div class="action__cancel x--round-icon">
                <i class="icon icon-cancel"></i>
              </div>
            </div>
            <div class="me-item-body">
              <label for="me__name" data-lid="p_name_label"></label>
              <input readonly data-lid="p_name_placeholder" id="me__name" type="text">
              <div class="me-item__explanation" data-lid="p_name_explanation"></div>
            </div>
          </div>
          <div class="me-item" data-param="age">
            <div class="icon-item x--round-icon">
              <i class="icon icon-birthday-cake-empty"></i>
            </div>
            <div class="edit">
              <i class="icon icon-pen"></i>
            </div>
            <div class="action">
              <div class="action__validate x--round-icon">
                <i class="icon icon-check"></i>
              </div>
              <div class="action__cancel x--round-icon">
                <i class="icon icon-cancel"></i>
              </div>
            </div>
            <div class="me-item-body">
              <label for="me__age" data-lid="p_age_label"></label>
              <input readonly data-lid="p_age_placeholder" id="me__age"type="number">
              <div class="me-item__explanation" data-lid="p_age_explanation"></div>
            </div>
          </div>
          <div class="me-item x--no-edit">
            <div class="icon-item">
              <i class="icon icon-flag-empty"></i>
            </div>
            <div class="me-item-body">
              <label for="me__country" data-lid="p_country_label"></label>
              <input readonly type="text" id="me__country">
              <div class="me-item__explanation" data-lid="p_country_explanation"></div>
            </div>
          </div>
          <div class="me-item" data-param="job">
            <div class="icon-item x--round-icon">
              <i class="icon icon-education-empty"></i>
            </div>
            <div class="edit">
              <i class="icon icon-pen"></i>
            </div>
            <div class="action">
              <div class="action__validate x--round-icon">
                <i class="icon icon-check"></i>
              </div>
              <div class="action__cancel x--round-icon">
                <i class="icon icon-cancel"></i>
              </div>
            </div>
            <div class="me-item-body">
              <label for="me__job" data-lid="p_job_label"></label>
              <input readonly data-lid="p_job_placeholder" id="me__job" type="text">
              <div class="me-item__explanation" data-lid="p_job_explanation"></div>
            </div>
          </div>
          <div class="me-item" data-param="location">
            <div class="icon-item">
              <i class="icon icon-location-barred-empty"></i>
            </div>
            <div class="edit">
              <i class="icon icon-pen"></i>
            </div>
            <div class="action">
              <div class="action__validate x--round-icon">
                <i class="icon icon-check"></i>
              </div>
              <div class="action__cancel x--round-icon">
                <i class="icon icon-cancel"></i>
              </div>
            </div>
            <div class="me-item-body">
              <label for="me__location" data-lid="p_location_label"></label>
              <input readonly type="text" id="me__location">
              <div class="me-item__explanation" data-lid="p_location_explanation"></div>
            </div>
          </div>
          <div class="me-item" data-param="ideal_night">
            <div class="icon-item">
              <i class="icon icon-dj-empty"></i>
            </div>
            <div class="edit">
              <i class="icon icon-pen"></i>
            </div>
            <div class="action">
              <div class="action__validate x--round-icon">
                <i class="icon icon-check"></i>
              </div>
              <div class="action__cancel x--round-icon">
                <i class="icon icon-cancel"></i>
              </div>
            </div>
            <div class="me-item-body">
              <label for="me__ideal-night" data-lid="p_ideal_night_label"></label>
              <textarea readonly data-lid="p_ideal_night_placeholder" id="me__ideal-night">
              </textarea>
              <div class="me-item__explanation" data-lid="p_ideal_night_explanation"></div>
            </div>
          </div>
        </div>

        <div class="profile-logout js-logout">
          <button data-lid="mb_logout_btn"></button>
        </div>

      </section>
      <!-- Profile end -->

    

    
      <!-- Friends begin -->
      <section class="menu-section x--friends" data-link="friends">
        <div class="friends">
          <!-- %% Dynamically injected %%-->
        </div>
      </section>
      <!-- Friends end -->


      <!-- Settings begin -->
      <section class="menu-section x--settings" data-link="settings">
      <!-- acountsection -->

          <div class="segment">
            <div class="segment__part" data-link="account">
              <h4 data-lid="menu_subsection_account"></h4>
            </div>
            <div class="segment__part" data-link="emails">
              <h4 data-lid="menu_subsection_emails"></h4>
            </div>
            <div class="segment__part" data-link="notifications">
              <h4 data-lid="menu_subsection_notifications"></h4>
            </div>
            <div class="segment__part" data-link="ux">
              <h4 data-lid="menu_subsection_ux"></h4>
            </div>
          </div>

        <div class="menu-section__subtitle">
          <h3 data-lid="menu_subsection_account"></h3>
        </div>
        <div class="settings x--account" data-link="account">
          <div class="settings-item x--no-border" data-settings-type-id="contact_email">
            <div class="settings-input">
              <div class="settings-input__icon x--round-icon">
                <i class="icon icon-inbox"></i>
              </div>
              <div class="settings-input-label">
                <input readonly placeholder="ben@mymail.com" id="settings__contact-email" type="text">
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_email_address_explanation"></div>
            <div class="edit">
              <i class="icon icon-pen"></i>
            </div>
            <div class="action">
              <div class="action__validate x--round-icon">
                <i class="icon icon-check"></i>
              </div>
              <div class="action__cancel x--round-icon">
                <i class="icon icon-cancel"></i>
              </div>
            </div>
          </div>
          <div class="settings-item x--no-border">
            <button class="settings__button x--delete" data-lid="settings_account_delete_button"></button>
          </div>
        </div>

        <!-- emails section -->
        <div class="menu-section__subtitle">
          <h3 data-lid="menu_subsection_emails"></h3>
        </div>
        <div class="settings x--emails" data-link="emails">
          <div class="settings-item" data-settings-type-id="newsletter">
            <div class="settings-input">
              <div class="settings-input__icon x--round-icon"><i class="icon icon-mail-empty"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_notifs_newsletter_label"></div>
              </div>
              <div class="toggle">
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_notifs_newsletter_explanation"></div>
          </div>
         </div>
        <!-- notifications section -->
        <div class="menu-section__subtitle">
          <h3 data-lid="menu_subsection_notifications"></h3>
        </div>
        <div class="settings x--notifications" data-link="notifications">
          <div class="settings__title">
            <h3 data-lid="settings_part_title_notifications_email"></h3>
          </div>
          <div class="settings-item" data-settings-type-id="new_message">
            <div class="settings-input">
              <div class="settings-input__icon x--round-icon"><i class="icon icon-chat-bubble-empty"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_emails_new_message_label"></div>
              </div>
              <div class="toggle">
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_emails_new_message_explanation"></div>
          </div>
        <div class="settings-item" data-settings-type-id="marked_as_host">
            <div class="settings-input">
              <div class="settings-input__icon x--round-icon"><i class="icon icon-star-empty"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_emails_marked_as_host_label"></div>
              </div>
              <div class="toggle">
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_emails_marked_as_host_explanation"></div>
          </div>
          <div class="settings-item" data-settings-type-id="new_match">
            <div class="settings-input">
              <div class="settings-input__icon x--round-icon"><i class="icon icon-thunder-empty"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_emails_new_match_label"></div>
              </div>
              <div class="toggle">
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_emails_new_match_explanation"></div>
          </div>
          <div class="settings-item" data-settings-type-id="new_cheers">
            <div class="settings-input">
              <div class="settings-input__icon x--round-icon"><i class="icon icon-meedrink-empty"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_emails_new_cheers_label"></div>
              </div>
              <div class="toggle">
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_emails_new_cheers_explanation"></div>
          </div>
        </div>
        <!-- ux section -->
        <div class="menu-section__subtitle">
          <h3 data-lid="menu_subsection_ux"></h3>
        </div>
        <div class="settings x--ux" data-link="ux">
          <div class="settings-item" data-settings-type-id="message_seen">
            <div class="settings-input">
              <div class="settings-input__icon x--round-icon"><i class="icon icon-chat-read-empty"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_ux_message_seen_label"></div>
              </div>
              <div class="toggle">
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_ux_message_seen_explanation"></div>
          </div>
          <div class="settings-item" data-settings-type-id="show_gender">
            <div class="settings-input">
            <div class="settings-input__icon x--round-icon"><i class="icon icon-gender-empty-ter"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_ux_gender_label" ></div>
              </div>
              <div class="toggle">
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div> 
            <div class="settings-input__explanation" data-lid="settings_ux_gender_explanation"></div>
          </div>
          <div class="settings-item" data-settings-type-id="show_country">
            <div class="settings-input">
              <div class="settings-input__icon x--round-icon"><i class="icon icon-planet-empty-bis"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_ux_country_label"></div>
              </div> 
              <div class="toggle">
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_ux_country_explanation"></div>
          </div>
          <div class="settings-item" data-settings-type-id="auto_login">
            <div class="settings-input">
              <div class="settings-input__icon x--round-icon"><i class="icon icon-refresh-bis"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_ux_auto_login_label"></div>
              </div>
              <div class="toggle"> 
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_ux_auto_login_explanation"></div>
          </div>
          <div class="settings-item">
            <div class="settings-input">
              <div class="settings-input__icon x--round-icon"><i class="icon icon-flag-empty"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label x--settings-btn" data-lid="settings_ux_changelang_label"></div>
              </div>
               <button class="settings__button x--changelang js-changelang" data-lid="settings_ux_changelang_button"></button>
            </div>
            <div class="settings-input__explanation" data-lid="settings_ux_changelang_explanation"></div>
          </div>
        </div>
      </section>
      <!-- Settings end -->

    </section>
     <!-- Menu section end -->


  

     <!-- Map start -->
    <section class="app-section x--map" data-link="map">
     <!--  <div class="app-subheader x--map">
        
      </div> -->
      <div class="js-map-wrap">
        <!-- Holds the Google map -->
      </div>

        
    </section>
     <!-- Map end -->

  <!-- Chat start -->
  <div class="chat">
    <div class="chat-wrap chat-row-wrap">
      <div class="chat__close">
        <i class="icon icon-cancel"></i>
      </div>
      <div class="chat-header">
        <div class="chat-header__title">
          <span data-lid="chat_header_title"></span>
        </div>
      </div>
      <div class="chat-rows">
        <div class="chat-rows-title x--team">
          <span data-lid="chat_rows_team_title"></span>
        </div>
        <div class="chat-rows-body x--team">
          <!-- Dynamically injected -->
        </div>
        <div class="chat-rows-title x--all">
          <span data-lid="chat_rows_all_title"></span>
        </div>
        <div class="chat-rows-body x--all">
          <!-- Dynamically injected -->
        </div>
        <div class="chat-rows-title x--cheers">
          <span data-lid="chat_rows_cheers_title"></span>
        </div>
        <div class="chat-rows-body x--cheers">
          <!-- Dynamically injected -->
        </div>
      </div>
    </div>    
    <div class="chat-wrap chat-inview-wrap">
        <!-- Dynamically injected --> 
    </div>

  </div>
  <!-- Chat end -->

     <!-- Search start -->
    <section class="app-section x--search" data-link="search">
      
      <div class="app-subheader x--search">
        <div class="search__title">
          <h2 data-lid="search_title"></h2>
        </div>
        <div class="search-filters__icon x--round-icon">
          <i class="icon icon-filters"></i>
        </div>
      </div>

      <div class="search-filters">
        <div class="search-filters__close x--round-icon">
          <i class="icon icon-cross-fat"></i>
        </div>
        <div class="search-filters-section x--gender">
          <div class="search-filters-section__title">
            <h2 data-lid="search_filters_gender_title">Titre de la section 1</h2>
          </div>
          <div class="search-filters-row js-filters-male">
            <div class="search-filters-gender">
              <div class="search-filters-gender__icon x--round-icon">
                <i class="icon icon-male"></i>
              </div>
              <div class="search-filters-gender__label">
                <label data-lid="search_filters_gender_label_male">Des hommes</label>
              </div>
            </div>
            <div class="toggle">
              <div class="toggle__background"></div>
              <div class="toggle__button"></div>
            </div>
          </div>
          <div class="search-filters-row js-filters-female">
            <div class="search-filters-gender">
              <div class="search-filters-gender__icon x--round-icon">
                <i class="icon icon-female"></i>
              </div>
              <div class="search-filters-gender__label">
                <label data-lid="search_filters_gender_label_female">Des femmes</label>
              </div>
            </div>
            <div class="toggle">
              <div class="toggle__background"></div>
              <div class="toggle__button"></div>
            </div>
          </div>
        </div>
        <div class="search-filters-section x--age">
          <div class="search-filters-section__title">
            <h2 data-lid="search_filters_age_title">Titre de la section 2</h2>
          </div>
          <div class="search-filters-row">
            <div class="search-filters-agerange">
              <div id="search-filters__input"></div>
            </div>
          </div>
          <div class="search-filters-section__explanations">
            <h5 data-lid="search_filters_age_explanations">Explications supplémentaires...</h5>
          </div>
        </div>
        <div class="search-filters-section x--countries">
          <div class="search-filters-section__title">
            <h2 data-lid="search_filters_countries_title">Titre de la section 3</h2>
          </div>
          <div class="search-filters-body js-filters-countries">
          </div>
          <div class="search-filters-section__explanations">
            <h5 data-lid="search_filters_countries_explanations">Explications supplémentaires...</h5>
          </div>
        </div>
      </div>

      <div class="search-users">

        <!-- Dynamically injected -->
      </div>

    </section>
     <!-- Search end -->
  </section>
  
  <script src="//js.pusher.com/3.0/pusher.min.js"></script>
  <script> window.LJ = {} </script>
  <!-- build:js -->
  <script src="js/lib/lodash/lodash.js"></script>
  <script src="js/lib/mousetrap/mousetrap.js"></script>
  <script src="js/lib/countdown/countdown.js"></script>
  <script src="js/lib/jquery/jquery.js"></script>
  <script src="js/lib/pikaday/pikaday.js"></script> 
  <script src="js/lib/jscrollpane/jscrollpane.js"></script>
  <script src="js/lib/jscrollpane/jscrollpane.mousewheel.js"></script>
  <script src="js/lib/cloudinary/jquery.cloudinary.js"></script>
  <script src="js/lib/typeahead/jquery.typeahead.js"></script>
  <script src="js/lib/typed/typed.js"></script>
  <script src="js/lib/imagesloaded/imagesloaded.js"></script>
  <script src="js/lib/velocity/velocity.js"></script>
  <script src="js/lib/velocity/velocity-ui.js"></script>
  <script src="js/lib/moment/moment.min.js"></script>
  <script src="js/lib/moment/momentwithlocale.min.js"></script>
  <script src="js/lib/nouislider/nouislider.js"></script>

  <!-- custom scripts -->
  <script src="js/src/on.js"></script>
  <script src="js/src/store/store.js"></script>
  <script src="js/src/router/router.js"></script>
  <script src="js/src/utils/utils.js"></script>
  <script src="js/src/api/api.js"></script>
  <script src="js/src/pictures/pictures.js"></script>
  <script src="js/src/autologin/autologin.js"></script>
  <script src="js/src/landing/landing.js"></script>
  <script src="js/src/admin/admin.js"></script>
  <script src="js/src/analytics/analytics_google.js"></script>
  <script src="js/src/cheers/cheers.js"></script>
  <script src="js/src/cheers/cheers_rows.js"></script>
  <script src="js/src/cheers/cheers_chat.js"></script>
  <script src="js/src/cheers/cheers_legacy.js"></script>
  <script src="js/src/before/before.js"></script>
  <script src="js/src/before/before_legacy.js"></script>
  <script src="js/src/before/before_create.js"></script>
  <script src="js/src/before/before_request.js"></script>
  <script src="js/src/chat/chat.js"></script>
  <script src="js/src/chat/chat_inview.js"></script>
  <script src="js/src/chat/chat_test.js"></script>
  <script src="js/src/friends/friends.js"></script>
  <!-- <script src="js/src/invite/invite.js"></script> -->
  <script src="js/src/clock/clock.js"></script>
  <script src="js/src/languages/languages.js"></script> 
  <script src="js/src/languages/country.js"></script>
  <script src="js/src/languages/textsources.js"></script>
  <script src="js/src/facebook/facebook.js"></script> 
  <script src="js/src/map/map.js"></script>
  <script src="js/src/map/map_styles.js"></script>
  <script src="js/src/map/map_markers_url.js"></script>
  <script src="js/src/map/map_city_locations.js"></script>
  <script src="js/src/map/marker_factory.js"></script>
  <script src="js/src/connecter/connecter.js"></script>
  <script src="js/src/notifications/notifications.js"></script>
  <script src="js/src/notifications/notifications_test.js"></script>
  <script src="js/src/onboarding/onboarding.js"></script> 
  <script src="js/src/seek/seek.js"></script>
  <script src="js/src/profile/profile.js"></script>
  <script src="js/src/profile/profile_user.js"></script>
  <script src="js/src/menu/menu.js"></script> 
  <script src="js/src/nav/nav.js"></script>
  <script src="js/src/search/search.js"></script>
  <script src="js/src/search/search_filters.js"></script>
  <script src="js/src/settings/settings.js"></script>
  <!-- <script src="js/src/shared/shared.js"></script> -->
  <script src="js/src/static/static.js"></script>
  <!-- <script src="js/src/login/login.js"></script> -->
  <script src="js/src/login/login.js"></script>
  <script src="js/src/ui/ui.js"></script>
  <script src="js/src/ui/ui_toast.js"></script>
  <script src="js/src/ui/ui_modal.js"></script>
  <script src="js/src/ui/ui_slide.js"></script>
  <script src="js/src/ui/ui_bubbles.js"></script>
  <script src="js/src/ui/ui_spotlight.js"></script>
  <script src="js/src/ui/ui_ioptions.js"></script>
  <script src="js/src/dev/dev.js"></script>
  <script src="js/src/realtime/realtime.js"></script>
  <script src="js/src/init/init.js"></script>
  <!-- endbuild -->
  <!-- build:remove -->
  <script src="js/src/map/map_test.js"></script>
  <script src="js/src/before/before_test.js"></script>
  <!-- endbuild -->

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6QesJukMVpHVS6l8yvSt_pmCDCeYiYMI&libraries=places,geometry&callback=LJ.map.sayHello" type="text/javascript"></script>
  
  <script id="app_ids">  
      //<!-- build:fb-app-id -->
      window.facebook_app_id = "1638104993142222";
      //<!-- endbuild -->
      // <!-- build:pusher-app-id -->
      window.pusher_app_id   = "f9e4bf4e8f1e0342ca27";
      // <!-- endbuild -->
      // <!-- build:app-env -->
      window.LJ.app_mode     = "dev";
      // <!-- endbuild -->
  </script> 
  
  <script>
    $('document').ready(function(){
      LJ.init( 300 );
    }); 
  </script>

</body>

</html>
