<!DOCTYPE html>

<html lang="fr">
 
<head>

  <title>Des rencontres avant d'aller en soirée </title> 

  <meta charset="utf-8"> 
  <meta name="viewport"           content="width=device-width, initial-scale=1"> 
  <meta name="viewport"           content="width=device-width, initial-scale=1, maximum-scale=1" />

  <meta property="og:title" content="Des rencontres avant d'aller en soirée">
  <meta property="og:site_name" content="Meefore">
  <meta property="og:url" content="http://www.meefore.com/home">
  <meta property="og:image" content="http://res.cloudinary.com/radioreve/image/upload/v1456943482/landing_1.jpg">
  <meta property="fb:app_id" content="1509405206012202">

  <meta property="og:description" content="L'application Meefore permet de faire des rencontres en participant à des before proches de chez soi.">

  <meta name="description" content="L'application Meefore permet de faire des rencontres en participant à des before proches de chez soi">

  <link rel="stylesheet" href="/fonts/creamy/creamy.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Skranji:700" rel="stylesheet"> 
  
  <link rel="stylesheet" href="/css/lib/fontello/css/fontello.css">
  <link rel="stylesheet" href="/css/lib/flags/flags.css">
  <!-- Librairies -->
  <link rel="stylesheet" href="/dist/mee.css" />

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-65278026-1', 'none');
  ga('send', 'pageview', '/home');
</script>

</head>

<body>

  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_EN/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  
  
  <div class="curtain --sticky --light"></div>
    
   <!-- Landing Page Begin -->
 <div class="multi-landing"></div>
  <!-- Landing Page End -->
  

  <section class="app nonei">
    
    <!-- header -->
    <header class="app-header">
      <div class="app-header__splitter"></div>
      <div class="app-header-titles">
        <div class="app-header__title" data-link="menu" data-lid="nav_menu_title"></div>
        <div class="app-header__title" data-link="map" data-lid="nav_map_title"></div>
        <div class="app-header__title" data-link="search" data-lid="nav_search_title"></div>
      </div>
      <div class="app-header__logo nonei">
        <img src="/img/app/logo_nobg.png" width="40"/>
      </div>
      <nav class="app-nav">
        <ul>
          <li class="app__menu-item --menu" data-link="menu">
            <a href="#menu">
              <i class="app__menu-icon icon icon-menu-app"></i>
            </a>
          </li>
          <li class="app__menu-item --map" data-link="map">
            <a href="#map"> 
              <i class="app__menu-icon icon icon-location"></i>
            </a>
          </li>
          <li class="app__menu-item --search" data-link="search">
            <a href="#search">
              <i class="app__menu-icon icon icon-members"></i>
            </a>
          </li>
        </ul>
      </nav>
      <div class="app-lang nonei">
        <div class="app-lang__icon">
          <i class="icon icon-planet"></i>
        </div>
        <div class="app-lang__flag-icons">
          <i class="flag-icon flag-icon-fr" data-cc="fr"></i>
          <i class="flag-icon flag-icon-us" data-cc="us"></i>
        </div>
      </div>
      <div class="app-logout js-logout">
        <i class="icon icon-power"></i>
      </div>
    </header>
    <!-- header end -->
    

    <!-- Thumbnail start -->
    <section class="app-thumbnail">
    <nav class="app-nav --thumbnail">
        <ul>
          <li class="app__menu-item --notifications">
            <a href="#notifications">
              <i class="app__menu-icon icon icon-bell"></i>
            </a>
          </li>
          <li class="app__menu-item --chats">
            <a href="#chat">
              <i class="app__menu-icon icon icon-chat-bubble-duo"></i>
            </a>
          </li>
        </ul>
      </nav>
      <div class="thumbnail__picture --filterlayable">
        <img src="/img/bots/bot26f.jpg" width="45" alt="Just another bot">
      </div>
      <div class="thumbnail__name">Héléna</div>
    </section>
     <!-- Thumbnail end -->
  

   <!-- Menu section start -->
    <section class="app-section --menu" data-link="menu">
    
      <!-- Menu begin -->
      <nav class="app-subheader --menu">
        <div class="menu__line"></div>
        <li class="menu-item --profile" data-link="profile">
          <div class="menu-item__body">
            <div class="menu-item__icon --round-icon">
              <i class="icon icon-profile-rounded"></i>
            </div>
            <h3 data-lid="menu_profile"></h2>
          </div>
          <div class="menu-item__bar"></div>
        </li>
       <!--  <li class="menu-item --shared" data-link="shared">
          <div class="menu-item__body">
            <div class="menu-item__icon --round-icon">
              <i class="icon icon-forward"></i>
            </div>
            <h3 data-lid="menu_shared"></h2>
          </div>
          <div class="menu-item__bar"></div>
        </li> -->
        <li class="menu-item --cheers" data-link="cheers">
          <div class="menu-item__body">
            <div class="menu-item__icon --round-icon">
              <i class="icon icon-meedrink"></i>
            </div>
            <h3 data-lid="menu_cheers"></h2>
          </div>
          <div class="menu-item__bar"></div>
        </li>
        <li class="menu-item --friends" data-link="friends">
          <div class="menu-item__body">
            <div class="menu-item__icon --round-icon">
              <i class="icon icon-users"></i>
            </div>
            <h3 data-lid="menu_friends"></h2>
          </div>
          <div class="menu-item__bar"></div>
        </li>
        <li class="menu-item --settings" data-link="settings">
          <div class="menu-item__body">
            <div class="menu-item__icon">
              <i class="icon icon-cog --round-icon"></i>
            </div>
            <h3 data-lid="menu_settings"></h2>
          </div>
          <div class="menu-item__bar"></div>
        </li>
      </nav>
      <!-- Menu end -->


      <!-- Profile begin -->
      <section class="menu-section --profile" data-link="profile">
        <div class="menu-section__subtitle">
          <h3 data-lid="menu_subsection_pictures"></h3>
        </div>
        <div class="pictures">
          <!-- %% Dynamically injected %%-->
        </div>
        <div class="menu-section__subtitle">
           <h3 data-lid="menu_subsection_informations"></h3>
        </div>
        <div class="me">
          <div class="me-item" data-param="name">
            <div class="icon-item">
              <i class="icon icon-pricetag"></i>
            </div>
            <div class="edit">
              <i class="icon icon-pen"></i>
            </div>
            <div class="action">
              <div class="action__validate --round-icon">
                <i class="icon icon-check"></i>
              </div>
              <div class="action__cancel --round-icon">
                <i class="icon icon-cancel"></i>
              </div>
            </div>
            <div class="me-item-body">
              <label for="me__name" data-lid="p_name_label"></label>
              <input readonly data-lid="p_name_placeholder" id="me__name" type="text">
              <div class="me-item__explanation" data-lid="p_name_explanation"></div>
            </div>
          </div>
          <div class="me-item" data-param="age">
            <div class="icon-item --round-icon">
              <i class="icon icon-birthday"></i>
            </div>
            <div class="edit">
              <i class="icon icon-pen"></i>
            </div>
            <div class="action">
              <div class="action__validate --round-icon">
                <i class="icon icon-check"></i>
              </div>
              <div class="action__cancel --round-icon">
                <i class="icon icon-cancel"></i>
              </div>
            </div>
            <div class="me-item-body">
              <label for="me__age" data-lid="p_age_label"></label>
              <input readonly data-lid="p_age_placeholder" id="me__age"type="number">
              <div class="me-item__explanation" data-lid="p_age_explanation"></div>
            </div>
          </div>
          <div class="me-item --no-edit">
            <div class="icon-item">
              <i class="icon icon-flag"></i>
            </div>
            <div class="me-item-body">
              <label for="me__country" data-lid="p_country_label"></label>
              <input readonly type="text" id="me__country">
              <div class="me-item__explanation" data-lid="p_country_explanation"></div>
            </div>
          </div>
          <div class="me-item" data-param="job">
            <div class="icon-item --round-icon">
              <i class="icon icon-education"></i>
            </div>
            <div class="edit">
              <i class="icon icon-pen"></i>
            </div>
            <div class="action">
              <div class="action__validate --round-icon">
                <i class="icon icon-check"></i>
              </div>
              <div class="action__cancel --round-icon">
                <i class="icon icon-cancel"></i>
              </div>
            </div>
            <div class="me-item-body">
              <label for="me__job" data-lid="p_job_label"></label>
              <input readonly data-lid="p_job_placeholder" id="me__job" type="text">
              <div class="me-item__explanation" data-lid="p_job_explanation"></div>
            </div>
          </div>
          <div class="me-item" data-param="location">
            <div class="icon-item">
              <i class="icon icon-location-barred"></i>
            </div>
            <div class="edit">
              <i class="icon icon-pen"></i>
            </div>
            <div class="action">
              <div class="action__validate --round-icon">
                <i class="icon icon-check"></i>
              </div>
              <div class="action__cancel --round-icon">
                <i class="icon icon-cancel"></i>
              </div>
            </div>
            <div class="me-item-body">
              <label for="me__location" data-lid="p_location_label"></label>
              <input readonly type="text" id="me__location">
              <div class="me-item__explanation" data-lid="p_location_explanation"></div>
            </div>
          </div>
          <div class="me-item" data-param="ideal_night">
            <div class="icon-item">
              <i class="icon icon-dj"></i>
            </div>
            <div class="edit">
              <i class="icon icon-pen"></i>
            </div>
            <div class="action">
              <div class="action__validate --round-icon">
                <i class="icon icon-check"></i>
              </div>
              <div class="action__cancel --round-icon">
                <i class="icon icon-cancel"></i>
              </div>
            </div>
            <div class="me-item-body">
              <label for="me__ideal-night" data-lid="p_ideal_night_label"></label>
              <textarea readonly data-lid="p_ideal_night_placeholder" id="me__ideal-night">
              </textarea>
              <div class="me-item__explanation" data-lid="p_ideal_night_explanation"></div>
            </div>
          </div>
        </div>
      </section>
      <!-- Profile end -->

      
      <!-- Shared begin -->
      <!-- <section class="menu-section --shared" data-link="shared">
        <div class="shared">
         
        </div>
      </section> -->
      <!-- Shared end -->

       <!-- Cheers begin -->
      <section class="menu-section --cheers" data-link="cheers">
        <div class="segment">
          <div class="segment__part" data-link="received">
            <h3 data-lid="segment_cheers_received"></h3>
          </div>
          <div class="segment__part" data-link="sent">
            <h3 data-lid="segment_cheers_sent"></h3>
          </div>
        </div>
        <div class="cheers">
          <!-- %% Dynamically injected %%-->
        </div>
      </section>
      <!-- Cheers end -->

    
      <!-- Friends begin -->
      <section class="menu-section --friends" data-link="friends">
        <div class="friends">
          <!-- %% Dynamically injected %%-->
        </div>
      </section>
      <!-- Friends end -->


      <!-- Settings begin -->
      <section class="menu-section --settings" data-link="settings">
      <!-- acountsection -->

          <div class="segment">
            <div class="segment__part" data-link="account">
              <h4 data-lid="menu_subsection_account"></h4>
            </div>
            <div class="segment__part" data-link="emails">
              <h4 data-lid="menu_subsection_emails"></h4>
            </div>
            <div class="segment__part" data-link="notifications">
              <h4 data-lid="menu_subsection_notifications"></h4>
            </div>
            <div class="segment__part" data-link="ux">
              <h4 data-lid="menu_subsection_ux"></h4>
            </div>
          </div>

        <div class="menu-section__subtitle">
          <h3 data-lid="menu_subsection_account"></h3>
        </div>
        <div class="settings --account" data-link="account">
          <div class="settings-item --no-border" data-settings-type-id="contact_email">
            <div class="settings-input">
              <div class="settings-input__icon --round-icon">
                <i class="icon icon-arobat"></i>
              </div>
              <div class="settings-input-label">
                <input readonly placeholder="ben@mymail.com" id="settings__contact-email" type="text">
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_code_sponsor_explanation"></div>
            <div class="edit">
              <i class="icon icon-pen"></i>
            </div>
            <div class="action">
              <div class="action__validate --round-icon">
                <i class="icon icon-check"></i>
              </div>
              <div class="action__cancel --round-icon">
                <i class="icon icon-cancel"></i>
              </div>
            </div>
          </div>
          <div class="settings-item --no-border">
            <button class="settings__button --delete" data-lid="settings_account_delete_button"></button>
          </div>
        </div>
        <!-- code section -->
        <!-- <div class="menu-section__subtitle">
          <h3 data-lid="menu_subsection_code"></h3>
        </div>
        <div class="settings --code" data-link="code">
          <div class="settings__title">
            <h3 data-lid="settings_part_title_code"></h3>
          </div>
           <div class="settings-item" data-settings-type-id="invite_code">
            <div class="settings-input">
              <div class="settings-input__icon --round-icon">
                <i class="icon icon-code"></i>
              </div>
              <div class="settings-input-label">
                <input readonly placeholder="BL1347"  id="settings__invite-code" type="text">
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_code_sponsor_explanation"></div>
            <div class="edit">
              <i class="icon icon-pen"></i>
            </div>
            <div class="action">
              <div class="action__validate --round-icon">
                <i class="icon icon-check"></i>
              </div>
              <div class="action__cancel --round-icon">
                <i class="icon icon-cancel"></i>
              </div>
            </div>
          </div>
          <div class="settings-item">
            <button class="settings__button --sponsor" data-lid="settings_code_sponsor_button"></button>
          </div>
        </div> -->
        <!-- emails section -->
        <div class="menu-section__subtitle">
          <h3 data-lid="menu_subsection_emails"></h3>
        </div>
        <div class="settings --emails" data-link="emails">
          <!-- <div class="settings__title">
            <h3 data-lid="settings_part_title_email"></h3>
          </div> -->
          <div class="settings-item" data-settings-type-id="newsletter">
            <div class="settings-input">
              <div class="settings-input__icon --round-icon"><i class="icon icon-mail"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_notifs_newsletter_label"></div>
              </div>
              <div class="toggle">
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_notifs_newsletter_explanation"></div>
          </div>
          <!-- <div class="settings-item" data-settings-type-id="invitations">
            <div class="settings-input">
              <div class="settings-input__icon --round-icon"><i class="icon icon-newsletter"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_notifs_invitations_label"></div>
              </div>
              <div class="toggle">
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_notifs_invitations_explanation"></div>
          </div> -->
         </div>
        <!-- notifications section -->
        <div class="menu-section__subtitle">
          <h3 data-lid="menu_subsection_notifications"></h3>
        </div>
        <div class="settings --notifications" data-link="notifications">
          <div class="settings__title">
            <h3 data-lid="settings_part_title_notifications_email"></h3>
          </div>
          <div class="settings-item" data-settings-type-id="new_message">
            <div class="settings-input">
              <div class="settings-input__icon --round-icon"><i class="icon icon-chat-bubble"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_emails_new_message_label"></div>
              </div>
              <div class="toggle">
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_emails_new_message_explanation"></div>
          </div>
        <div class="settings-item" data-settings-type-id="marked_as_host">
            <div class="settings-input">
              <div class="settings-input__icon --round-icon"><i class="icon icon-star"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_emails_marked_as_host_label"></div>
              </div>
              <div class="toggle">
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_emails_marked_as_host_explanation"></div>
          </div>
          <div class="settings-item" data-settings-type-id="new_match">
            <div class="settings-input">
              <div class="settings-input__icon --round-icon"><i class="icon icon-thunder-right"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_emails_new_match_label"></div>
              </div>
              <div class="toggle">
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_emails_new_match_explanation"></div>
          </div>
          <div class="settings-item" data-settings-type-id="new_cheers">
            <div class="settings-input">
              <div class="settings-input__icon --round-icon"><i class="icon icon-meedrink"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_emails_new_cheers_label"></div>
              </div>
              <div class="toggle">
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_emails_new_cheers_explanation"></div>
          </div>
        </div>
        <!-- ux section -->
        <div class="menu-section__subtitle">
          <h3 data-lid="menu_subsection_ux"></h3>
        </div>
        <div class="settings --ux" data-link="ux">
          <div class="settings-item" data-settings-type-id="message_seen">
            <div class="settings-input">
              <div class="settings-input__icon --round-icon"><i class="icon icon-chat-read"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_ux_message_seen_label"></div>
              </div>
              <div class="toggle">
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_ux_message_seen_explanation"></div>
          </div>
          <div class="settings-item" data-settings-type-id="show_gender">
            <div class="settings-input">
            <div class="settings-input__icon --round-icon"><i class="icon icon-gender"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_ux_gender_label" ></div>
              </div>
              <div class="toggle">
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_ux_gender_explanation"></div>
          </div>
          <div class="settings-item" data-settings-type-id="show_country">
            <div class="settings-input">
              <div class="settings-input__icon --round-icon"><i class="icon icon-planet"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_ux_country_label"></div>
              </div> 
              <div class="toggle">
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_ux_country_explanation"></div>
          </div>
          <div class="settings-item" data-settings-type-id="auto_login">
            <div class="settings-input">
              <div class="settings-input__icon --round-icon"><i class="icon icon-refresh"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_ux_auto_login_label"></div>
              </div>
              <div class="toggle">
                <div class="toggle__background"></div>
                <div class="toggle__button"></div>
              </div>
            </div>
            <div class="settings-input__explanation" data-lid="settings_ux_auto_login_explanation"></div>
          </div>
          <div class="settings-item">
            <div class="settings-input">
              <div class="settings-input__icon --round-icon"><i class="icon icon-flag"></i></div>
              <div class="settings-input-label">
                <div class="settings-input__label" data-lid="settings_ux_changelang_label"></div>
              </div>
               <button class="settings__button --changelang js-changelang" data-lid="settings_ux_changelang_button"></button>
            </div>
            <div class="settings-input__explanation" data-lid="settings_ux_changelang_explanation"></div>
          </div>
        </div>
      </section>
      <!-- Settings end -->

    </section>
     <!-- Menu section end -->


  

     <!-- Map start -->
    <section class="app-section --map" data-link="map">
      <div class="app-subheader --map">
        
      </div>
      <div class="js-map-wrap">
        <!-- Holds the Google map -->
      </div>

        
    </section>
     <!-- Map end -->

  <!-- Chat start -->
  <div class="chat">
    <div class="chat-wrap chat-row-wrap">
      <div class="chat__close">
        <i class="icon icon-cancel"></i>
      </div>
      <div class="chat-header">
        <div class="chat-header__title">
          <span data-lid="chat_header_title"></span>
        </div>
      </div>
      <div class="chat-rows">
        <div class="chat-rows-title --team">
          <span data-lid="chat_rows_team_title"></span>
        </div>
        <div class="chat-rows-body --team">
          <!-- Dynamically injected -->
        </div>
        <div class="chat-rows-title --all">
          <span data-lid="chat_rows_all_title"></span>
        </div>
        <div class="chat-rows-body --all">
          <!-- Dynamically injected -->
        </div>
      </div>
    </div>    
    <div class="chat-wrap chat-inview-wrap">
        <!-- Dynamically injected --> 
    </div>

  </div>
  <!-- Chat end -->

     <!-- Search start -->
    <section class="app-section --search" data-link="search">
      
      <div class="app-subheader --search">
        <div class="search__title">
          <h2 data-lid="search_title"></h2>
        </div>
        <div class="search-filters__icon --round-icon">
          <i class="icon icon-filters"></i>
        </div>
      </div>

      <div class="search-filters">
        <div class="search-filters__close --round-icon">
          <i class="icon icon-cross-fat"></i>
        </div>
        <div class="search-filters-section --gender">
          <div class="search-filters-section__title">
            <h2 data-lid="search_filters_gender_title">Titre de la section 1</h2>
          </div>
          <div class="search-filters-row js-filters-male">
            <div class="search-filters-gender">
              <div class="search-filters-gender__icon --round-icon">
                <i class="icon icon-male"></i>
              </div>
              <div class="search-filters-gender__label">
                <label data-lid="search_filters_gender_label_male">Des hommes</label>
              </div>
            </div>
            <div class="toggle">
              <div class="toggle__background"></div>
              <div class="toggle__button"></div>
            </div>
          </div>
          <div class="search-filters-row js-filters-female">
            <div class="search-filters-gender">
              <div class="search-filters-gender__icon --round-icon">
                <i class="icon icon-female"></i>
              </div>
              <div class="search-filters-gender__label">
                <label data-lid="search_filters_gender_label_female">Des femmes</label>
              </div>
            </div>
            <div class="toggle">
              <div class="toggle__background"></div>
              <div class="toggle__button"></div>
            </div>
          </div>
          <div class="search-filters-section__explanations">
            <h5 data-lid="search_filters_gender_explanations">Explications supplémentaires...</h5>
          </div>
        </div>
        <div class="search-filters-section --age">
          <div class="search-filters-section__title">
            <h2 data-lid="search_filters_age_title">Titre de la section 2</h2>
          </div>
          <div class="search-filters-row">
            <div class="search-filters-agerange">
              <div id="search-filters__input"></div>
            </div>
          </div>
          <div class="search-filters-section__explanations">
            <h5 data-lid="search_filters_age_explanations">Explications supplémentaires...</h5>
          </div>
        </div>
        <div class="search-filters-section --countries">
          <div class="search-filters-section__title">
            <h2 data-lid="search_filters_countries_title">Titre de la section 3</h2>
          </div>
          <div class="search-filters-body js-filters-countries">
          </div>
          <div class="search-filters-section__explanations">
            <h5 data-lid="search_filters_countries_explanations">Explications supplémentaires...</h5>
          </div>
        </div>
      </div>

      <div class="search-users">

        <!-- Dynamically injected -->
      </div>

    </section>
     <!-- Search end -->
  </section>
  
  <script src="//js.pusher.com/3.0/pusher.min.js"></script>
  <script> window.LJ = {} </script>
  <script src="/dist/mee.js"></script>
  
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6QesJukMVpHVS6l8yvSt_pmCDCeYiYMI&libraries=places,geometry&callback=LJ.map.sayHello" type="text/javascript"></script>
  
  <script id="app_ids">  
      //
window.facebook_app_id = "1509405206012202";      // 
window.pusher_app_id = "e0e801db688ab26d8581";
      // 
window.LJ.app_mode = "prod";
  </script> 
  
  <script>
    $('document').ready(function(){
      LJ.init( 300 );
    }); 
  </script>

</body>

</html>
