<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Meefore | CGU </title>
    <link rel="stylesheet" href="/fonts/quenda-medium/quenda-medium.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/src/reset.css">
    <link rel="stylesheet" href="/css/src/legals.css">
</head>

<body>
    <h1>Conditions Générales d'Utilisation de Meefore</h1>
    <h2>Bienvenue sur Meefore !</h2>
    <p class="s1">PREAMBULE</p>
    <p class="s4">
        Avant toute utilisation des services (ci-après les « Services ») proposés par Meefore, vous vous engagez à lire et à accepter les présentes Conditions Générales d'Utilisation (CGU). En devenant Membre (ci-après le « Membre »), vous vous engagez à respecter les présentes CGU. Cet engagement est effectif par le fait de cliquer sur le bouton « Connexion » situé sur la page d'accueil de Meefore à l'adresse « http://www.meefore.com ». A défaut d'un tel engagement, vous ne pouvez pas utiliser les Services proposés par le site internet www.meefore.com (ci-après le « Site »). Ces règles ont été édictées dans le respect de la législation afin de préserver les libertés des Utilisateurs et d'assurer un service internet de qualité.
    </p>
    <p class="s1">DEFINITIONS DES TERMES</p>
    <ul class="def">
        <li><span>Application</span> : l’application MEEFORE, disponible sur le web à l’adresse http:www.meefore.com et bientôt disponible sur l’App Store d’Apple.</li>
        <li><span>Meefore</span> : MEEFORE, Société par action simplifiée au capital de 10 000 euros, enregistrée au RCS de Paris sous le matricule 820 078 012, et propriétaire et seule exploitante de l’Application et de la marque MEEFORE.</li>
        <li><span>CGU</span> : Les présentes Conditions Générales d’Utilisation.</li>
        <li><span>Membre</span> : Personne inscrite sur l’Application.</li>
        <li><span>Membre Femme</span> : Membre de sexe féminin au regard de son état civil.</li>
        <li><span>Membre Homme</span> : Membre de sexe masculin au regard de son état civil.</li>
        <li><span>Organisateur</span> : Membre qui créé ou coorganise un Before.</li>
        <li><span>Participant</span>: Membre qui montre un intérêt à participer à un Before créé par un Organisateur.</li>
        <li><span>Before</span>: Désigne un lieu, une date et une heure où se rencontrent les Membres du site. De manière plus générale, un Before désigne une rencontre entre plusieurs Membres. Sur l’Application, les Before sont symbolisés par des pins sur une carte.</li>
        <li><span>Envoyer un Cheers</span>: Action symbolisée par un bouton ayant pour icône un verre. Un Cheers a pour but de signifier l’intérêt d’un membre  pour un Before ou pour un groupe de participants. L’envoi d’un Cheers est une action non secrète qui déclenche l’envoi d’une notification.
        </li>
        <li><span>Match</span>: Le Match est un événement entre deux groupes de Membres déclenché par un Cheers réalisé par un des Membres de chaque groupe. Il témoigne d’un intérêt mutuel et déclenche une notification («Vous avez un Match») qui permet d’ouvrir une discussion.
        </li>
        <li><span>Messages</span>: les Organisateurs et les Participants peuvent engager l’action « Discuter » et s’envoyer des Messages dans l’Application une fois qu’il y a eu un Match. Les Messages sont visibles dans la messagerie accessible à partir de l’icône Discussions symbolisée par deux bulles de discussion dans le header de la home page.</li>
        <li><span>Services</span> : Ensemble des services, payants ou non, offerts par MEEFORE pour favoriser la rencontre virtuelle ou réelle entre les Membres qui se portent un intérêt mutuel symbolisé par un Match.
        </li>
        <li><span>Compte</span> : Le compte est l’espace personnel dédié au Membre sur l’Application, auquel il accède en s’inscrivant et en se connectant sur l’Application. Il permet au Membre d’accéder aux Services.</li>
        <li><span>Facebook Connect</span> : Fonctionnalité qui permet aux Membres d’utiliser leur compte Facebook pour s’identifier sur l’Application afin de simplifier la procédure d’inscription.</li>
    
    <p class="s2">Article 1 : Champ d'application </p>
    <p class="s4">Les CGU définissent les droits et obligations des parties dans le cadre de l’utilisation de l’Application. Elles sont le support d’une relation contractuelle entre le Membre et la société MEEFORE.</p>
    <p class="s3">1.1 Conflit de normes</p>
    <p class="s4">Les présentes conditions générales d’utilisation (CGU) définissent les principales règles d’utilisation de l’Application. Elles sont complétées par des politiques additionnelles – la Politique de confidentialité, la charte de confiance et les questions fréquemment posées (FAQ) – afin de guider plus précisément le Membre dans la manipulation de l’Application. Dans l’hypothèse d’un conflit entre les différentes politiques ayant pour conséquence un manque d’accessibilité, d’intelligibilité et /ou de prévisibilité des règles, les présentes CGU priment sur la charte de confiance et les FAQ.</p>
    <p class="s3">1.2 Autonomie des stipulations</p>
    <p class="s4">Dans l’hypothèse où l’une des stipulations des présentes CGU serait déclarée nulle ou inapplicable par l’effet d’une loi d’un règlement ou d’une décision juridictionnelle émanant d’un tribunal compétent, les autres stipulations conserveront leur validité et leur force, sauf à imaginer que les présentes CGU soient dénaturées ou que cela entraine un déséquilibre significatif des obligations à la charge des parties.
</p>
    <p class="s2">Article 2 : Modification des CGU</p>
    <p class="s3">2.1 Mise à jour</p>
    <p class="s4">
        MEEFORE se réserve le droit, à tout moment et de manière unilatérale, de compléter ou de modifier les présentes CGU de la façon qu’elle juge nécessaire, ou de mettre fin aux Services.<br>
        Le Membre sera informé de la mise à jour des CGU via l’Application et/ou par l’envoi d’un e-mail à l’adresse communiquée par le Membre. Il appartient au Membre de s’assurer de la validité de cette adresse email.<br>
        Il incombe au Membre de lire attentivement les CGU lors de leur mise à jour et de prendre pleinement connaissance des modifications engendrées par cette dernière.<br>
        Le fait que le Membre continue à utiliser les Services de l’Application après la mise à jour des CGU vaut acceptation sans réserve de sa part aux modifications apportées aux CGU.<br>
        En cas de désaccord avec les modifications des CGU, le Membre a la faculté de mettre fin aux Services et de résilier son Compte conformément à l’article 16.
    </p>
    <p class="s3">2.2 Application immédiate</p>
    <p class="s4">Les nouvelles CGU s’appliqueront immédiatement pour les Membres.</p>
  
    <p class="s2">Article 3 : Juridictions compétentes et loi applicable</p>
    <p class="s3">3.1 Loi applicable</p>
    <p class="s4">Les présentes CGU sont soumises à la loi française.</p>
    <p class="s3">3.2 Juridictions compétentes</p>
    <p class="s4">
        Le Membre s’adressera en priorité à MEEFORE pour tenter de résoudre amiablement son litige avec MEEFORE.<br>
        Toute contestation ou litige relatif à la formation, l’interprétation, l’exécution ou la fin des présentes ou en relation avec les présentes CGU qui n’aurait pu être résolu amiablement sera soumis aux Tribunaux compétents de Paris.</p>
 
    <p class="s2">Article 4 : Inscription</p>
    <p class="s3">4.1 Modalités de téléchargement</p>
    <p class="s4">L’Application est accessible sur le web à l’adresse www.meefore.com et sera bientôt disponible sur la plateforme de téléchargement légal de Apple. Elle sera téléchargeable gratuitement sur l’App Store d’Apple sur des iPhones utilisant la version iOS 7.1 ou supérieures.</p>
    <p class="s3">4.2 Droits du Membre à l'inscription</p>
    <p class="s4">Lorsque les conditions nécessaires au statut de Membre sont remplies, MEEFORE attribue au Membre, à titre personnel, un Compte contenant:</p>
    <ul>
        <li>Une fiche profil</li>
        <li>L’accès aux “discussions”</li>
        <li>Une option “notifications”</li>
    </ul>
    
    <p class="s3">4.3 Obligations du Membre à l’inscription</p>
    <p class="s4">
        Le Membre doit impérativement avoir plus de 18 ans et garantit que toutes les informations qu’il communique lors de son inscription sont véridiques et à jour.<br>
        L’inscription s’effectue via Facebook Connect, qui permet à MEEFORE d’utiliser la photo de profil, le prénom, le nom, sa nationalité pour lui constituer une fiche “profil”. En conséquence, le Membre doit procéder à la vérification de l’authenticité de ses informations sur Facebook préalablement à son inscription aux Services.<br>
        Lors de l’inscription, le Membre consent aux présentes CGU et à la Politique de confidentialité et s’engage à respecter les obligations à sa charge, notamment celles mentionnées dans le Code de conduite du Membre définit à l’article 9 des présentes CGU.</p>
    
    <p class="s2">Article 5 : Services et fonctionnalités</p>
    <p class="s3">5.1 Objet des Services</p>
    <p class="s4">L’Application fournit aux Membres de MEEFORE un cadre convivial qui favorise la prise de contact avec d’autres Membres se trouvant à proximité, dans le but d’établir des rencontres virtuelles ou réelles à des fins personnelles et de loisirs. Chaque Membre est libre de discuter et nouer des relations avec d’autres Membres dans le respect des présentes CGU.</p>
    <p class="s4">En aucun cas les Services proposés par MEEFORE ne peuvent être assimilés à des activités de conseil ou de courtage matrimonial. Ils visent uniquement à faciliter la rencontre dans un contexte particulier, celui de la soirée, par le biais de l’Application selon la localisation et les préférences des Membres, de manière virtuelle ou réelle, entre ceux se portant un intérêt mutuel.</p>
    <p class="s3">5.2 Services aux Membres</p>
    <p class="s4">Certains Services MEEFORE sont disponibles depuis l’Application à titre gratuit (hors coûts de connexion et frais de télécommunication) pour le Membre qui s’engage au respect des présentes CGU, y compris :</p>
    <ul>
        <li>L’envoi illimité de Messages en cas de Match entre plusieurs Membres ;</li>
        <li>L’envoi illimité de Cheers ;</li>
        <li>Visiter de manière illimitée et confidentielle les profils d’autres Membres ;</li>
        <li>Signaler de manière confidentielle tous les Membres dont le comportement est contraire aux présentes CGU ou à la loi applicable par email;</li>
        <li>Configurer ses préférences de recherche dans la section Recherche;</li>
        <li>Recevoir des notifications ;</li>
        <li>Inviter des amis ;</li>
        <li>Consulter les FAQ ;</li>
        <li>Compléter son profil, dans le respect des présentes CGU ;</li>
    </ul>
    
    <p class="s2">Article 6 : Protection des données personnelles</p>
    <p class="s3">6.1 Responsable de traitement - destinataires des données</p>
    <p class="s4">
        Les données collectées sont traitées par :<br>
        La société MEEFORE SAS au capital de 10 000 € immatriculée sous le numéro 820 078 012 au RCS de PARIS, dont le siège social est situé au 37 rue du Four 75006 Paris et représentée par son Président, Monsieur Léo Jacquemin.<br>
        Seuls certains salariés des services client et support et responsables habilités de MEEFORE traitent les données personnelles des Membres pour les finalités décrites à l’article 6.2 ci-après. Ces salariés et responsables habilités n’ont accès qu’aux seules données qui leurs sont nécessaires dans le cadre de leurs fonctions.<br>
        MEEFORE peut également contracter avec des sous-traitants authentifiés et fiables qui sont susceptibles d’accéder, héberger et/ou traiter certaines données personnelles des Membres pour le compte de MEEFORE, selon ses instructions, dans le respect de la Politique de confidentialité et qui garantissent la sécurité et la confidentialité des données personnelles des Membres. Ces sous-traitants permettent notamment à MEEFORE d’établir des statistiques sur les volumes de fréquentation et/ou l’utilisation de l’Application et/ou assurer le bon fonctionnement de l’Application.<br>
        Les données personnelles d’un Membre identifiées comme « accessibles au public MEEFORE » à l’article 6.3 ci-après qui figurent sur son profil sont accessibles par tous les autres Membres utilisant le service MEEFORE dans les conditions des présentes CGU.
    </p>
    <p class="s3">6.2 Finalités des traitements opérés par MEEFORE :</p>
    <p class="s4">
        Les données collectées par MEEFORE sont nécessaires au bon fonctionnement et à l’amélioration des Services de l’Application qui sont proposés aux Membres.
        Les données collectées permettent également à MEEFORE de réaliser des études statistiques et analyses de type marketing en rapport avec l’utilisation de l’Application et des Services par les Membres.<br>
        MEEFORE peut enfin accéder aux données personnelles des Membres, les conserver et les partager avec des tiers habilités en réponse à une demande légale (mandat de perquisition, ordonnance d’un tribunal ou autre) ou pour se conformer à des obligations légales, réglementaires, judiciaires ou administratives ; déceler ou prévenir des activités frauduleuses ou des atteintes à la sécurité des Services, en application et dans le respect de la loi.
    </p>
    <p class="s3">6.3 Collecte loyale des données personnelles – type de données :</p>
    <p class="s4">Données relatives à l’identité : Le formulaire d’inscription est obligatoire pour accéder aux Services et est récupéré par MEEFORE auprès de Facebook pour minimiser le formalisme, via Facebook Connect. L’inscription impose au Membre de communiquer certaines de ses données à caractère personnel :</p>
    <ul>    
        <li>Photos : A minima, la photo de profil Facebook publique. Le Membre aura ensuite la possibilité de retirer cette photo et/ou d’ajouter à son Compte, d’autres photos depuis son compte Facebook, son ordinateur ou son smartphone. 
        Dans un souci de transparence, les photos publiées doivent représenter le Membre et ne doivent pas tromper les autres Membres sur son apparence. Ces photos ne doivent ni représenter une célébrité, ni inclure le portrait d’un mineur, ni incarner un message raciste, choquant, illégal ou sexuel, ni contenir des informations personnelles. 
        Elles sont publiées dans l’Application sous la seule responsabilité du Membre. En devenant Membre, ce dernier accepte la publication de ses photos dans l’Application.
        </li>
        <li>son sexe (accessible au public de MEEFORE)</li>
        <li>sa nationalité (accessible au public de MEEFORE)</li>
        <li>son prénom (accessible au public de MEEFORE)</li>
        <li>son nom (inaccessible pour le public de MEEFORE)</li>
        <li>son adresse e-mail (inaccessible pour le public de MEEFORE). Le Membre s’engage à vérifier que l’adresse e-mail récupérée via Facebook Connect est valide et/ou à la modifier afin de faciliter la communication avec MEEFORE.</li>
        <li>ses amis (inaccessibles pour le public de MEEFORE)</li>
    </ul>
    <p class="s4">
        Les autres données personnelles que le Membre peut renseigner dans son Compte, sont facultatives et communiquées à sa seule discrétion (soit directement, soit via Facebook Connect) et sous sa seule responsabilité.<br>
        Données relatives à la position (géolocalisation) : L’Application a pour principal intérêt et vocation de permettre aux Membres de participer à des Before près de leur position actuelle. Une autorisation est demandée au Membre pour collecter et traiter les données relatives à sa géolocalisation de manière à permettre à MEEFORE d’identifier les Membres ou les Before à proximité. MEEFORE pourra, en cas de consentement exprès, accéder à la position du Membre, approximativement ou plus précisément en fonction de la technologie utilisée. MEEFORE ne reconstitue pas les déplacements et/ou itinéraires de ses Membres. À aucun moment la localisation exacte ou l’itinéraire d’un Membre ne sont visibles pour les autres Membres.<br>
        Le Membre peut revenir gratuitement et à tout moment sur son consentement et désactiver l’option de géolocalisation sur son smartphone ou son ordinateur.<br>
        Données relatives aux communications échangées : Les messages sont envoyés et stockés sur les serveurs de MEEFORE exclusivement pour assurer le Service de transmission des échanges entre les Membres. Les Messages sont strictement privés et n’engagent que les Membres intéressés. Les responsables habilités de Meefore n’exercent aucun droit de regard sur ces conversations, sauf  sur requête judiciaire et/ou conformément aux dispositions législatives ou règlementaires applicables et/ou dans le cadre des éléments de preuve éventuellement fournis à MEEFORE par un Membre à l’occasion d’un signalement.<br>
        Par ailleurs, les Messages strictement privés ne seront accessibles ni aux autres Membres non concernés par l’échange, ni à des tiers quelconques.<br>
        Données relatives aux préférences de recherche : Par défaut, l’Application est paramétrée sans différenciation de sexe et sur une tranche d’âge de 18 à 70+ ans. Le Membre peut modifier ces paramètres et renseigner dans l’Application la tranche d’âge et le genre des personnes recherchées (homme et/ou femme) afin d’être mis en relation exclusivement avec les profils croisés qui répondent à ses critères. Le Membre ne voit alors apparaitre dans la section Recherche que les Membres croisés répondant à ses préférences de recherches.<br> 
        Données relatives au mobile : Lorsque le Membre utilise l’Application, MEEFORE collecte des journaux serveurs qui peuvent inclure des informations telles que les adresses IP, le système d’exploitation ou les pannes d’application. MEEFORE n’est pas en mesure d’accéder à l’historique de navigation de ses Membres.
    </p>
    <p class="s3">6.4 Précisions complémentaires sur les données collectées</p>
    <p class="s4">Les données personnelles que le Membre a publiées dans l’Application sont rendues strictement invisibles par MEEFORE pour les internautes non inscrits et les tiers. La responsabilité de MEEFORE ne saurait être recherchée pour les données publiées sur MEEFORE et divulguées par un Membre.</p>
    <p class="s3">6.5 Mise en garde des Membres sur les données sensibles</p>
    <p class="s4">
        Certaines données sont qualifiées juridiquement de « sensibles » en vertu de l’article 8 de la loi n° 78-17 Informatique et Libertés du 6 janvier 1978.<br>
        Lors de son inscription sur l’Application, le Membre peut faire le choix de communiquer certaines données sensibles le concernant à l’occasion de sa description telles que, par exemple, son origine ethnique, son orientation sexuelle ou ses opinions politiques.<br>
        MEEFORE n’encourage pas le Membre à communiquer des données sensibles aux autres Membres ou à MEEFORE via l’Application. Si malgré tout, le Membre tient à communiquer de telles données sur son profil, cette communication vaut consentement exprès du Membre à la collecte et au traitement de ces données par MEEFORE.
    </p>
    <p class="s3">6.6 Mention des droits du Membre</p>
    <p class="s4">Conformément à la loi n° 78-17 du 6 janvier 1978, dite Loi Informatique et Libertés, chaque Membre dispose d’un droit d’accès, de rectification et d’opposition et de suppression sur ses données personnelles. Soucieux des préoccupations de ses Membres, MEEFORE s’engage à respecter la protection des données personnelles et à traiter ces demandes dans les meilleurs délais. Le Membre peut exercer ses droits, sous réserve de prouver son identité, en envoyant un courrier ou un email à l’adresse mentionnée à l’article 17 des présentes CGU.</p>
    <ul>
        <li>Le droit d’accès autorise le Membre à interroger MEEFORE en vue d’obtenir la communication des données le concernant sous une forme accessible sur le fondement de l’article 39 de la Loi Informatique et Libertés.
        <li>Le droit de rectification confère au Membre le droit d’exiger de MEEFORE que soient rectifiées, complétées, mises à jour ou effacées les données à caractère personnel le concernant qui sont inexactes, incomplètes, équivoques, périmées ou dont l’utilisation, la communication ou la conservation est interdite sur le fondement de l’article 40 de la Loi Informatiques et Libertés ;
        <li>Le droit d’opposition confère au Membre le droit de s’opposer sans frais et de manière discrétionnaire, à ce que ses données soient utilisées par MEEFORE à des fins de prospection, notamment commerciale, sur le fondement de l’article 38 de la Loi Informatique et Libertés.
        <li>Le droit de suppression confère au Membre le droit d’exiger l’effacement sans frais de manière discrétionnaire les données communiquées à MEEFORE, dans la limite toutefois des obligations légales qui incombent à MEEFORE en sa qualité d’hébergeur.
    </ul>
    <p class="s4">Ces droits ne pourront être exercés que dans la limite des moyens de MEEFORE dans le cadre de l’utilisation de Facebook Connect. Une partie des données a été communiquée à MEEFORE via Facebook Connect et ne pourra dès lors être rectifiée sans la coopération de Facebook. Le Membre peut également procéder de lui-même à la rectification de la plupart des données le concernant sur l’Application elle-même.</p>
    <p class="s3">6.7 Absence de cession de vos données personnelles</p>
    <p class="s4">Les données personnelles, visibles ou non pour les autres Membres, ne sont pas cédées par MEEFORE auprès de tiers.</p>
    <p class="s3">6.8 La conservation des données</p>
    <p class="s4">
        MEEFORE conserve les données du Membre pendant toute la durée nécessaire à l’utilisation du Compte du Membre.<br>
        Par ailleurs, il convient de rappeler que MEEFORE conformément à son statut d’hébergeur est tenu d’une obligation légale de conserver certaines données à caractère personnel des Membres pendant une durée d’un an sur le fondement de l’article 6, II de la Loi pour la Confiance dans l’Economie Numérique du 21 juin 2004.<br>
        Au regard du décret du 25 février 2011 relatif à la conservation et à la communication des données, le délai de conservation imposé à MEEFORE court à compter de la création des contenus pour les données mentionnées aux 1° et 2° de l’article 6, II de la Loi pour la Confiance dans l’Economie Numérique, soit :
    </p>
    <ul>
        <li>L’identifiant de la connexion à l’origine de la communication ;</li>
        <li>L’identifiant attribué par le système d’information au contenu ;</li>
        <li>Les types de protocoles utilisés ;</li>
        <li>La nature de l’opération ;</li>
        <li>Les dates et heures de l’opération ;</li>
        <li>L’identifiant utilisé par l’auteur de l’opération lorsque celui-ci l’a fourni.</li>
    </ul>
    <p class="s4">Le délai de conservation imposé à MEEFORE court à compter de la résiliation du Compte ou de la suppression du profil pour les données mentionnées aux 3° du même article, soit :</p>
    <ul>
        <li>Les noms et prénoms ;</li>
        <li>Les pseudonymes utilisés ;</li>
        <li>Les adresses de courrier électronique ou de Compte associées ;</li>
        <li>Le mot de passe ainsi que les données permettant de le vérifier ou de le modifier, dans leur dernière version mise à jour.</li>
    </ul>
    <p class="s4">
        MEEFORE s’engage à fournir les meilleurs efforts et tous les moyens en sa possession pour garantir la sécurité optimale des données conservées. Il appartient tout de même au Membre de prendre les mesures appropriées pour protéger ses données.<br>
        MEEFORE refuse de collecter les données d’enfants mineurs. En cas de mensonge d’un Membre concernant sa date de naissance et plus particulièrement en cas d’attestation frauduleuse sur sa majorité, les parents de l’enfant mineur sont invités à avertir MEEFORE en envoyant un courriel à l’adresse indiquée à l’article 17, afin de demander l’effacement des données. MEEFORE s’engage à supprimer l’ensemble des données personnelles concernant l’enfant mineur dans les plus brefs délais.
    </p>
    <p class="s3">6.9 Transfert de données hors UE</p>
    <p class="s4">
        Lors de son inscription, le Membre consent expressément à ce que ses données puissent être transmises à des prestataires sous-traitants de MEEFORE situés hors Union européenne, aux fins de réalisation d’études statistiques et, le cas échéant, d’hébergement des données traitées par l’Application.<br>
        MEEFORE garantit que ces transferts sont effectués dans des conditions permettant d’assurer la confidentialité et la sécurité des données et un niveau de protection adéquat dans le respect des dispositions de l’article 68 et 69 de la loi Informatique et Liberté.
    </p>
    
    <p class="s2">Article 7 : Déclaration CNIL</p>
    <p class="s4">L’Application collectant des informations sur ses Membres, elle a fait l’objet de formalités déclaratives préalables auprès de la CNIL.</p>
    
    <p class="s2">Article 8 : Obligations et responsabilité de MEEFORE</p>
    <p class="s3">8.1 Moyens techniques et sécurité</p>
    <p class="s4">
        MEEFORE s’oblige à fournir l’infrastructure et les moyens techniques requis pour la fourniture d’un Service de qualité aux Membres équipés d’un terminal iPhone fonctionnant avec le système d’exploitation IOS 7.1 ou supérieur.<br>
        MEEFORE ne saurait être tenu responsable de tout défaut de fonctionnement du terminal du Membre ou de problème de compatibilité entre l’Application et le terminal.<br>
        Toutes les mesures sont prises pour minimiser le risque d’accès frauduleux dans le système de MEEFORE. A cet égard, MEEFORE se sert de pare-feu soit d’équipements situés entre le réseau Internet et le réseau privé d'une entreprise pour accroître la sécurité de ce dernier en filtrant le trafic en provenance ou à destination d'Internet. Néanmoins il est impossible de garantir de manière absolue la sécurité d’un réseau.<br>
        MEEFORE n’est pas responsable des pannes, interruptions ou du mauvais fonctionnement des Services du fournisseur d’accès à internet du Membre, ainsi que toute cause extérieure à MEEFORE qui pourrait interrompre ou endommager l’accès aux Services MEEFORE.<br>
        Le Membre doit s’assurer de disposer d’une adresse de messagerie sécurisée. En dépit ou suite à l’omission de ces précautions, le Compte du Membre est susceptible, dans des cas demeurant rares, d’être victime de fraude.<br>
        MEEFORE souhaite également prévenir le Membre contre tout risque exceptionnel de réception de Messages indésirables ou de Messages émanant prétendument de MEEFORE. Le Membre doit être attentif et vigilant afin, si ces hypothèses se réalisent, d’avertir MEEFORE en envoyant un courrier ou un email à l’adresse communiquée à l’article 17 des présentes.
    </p>
    <p class="s3">8.2 Comportements illégaux</p>
    <p class="s4">MEEFORE et ses partenaires ne pourront être tenus responsables d’actions illégales ou passibles de sanctions pénales, commises par ses Membres, parmi lesquelles et de manière non exhaustive :</p>
    <ul>
        <li>tout type d’escroquerie ;</li>
        <li>la prostitution ;</li>
        <li>l’usurpation d’identité ;</li>
        <li>L’atteinte au droit de la propriété intellectuelle d’un tiers.</li>
    </ul>
    <p class="s3">8.3 Système de signalement et de modération communautaire</p>
    <p class="s4">
        MEEFORE en tant qu’hébergeur n’est tenu à aucune obligation légale de surveillance du contenu transmis ou stocké via l’Application en vertu de l’article 6, I, 7° de la Loi pour la Confiance dans l’Economie Numérique du 21 juin 2004.<br>
        Cependant, l’article 6-I-3° de cette même loi impose à MEEFORE, au titre de son statut d’hébergeur, de prévoir un système de notification afin de signaler les contenus illicites, abusifs et préjudiciables.
        Dans ce cas, après vérification du Service Client MEEFORE s’engage à retirer promptement ledit contenu.<br>
        Au titre de l’article 6-I-5 de la LCEN : la connaissance d’un contenu litigieux est présumée acquise lorsqu’est notifié à l’hébergeur :
    </p>
    <ul>
        <li>la date de la notification ;</li>
        <li>l’identité de l’émetteur de ce contenu ;</li>
        <li>la description des faits litigieux (avec possibilité de joindre des captures d’écran des contenus litigieux) ;</li>
        <li>les motifs pour lesquels le contenu doit être retiré.</li>
    </ul>
    <p class="s4">
    MEEFORE encourage donc ses Membres à envoyer un email à l’adresse contact@meefore.com afin de signaler les contenus visés à l’article 6 I 7° de la LCEN s’ils constituent notamment l'apologie des crimes contre l'humanité, une provocation à la commission d'actes de terrorisme et leur apologie, l'incitation à la haine raciale, à la haine à l'égard de personnes à raison de leur sexe, de leur orientation ou identité sexuelle ou de leur handicap ainsi que notamment la pornographie enfantine, l'incitation à la violence, l'incitation aux violences faites aux femmes, ainsi que les atteintes à la dignité humaine.<br>
    Guidées par une éthique professionnelle particulièrement pointilleuse à cet égard et refusant d’être associé tant à des Membres violents ou insultants qu’à des propos ou contenus illicites, abusifs et préjudiciables, les équipes de MEEFORE prennent cette procédure de signalement particulièrement au sérieux.<br>
    C’est pourquoi, lorsque le contenu publié par un Membre fait l’objet d’un tel signalement, le Membre à l’origine de la publication de ce contenu est susceptible de voir son Compte suspendu / résilié, dans les conditions prévues à l’article 16.4 des présentes, sur la base des éléments de preuve fournis par l’émetteur du signalement et ce, afin d’assurer le retrait du contenu litigieux conformément aux obligations légales de MEEFORE.<br>
    Le Membre dont les contenus publiés font l’objet d’un signalement sera informé de la suspension puis de la résiliation de son Compte via l’Application et/ou par e-mail à l’adresse qu’il a communiquée. Il ne sera en aucun cas informé de l’identité du Membre auteur du signalement.<br>
    En cas de publication de contenu ayant fait l’objet d’une procédure de signalement et susceptible d’être qualifié d’infraction au regard des dispositions législatives et réglementaires en vigueur, le Membre victime de ce contenu est également invité à saisir les autorités de police compétentes.<br>
    En effet, la procédure de signalement mise en place par MEEFORE ne remplace en rien une éventuelle plainte et procédure judiciaire à l’encontre du Membre à l’origine du contenu litigieux signalé.<br>
    Tout abus du système de signalement (signalement infondé et effectué de mauvaise foi) sera également considéré comme une violation des présentes CGU et pourra entrainer la suspension / résiliation du Compte du Membre ayant commis un tel abus, conformément à l’article 16.4 des CGU, outre l’application de sanctions pénales conformément à l’article 6 I 4° de la LCEN et des poursuites judiciaires donnant lieu à l’indemnisation des victimes au titre de dommages et intérêts.
    </p>
    
    <p class="s3">8.4 Règles de prudence</p>
    <p class="s4">Le Membre est seul responsable de la vérification de l’identité des personnes avec qui il pourrait organiser une rencontre « réelle ». MEEFORE ne saurait être responsable en cas de problème de quelque nature que ce soit émanant d’une rencontre « réelle ».</p>
    <p class="s3">8.5 Manifestation collective</p>
    <p class="s4">Toute utilisation des Services MEEFORE dans le but d’organiser une réunion collective de ses Membres constitue un détournement du Service. Il est formellement interdit de planifier ou organiser une manifestation sur la voie publique au moyen de l’Application. Si une telle réunion avait lieu, la responsabilité de MEEFORE ne saurait être recherchée en cas de trouble à l’ordre public ou de quelconque dommage consécutif à de telles réunions.</p>
    
    <p class="s2">Article 9 : Code de conduite du Membre</p>
    <p class="s3">9.1 L’obligation de loyauté et d’honnêteté lors de l’inscription</p>
    <p class="s4">Afin d’acquérir le statut de Membre, il est nécessaire de rassembler toutes les conditions suivantes :</p>
    <ul>
        <li>remplir les conditions de majorité telles que le prévoit la loi française (avoir 18 ans révolus) ;</li>
        <li>avoir rempli les informations sur son profil Facebook de manière sincère et véridique. Le Membre doit avoir communiqué le prénom, le sexe, qui lui sont attribués sur son état civil. A défaut, le Membre s’engage à corriger les erreurs sur son profil Facebook et activer la synchronisation des informations entre son profil Facebook et son Compte. Le Membre s’engage par la même occasion à fournir une adresse email valide ;</li>
        <li>s’engager à tenir régulièrement à jour les informations communiquées en accédant à son Compte depuis l’Application ;</li>
        <li>avoir pris connaissance des présentes CGU et les accepter en validant son inscription.</li>
    </ul>
    <p class="s4">
        MEEFORE n’a ni l’obligation légale ni les moyens techniques de vérifier l’identité et l’âge des Membres. Cependant en cas de doute, de présence d’éléments suspects ou sur dénonciation d’un tiers via la fonctionnalité « signalement » laissant présumer une usurpation d’identité ou d’informations fictives ou erronées, MEEFORE procédera à une enquête dans les plus brefs délais et pourra rectifier, le cas échéant, les informations communiquées sans dénaturer le profil du Membre.<br>
        Pendant toute la durée de l’enquête, MEEFORE se réserve le droit de suspendre le Compte du Membre suspect et son accès à l’Application et d’effectuer les vérifications nécessaires, en particulier en lui demandant la copie d’une pièce d’identité officielle. Le Membre sera informé de la suspension de son Compte via l’Application et/ou par email envoyé à l’adresse qu’il a communiquée, conformément à l’article 16.4.
    </p>
    
    <p class="s4">Dans le cas où le Membre ne serait pas en mesure de communiquer ledit justificatif, ou en cas d’infraction avérée aux présentes CGU, MEEFORE pourra résilier le Compte du Membre mis en cause conformément aux conditions décrites à l’article 16.4 des présentes.</p>
    
    <p class="s3">9.2 L’obligation d’honnêteté et de loyauté pendant l’utilisation</p>
    <p class="s4">Afin de demeurer Membre, il convient de respecter toutes les conditions suivantes :</p>
    <ul>
        <li>être honnête et sincère dans ses déclarations ;</li>
        <li>ne mettre en ligne aucune photo de tiers, ni aucune information confidentielle sur autrui telle que des données financières ;</li>
        <li>ne pas publier sur l’Application des contenus et photos pornographiques ou portant atteinte à la pudeur et à la dignité humaine ;</li>
        <li>respecter le caractère privé des contenus et des Messages et messages vocaux échangés avec d’autres Membres au sein de l’Application et par conséquent de ne pas divulguer le contenu de ces Messages à des tiers ;</li>
        <li>ne pas enfreindre les lois sur la propriété intellectuelle ;</li>
        <li>ne pas troubler l’ordre public ;</li>
        <li>ne pas commettre de délit de diffamation et plus largement à ne pas tenir de propos injurieux en particulier à caractère racial ou discriminatoire ;</li>
        <li>respecter les lois et règlements en vigueur ;</li>
        <li>ne pas proférer d’incitation à la violence ou faire l’apologie du terrorisme, de crimes de guerre ou de crimes contre l’humanité ;</li>
        <li>ne pas enfreindre les règles de bienséance et à demeurer correct vis-à-vis des autres Membres ;</li>
        <li>ne porter atteinte, d’aucune manière que ce soit, au déroulement normal des Services ainsi qu’aux infrastructures de l’Application ;</li>
        <li>ne pas utiliser de robots ou d’outils autres que ceux mis à disposition par MEEFORE au sein de l’Application lors de la prise de contact avec d’autres ;</li>
        <li>ne pas utiliser l’Application pour organiser des services d’escort ;</li>
        <li>ne pas démarcher d’autres Membres dans le but de promouvoir des produits ou services payants ;</li>
        <li>ne pas divulguer à d’autres Membres ses informations de connexion, en particulier le mot de passe et l’identifiant de son Compte ;</li>
        <li>ne pas faire de publicité ou d’incitation de quelque ordre que ce soit à utiliser tout autre service, concurrent ou pas et à ne pas commettre de délit relevant de la concurrence déloyale ;</li>
        <li>ne pas utiliser l’Application dans le but d’organiser des rassemblements ou des manifestations ;</li>
    </ul>
    <p class="s4">Le Membre s’interdit en outre d’effectuer toute copie et/ou diffusion, et/ou transfert de données techniques qu’il intercepterait sur le réseau en lien avec l’Application MEEFORE.</p>
    <p class="s3">9.3 Utilisation personnelle</p>
    <p class="s4">Le Membre s’engage à utiliser MEEFORE uniquement à des fins personnelles. Le réseau MEEFORE ne doit être exploité ni à des fins commerciales, ni promotionnelles ni électorales, ni de recrutement. L’envoi de Messages à but marketing et/ou commercial et/ou de newsletters via la messagerie de MEEFORE qui incluraient, notamment et de manière non exhaustive, des contenus, indications ou liens hypertextes renvoyant à des sites ou supports de sociétés tierces, et notamment concurrentes de MEEFORE, est formellement prohibé.</p>
    <p class="s3">9.4 Responsabilité du Membre</p>
    <p class="s4">
        Le Membre est seul responsable de ses actions et des données qu’il publie via l’Application.<br>
        Si la responsabilité de MEEFORE venait à être recherchée dans le cadre du non-respect par le Membre de ses obligations, le Membre garantit MEEFORE contre toute condamnation prononcée à son encontre, trouvant son origine dans la transgression de la loi ou des présentes CGU par le Membre.<br>
        MEEFORE n’exerce aucune modération des contenus publiés par les Membres et partagés via l’Application : en particulier, aucune photo, texte et contenu vers lesquels redirigent les liens hypertextes publiés par les Membres ne sont vérifiés par les équipes de MEEFORE. Le Membre pourra rapporter les contenus illicites, portant atteinte au droit français ou aux présentes CGU au moyen des outils de modération fournis par l’Application conformément à l’article 8.3 des présentes CGU.
    </p>
    <p class="s3">9.5 Photos</p>
    <p class="s4">Toutes les photos à caractère pornographique, exhibitionniste portant atteinte à la pudeur et de manière générale contraires à la morale sont formellement prohibées. La publication de telles photos constitue une faute grave, pouvant donner lieu à la suspension et/ou à la résiliation du Compte du Membre, sans exclure d’autres sanctions qui pourraient être prononcées par la justice.</p>
    <p class="s3">9.6 Rencontres réelles</p>
    <p class="s4">
    MEEFORE met en garde les Membres qui désirent effectuer des rencontres « réelles ». Il appartient entièrement aux Membres de vérifier l’identité des personnes avec qui ils organisent ces rencontres. Le déroulement de ces rencontres « réelles » est organisé indépendamment de MEEFORE, sous la seule responsabilité des Membres. La responsabilité de MEEFORE ne saurait être recherchée pour les actes et problèmes, quel qu’en soit la nature, commis ou provoqués par les Membres et/ou ancien Membre lors des évènements se déroulant suite à l’utilisation de l’Application. À cet égard, la messagerie MEEFORE présente volontairement l’avantage, à nouveau dans le but de préserver la tranquillité et la sécurité de ses Membres, de permettre aux Membres de décider des personnes qui seront autorisées à discuter avec eux.
    </p>
    <p class="s3">9.7 Tenue du compte</p>
    <p class="s4">
        Le Membre doit consulter régulièrement sa messagerie et ses notifications par lesquelles MEEFORE le tiendra informé, entre autres, des informations relatives à ses Services et des modifications et mises à jour éventuellement apportées. Ces informations pourront également être envoyées par courriel à l’adresse électronique du Membre obtenue via Facebook Connect.<br>
        Le Membre peut accéder aux Services de son Compte en se connectant à l’Application au moyen d’un identifiant et d’un mot de passe confidentiels. Le Membre est seul responsable de ses informations de connexion et doit veiller à ce qu’aucun tiers ne puisse y accéder. En particulier, le Membre garantit MEEFORE de toute communication ou utilisation ou déclaration faite par l’intermédiaire de son Compte.
    </p>
    <p class="s3">9.8 Equipements</p>
    <p class="s4">Les équipements (matériels ou logiciels) nécessaires à l’accès aux Services ainsi que tous les autres frais afférents, y compris les frais de télécommunication sont à la charge exclusive du Membre. Le Membre est seul responsable du matériel utilisé dans le cadre du Service.</p>
     
    <p class="s2">Article 10 : Modalités de paiement</p>
    <p class="s4">MEEFORE ne propose actuellement aucun service payant sur l’Application.</p>
     
    <p class="s2">Article 11 : Portée de l’offre</p>
    <p class="s4">MEEFORE ne propose actuellement aucun service payant sur l’Application.</p>
     
    <p class="s2">Article 12 : Communication avec le Membre</p>
    <p class="s3">12.1 Notifications Push ou Email</p>
    <p class="s4">Le Membre pourra recevoir des notifications Push ou Email via l’Application afin d’être averti d’évènements importants parmi lesquels, et de manière non exhaustive :</p>
    <ul>
        <li>Un Cheers reçu ;</li>
        <li>Un Match suite à l’envoi d’un Cheers ;</li>
        <li>Un Message reçu de la part d’un autre Membre ;</li>
        <li>Un Before annulé lorsque que le Membre est Organisateur ;</li>
        <li>Une identification en tant que Coorganisateur d’un Before créé par un ami ;</li>
        <li>Un Message de MEEFORE relatif au Compte du Membre.</li>
    </ul>
    <p class="s4">Le Membre pourra depuis son Compte régler ses préférences en matière de notifications Push et Email.</p>
    <p class="s3">12.2 Newsletter</p>
    <p class="s4">Lorsqu’il s’inscrit sur l’Application, le Membre consent à recevoir une newsletter de la part de MEEFORE ou ses partenaires. Il peut se rétracter à tout moment en exerçant son droit d’opposition par l’envoi d’un courriel à l’adresse communiquée à l’article 17.</p>
     
    <p class="s2">Article 13 : Parrainage</p>
    <p class="s3">13.1 Inviter des amis</p>
    <p class="s4">MEEFORE permet à ses Membres d’inviter des amis à rejoindre l’Application afin d’élargir le réseau et d’augmenter leurs chances de participer à des Before près de chez eux. Le parrainage par un Membre est limité à un cercle restreint (proches, amis) de la connaissance effective et physique du Membre parrainant.</p>
    <p class="s3">13.2 Avantages</p>
    <p class="s4">MEEFORE rappelle que cette fonctionnalité, facultative, offre de simples avantages utiles exclusivement dans le cadre de l’utilisation de l’Application. MEEFORE ne promet d’aucune manière aux Membres le droit à une contrepartie se traduisant par l’obtention directe de gains financiers.</p>
    
    <p class="s2">Article 14 : Propriété intellectuelle et industrielle</p>
    <p class="s3">14.1 Prérogatives du droit des marques</p>
    <p class="s4">
        La marque MEEFORE est la propriété exclusive de MEEFORE (SAS enregistrée sous le numéro 820 078 012 RCS Paris), MEEFORE est titulaire de l’intégralité des droits y afférant.<br>
        Toute reproduction et/ou usage et/ou apposition partielle ou totale et/ou modification et/ou suppression de la marque et des droits y afférant tels que, pour illustration et de manière non exhaustive, le slogan et le logo proposés par l’Application, par quelque procédé que ce soit, sous quelque forme que ce soit, sur quelque support que ce soit et par quelque media que ce soit, est strictement interdite sans l'autorisation préalable exprès et écrite de MEEFORE et est passible de poursuites judiciaires.<br>
        La marque est protégée par les articles L713-2 et suivants du Code de la propriété intellectuelle actuellement en vigueur en France et ce pour le monde entier.
    <p class="s3">14.2 Prérogatives du droit d’auteur</p>
    <p class="s4">
        Les œuvres originales proposées par MEEFORE sont la propriété exclusive de MEEFORE (SAS enregistrée sous le numéro 820 078 012 RCS Paris). MEEFORE est titulaire de l’intégralité des droits y afférant.<br>
        Toute représentation et/ou reproduction et/ou diffusion et/ou exploitation partielle ou totale des contenus et Services proposés par l’Application tels que les logiciels, les animations, les textes, les vidéos, le graphisme et plus largement la structure générale, par quelque procédé que ce soit, sous quelque forme que ce soit, sur quelque support que ce soit et par quelque media que ce soit, est strictement interdite sans l'autorisation préalable exprès et écrite de MEEFORE et est passible de poursuites judiciaires.<br>
        Ces œuvres originales sont protégées aux articles L335-3 et suivants du Code de la propriété intellectuelle actuellement en vigueur en France et ce pour le monde entier.
    </p>
    <p class="s3">14.3 La licence</p>
    <p class="s4">
        Les droits d'utilisation concédés par MEEFORE au Membre sont réservés à un usage privé et personnel. Toute autre utilisation par le Membre est interdite sans l'autorisation de MEEFORE.<br>
        Le Membre concède à MEEFORE et ses partenaires une licence gratuite, non exclusive, pour le monde entier et perpétuelle d’utilisation, reproduction, représentation, modification, traduction de tout élément siège de propriété intellectuelle (textes, photos, vidéos etc.) qu’il sera amené à fournir à MEEFORE via l’Application dans le but non exclusif de soutenir ses efforts de communication auprès des autres Membres. Cette licence sera exploitée par MEEFORE dans la limite du respect du droit à l’image, de la protection des données personnelles de l’utilisateur et ce sans dénaturer l’authenticité du profil du Membre et en demeurant conforme à son profil. Cette licence autorise MEEFORE à rendre ces éléments compatibles avec ses performances techniques ou les formats des supports concernés. Ces droits sont concédés pour le monde entier pour toute la durée d'exécution des présentes CGU entre le Membre et MEEFORE.<br>
        Le Membre demeure propriétaire du contenu et des données personnelles qu’il fournit.<br>
        Le Membre garantit MEEFORE contre toute action en justice, recours ou condamnation prononcée à son encontre trouvant son origine dans la violation par le Membre de la propriété intellectuelle d’un tiers. Le Membre garantit MEEFORE de toutes réclamations ou dommages qui pourraient en résulter.
    </p>
    <p class="s2">Article 15 : Concurrence déloyale</p>
    <p class="s4">
        Il est formellement prohibé de concevoir un produit similaire à l’Application ou d’en créer une dérive, et plus largement de se rendre coupable de parasitisme, d’actes d’imitation, de dénigrement ou tout autre acte constitutif de concurrence déloyale. Le cas échéant, MEEFORE se réserve le droit d’assigner le Membre en vue d’obtenir réparation intégrale du préjudice que lui causé le Membre.<br>
        Le Membre s’expose à de lourdes sanctions juridiques s’il réussit ou tente d’accorder des licences ou sous-licences, vendre, revendre, transférer, céder, distribuer ou exploiter commercialement d'une autre manière ou mettre à la disposition de tiers les Services ou l'Application d'une quelconque façon.
    </p>
    <p class="s2">Article 16 : Fin du contrat</p>
    <p class="s3">16.1 Suppression du Compte par le Membre</p>
    <p class="s4">
        Le Membre peut décider de supprimer définitivement son Compte en envoyant un email ou un courrier à MEEFORE dont l’adresse postale et l’adresse électronique apparaissent à l’article 17 des présentes, à tout moment et sans préavis ou simplement via le menu Paramètres dans la section Paramètres du compte. Par conséquent le profil du Membre sera définitivement supprimé et certain de ses données conservées pendant un an en vertu des obligations légales qui pèsent sur MEEFORE. Lorsque le Membre désire recommencer à utiliser l’Application, il est dans l’obligation de s’inscrire dans les mêmes conditions qu’une première inscription.<br>
        Lors de la suppression du Compte :
    </p>
    <ul>
        <li>Le profil du Membre sera rendu invisible aux autres Membres ;</li>
        <li>Les données du Membre seront conservées pendant un an à compter de cette date au regard notamment des obligations légales qui pèsent sur MEEFORE selon les modalités développées à l’article 6.6 des présentes ;</li>
        <li>Le Membre ne peut pas réactiver son ancien Compte.</li>
    </ul>
    <p class="s3">16.2 Suspension / Résiliation du Compte par MEEFORE en cas de manquement d’un Membre aux CGU</p>
    <p class="s4">
        En cas de manquement d’un Membre aux CGU, son Compte peut à tout moment être suspendu à titre conservatoire puis résilié de plein droit par MEEFORE.<br>
        MEEFORE pourra suspendre le Compte du Membre pendant la durée nécessaire aux vérifications menées par le service client d’MEEFORE à la suite d’un signalement conformément à l’article 8.3 ou en cas de manquement présumé aux CGU susceptible d’être réparé.<br>
        Le Membre dont le Compte est suspendu sera informé par MEEFORE de cette décision par l’envoi d’une notification sur l’Application et/ou par email. Le Membre est invité à prendre contact avec le service client d’MEEFORE par e-mail afin d’obtenir de plus amples informations sur les motifs de la suspension de son compte, faire valoir ses observations éventuelles et/ou apporter la preuve que le manquement a été réparé.<br>
        Si dans les 30 jours de la notification de suspension du Compte, le Membre n’a pas contacté le service client d’MEEFORE ou si les éléments fournis par le Membre au service client n’ont pas permis de réparer le manquement, MEEFORE pourra notifier au Membre la résiliation de son Compte via l’Application et/ou par email et informer le Membre de la durée pendant laquelle il ne pourra se réinscrire à l’Application. A défaut de précision, cette durée est fixée à 3 ans à compter de la notification de la résiliation du Compte.<br>
        Lors de la résiliation du Compte :</p>
    <ul>
        <li>Le profil du Membre sera rendu invisible aux autres Membres ;</li>
        <li>Les données du Membre seront conservées pendant un an à compter de cette date au regard notamment des obligations légales qui pèsent sur MEEFORE selon les modalités développées à l’article 6.6 des présentes ;</li>
        <li>Le Membre ne pourra pas réouvrir de Compte pendant une durée maximale de 3 ans à compter de la notification de la résiliation du Compte.</li>
    </ul>
    <p class="s3">16.3 Résiliation des Comptes inactifs par MEEFORE</p>
    <p class="s4">A compter du 1er janvier 2018, au plus tard, MEEFORE procèdera à la suppression des Comptes inactifs, tels que définis ci-après.<br>
    Un Compte est considéré comme inactif si, pendant une période continue d’un an :</p>
    <ul>
        <li>L’Application du Membre n’a pas établi de contact avec les serveurs de MEEFORE (notamment du fait de la désactivation de l’option de géolocalisation) ;
        <li>Le Membre n’a pas utilisé l’Application</li>
    </ul>
    <p class="s4">
        Il est précisé que ces critères sont cumulatifs.<br>
        Le Membre sera informé par e-mail, à l’adresse qu’il a renseignée dans l’Application, de la suppression de son Compte moyennant un préavis raisonnable.</li>
    </p>
    
    <p class="s2">Article 17 : Contact</p>
    <p class="s4">
        MEEFORE peut être contacté par courrier au 37 rue du Four, 75006, Paris.<br>
        Le Membre peut aussi contacter MEEFORE par courrier électronique à l’adresse suivante : team@meefore.com</p>
    </p>
    <p class="s2">Article 18 : Clause de confidentialité</p>
    <p class="s4">Ni MEEFORE ni le Membre ne sont autorisés à divulguer des informations sur le contrat les liant en cas de litige et chacune des parties s’engage à respecter une clause de confidentialité qui l’oblige à préférer une négociation confidentielle en cas de différend.</p>
    
    
</body>

</html>
