
	   <section id="eventsWrap" class="none centered">
      <div class="eventsHeader">
        <h2>Tous les meefore</h2>
        <div class="actionsWrap actionsStyle">
          <span id="activateFilters" class="action">Appliquer les filtres</span>
          <span id="displayFilters" class="action"><span>Afficher</span> tous les filtres</span>
          <span id="resetFilters" class="action">Enlever tous les filtres</span>
          <span id="refreshEventsFilters" class="action">Rafraîchir</span>
        </div>
        <div class="filtersWrap none">

          <div class="filters-tags-row tags-wrap"> <span>Tags</span>
             <!-- Dynamically loaded -->
          </div>
          <div class="filters-locs-row locs-wrap">
             <!-- Dynamically loaded -->
          </div>
        </div>
        <div class="">
          <i class="icon icon-create icon-users"></i><button class="theme-btn btn-create-event">Proposer un before</button>
        </div>
      </div>
      <div id="frozenTimezone" class="none">
        <h2>Fais un break</h2>
        <center>
          <h3>Les meefores sont fermés le matin, reprise à 14H. Time to sleep.</h3>
        </center>
      </div>
      <section id="eventsListWrap">
         <!-- Dynamically loaded -->
      </section>
      <div id="no">

      </div>
      <div id="friendListWrap" class="none">
        <div id="myFriends">
           <!-- Dynamically loaded -->
        </div>
      </div>
    </section>




    <section id="createEventWrap" class="none centered">
      <h2>Proposer un before</h2>
      <div id="createEventInputsWrap">
        <div class="input-row-wrap">
          <label for="eventName">Before</label>
          <input id="eventName" placeholder="quelle soirée ?" type="text" class="input-field_create">
        </div>
        <div class="input-row-wrap">
          <label for="eventLocation">Arrondissement</label>
          <input id="eventLocation" class="input-field_create" placeholder="1" max="20" min="1" type="number">
        </div>
        <div class="input-row-wrap">
          <label for="eventHour">Heure de début</label>
          <input id="eventHour" class="input-field_create" type="text" placeholder="20" maxlength="2"><b>h</b>
          <input id="eventMinut" class="input-field_create" type="text" placeholder="00" maxlength="2">
        </div>
        <div class="input-row-wrap hint--right" data-hint="Restez raisonnable...">
          <label for="eventMaxGuest">Nombre d'invités </label>
          <input id="eventMaxGuest" class="input-field_create" value="3" max="100" min="2" type="number">
        </div>
        <div class="input-row-wrap">
          <label for="event-friends-wrap">Ils y seront </label>
          <div class="event-friends-wrap"></div>
        </div>
        <div class="input-row-wrap">
          <label for="tags">Tags</label>
          <div class="tags-wrap"></div>
        </div>
        <div class="input-row-wrap">
          <label for="eventDescription">About</label>
          <textarea id="eventDescription" placeholder="Winter is coming..."></textarea>
        </div>
        <button id="createEventBtn" class="right themeBtn themeBtnMain">Create event</button>
      </div>
    </section>


    <section id="manageEventsWrap" class="none centered">
      <h2>Ils veulent venir à ton meefore</h2>
      <div class="actionsWrap actionsStyle">
        <span id="cancelEvent" class="action">Annuler</span>
        <span id="suspendEvent" class="action">Suspendre</span>
      </div>
      <div id="askersListWrap">
        <div id="askersThumbs"></div>
        <div class="askersMainWrap">
          <i class="icon icon-left-open-big next-left"></i>
          <i class="icon icon-right-open-big next-right"></i>
          <div id="askersMain">
          </div>
        </div>
      </div>
    </section>



        <section id="contactWrap" class="none centered">
      <h2>On veut tout savoir</h2>
      <form>
        <div>
          <label for="contactName">Nom</label>
          <input id="contactName" type="text" placeholder="Jack Bamboo">
        </div>
        <div>
          <label for="contactMail">Email</label>
          <input id="contactMail" type="text" placeholder="jack@bamboomail.com">
        </div>
        <label for="contactBody" class="align-top">Ton message</label>
        <textarea id="contactBody" placeholder="Hi there, ..."></textarea>
      </form>
      <button id="sendContactForm" class="right themeBtn themeBtnMain">Envoyer</button>
    </section>