<!DOCTYPE html>

<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <title>Dev Meefore | Home </title>

  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Londrina+Solid' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Karla:700,400' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,500,600,700,800,900' rel='stylesheet' type='text/css'>


  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/legals.css">


</head>

<body>

<h1>Conditions d'utilisation de Meefore :</h1>

<h2>Bienvenue sur Meefore !</h2>

<p class="s1">PREAMBULE</p>
<p class="s4">
Avant toute utilisation des services (ci-après les « Services ») proposés par Meefore, vous vous engagez à lire et à accepter les présentes Conditions Générales d'Utilisation (CGU).
En devenant Membre (ci-après le « Membre »), vous vous engagez à respecter les présentes CGU.
Cet engagement est effectif par le fait de cliquer sur le bouton « Connexion » situé sur la page d'accueil de Meefore à l'adresse « http://www.meefore.com ». A défaut d'un tel engagement, vous ne pouvez pas utiliser les Services proposés par le site internet www.meefore.com (ci-après le « Site »).
Ces règles ont été édictées dans le respect de la législation afin de préserver les libertés des Utilisateurs et  d'assurer un service internet de qualité.
</p>
<p class="s1">DEFINITIONS</p>
  <ul class="def">
    <li><span>Site</span> : Site internet accessible depuis l'adresse www.meefore.com</li>
    <li><span>Meefore</span> : Prestataire de services en charge de la gestion du Site.</li>
    <li><span>Membre</span> : Utilisateur valablement inscrit sur le Site après avoir certifié être majeur(e) et accepté les présentes conditions générales.</li>
    <li><span>Membre Organisateur</span> : Utilisateur valablement inscrit sur le Site après avoir certifié être majeur(e) et accepté les présentes conditions générales, à  l'origine de la création d'un Meefore.</li>
    <li><span>Services</span> : Désigne les services proposés sur le Site aux Membres ayant pour objet de favoriser les rencontres réelles entre personnes physiques à des fins personnelles, de loisir et non commerciales.</li>
    <li><span>Un Meefore</span> : Désigne une date et une heure où se rencontrent les Membres du site dans le lieu de leur choix. De manière plus générale, un Meefore désigne une rencontre entre plusieurs Groupes.</li>
    <li><span>Groupe</span> : Désigne un Groupe  d'au moins 2 Membres.</li>
    <li><span>Compte Membre</: Informations relatives à un Membre constitué des éléments (profil, photos, goûts, informations personnelles…) qui le caractérisent.</li>
    <li><span>CGU</span> : Conditions Générales d'Utilisation désignant le présent contrat et s'appliquant, sans restriction ni réserve, à l'ensemble des Services proposés par Meefore.</li>
  </ul>
<p class="s2">Article 1 : Objet du service </p>
<p class="s4">
Le Service Meefore est une plateforme en ligne qui favorise la mise en relation de plusieurs Groupes d'au moins 2 Membres.
</p>
<p class="s2">Article 2 : Conditions d'accès</p>

<p class="s3">2.1 Connexion aux services en ligne</p>
<p class="s4">
Les équipements (ordinateur, logiciels, moyens de télécommunications, etc.) et frais de télécommunication permettant d'accéder aux Services sont à la charge exclusive du Membre, de même que les frais de communications induits par leur utilisation.
</p>
<p class="s3">2.2 Compte Membre</p>
<p class="s4">
Lorsque les conditions nécessaires à l'inscription sont remplies par le Membre, celui-ci se voit  attribuer à titre personnel une fiche de profil : l'ensemble de ces informations constitue un Compte Membre.
Le Membre peut accéder aux Services et à son Compte en se connectant via Facebook.
</p>
<p class="s3">2.3 Condition pour être Membre</p>
<p class="s4">
Pour être Membre du Site, il convient:
d'être âgé d'au moins 18 ans ;  
d'avoir lu et accepté les CGU ;
  
L'Utilisateur garantit la sincérité et la véracité des informations communiquées et s'engage à les tenir régulièrement à jour en y accédant par son Profil Membre.
Meefore n'a pas pour obligation de vérifier la réalité de la prétendue identité de ses Membres et ne dispose pas des moyens techniques et/ou légaux le lui permettant.
En cas de doute sur la réalité des informations divulguées par le Membre, Meefore se réserve le droit de :
suspendre l'accès au Profil Membre afin d'effectuer les vérifications nécessaires.  
demander une photocopie d'une pièce d'identité officielle valide au Membre mis en cause.  
En cas de non-communication dudit justificatif dans les 8 jours, ou en cas d'usurpation d'identité avérée, le Membre sera considéré comme contrevenant aux CGU et son Compte pourra être résilié dans les conditions prévues à l'article 8.
Meefore peut annuler un compte, avec ou sans préavis, à tout moment et à son entière discrétion.
La validation des inscriptions est à l’entière discrétion de Meefore.
</p>
<p class="s2">Article 3 : Organisation et Participation aux meefore</p>
<p class="s4">
Meefore favorise la rencontre de plusieurs groupes d'au moins 2 membres lors de meefore.
Un meefore est organisé par au moins 2 Membres Organisateurs. Pour participer aux meefore, les autres Membres doivent envoyer une demande de participation par Groupe d'au moins 2 Membres. Les Membres Organisateurs décident ensuite de rentrer en relation ou non avec les Groupes qui ont demandé de participer. Les meefore sont organisés de manière indépendante par les Membres Organisateurs.
</p>

<p class="s2">Article 4 : Obligations et Responsabilités</p>

<p class="s3">4.1 Obligations et Responsabilités de Meefore</p>
<p class="s4">
Meefore s'engage à fournir aux Membres un service en ligne conforme aux règles de l'art et à la   législation.
Meefore ne peut être tenu pour responsable de l'utilisation qui serait faite des Services par les   Membres en violation des présentes Conditions Générales   d'Utilisation et des dommages directs ou indirects que cette utilisation pourrait causer à un Membre ou à un tiers. Meefore ne peut être tenu responsables des fausses déclarations faites par un   Membre et de son comportement. Meefore se dégage de toute responsabilité lors des rencontres entre Membres suite à l'utilisation des Services et qui seraient causés soit par un autre Membre soit par tout autre tiers présent dans le lieu de la rencontre.
</p>
<p class="s3">4.2 Obligations et Responsabilités des Membres</p>
<p class="s4">
Dans le cadre de l'utilisation des Services, le Membre s'engage à ne pas porter atteinte à l'ordre public et à se conformer aux lois et règlements en vigueur, à respecter les droits des tiers et les dispositions des précédentes Conditions Générales d'Utilisation.
Le Membre a pour obligation de :
Se comporter de façon loyale à l'égard des tiers, de Meefore et des autres Membres.
Transmettre des informations exactes à Meefore. 
Ne pas communiquer ses identifiants Meefore.
Respecter les droits des tiers, de Meefore et des autres membres.
Utiliser les Services conformément à la finalité décrite dans les présentes Conditions Générales d'Utilisation.
Ne pas utiliser Meefore ou détourner la finalité des Services pour commettre des crimes,  délits ou contraventions réprimées par le Code pénal.
Ne pas chercher à porter atteinte au sens des articles 323-1 du Code pénal aux systèmes de  traitement automatisés de données utilisés par Meefore.
Ne pas utiliser Meefore ou détourner la finalité des  Services à des fins commerciales, professionnelles ou   publicitaires.

Meefore se réserve le droit de supprimer définitivement les comptes des Membres ne respectant pas ces obligations.
</p>
<p class="s2">Article 5 : Vie Privée et Protection des données Personnelles</p>
<p class="s5">
Pour Meefore, protéger la vie privée de ses Membres et de ses visiteurs est une priorité absolue.
</p>
<p class="s3">5.1 Déclaration CNIL</p>
<p class="s4">
Meefore étant une plateforme web mise en œuvre par des particuliers à titre privé, la collecte de données à caractère personnel de personnes qui s'y connectent et, d'autre part, la diffusion de données à caractère personnel ( nom, image de personnes ou tout autre élément permettant d'identifier une personne physique) ne sont pas soumis à une déclaration CNIL au préalable.
Le Membre peut accéder, modifier, supprimer des données le concernant   soit directement en modifiant son profil, soit en envoyant un mail à Meefore à l'adresse contact@meefore.com.
Les informations ainsi collectées sont destinées à être utilisées exclusivement par Meefore. Toute diffusion à des tiers des données personnelles recueillies sur les Membres sera expressément demandée préalablement.
</p>
<p class="s3">5.2 Données personnelles collectées par Meefore</p>
<p class="s4">
Le Membre est amené à renseigner des informations personnelles lors de son inscription. Ces données sont nécessaires afin de bénéficier de l'ensemble des Services Meefore.
Meefore s'engage à respecter la vie privée des Membres et à assurer la protection de leurs données.
Les données sont uniquement accessibles par des administrateurs strictement habilités à cet effet.
Plus généralement, les informations nominatives confiées à Meefore ne seront jamais transmises à un tiers sans l'accord du Membre. Elles resteront protégées et ne seront utilisées que dans le cadre du fonctionnement des Services Meefore.
</p>
<p class="s3">5.3 Cookies</p>
<p class="s4">
Les cookies sont utilisés pour faciliter la navigation sur le Site. Ils stockent les informations   personnelles que l'Utilisateur a saisies durant sa visite, à savoir :
Meefore utilise des "cookies" pour stocker certaines informations. Un cookie est un morceau de données stockées sur votre ordinateur lié à l'utilisation de votre compte.
Le Membre peut s'opposer à l'enregistrement de cookies en configurant son navigateur afin de ne pas enregistrer les cookies.
</p>
<p class="s2">Article 6 : Propriété Intellectuelle</p>
<p class="s4">
La marque Meefore et les logos sont la propriété intellectuelle exclusive de Meefore et ne peuvent être reproduits, utilisés ou représentés sous quelque forme que ce soit, sur quelque support que ce soit et par quelque media que ce soit, sans l'autorisation expresse de Meefore, sous peine de poursuites judiciaires.
Les graphismes, les photographies, les animations, les vidéos et les textes contenus sur le Site et plus globalement les éléments permettant d'assurer ou de faciliter la navigabilité au sein du Site - architecture, design, pages de code, pages CSS, et autres éléments - sont la propriété intellectuelle exclusive de Meefore et ne peuvent être reproduits, utilisés ou représentés sous quelque forme que ce soit, sur quelque support que ce soit et par quelque media que ce soit, sans l'autorisation expresse de Meefore, sous peine de poursuites judiciaires.
Les Membres et les visiteurs s'interdisent notamment de modifier, copier, reproduire, télécharger, diffuser, transmettre, exploiter commercialement et/ou distribuer de quelque façon que ce soit les Services, les pages du Site, ou les codes informatiques des éléments composant les Services et le Site.
De façon plus générale, tous les contenus du site www.meefore.com sont la propriété exclusive de Meefore.
</p>
<p class="s2">Article 7 : Modification des Conditions Générales d'Utilisation</p>
<p class="s4">
Meefore se réserve le droit de modifier les présentes Conditions Générales à tout moment ; toute modification entrera alors en vigueur dès sa publication par Meefore.
Une utilisation continue de votre part du Site Meefore après que Meefore ait publié une nouvelle version des Conditions Générales constitue votre consentement à cette nouvelle version. Par conséquent, il est important que vous lisiez régulièrement les présentes Conditions Générales d'Utilisation afin de vous assurer que vous avez connaissance de tout changement qui pourrait y être apporté.
</p>
<p class="s2">Article 8 : Droit Applicable et Juridiction Compétente</p>
<p class="s4">
Tout litige né de l'exécution des présentes CGU sera soumis au droit français, la langue d'interprétation des présentes CGU étant la langue française.
Tout litige né de l'exécution des présentes CGU ou en relation avec les présentes CGU sera soumis aux juridictions compétentes sur le territoire français.
Si une ou plusieurs stipulations des présentes CGU étai(en)t déclarée(s) nulle(s) en application d'une loi, d'un règlement ou à la suite d'une décision définitive d'une juridiction compétente, les autre stipulations garderont toute leur force et leur portée sous réserve que les présentes CGU ne soient pas dénaturées, et que cela n'entraîne pas un déséquilibre significatif des obligations à la charges des parties.
Le fait pour une partie de ne pas se prévaloir d'un manquement de l'autre partie à l'une des quelconques dispositions des présentes CGU ne saurait s'interpréter comme une renonciation de sa part à se prévaloir dans l'avenir d'un tel manquement.
</p>
<p class="s2">Article 9 : Accord</p>
<p class="s4">
Les présentes Conditions Générales constituent un contrat régissant les relations entre le Membre et Meefore. Elles constituent l'intégralité des droits et obligations de ces derniers relatifs à leur objet.
</p>

</body>

</html>