#allChatsWrap{
	width:700px;  
	height:400px;  
} 
.surfacing{
	z-index: 1!important;
}

.surfacing .btn-chat{
	background: rgb(60,60,60);
	color: white;
}
.chatWrap, #friendListWrap{
	width: 258px;
	height: 330px;
	background: rgba(255,255,255,.95);
	border: 1px solid #D5D5D5;
	position: absolute;
	box-sizing: border-box;
	font: normal .85em 'Lato';
}

.chatLineWrap{
	outline:none;
}
.chatLineWrap{
	height: 89%;
	overflow-x: hidden;
	box-sizing: border-box;
}
.chatInputWrap{
	height: 11%;
	/* border-radius: 0 0 3px 3px; */
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	/* background: #E6E6E6; */
	border: none;
	border-radius: 0;
	font: normal 1.1em 'Lato'!important;
	position: relative;
}
.chatLine{
	padding: 0 30px;
	margin: 5px 0;
	text-align: center;
}
.cha{
	line-height: 1.3em;
	font-size: 12px;
	max-width: 260px;
	color: white;
	padding: 10px;
	border-radius: 4px;
	display: inline-block;
}
.chatLineWrap .chatLine:first-child{
	margin-top:30px;
}
.chatLineWrap .chatLine:last-child{
	margin-bottom:30px;
}
.cha-user{
	background: #636363;
	color: white;
	font-size: 12px;
}
.cha-other{
	color: rgb(44, 44, 44);
	background: white;
	border: 1px solid #6E6E6E;
}
.chatInputWrap input[type="text"]{
	width: 100%;
	height: 100%;
	padding: 0 20px 1px 13px;
	font-size: 12px;
	letter-spacing: .2px;
	color: rgb(89, 89, 89);
	border: none;
	border-top: 1px solid #B4B4B4;
	background: none;
	box-sizing: border-box;
}
.chatInputWrap input[type="submit"]{
	width: 20px!important;
	height: 37px;
	border: none;
	background: #FFFFFF;
	border: 1px solid rgb(207, 207, 207);
	border-radius: 0 0 2px 0;
	font-size: .8em;
	position: relative;
	top: -36px;
	right: -1px;
	float: right;
}
.chat-host{
	left: 75px;
	top: -60px;
}
.chatWrap.chat-host{
}
.chat-asker{
	top: -125px;
}
.tri{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 18px 20px 0;
	border-color: transparent #E7E7E7 transparent transparent;
	position: absolute;
	top: 105px;
	left: -18px;
	display: none;
}
.chat-active{
	z-index: 1000;
}

.close-chat{
	position: absolute;
	box-sizing: border-box;
	width: 26px;
	height: 18px;
	padding: 1px 0 0 2px;
	right: -10px;
top: -8px;
border-radius: 20px;
border: 1px solid rgb(190, 190, 190);
color: #808080;
background: white;
}
.close-chat:hover{
	cursor:pointer
}
.btn-chat{
	width: 37px!important;
	border-radius:100px!important;
	font-size:11px!important; 
	background: #E6E6E6;
	color: rgb(107,107,107);
}


/* ----------  FRIENDS  ----------*/

#friendListWrap{
	text-align:center; 
	padding-top:10px;
	top: -130px;
	overflow: visible;
	z-index: 10;
}
#friendListWrap button::after{
	display:none;
}
.f-item::after{
	bottom:20%;
	left:25%;
}
.f-item[data-status="askedHim"]{
	background: #F4F4F4;
	/* opacity: .5; */
}
.f-item{
	margin: 7px 0;
	width: 102.2%;
	padding-left: 9px;
	box-sizing: border-box;
	background: white;
	border: 1px solid #ccc;
	border-left: none;
	border-right: none;
	text-align:left;
	font-size: 15px;
}
button.onHold,
button.onHold{
	color: #595959;
	background: none;
}
button.onHold:hover,
button.onHold:hover{
	box-shadow:none;
	cursor:default;
}
button.isHosting{
	background: white;
	color: rgb(55, 55, 55);
	padding-top: 7px;
	padding-left: 7px
}
.f-item i.icon{
	position:relative;
}
.f-item i.icon-user-add{
	top:-3px; 
}
.f-item i.icon-ellipsis{
	top:-2px;
	left:-1px;
}
.f-item i.icon-ok-1{
	font-size:0.8em;
	top:-4px;
}
.f-name{
	display: inline-block;
	position:relative;
	font-size:15px;
	font-weight:bolder;
	vertical-align: top;
}
.f-img{
	display:inline-block;
	margin-top:2px;
}
.closeChat{
  position: absolute;
  top: -1px;
  right: -1px;
  color: #808080;
  background: white;
  padding: 4px;
  border: 1px solid #ccc;
}

.liveTypeWrap{
  position: absolute;
  top: -22px;
  opacity: 0;
}

.liveTypeWrap > span{
  font-size: 10px;
  color: #ccc;
  margin-left: 17px;
}

.liveTypeWrap > img{
  position: relative;
  top: 1px;
  left: 4px;
}