#createEvent {
	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

#createEvent label {
   text-align: right;
   padding-right: 10px;
   vertical-align: top;
}

#createEvent input, #requestIn input {
   color: #555;
   vertical-align: top;
   font-family: 'Karla';
   -webkit-user-select: none;/* Chrome all / Safari all */
   -moz-user-select: none;/* Firefox all */
   -ms-user-select: none;/* IE 10+ */
   user-select: none;
}

.row-create-date, .row-create-before-place {
   margin-right: 8px;
}

.mixity.selected[data-selectid="girls"] {
	/* background: #FFEDFC; */
	/* color: #962596; */
   ;
}

.mixity.selected[data-selectid="boys"] {
	/* background: #F0F8FF; */
	/* color: #2E2E81; */
	/* border: 1px solid #BFD2E2; */
   ;
}

.mixity.selected[data-selectid="mixed"] {
	/* background:#FFDDE3; */
   ;
}

.item,
.friend,
.ambiance, 
.before-place,
.party-place,
.date {
	position:relative;
	top: -7px;
}
.ambiance-name {
   margin-left: 0!important;
}

.ambiance-hashtag {
	/* font-weight:bolder; */
	display: inline-block;
	vertical-align: top;
	position: relative;
	color: #E94F6A;
	margin: 6px 1px 0 10px;
	top: 1px;
} 

.item, .friend, .ambiance, .date, .before-place, .party-place, .event-ambiance, .hour {
   display: inline-block;
   background: #FBFBFB;
   padding: 0px 6px 0 0px;
   vertical-align: top;
   /* border: 1px solid; */
   color: #555;
   margin-right: 7px;
   cursor: pointer;
   position: relative;
   border-bottom: 1px solid #eee;
}

.friend-img {
   position: absolute;
   top: 3px;
   left: 4px;
   z-index: 1;
}

.friend-loader {
   position: absolute;
   top: 9px;
   left: 12px;
   width: 13px;
}

.friend.me {
	color: #555!important;
}
.item-name, .friend-name, .ambiance-name, .date-name, .before-place-name, .party-place-name, .hour-name {
   display: inline-block;
   line-height: 30px;
   vertical-align: top;
   font-family: 'Karla';
   font-size: 13px;
   margin-left: 35px;
   padding-right: 10px;
   font-weight: bolder;
   position: relative;
   top: 1px;
} 

.rem-click:hover .ambiance-name, .rem-click:hover .item-name, .rem-click:hover .date-name, .rem-click:hover .hour-name, .rem-click:hover .friend-name, .rem-click:hover .before-place-name, .rem-click:hover .party-place-name {
   text-decoration: line-through;
   opacity: .7;
}

.icon-date, .icon-before-place, .icon-party-place, .icon-group-name, .icon-group-message {
   position: absolute;
   top: 7px;
   left: 7px;
   color: #E94F6A;
}

.pac-container {
   z-index: 99999999;
   display: block;
   box-shadow: none;
   border: 1px solid #ccc;
   background: rgb(255, 255, 255);
   border-bottom: 1px solid #E4E4E4;
   box-shadow: 0 0 1px #e4e4e4;
   padding: 15px;
   border-radius: 2px 2px 0 0;
   margin-top: 5px;
}

.item-name {
}

.pac-item {
   font-family: 'Karla';
   cursor: pointer;
   padding: 4px 10px;
}

.pac-container:after {
   background-image: none!important;
   content: "Places by Google"!important;
   color: #ccc;
   font-size: 10px;
}

.pac-item:first-of-type {
   border-top: none;
}

.agerange, .mixity {
   font-weight: bolder;
}

.icon-agerange, .icon-mixity {
   color: #ccc;
   margin-right: 6px;
}

.agerange.selected .icon-agerange,
.mixity.selected .icon-mixity {
	color: #E94F6A;
}

.locality {
   color: #ccc;
   margin-left: 3px;
}

.hp-main {

width: 250px;height: 85px;background: white;box-shadow: 0 0 1px #BEBEBE;text-align: center;padding: 4px;background: #F9F9F9;font-family: 'Roboto';font-weight: 300;border: 1px solid #DADADA;display: none;}

.hp-main:hover .hp-spliter {
}

.hp-hourwrap, .hp-minwrap, .hp-spliter{

display: inline-block;vertical-align: middle;background: white;}
.hp-hour, .hp-min, .hp-spliter { 

font-size: 32px;color: #5B5B5B;font-family: 'Roboto';font-weight: 300;padding: 0 6px;text-shadow: 0 0 50px #E3E3E3;}
.hp-min {

}
.hp-spliter {

display: inline-block;color: #65605B;font-weight: 100;transition: all ease-out .5s;border-radius: 5px;}
.hp-layer {

background: #FEFEFE;height: 100%;padding-top: 22px;background: radial-gradient(#fff,#FCFEFE);}

.hp-hourwrap,
.hp-minwrap {
   position: relative;
}

.hp-hour.active,
.hp-min.active{
	display: inline-block;
	color: #727272;
}

.hp-upndown {
   position: absolute;
   color: #E7E7E7;
   height: 37px;
   top: 23px;
}

.hp-upndown-left {

left: 29px;}
.hp-upndown-right {

right: 51px;}

.hp-icon {
transition: all ease-out .15s;
display: block;font-size: 18px;}

.hp-icon:hover {
	color: #e94f6a;
}
.hp-icon-up {

position: absolute;top: 0;}
.hp-icon-down {
	position: absolute;
	bottom: 0;
}