#eventsWrap {
width: 1150px;}

.create-event-wrap {
   text-align: center;
}

.row-events {
   margin-bottom: 0px;
   text-align: center;
}

.row-title-sub {
   text-align: center;
   color: #ABABAB;
   margin-top: 8px;
   text-transform: none;
   margin-bottom: 20px;
}

.row-create {
}

i.icon-create {
   position: relative;
   font-size: 20px;
}

.btn-create-event {
   width: 210px;
   text-transform: uppercase;
   font-weight: bolder;
   padding: 14px 3px;
   color: white;
   font-size: 10px;
   background: linear-gradient(red, #CE6C56);
   background: #C83D3D;
   background: linear-gradient(35deg,#A51313,#A94332);
   border: 1px solid #B54343;
   border: none;
   border-radius: 0px;
   cursor: pointer;
   top: 57px;
   z-index: 200;
}

.row-main {
   height:400px;
}
.row-events-nearest {
    width:40%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    background: white;
}
.row-events-map {
    width:59%
;
    height: 100%;
    display: inline-block;
}

