
.welcome {display: flex!important;flex-direction: column;}
 
.welcome-wrap {
text-align: center;
color: white;width: 100%;}

.welcome-header {
	font-family: 'Pacifico';
	font-size: 40px;
}

.welcome-subheader {
	font-size: 18px;
	margin-top: 20px;
	font-family: 'Karla';
	line-height: 28px;
	font-family: 'Coming Soon';
}

.btn-welcome, .btn-fillprofile, .welcome .invite-friends {
	background: #e94f6a;
	width: 300px;
	padding: 20px;
	font-size: 15px;
	display: block;
	margin: 0 auto;
	margin-top: 30px;
}

.btn-welcome:hover, .btn-fillprofile:hover {
	background: #F4647E;
}

.welcome-skip, .ending-skip {
	
font-size: 13px;
	
font-family: 'Karla';
	
margin-top: 3px;
	
cursor: pointer;
	
display: inline-block;
	
padding: 15px 54px;
	
transition: all ease-in-out .15s;
	
margin: 0 auto;
}

.ending-skip {
	display: none;
}
.welcome-skip:hover,
.ending-skip:hover {
	background: rgba(252, 252, 252, 0.11);
}

.lintro-next {position: absolute;top: -5px;right: -45px;cursor: pointer;border-radius: 300px;padding: 3px 5px;/* border: 1px solid #555; */}
.lintro-next i {
	
font-size: 22px;
	
color: #e94f6a;
	
position: relative;
	
top: 1px;
	
left: 1px;
}

.lintro-next-light {
	border: 1px solid #4B4B4B;
}

.lintro-next-light:hover {
	background: rgba(0, 0, 0, 0.35)!important;
}

.lintro-prev {
	
}

.lintro-next:hover,
.lintro-prev:hover{
	background: rgba(255, 255, 255, 0.05);
}
.lintro-text {
	font: 18px 'Coming Soon';
	color: white;
}

.lintro-subtext, .lintro-exit {
	font-size: 13px;
	color: #808080;
	font-family: 'karla';
	margin-top: 12px;
}
.lintro-exit {
	width: 200px;
	margin: 3px auto 0;
}
.lintro-exit:hover {
	cursor: pointer;
	color: #ccc;
}

.welcome .invite-friends {
    background: #3f6698;
    margin-top: 5px;
    padding: 15px;
    font-size: 11px;
    position: static;
}
.welcome .invite-friends:hover {
    background: #617BB4;
}