
#landingWrap{ 
    text-align: center;
    font-family: 'Lato';
}

#landingIntro{
    padding-top: 30px;
}
#landingGo{

}
#landingGo > center{
    font-size: .9em;
    margin-top: 40px;
}
#landingGo button{
    margin-top: 20px;
    padding-top: 10px;
    position: relative;
    height: 44px;
    width: 250px;
    padding-right: 18px;
    background: rgb(60, 60, 60);
    color: rgb(255, 255, 255);
    border: 1px solid #343434;
    font-weight: bolder;
    font-size: .7em;
}

#landingWrap h2{
	/* font-family:'Lato'; */
	font-size: 2.7em;
	letter-spacing: -2px;
	margin-top: 20px;
}

.l-item{
    width: 30%;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}
.l-desc{
    height: 80px;

    width: 74%;
    margin: auto;
    /* border: 1px solid #eee; */
    padding: 10px;
    line-height: 1.2em;
    font-size: .9em;
    color: #6C6C6C;
}
.l-step{
	height: 25px;
	font-weight: bold;
	background: #eee;
	padding-top: 12px;
	width: 50%;
	margin: auto;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: .8em;
}
.l-image{
    padding: 13px;

    height: 75px;
}