#manageEventsWrap{
	width: 700px;
} 
  
#cancelEvent{   
}
#askersMain{
    position:relative;
}
#askersListWrap{
}
.askersMainWrap{
    position: relative;
}
#askersListWrap i.next-left,
.askersMainWrap i.next-right{
    font-size: 2.4em; 
    color: #ccc;
    position: absolute;
    top: 73px;
    z-index: 2000;
}
#askersListWrap i.next-left:hover,
#askersListWrap i.next-right:hover{
    color:black;
}

#askersListWrap > i.icon-left-open-big{
    
}

.askersMainWrap > i.next-right{
    right: -30px;
    
}

.a-item{
    text-align: center;
    width: 700px;
    height: 270px;
    margin: 0 auto;
    display: none;
    padding: 22px;
    padding-top: 32px;
    /* overflow: auto; */
}
.a-item.active{
    display:block;
}
.a-picture{
    /* background: #EAEAEA; */

    width: 124px;
    box-shadow: 0 0 5px rgb(213, 213, 213);
    padding: 5px;
    display: inline-block;
    margin-right: 25px;
}

.a-head{
}

.a-name{
}

.a-age{
}

.a-body{
    display: inline-block;
    vertical-align: top;
    width: 300px;
    color: #A8A8A8;
    text-align: left;
}
.a-birth{
    color: #9E9E9E;
    font-size:.7em;
    display:inline-block;
    position:absolute;
    top: 176px;
    left: 142px;
}
.a-body > div{
    margin: 12px 0;
    height: 21px;
    width: 400px;
    font-size: .8em;  
}
.a-body .label{
    font: bolder 1em 'Lato';
    color: rgb(74, 74, 74);
    width:80px;
    margin-right:15px;
    text-align:right;
    display:inline-block;
    position: relative;
    top: -1px;
}

.a-desc{
    height: auto!important;

}
.a-desc div{
    display:inline-block;
    width: 237px;
    font-size: .9em;
    line-height: 1.35em;
}
.a-desc span{
    vertical-align:top;
}
.a-btn{
    margin-top: 10px!important;
    margin-left: -12px;
    position: relative;
}

.a-btn .themeBtn, .a-btn .themeBtnToggle{
    margin: 0 2px;
    width: 42px;
    height: 32px;
    border-radius:3px;
}
.a-btn i{ 
    font-size: 1.5em;
    vertical-align: top;
}
.a-btn .btn-accept{

}
.btn-chat i{
    position:relative;
    left: -2px; 
    top: -1px;
}

.a-btn .btn-refuse{
	
}
.imgWrapThumb, .f-img{
    position: relative;
    display:inline-block;
    box-shadow: 0 0 6px #ccc;
    padding: 3px;
    text-align: center;
    padding-top: 4px;
    margin: 6px 3px;
    border-radius:100px;
    height: 46px;
    opacity: .95;
}
.imgWrapThumb:hover{
    cursor:pointer;
}
.imgWrapThumb.active img.grey,
.imgWrapThumb.activated img.grey{
    display:none;
} 
.imgWrapThumb.active img.normal{
    display:inline;
    opacity:1;
}
.imgWrapThumb.activated img.normal{
    display:inline;
    opacity: .7;
}
.imgWrapThumb img{
    border-radius:100px;
    opacity: .20;
}
.imgWrapThumb i.icon-up-dir{
    position:absolute;
    font-size: 20px;
    bottom: -17px;
    right: 12px;
    
    color: rgb(207, 207, 207);
}
.imgWrapThumb i.icon-ok-1,
.imgWrapThumb i.icon-cancel-1{
    position: absolute;
    color: #5c5c5c;
    bottom: 0;
    border: 1px solid #C7C7C7;
    box-shadow: 0 0 3px #ccc;
    border-radius: 3px;
    background: white;
    padding: 3px;
    padding-top: 4px; 
    padding-left: 4px;
    font-size: 0.65em;
    right: -2px;
    z-index: 2;
}
.imgWrapThumb.placeholder{ 
    box-shadow:none; 
    opacity:1!important;
}
.imgWrapThumb.placeholder img.grey{
    display:none;
}
.imgWrapThumb.placeholder img.normal{
    display:inline;
    opacity: 1;
}
#askersThumbs{
    text-align:center;
    margin-top:20px;
    position: relative;
}
