#manageEventsWrap{
	width: 700px;
}
  
#cancelEvent{ 
}
#askersListWrap{
    font-size: .9em;
    margin-top: 50px;
}


.a-active{
	-webkit-box-shadow: 0 0 15px #FF3232;
	box-shadow: 0 0 11px #A3A3A3;
	border: 1px solid rgb(190, 190, 190);
}
