
@media screen and ( min-width: 1000px ){
    .m-loaderWrap{
    display:none!important;
    }
}
@media screen and ( max-width: 1000px ){
	
	.earl-num{
		float:none;
  		display:none;
	}

	.earl-title{
		font-size:13px!important;
	}

	#earlyAdoPointList{
		text-align:center;
	}
	.earl-row{
		margin-left: 20px;
		margin-right:20px;
	}

   #thumbWrap
    {
		display:none!important;
	}

.hint:before, .hint:after, [data-hint]:before, [data-hint]:after {
	display:none;
}
  	
  #contentWrap input,
  #signupWrapp input,
  .sm-loginWrap input,
  label,
  .input-row-wrap{
		width: 100%!important;
		text-align:center!important;
		padding:0;
	}
	label{
		margin-top: 11px!important;
		padding:0;
	}

	input,
	textarea,{
    	padding: ;
    	margin: 0;
    	margin-bottom: 20px!important;
	}

  /* Propriétés générales */
  .centered{
	width: 100%!important;
	} 
  .themeBtnMain{
    margin: 20px auto!important;
    display:block;
    float:none;
  
    margin-bottom: 40px!important;
}
  .toast{
    width:100%!important;
  }
  .loaderWrap{
    display:none!important;
  }

  #searchUsers{
  	border-top:none;
  }
/* ========================== settingsWrap ======================== */

    #settingsWrap .input-row-wrap{
    text-align:center;
    }
   

    #contactWrap form{
    text-align: center;
    margin:30px 0;
    overflow:hidden;
    }
	#signupWrap .formWrap,
    #settingsInputsWrap{
      padding:0 40px;
    }

    input{
      margin: 0 auto;
      margin-top: 10px;
    
}
/* ========================== ProfileWrap ======================== */

  #pictureWrap{
    display:block;
  
}
  .fieldsWrap{
    display:block;
    margin: 40px auto;
    padding: 0 40px;
  }
  {
  }
	
  .input-row-wrap label{ 
    /* margin-bottom: 10px!important; */
  }
  .input-row-wrap #name{
    margin-bottom: 0px;
    margin-top: 0;
    padding-top: 2px;
}
  .input-row-wrap #age{
    margin:0; 
    padding:0;
    width: 45px!important;
    margin-top: 4px;
}
	#profileWrap textarea{
		width:100%;
		font-size:.8em;
		overflow:hidden;
	
		text-align: center;
}
  .labelTextArea{
  	margin-top:-10px;
  }
  #favoriteDrink{
    padding-bottom:10px;
  }

      #searchBar i{
      top: 17px;
    }
    #searchBar input{
    	width:80%!important;
    }

  
  #createEventInputsWrap{
	padding: 0 100px;
	text-align: center;
}

	#signupWrapp input[type="text"], #signupWrapp input[type="password"]{
		border:none;
		padding:10px 0;
		margin: 10px 0;
  }
  #signupWrapp input[type="radio"]{
    width:35px!important;
  }
  #signupWrapp .input-radio{
    margin:0;
    text-align: center;
  }
  #signupWrapp .input-radio > div{
  display:block;
  }
	#signupWrapp h2{
		margin-bottom: 35px;
}

  #contentWrap #eventHour,
  #contentWrap #eventMinut,
  #contentWrap #eventLocation,
  #contentWrap #eventMaxGuest{
    width:40px!important;
  }
 
 #contentWrap .chatInputWrap input{
  	margin:0;
  }
  #contentWrap .chatInputWrap input[type="submit"]{
	width:20px!important;
  }
  #contentWrap .chatInputWrap input[type="text"]{
  
  }
 
  #manageEventsWrap .a-picture{
		display: block;
 		 margin: 6px auto;
	}

}
@media screen and ( max-width: 580px ){
	
	body{
		cursor:pointer;
	}
	
  .toastMsg{
    font-size: 12.5px;
  }
  .toast-icon{
    display:none;
  }
  .toast{
    height:22px;
    padding-top:13px
  }
    
/* ========================== menuWrap ======================== */
    .menu-item.right{
        float: none;
    }
    .col{
    	float:none!important;
    }
   
  #loginWrapp{
    display:none!important;
  }
  .sm-loginWrap{
  	padding: 50px;
  	padding-top: 80px;
  	box-sizing: border-box;
}

  div.sm-header{
    display:block;
  }
   div.sm-header button:first-of-type{
  	normal 13px 'Lato'
  ;
  	float: left;
  	margin-left: 31px;
}
  div.sm-header button:last-of-type{
  	/* background: rgb(91, 122, 190); */
  }
  
	#headerContent{
	  width:100%;
	  margin:0;
	}
    #headerContent h1:not(.stay){
      display:none;
    }
    #menuWrap{
      margin-left:0;
      text-align: center;
      font-size: 14px;
      min-width: 230px;
	}
    #menuWrap .underlay{
      height:5px;
      top: 5px;
      left: 0px;
      width: 100%;
	}
    #menuWrap .menu-item{
    width: 13%
    ;padding-left: 0;
    padding-right: 0;
}

	body header.m{
		display: none!important;
	}
	
	body header{
	  
	}
    body h2{
        font-size:1.5em;
    
        margin-bottom: 30px;
}
  	
  	#createEventWrap h2{
  		padding:0 10px;
  	}
    /* EventsWrap */
    .action{
        display:block;
        margin: 15px 0;
        font-size: .7em;
}

    #contactBody{
      width:auto!important;
    }
       
/* ========================== SearchWrap ======================== */

    #searchUsersWrap,
    #searchBar{
      width:auto;
    }

    
/* ========================== EventsWrap ======================== */
	
	#noEvents{
		padding:0 20px;
	}
    

/* ========================== createWrap ======================== */

  #createEventInputsWrap{
    padding: 0 40px;
  
}
  #createEventInputsWrap label{
    margin-bottom:10px!important;
    display:block;
  }

}

@media screen and ( max-width: 320px ){
	

}

/* Ugly hacks */

#landingWrap > .container > .row{
  overflow: hidden;
}

#profileWrap .row{
    overflow:hidden!important;
}

.col{
    width: 33.333%;
    float: left;
    display: inline;
}

div.sm-header{
	text-align:center;
	padding: 6px 0;
}
div.sm-header button{
	padding:5px 10px;
	margin: 0 -1px;
	border:none;
	background: rgb(216, 67, 67);
	color:white;
	border-radius:1px;
	font-weight:bolder;
	outline:none;
	font: normal 12px 'Lato';
	float: right;
	margin-right: 5px;
	-webkit-transition: .6s background;
	transition: .6s background;
	background: rgb(37, 37, 37);  
	border-bottom: 0Px solid white;
} 
header.sm-header button:hover{
	opacity:.9;
} 

	

}


@media screen and (max-width:330px){

	.eventItemWrap{
      display:block;
      margin-left:0;
      margin-right:0;
      width:auto;
    }
    .e-desc{
      display:block;

    }
    .e-guests{
      width:auto;
    }
    .e-hour{
      font-size:30px;
      width: 143px;
    }
    .guestsWrap{
      width:100px;
    
    }
    .guestsWrap > span{
      font-size:12px;
    }
    .tag,.loc,.drink,.mood{
      font-size:.60em;
    }
    .e-location{
      position:relative;
      top:-17px;
      right:45px;
      margin-bottom:5px;
     
    }
    .e-location span{
      background:white;
      border:1px solid #ccc;
      padding:5px; 
    }
  
    .u-item .u-body{
      width:auto;
    }
    .u-item button{
      positon:absolute;
      right:5px;
    }
	
}


/* BOOTSTRAP VERY MIN */

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

#landingWrap .row {
    text-align: center;
}

.row {
    overflow: auto;
}