.modal-container {
   background: white;
   min-width: 400px;
   position: fixed;
   z-index: 10000;
   padding: 12px;
   box-shadow: 0 0 5px #D2D2D2;
}

.modal-container .loader {
}

.modal-container-body {
   background: url('/img/app/crossword.png');
   height: 100%;
   padding: 25px;
   text-align: center;
   /* overflow: auto; */
}

.modal-user-content {
}

.modal-user-description {
   display: inline-block;
   vertical-align: top;
   margin-bottom: 15px;
   text-align: center;
}

.modal-user-membersince {
   color: #ccc;
   font-size: 12px;
   margin-bottom: 9px;
}

.modal-user-description-head {
   margin-bottom: 5px;
   position: relative;
}

.modal-user-description-body {
   font-family: 'Karla';
   font-size: 14px;
   color: #555;
}

.modal-user-mood,
.modal-user-drink,
.modal-user-job {
   font-family: 'Karla';
   font-size: 14px;
   color: #474747;
   margin: 0 4px;
   padding: 6px 10px;
   background: #f5f5f5;
   display: inline-block;
   border-radius: 2px;
   box-shadow: 0 0 1px #ECECEC;
}

.modal-user-picture-hashtag {
   background: rgba(0, 0, 0, 0.53);
   color: white;
   position: absolute;
   bottom: 16px;
   left: 50%;
   transform: translate(-50%,0);
   width: 268px;
   padding: 10px 0;
   display: none;
}

.modal-user-picture-hashtag.active {
   display: block;
}

.modal-user-name {
   font-size: 40px; 
   font-family: Gochi Hand;
   font-weight: bolder;
   margin-bottom: 5px;
}

.modal-user-age {
   font-family: 'Karla';
   margin: 10px 0;
   background: #e94f6a;
   width: 40px;
   padding: 10px 0;
   /* display: inline-block; */
   border-radius: 100px;
   color: #FFFFFF;
   margin: 9px auto;
   font-weight: bolder;
}

.modal-user-age span {
}

.modal-user-motto {
   letter-spacing: 0px;
   font-size: 13px;
   color: #333333;
   margin-bottom: 10px;
   padding: 7px;
   /* font-family: 'Gochi hand'; */
}

.modal-user-mood {
}

.modal-user-drink {
}

.modal-user-job {
}

.modal-user-pictures {
   text-align: center;
   margin-bottom: 18px;
}

.modal-user-main-picture {
   position: relative;
}

.modal-user-other-pictures {
   position: relative;
   top: 0px;
}

.modal-main-picture {
   display: none;
}

.modal-main-picture.active {
   display: block;
   width: auto;
   margin: 0 auto;
}

.modal-thumb-picture {
   margin: 0;
   border-bottom: 4px solid transparent;
}

.modal-thumb-picture.active {
   border-bottom: 4px solid #e94f6a;
}

label.lighter {
    color: #CDCDCD;
}
.modal-title {
    color: #E94F6A;
    font-family: 'Londrina solid';
    font-size: 25px;
}

.modal-title-facebook {
    
margin-bottom: 20px;
    
font-size: 22px;
    
color: #555;
}