#search:hover,
#searchbar:hover {
    background-color: #202020;
}
.search-wrap-users {
    min-width: 410px;
    display: block!important;
    position: relative;
    left: -61px;
}
#searchbar {
    opacity: 1;
    background-color: #313131;
    position: absolute;
    margin-left: 34px;
    top: -1px;
    width: 258px;
    transition: all                                                                                                                                                                                               
    ease-out .3s;
    height: 36px;
    z-index: 0;
}
.search-results {
    /* width: 400px; */
}
.search-result-name-wrap {
    top:10px;
    margin-left: 45px!important;
    padding: 18px 10px;
}
.search-result-default {
    padding: 13px!important;
    font-family: 'Karla';
    font-size: 14px;
    color: #DDD;
}
.search-input {
    color: #EBEBEB;
    border-bottom: none;
    font-size: 13px;
    border-radius: 1px;
    width: 100%;
    padding: 0px;
    padding-left: 10px;
    margin: 4px 0 0 5px;
    position: relative;
    font-family: 'Karla';
    height: 31px;
    transition: all ease-out .3s;
}
.search-input.active {
    border-bottom: 2px solid #F9F9F9;
    color: white;
}
#search:hover #searchbar {
    opacity: 1;
}
.search-result-images{
    
width: 40px;
    
top: 50%;
    
position: absolute;
    
margin-left: 8px;
}


#searchresults div {
display: inline-block;vertical-align: top;/* position: relative; */}
.search-result-users, .search-result-places {
padding: 5px 5px;border-bottom: 1px solid #4B4B4B;border-top: 1px solid black;transition: all ease-out .3s;position: relative;}
.search-result-users:last-of-type{
    border-bottom:none;
    /* border-radius: 0 0 5px 5px; */
}
.search-result-users {
    background-color: #2A2A2A;
}
.search-result-places {
    background-color: #F9F9F9;
}
.search-result-places:hover {
    background-color: #F1F1F1;
}
.search-result img {
    z-index: 2;
    position: absolute;
}
.search-result img.search-loader{
    z-index: 1!important;
}

.search-result-name {
    color: #636363;
    font-size: 15px;
    position: relative;
    font-family: 'Karla';
    display: inline-block;
}
.search-result-name strong {
    font-weight: bolder;
    color: #383838;
}

.search-result-hashtags {
color: white;
font-size: 12px;


float: right;}

.search-result-hashtags div {
    display: inline-block;
    padding: 4px 9px;
    border: 1px solid #555;
    background: #555;
    border-radius: 2px;
    margin: 0 3px;
}

.search-result-users-empty, .search-result-places-empty {
    padding-left:5px;
}






/* Typeahead on places */
.search-results-places {

min-width: 600px;

margin-top: 10px;
}
#createEvent .search-result-name {
    color: dimgrey;
    padding:5px;
}
.search-result-places {
border: 1px solid #ccc;padding: 1px 5px;cursor: pointer;transition: none;}

.search-result-places:last-of-type {
}

.place-result {

}
.place-data {

display: inline-block;

font-size: 13px;

color: #555;

padding: 9px 5px;

margin: 0 3px;
}
.place-name {

font-weight: bolder;
}
.place-address {

color: #ABABAB;

font-style: italic;
}
.hint-places {
    color: #BCBCBC;
}
.place-type {

float: right;

background: #EDEDED;

padding: 5px 17px;

margin-top: 4px;

margin-right: 0px;

border-radius: 2px;
} 