#search:hover,
#searchbar:hover {
    background-color: #202020;
}
.ambiance-hashtag.adjust {
    top:-1px; 
}
.search-wrap-users {
}
#searchbar {
    opacity: 1;
    background-color: #313131;
    position: absolute;
    margin-left: 34px;
    top: -1px;
    width: 258px;
    transition: all                                                                                                                                                                                               
    ease-out .3s;
    height: 36px;
    z-index: 0;
}
.search-results {
    /* width: 400px; */
}
.search-result-name-wrap {
    top:10px;
    margin-left: 55px!important;
    padding: 12px 10px;
    height: 48px;
}

.search-input {
    color: #EBEBEB;
    border-bottom: none;
    font-size: 13px;
    border-radius: 1px;
    width: 100%;
    padding: 0px;
    padding-left: 10px;
    margin: 4px 0 0 5px;
    position: relative;
    font-family: 'Karla';
    height: 31px;
    transition: all ease-out .3s;
}
.search-input.active {
    border-bottom: 2px solid #F9F9F9;
    color: white;
}
#search:hover #searchbar {
    opacity: 1;
}
.search-result-images{
    
width: 40px;
    
top: 50%;
    
position: absolute;
    
margin-left: 8px;
}


#searchresults div {
display: inline-block;vertical-align: top;/* position: relative; */}



.search-result-default {
    transition: all ease-out .3s;
    position: relative;
    /* background-color: #F9F9F9; */
    border-bottom: 1px solid #DDD;
    padding: 3px 0;
    cursor: pointer;
    transition: none;
}
.search-result-default:hover {
    background-color: #F7F7F7;
}
.search-result-default:last-of-type {
    border-bottom:none;
}
.search-result img {
    z-index: 2;
    position: absolute;
}

.search-loader {
    width:15px;
    z-index: 0;
}
.search-result img.search-loader{
    z-index: 1!important;
}

.search-result-name {
    color: #636363;
    font-size: 15px;
    position: relative;
    top: 3px;
    font-family: 'Karla';
    display: inline-block;
}
.search-result-name strong {
    font-weight: bolder;
    color: #383838;
}

.search-result-hashtags {

font-size: 12px;


float: right;}

.search-result-hashtags div {
    /* display: inline-block; */
    /* padding: 9px 9px; */
    /* background: #F7F7F7; */
    /* color: #555; */
    /* font-family: 'Karla'; */
    /* margin: 0 3px; */
    position: relative;
    top: -4px;
}

.search-result-default-empty {
    padding-left:5px;
}




.search-results-users {
    top: 40px!important;
}
.search-results-hosts {
    top: 30px!important
}
.search-results-party-places {
    top: 30px!important
}
.search-results-users.empty, .search-results-hosts.empty, .search-results-party-places.empty {
    display:none!important;
}

.search-results-users, .search-results-hosts, .search-results-party-places {
    padding: 10px;
    background:white;
    border: 1px solid #ccc;
    /* border-top:none; */
    min-width: 410px;
    display: block;
    position: relative;
    left: -61px;
    /* font-family: 'Karla'; */
}

.search-results-ambiances {
    margin-top: 10px;
    min-width: 750px;
}

.search-results-hosts {
margin-top: 10px;
    width: 700px;
display: none;}
#createEvent .search-result-name {
    color: dimgrey;
    padding:5px;
}

.search-result-default:last-of-type {
}

.place-result {

}
.ambiance-data {
}
.place-data {
display: inline-block;
font-size: 13px;
color: #555;
padding: 9px 12px;
margin: 0 3px;
font-family: 'Karla';
}
.place-name {

font-weight: bolder;
}
.place-address {

color: #ABABAB;

font-style: italic;
}
.hint-places {
    color: #bcbcbc!important;
}
.place-type,
.ambiance-description{
float: right;
background: #FBFBFB;
padding: 5px 17px;
margin-top: 4px;
margin-right: 6px;
border-radius: 2px;
font-weight: bolder;
} 

.search-result-ambiances {
    
width: 32%;
    
display: inline-block;
    
text-align: left;
    
border: none;
    
box-shadow: 0 1px 1px #565656;
    
margin: 2px;
}

.search-result-users {
    
}

.search-result-party-places {
    
}

.search-result-hosts {
    
}
.search-result-name-host {
    
font-size: 13px;
    
position: relative;
    
left: -25px;
    
top: 1px;
}