* {
}

html {
   overflow: auto;
   overflow-y: scroll;
}

body {
   font-family: 'Lato';
 /* FF3.6+ */   /* Chrome,Safari4+ */   /* Chrome10+,Safari5.1+ */   /* Opera 11.10+ */   /* IE10+ */   /* W3C */   /* IE6-9 */
   ;
	/* background-color: rgba(255, 255, 255, 0.71); */
	/* background-color: rgba(255, 255, 255, 0.86); */
	background-color: rgba(255, 255, 255, 1);
   background-position: center;
   background-blend-mode: multiply;
}

p,
textarea,
input {
   font-size: 14px;
   font-family: 'Lato','Calibri','sans serif';
   resize: none;
   outline: none;
   border: none;
   background: none;
   color: #8A8A8A;
}

hl {
   font: 800 2em 'Raleway';
   letter-spacing: -1px;
   color: #383838;
   text-align: center;
   text-shadow: 0 0 1px rgb(209, 209, 209);
}

h2 {
   font: normal 35px  'Londrina Solid';
   letter-spacing: 0px;
   text-transform: uppercase;
   color: #525252;
   text-align: center;
   text-shadow: 0 0 1px rgb(209, 209, 209);
}

h3 {
font-size: 14px;text-align: center;color: #ee;}

.bodyWrap {
}

.beta {
	left: 82px!important;
	top: 17px!important;
	z-index: 1;
	font-size: 12px;
	padding: 3px 4px!important;
	background: linear-gradient(45deg,  #01BF01,#10D010)!important;
	box-shadow: 1px 1px 1px #045519!important;
	border-radius: 6px 0 6px 0;
	display: block!important;
}

.full-rotation {
   -ms-transform: rotate(360deg);
   -webkit-transform: rotate(360deg);
   transform: rotate(360deg);
}
.rounded {
	border-radius:100px;
}
.slow-down {
   transition: all ease-out .6s!important;
}

.slow-down-3 {
   transition: all ease-out .3s!important;
}

.visible {
   display: block!important;
}

.text-left {
   text-align: left!important;
}

.text-center {
   text-align: center!important;
}

.text-right {
   text-align: right!important;
}

.super-centered {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   z-index: 1;
}

.h-centered {
   position: absolute;
   left: 50%;
   transform: translate(-50%, 0);
}
.v-centered {
   position: absolute;
   top: 50%;
   transform: translate(0, -50%);
}

.load-chat-history {
	font-size: 10px;
    color: #e94f6a;
    opacity: .6;
    z-index: 100;
}

.label {
/*Hello git*/font-size: 13px;font-family: 'Lato';
   font-weight: bolder;margin-right: 15px;
   display: inline-block;
   color: #555;
   border-right: 1px  
	solid #ccc;
   transition: all 
	ease-out .3s;}

.label-lg {
}

.label-md {
   width: 70px;
}

.rel {
}

.right {
   float: right;
}

.left {
   float: left;
}

img.left {
   float: left;
}

.none {
   display: none;
}

.filtered, .nonei {
   display: none !important;
}

.hidden {
   visibility: hidden;
}

.centered {
   position: relative;
   margin: auto;
   width: 1000px;
   padding-top: 38px;
}

.disabled {
   opacity: .3 !important;
   !important;
}

.loaderWrap {
   z-index: 100;
   top: 9px;
   position: fixed;
   left: 47%;
   opacity: 0;
   display: none;
}

.m-loaderWrap {
   display: inline-block;
   position: fixed;
   top: 8px;
   left: 10px;
   z-index: 1000;
   display: none;
}

.curtain, .modal-curtain{
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100000;
   background: rgb(8, 8, 8);
   width: 100%;
   height: 100%;
   display: none;
}

.curtain {
	display: block;
}
.modal-curtain {
	z-index: 10000;
	display:none;
}

.overlay {
   display: block;
   opacity: .8;
   z-index: 0;
}

body header .sm-brand {
   display: inline-block;
   color: white;
   margin-top: 4px;
}

body header.lg-header, 
body header.sm-header {
   width: 100%;
   height: 42px;
   background-image: url('/img/app/darkpattern.png');
   box-shadow: 0 0 5px rgb(37, 37, 37);
   position: fixed;
   top: 0;
   left: 0;
   z-index: 2;
}

body > header > img {
   float: left;
   position: relative;
   left: 55px;
   top: 3px;
}

#logo {
   position: absolute; 
   top: 5px;
   left: 50px;
   display: inline-block;
}

body > header > h5 {
   display: inline;
   position: relative;
   font-size: 11px;
   font-family: 'Lato';
   color: rgb(48, 48, 48);
   text-shadow: 0 0 1px rgb(208, 208, 208);
   top: 21px;
   left: -157px;
}

#headerContent i {
   position: absolute;
   font-size: 18px;
   left: -37px;
   top: -8px;
   color: rgb(253, 253, 253);
   background: none;
   padding: 5px;
   border-radius: 44px;
   text-shadow: none;
}

#headerContent {
   width: 85%;
   margin: 0 
    auto;
   position: relative;
}

#mainWrap {
   width: 100%;
   margin-top: 0;
   min-height: 100vh;
   box-sizing: border-box;
   /* box-shadow: 0 0 5px rgb(205, 205, 205); */
   clear: both;
   overflow: hidden;
   padding-bottom: 40px;
   display: none;
}

.toastSuccess,

.toastError,
.toastInfo {
   position: fixed;
   font: .8em 'Lato';
   margin: auto;
   color: rgb(255, 255, 255);
   text-shadow: 0 0 1px 
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	white;
   letter-spacing: 0.5px;
   padding: 7px;
   padding-top: 12px;
   padding-bottom: 9px;
   height: 42px;
   left: 0;
   right: 0;
   top: -1px;
   width: 510px;
   text-align: center;
   z-index: 9999999;
}

.toastError {
   background: rgb(174, 67, 67);
   border: 1px 
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	solid 
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	rgb(150, 34, 34);
   color: white;
   background: linear-gradient(    
	rgb(174, 67, 67),      
	rgb(138, 52, 52));
}

.toastInfo {
   background: black;
   border: 1px 
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	 
	
	
	solid #000000;
   opacity: 0;
}

.toastSuccess {
   background: #E94F6A;
   border: 1px solid #933546;
   opacity: 0;
}

.toast-icon {
   position: absolute;
   left: -1px;
   height: 100%;
   width: 33px;
   padding-right: 2px;
   padding-top: 12px;
   top: 0;
}

.toastError .toast-icon {
   background: rgb(147, 21, 21);
}

.toastInfo .toast-icon {
   background: #000000;
   color: white;
}

.toastSuccess .toast-icon {
   background: #AE3F53;
   color: white;
}

#menuWrap {
   position: relative;
   display: block;
   margin: 0 
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	auto;
   margin-left: 120px;
   top: 1px;
}

.align-top {
   vertical-align: top;
}

.pending {
   color: #A5A5A5;
}

.menu {
}

.menu-item {
   display: none;
   color: rgb(143, 143, 143);
   padding-top: 11px;
   padding-left: 14px;
   margin-bottom: 3px;
   width: 50px;
   height: 40px;
   border-radius: 2px;
   position: relative;
   transition: all 
	
	
	
	
	
	
	
	
	
	
	
	
	
	linear 0.2s;
   font-size: 16px;
}

.menu-item span.underlay {
   width: 50px;
   background: rgb(245, 89, 116);
   box-shadow: 0 1px 1px rgb(221, 63, 89);
   height: 4px;
   /* border-radius: 1px; */
   position: relative;
   top: 3px;
   left: -14px;
   display: inline-block;
   opacity: 0;
}

.menu-item span.bubble, .eventItemWrap span.bubble {
   position: absolute;
   width: 19px;
   padding-right: 1px;
   height: 19px;
   padding-top: 3px;
   border-radius: 30px;
   text-align: center;
   background: rgb(233, 79, 106);
   color: white;
   border: 1px                                                                 solid                                                                 rgb(169, 31, 55);
   top: 0px;
   right: 0px;
   font-size: 11px;
   font-weight: bolder;
   z-index: 1;
}

.eventItemWrap span.bubble {
   padding: 3px;
   padding-top: 4px;
   width: 16px;
   height: 14px;
   border: none;
   top: -6px;
   background: rgb(214, 92, 92);
   color: rgb(252, 252, 252);
}

.menu-item:hover {
   cursor: pointer;
   color: white;
}

.menu-item-active,
.menu-item-active:hover {
   border-radius: 0px;
   color: white;
   background: rgb(32, 32, 32);
}

.menu-item div:not(.search-result) {
	/* display:inline; */
	/* margin-left: 5px; */
   ;
}

.notif {
   color: white;
   text-align: center;
   background: rgb(255, 102, 102);
   border: 1px solid rgb(214, 87, 87);
   font-size: 0.9em;
   width: 23px;
   height: 17px;
   position: absolute;
   right: -30px;
   top: 1px;
   border-radius: 0px;
   padding-top: 3px;
}

.notif-events {
}

#contactWrap form div:last-of-type {
   margin-bottom: 30px;
}

.menuBtn:hover,
#contact:hover {
   cursor: pointer;
}

#contactWrap label {
   min-width: 70px;
}

.themeBtnMain {
   width: 100px!important;
}

.theme-btn {
   font-family: 'Karla';
   padding: 9px 20px;
   border: none;
   font-size: 14px;
   outline: none;
   margin: 0 2px;
   /* border-radius: 2px; */
   transition: all ease-out .3s;
   cursor: pointer;
   text-transform: uppercase;
   font-size: 11px;
   min-width: 90px;
}

.btn-cancel {
   background-color: #DEDEDE;
}
.btn-cancel:hover {
	background: #E5E5E5;
}


.btn-validate {
   background-color: #68D068;
   color: white;
   /* border: 1px solid #E94F6A; */
}

.btn-validating {
   opacity: .5;
}

.btn-large {
	padding: 11px 18px;
	font-size: 11px;
	border-radius: 0px;
	text-transform: uppercase;
}

.themeBtn,
.themeBtnToggle {
   max-width: 210px;
   height: 31px;
   border-radius: 2px;
   border: none;
   padding: 9px;
   color: rgb(255, 255, 255);
   text-transform: uppercase;
   font-size: 10px;
   outline: none;
   background: #4F4F4F;
	/* display: block; */
   -webkit-transition: all 0.3s;
   transition: all 0.3s;
   font-family: 'Karla';
   font-weight: bolder;
}

.themeBtn:hover {
   box-shadow: 1px 1px 1px rgb(196, 196, 196);
   opacity: .9;
}


.themeBtnToggleHost {
   background: whitesmoke;
   font-weight: bolder;
   color: #545454;
   width: 100%;
   z-index: 1;
   position: relative;
}

.themeBtnToggleHost:hover {
}

.input-radio > div {
   display: inline-block;
}

input[type="radio"] {
   width: 20px!important;
}

input[type="radio"] + span {
   font-size: 14px;
   color: #444;
   padding-right: 25px;
   position: relative;
   top: -2px;
}

.validating {
   background: #F3F3F3;
   border-radius: 3px 3px 0 0;
}

.validating-btn,
.asked {
   background: #E6E6E6;
   color: rgb(60,60,60);
}

.validating-btn:hover,
.asked:hover {
   box-shadow: none;
}

.mainPicture {
   padding: 9px;
   background: white;
}

.progress_bar {
   position: fixed;
   top: 41px;
   height: 3px;
   width: 0%;
   background: rgb(13, 205, 13);
   -webkit-transition: width .9s;
   transition: width .9s;
   text-align: center;
   box-shadow: 0 2px 2px rgb(0, 185, 0);
   color: white;
   z-index: 1;
}

.progress_bar--landing {
	position: fixed;
	top:0;
	height: 3px;
	background:#e94f6a;
	width: 0;
	transition: all ease-out 2.3s;
	z-index: 1000000;
}

#contactWrap {
   overflow: auto;
}

#contactWrap form {
   margin: 50px 0 0 50px;
}

#contactWrap input {
	/* width: 200px; */
   padding: 5px;
   border: none;
   margin: 9px 0;
	/* border-bottom: 1px solid rgb(197, 197, 197); */
   ;
}

#contactWrap #contactBody {
   padding: 5px;
   width: 400px;
   border: none;
   border-bottom: 1px dashed rgb(201, 201, 201);
   min-height: 100px;
   outline: none;
}

#contactWrap #sendContactForm {
   margin-top: 20px;
}

#thumbWrap {
   position: fixed;
   top: -2px;
   right: 14%;
   /* background: white; */
   padding: 10px;
   border-radius: 2px;
   z-index: 99;
}

#thumbWrap > div.imgWrap {
   position: absolute;
   left: -48px;
}

#thumbWrap img {
   border-radius: 40px;
   border: 3px 
    
    
    
    
    solid 
    
    
    
    
    white;
   box-shadow: 0 0 2px 
    
    
    
    
    rgb(218, 218, 218);
   position: relative;
   top: 2px;
   left: 8px;
   cursor: pointer;
}

#thumbInfos {
   margin-left: 8px;
   top: 7px;
   display: inline-block;
   position: relative;
   width: 100%;
}

#thumbName {
   font-weight: normal;
   text-align: left;
   font-size: 23px;
   margin-left: 2px;
   margin-bottom: 3px;
   position: relative;
   top: -2px;
   color: white;
   font-family: 'Gochi Hand';
}

.actionsWrap {
   margin-top: 10px;
   margin-bottom: 10px;
   text-align: center;
}

.actionsStyle span.action:before {
   content: "";
   margin-right: 10px;
   border: 4px solid #E83333;
   border-radius: 5px;
   display: inline-block;
}

.action {
   font-size: 12px;
   margin-left: 0px;
   transition: all .7s;
   position: relative;
   top: -3px;
}

.action:hover {
   cursor: pointer;
   text-decoration: underline;
}

.action:hover::before {
   background-color: rgb(250, 250, 250);
   border-color: gr;
}

.formWrap {
   position: relative;
}

.header-field.blocked {
   background: rgb(38, 38, 38);
}

.header-field.validated {
   color: white!important;
   background: rgb(38, 38, 38);
   border: 1px solid rgb(126, 126, 126)!important;
   border-radius: 3px!important;
}

#search input:focus {
}

input:focus::-webkit-input-placeholder {
   color: white;
}

::-webkit-input-placeholder {
   color: #ccc;
   font-weight: normal;
   transition: all ease-out .3s;
}

input:focus:-moz-placeholder {
   color: white;
}

:-moz-placeholder {
 /* Firefox 18- */
   color: #ccc;
   font-weight: normal;
}

::-moz-placeholder {
  /* Firefox 19+ */
   color: #ccc;
   font-weight: normal;
   transition: all ease-out .3s;
}

input:focus:-ms-input-placeholder {
   color: white;
}

:-ms-input-placeholder {
   color: #ccc;
   font-weight: normal;
   transition: all ease-out .3s;
}

input[type="submit"]:hover,
button:hover {
   background-color: #85E585;
   /* border: none; */
}
.btn-preview-undo:hover {
}

.u-item {
   height: 50px;
   margin: 9px 0;
   opacity: 0;
   -webkit-transition: opacity.3s;
   transition: opacity .3s;
}

.u-item button {
   opacity: 0;
}

.u-item button:hover {
   opacity: 0;
   cursor: default;
}

.u-item.match button {
   opacity: 1;
}

.u-item.match button:hover,
.f-item button:hover {
   cursor: pointer;
   opacity: .8;
}

.f-askedme button i {
}

.u-item.match {
   opacity: 1;
}

.u-head,
.u-body,
.f-head,
.f-body {
   display: inline-block;
}

.u-head .online-marker {
   position: absolute!important;
   left: -24px;
   top: 13px;
   color: rgb(199, 42, 42);
   font-size: 23px;
   opacity: 0;
}

.u-item:not(.match) .u-head {
   box-shadow: none!important;
}

.f-body {
   width: 130px;
   margin-top: 17px;
}

#friendListWrap i.icon-ok {
   position: relative;
   top: -2px;
   left: -1px;
}

#friendListWrap button.themeBtn {
   position: relative;
   vertical-align: top;
   margin-top: 17px;
   width: 36px;
   font-size: 1em;
   right: 13px;
}

#friendListWrap .jspVerticalBar {
   right: -1px;
   top: -21px;
}

#myFriends {
   width: 250px;
}

.u-body,
.f-body {
   vertical-align: top;
   margin: 18px 0 0 10px;
   text-align: left;
   color: #555;
   font-size: .9em;
   width: 137px;
}

.u-body > *,
.f-body {
   vertical-align: top;
}

span.u-name,
span.f-name {
   font-weight: bolder;
   display: block;
   margin-bottom: -1px;
}

span.u-age, span.u-favdrink, span.f-age, span.f-favdrink {
   color: #A9A9A9;
   font-size: 12px;
   margin-right: 3px;
   position: relative;
   top: 3px;
}

span.f-age, span.f-favdrink {
   top: 0px;
}

.u-item button,
.f-item {
	/* display:inline-block; */
   width: 80px;
   font-size: 10px;
   vertical-align: top;
   margin-top: 10px;
}

.u-item button i {
   position: relative;
   top: -1px;
   left: 0px;
}

.u-item.f-askedme button {
   left: 2px;
   position: relative;
   text-align: center;
}

.u-item.f-askedme i {
   position: relative;
   left: -1px;
}

.u-head img {
   opacity: 1!important;
}

.hint--right {
   text-transform: none!important;
   font-family: 'Lato';
}

p {
   color: #373737;
   line-height: 24px;
   /* margin: 20px 0 20px; */
   font-family: 'Karla','Lato';
   letter-spacing: -.5px;
   margin-top: 13px;
}

.center-heading {
   text-align: center;
   margin-bottom: 40px;
}

::selection {
   background: rgb(245, 89, 116);
   color: white;
}

.online-marker.active {
   opacity: 1!important;
}

.curtain-loader {
   opacity: 0;
}

.modal-container .row-input:hover label {
	color: #E94F6A;
}

.preview-type {
	background: #E94F6A;
	color: #FFFFFF;
	position: absolute;
	left: -11px;
	top: -8px;
	padding: 5px 10px;
	box-shadow: 1px 1px 1px #871111;
	transform: rotate(0deg);
	border-radius: 5px 0 5px 0;
	font-size: 12px;
	font-family: 'Karla';
	font-weight: bolder;
	display: none;
}

#languages {position: absolute;right: -10px;top: 4px;width: 100px;height: 30px;padding-top: 7px;}

.pick-lang {
	display: inline-block;
	margin: 0 3px;
	padding: 2px;
	cursor: pointer;
}

.pick-lang:not(.active):hover span {
	opacity: .8;
}
.pick-lang span {
	opacity: .5;
	transition: all ease-out .3s;
	border-radius: 5px 0 5px 0;
}

.pick-lang.active span{

	box-shadow: 0px 0px 8px 0px #8C8C8C;
	opacity: 1;
}