*{
} 
html{
   
   
}
body{
	font-family: 'Lato'; /* FF3.6+ */   /* Chrome,Safari4+ */   /* Chrome10+,Safari5.1+ */   /* Opera 11.10+ */   /* IE10+ */   /* W3C */   /* IE6-9 */;
	/* background-color: rgba(255, 255, 255, 0.71); */
	/* background-color: rgba(255, 255, 255, 0.86); */
	background-color: rgba(255, 255, 255, 1);
	background-position: center;
	background-blend-mode: multiply;
}
p,
textarea,
input{
	font-size: 14px;
	line-height: 20px;
	font-family: 'Lato','Calibri','sans serif';
	resize: none;
	outline: none;
	border: none;
	background:none;
}
hl{
	font: 800 2em 'Raleway';
	letter-spacing: -1px;
	color: #383838;
	text-align: center;
	text-shadow: 0 0 1px rgb(209, 209, 209);
	
}
h2{
	font: 800 40px  'Gochi Hand';
	letter-spacing: -1px;
	text-transform: uppercase;
	color: #525252;
	text-align: center;
	text-shadow: 0 0 1px rgb(209, 209, 209);
}
h3{
}
.bodyWrap{
	
}
label{
	/*Hello git*/
	font-size: .8em;
	font-family: 'Lato';
	font-weight:bolder;
	margin-right: 15px;
	/* margin-top: 20px; */
	padding-top:10px;
	/* width: 95px; */
	text-align: right;
	display:inline-block;
}
.labelTextArea{vertical-align:top;margin-top: 12px;}
.rel{}
.right{float:right;}
.left{float:left;}
img.left{float:left;}
.none{
    display: none;
}
.filtered, .nonei {display: none !important;}
.hidden{visibility:hidden;}
.centered{
	position: relative;
	margin:auto;
	width: 750px;
	padding-top: 50px;
}
.disabled{
	opacity: .3 !important; !important 
}
.loaderWrap{
	z-index: 1000;
	top: 7px;
	position: fixed;
	left: 47%; 
	opacity: 0;  
	display: none
} 
.m-loaderWrap{
	display: inline-block;
	position: fixed;
	top: 8px;
	left: 10px;
	z-index: 1000;
	display: none;
}

.curtain{
	display: none;
	position:fixed;
	top:0;
	left:0;
	z-index:1000000;
	background: rgb(12, 12, 12);
	width:100%;
	height:100%;
}


body header .sm-brand{
	display:inline-block;	
	color: white;
	margin-top: 4px;
}
body header.lg-header, 
body header.sm-header{
	width: 100%;
	height: 36px;
	background-image: url('/img/texture-png2.png');
	box-shadow: 0 0 5px rgb(37, 37, 37);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 98;
}
body > header > img{
	float:left;
	position:relative;
	left: 55px;
	top: 3px;
}

#logo{
	  position: absolute;
	  top: -5px;
	  left: 107px;
	  display: inline-block;
}
body > header > h5{
	display: inline;
	position: relative;
	font-size: 11px;
	font-family: 'Lato';
	color: rgb(48, 48, 48);
	text-shadow: 0 0 1px rgb(208, 208, 208);
	top: 21px;
	left: -157px;
}
#headerContent i{
	position: absolute;
	font-size: 18px;
	left: -37px;
	top: -8px;
	color: rgb(253, 253, 253);
	background: none;
	padding: 5px;
	border-radius: 44px;
	text-shadow: none;
}
#headerContent{
    width: 92%;
    margin: 0 auto;
}
#mainWrap{
    width: 100%;
    background: url('/img/crossword.png');
    margin-top: 0;
    min-height: 100vh;
    box-sizing: border-box;
    /* box-shadow: 0 0 5px rgb(205, 205, 205); */
    clear: both;
    overflow: auto;
    padding-bottom: 40px;
}

.toastSuccess,

.toastError,
.toastInfo{
	position: fixed;
	font: .8em 'Lato';
	margin: auto;
	color: rgb(255, 255, 255);
	text-shadow: 0 0 1px white;
	letter-spacing: 0.5px;
	padding: 7px;
	padding-top: 10px;
	left: 0;
	right: 0;
	top: -1px;
	width: 410px;
	text-align: center;
	z-index: 9999999;
} 
.toastError{
	background: rgb(174, 67, 67);
	border: 1px solid rgb(150, 34, 34);
	color: white;
}
.toastInfo{
	background: black;
	border: 1px solid #000000;
	opacity: 0;
}
.toastSuccess{
	background: #487DC3;
	border: 1px solid #25315F;
	opacity: 0;
}
.toast-icon{
	position: absolute;
	left: -1px;
	height: 26px;
	width: 33px;
	padding-right: 2px;
	padding-top: 10px;
	top: 0;
}
.toastError .toast-icon{
	background: rgb(147, 21, 21);
}
.toastInfo .toast-icon{
	background: #000000;
	color: white;
}
.toastSuccess .toast-icon{
	background: #355C90;
	color: white;
}

.whitegradient{ 
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
height: 100px;
width: 100%; 
position: fixed;
z-index: 100;
top: 33px;






}
#menuWrap{
	position: relative;
	display: block;
	margin: 0 auto;
	margin-left: 140px;
	top: 1px;
}

.align-top{
	vertical-align: top;
}
#events{
}
#profile{
}
.pending{
	color:#A5A5A5;
}
.menu{
}
.menu-item{
	display:none;
	color: rgb(143, 143, 143);
	padding: 2px;
	padding-top: 8px;
	padding-left: 12px;
	margin-bottom: 3px;
	width: 46px;
	height: 35px;
	border-radius: 2px;
	position: relative;
	transition: all linear 0.2s;
}
.menu-item span.underlay{
	width: 44px;
	background: rgb(247, 0, 0);
	box-shadow: 0 1px 1px rgb(255, 0, 0);
	height: 4px;
	border-radius: 1px;
	position: relative;
	top: 0px;
	left: -11px;
	display: inline-block;
	opacity:0;
}
.menu-item span.bubble, .eventItemWrap span.bubble{
	position:absolute;
	width: 19px;
	padding-right: 1px;
	height: 14px;
	padding-top: 3px;
	border-radius: 30px;
	text-align:center;
	background: rgb(245, 0, 0);
	color: white;
	border: 1px solid rgb(197, 7, 7);
	top: 0px;
	right: -5px;
	font-size: 11px;
	font-weight: bolder;
	z-index: 1;
}
.eventItemWrap span.bubble{
	padding:3px;
	padding-top: 4px;
	width: 16px;
	height: 14px;
	border:none;
	top: -6px;
	background: rgb(214, 92, 92);
	color: rgb(252, 252, 252);
}
.menu-item:hover{
	cursor:pointer;
	color: white;
}
.menu-item-active,
.menu-item-active:hover{
	border-radius: 0px;
	color: white;
	background: rgb(32, 32, 32);
}
.menu-item div{
	display:inline;
	margin-left: 5px;
}
.notif{
	color: white;
	text-align: center;
	background: rgb(255, 102, 102);
	border: 1px solid rgb(214, 87, 87);
	font-size: 0.9em;
	width: 23px;
	height: 17px;
	position: absolute;
	right: -30px;
	top: 1px;
	border-radius: 0px;
	padding-top: 3px;
}
.notif-events{
}
#contactWrap form div:last-of-type{
	margin-bottom: 30px;
}
.menuBtn:hover,
#contact:hover{
	cursor:pointer;
}
#contactWrap label{
	min-width: 70px;
}

.themeBtnMain{
	width:100px!important;
}
.themeBtn,
.themeBtnToggle
{
	max-width: 210px;
	height: 31px;
	border-radius: 2px;
	border: none;
	padding:9px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-size: 10px;
	outline:none;
	background: #4F4F4F;
	/* display: block; */
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	font-family: 'Karla';
	font-weight: bolder;
}
.themeBtn:hover{
	box-shadow: 1px 1px 1px rgb(196, 196, 196);
	opacity: .9;
}

.themeBtnToggleHost{
	background: whitesmoke;
	font-weight: bolder;
	color: #545454;
	width: 100%;
	z-index: 1;
	position: relative;
}
.themeBtnToggleHost:hover{
}

.input-field{
	width: 60%;
	border: none;
	border-bottom: 1px dashed #E8E8E8;
	margin: 8px 10px;
	display: inline-block;
	padding: 10px;
	padding-left: 10px;
	border-radius: 3px 3px 0 0;
	transition: all .3s;
	font-size: 14px;
	color: #645E5E;
}

.input-radio{
	text-align:left;
	margin:10px 0;
	margin-left: 30%;
}
.input-radio > div{
	display:inline-block;
}
input[type="radio"]{
    width: 20px!important;

}
input[type="radio"] + span{
	font-size: 14px;
	color: #444;
	padding-right: 25px;
	position: relative;
	top: -2px;
}

/*    CSS concernant le profile utilisateur   */
#profileWrap{
	width: 880px;
}
#pictureWrap{
	text-align:center;
	background: rgb(245,245,245);
	box-shadow: 0 2px 2px #DFDFDF;
	padding-bottom: 15px;
	border:1px dashed transparent;
	width: 162px;
	padding-top: 4px;
	margin: 0 auto;
	height: 160px;
	transition: .4s;
	display: inline-block;
	vertical-align: top;
}
#pictureWrap:hover{
	border:1px double #dde;
}
.fieldsWrap{
	margin-left: 40px;
	display: inline-block;
}
.fieldsWrap input{
	padding: 10px 0 5px 0px;
	border: none;
	/* border-bottom: 1px solid #ddd; */
}
.fieldsWrap textarea{
	padding-top:6px;
}
.profileInput{
	color: #999;
}
.fieldsWrap .input-row-wrap{
    margin-bottom: 3px;
}
.fieldsWrap .input-row-wrap:last-child{
	margin-top: -7px;
}

#profileWrap h2{
	margin-bottom: 40px;
}
#settingsWrap{
	overflow:auto;
}
#profileWrap h5{
	font-size: .7em;
	text-align: center;
	color: #888;
	position: absolute;
	bottom: -30px;
	width: 100%;
}
#profileWrap h5 span{
	margin-right:5px;
	font-size:1.1em;
}
#name{
	width:180px;
}
 
.input-row-wrap.split{
	/* padding-bottom: 20px; */
}
#profileWrap textarea{
	width: 80%;
	padding-top: 20px;
	padding-left: 10px;
	height: 50px;
	border: none;
	border-bottom: 1px dashed #C0C0C0;
}
#profileWrap #validate{
	margin: 20px auto;
	position: relative;
}
.profileInput{
	-webkit-transition: all .5s;
	transition: all .5s;
}
.modified{
	color: rgb(205, 95, 95)!important;
	/* font-weight: bolder; */
}
.drink.modified,
.mood.modified{
	font-weight:bolder;
	border-bottom: 2px solid;
}
.validating{
	background: #F3F3F3;
	border-radius: 3px 3px 0 0;
}
.validating-btn,
.asked{
	background: #E6E6E6;
	color:rgb(60,60,60);
}
.validating-btn:hover,
.asked:hover{
	box-shadow:none;
}
.mainPicture{
	padding: 9px;
	background:white;
}
.progress_bar{
	position: fixed;
	top: 36px;
	height: 5px;
	width: 0%;
	background: rgb(52, 52, 52);
	-webkit-transition: width .9s;
	transition: width .9s;
	text-align: center;
	box-shadow: 0 2px 2px rgb(175, 175, 175);
	color: white;
	z-index: 1;
}
#contactWrap{
    overflow: auto;
}
#contactWrap form{
	margin: 50px 0 0 50px;
}
#contactWrap input{
	/* width: 200px; */
	padding:5px;
	border: none;
	margin: 9px 0;
	/* border-bottom: 1px solid rgb(197, 197, 197); */
}
#contactWrap #contactBody{
	padding: 5px;
	width: 400px;
	border: none;
	border-bottom: 1px dashed rgb(201, 201, 201);
	min-height: 100px;
	outline: none;
}
#contactWrap #sendContactForm{
    margin-top: 20px;
}
/*various hacks*/
.upload_form{
	position: absolute;
	top: 0;
	left: 0;
}
#profileWrap .cloudinary-fileupload{
	width: 180px!important;
	height: 180px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.01;
}
#thumbWrap{
	position: fixed;
	margin-right: 130px;
	top: -2px;
	right: 10%;
	/* background: white; */
	padding: 10px;
	border-radius: 2px;
	z-index: 99;
}
#thumbWrap > div.imgWrap{
    position: absolute;
    left: -48px;
}
#thumbWrap img{
    border-radius: 40px;

    border: 3px solid white;
    box-shadow: 0 0 2px rgb(218, 218, 218);
    position: relative;
    top: -4px;
    left: 8px;
}
#thumbInfos{
	margin-left:8px;
	top: 3px;
	display: inline-block;
	position: relative;
	width: 100%;
}
#thumbName{
	font-weight:normal;
	text-align: left;
	font-size: 23px;
	margin-left: 2px;
	margin-bottom: 3px;
	position: relative;
	top: -2px;
	color: white;
	/* display: inline-block; */
}
.actionsWrap{
	margin-top:10px;
	margin-bottom: 10px;
	text-align: center;
}
.actionsStyle span.action:before{
	content: "";
	margin-right: 10px;
	border: 4px solid #E83333;
	border-radius: 5px;
	display: inline-block;
}
.action{
	font-size: 12px;
	margin-left: 10px;
	transition: all .7s;
	position: relative;
	top: -4px;
}
.action:hover{
	cursor:pointer;
	text-decoration:underline;
}
.action:hover::before{
	background-color: rgb(250, 250, 250);
	border-color:gr
}

#settingsWrap .input-row-wrap{
	margin-top:16px;
	width: 100%;
}
#settingsWrap .input-row-wrap:first-child{
	margin-top: 40px;
	padding-bottom: 15px;
	border-bottom:1px dashed #ccc;
}
#settingsWrap .input-row-wrap:nth-child(4){
	padding-bottom: 15px;
	border-bottom:1px dashed #ccc;
}
#settingsWrap label{
	width:150px;
} 
#settingsWrap input#currentPw:hover{
	cursor:not-allowed;
}
#settingsWrap #newsletter{
	width: 15px!important;
}

#drink, #mood{
	display:inline-block;
	padding: 7px;
}

.formWrap{
	position:relative;
}

.header-field.blocked{
	background: rgb(38, 38, 38);
}
.header-field.validated{
	color:white!important;
	background: rgb(38, 38, 38);
	border: 1px solid rgb(126, 126, 126)!important;
	border-radius: 3px!important;
}
::-webkit-input-placeholder {
   color: #ccc;
   font-weight:normal;
}
:-moz-placeholder { /* Firefox 18- */
   color: #ccc;
   font-weight:normal;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;
   font-weight:normal; 
}
:-ms-input-placeholder {  
   color: #ccc;
   font-weight:normal; 
}

#searchBar ::-webkit-input-placeholder {
   color: #ccc;
   font-style:italic;
   font-size: .85em
}
#searchBar :-moz-placeholder { /* Firefox 18- */
   color: #666;
   font-weight:normal;
}
#searchBar ::-moz-placeholder {  /* Firefox 19+ */
   color: #666;
   font-weight:normal; 
}
#searchBar :-ms-input-placeholder {  
   color: #666;
   font-weight:normal; 
}
input[type="submit"]:hover,
button:hover{
	cursor:pointer;
}

loginWrapp input.validating-btn{
	background: rgb(38, 38, 38)!important;
}

#searchUsersWrap{
	width:400px; 
	overflow: auto;
}
#searchBarWrap{
	margin-top: 30px;
	text-align:center;
}

#searchBar{
	width:400px;
	position:relative;
	margin:0 auto;
}
#searchBar i{
	color:#ccc;
	position:absolute;
	top: 8px;
	right: 10%;}

#searchBar input[type="text"]{
    border: 1px solid #ccc;
	-webkit-transition: all .2s;
	transition: all .2s;
    border-radius: 10px 10px 0 0;
    width: 80%;
    padding: 5px;
    padding-left: 14px;
    color: #565656;
}
#searchBar input:focus{
	box-shadow: 0px -2px 3px rgb(229, 229, 229);
}

#searchUsers{
	text-align:center;
	border-top: 1px solid #ccc;
	position: relative;
	top: -1px;
	padding-top: 20px;
	margin-bottom: 100px;
}
#searchUsers active{
	opacity: .8;
}
#searchUsers button, #botsWrap button{
	width: 36px!important;
	height: 34px;
	font-size: 15px;
	border-radius: 0px;
	margin-top: 13px;
	display: inline-block;
}

#searchBar input[type="submit"]{
    width: 15%;
    border: none;
    background: #252525;
    color: white;
}

.u-item{
	height: 50px;
	margin: 9px 0;
	opacity: 0;
	-webkit-transition: opacity.3s;
	transition: opacity .3s;
}
.u-item button{
	opacity:0;
}

.u-item button:hover{
	opacity:0;
	cursor:default;
} 
.u-item.match button{
	opacity:1;
}
.u-item.match button:hover,
.f-item button:hover{
	cursor:pointer;
	opacity: .8; 
}
.f-askedme button i{
	
}
.u-item.match{
	opacity: 1;
}
.u-head,
.u-body,
.f-head,
.f-body{
	display:inline-block; 
}
.u-head .online-marker{
	  position: absolute!important;
	  left: -24px;
	  top: 13px;
	  color: rgb(199, 42, 42);
	  font-size: 23px;
	  opacity: 0;
}
.u-item:not(.match) .u-head{
	box-shadow:none!important;
}
.f-body{
	width: 130px;
	margin-top: 17px;
}
#friendListWrap i.icon-ok{
	position:relative;
	top: -2px;
	left: -1px;
}
#friendListWrap button.themeBtn{
	position:relative;
	vertical-align: top;
	margin-top: 17px;
	width: 36px;
	font-size: 1em;
	right: 13px;
}
#friendListWrap .jspVerticalBar{
	right:-1px;
	top: -21px;
}
#myFriends{
	width:250px;
}

.u-body,
.f-body{
	vertical-align:top;
	margin: 18px 0 0 10px;
	text-align: left;
	color: #555;
	font-size: .9em;
	width: 137px;
}
.u-body > *,
.f-body{
	vertical-align:top;
}
span.u-name,
span.f-name{
	font-weight:bolder;
	display: block;
	margin-bottom: -1px;
}
span.u-age, span.u-favdrink, span.f-age, span.f-favdrink{
	color: #A9A9A9;
	font-size: 12px;
	margin-right: 3px;
	position: relative; 
	top: 3px;
}
span.f-age, span.f-favdrink{
	top:0px;
}
.u-item button,
.f-item{
	/* display:inline-block; */
	width:80px;
	font-size:10px;
	vertical-align:top;
	margin-top:10px;
}
.u-item button i{
	position:relative;
	top: -1px;
	left: 0px;
}
.u-item.f-askedme button{
	left:2px;
	position:relative;
	text-align:center;
}
.u-item.f-askedme i{
	position:relative;
	left:-1px;
}

.u-head img{ 
    opacity: 1!important;
}

.hint--right{
	text-transform:none!important;
	font-family:'Lato'; 
}

p{
	color: #777777;
	line-height: 24px;
	margin: 20px 0 20px;
	font-family: 'Karla','Lato';    letter-spacing: -.5px;
}

.center-heading{
	text-align: center;
	margin-bottom: 40px;
}  

::selection{
	background: rgb(199, 42, 42);
	color:white;
}

.online-marker.active{
	opacity: 1!important;
} 

.inspire{
	float: right;
	margin: 10px 10px 0 0;
	color: #bbb;
}