.menu-section.x--cheers {}

.menu-section.x--cheers .menu-section-segment {}

.menu-section.x--cheers .segment {
    width: 500px;
}

.menu-section.x--cheers .segment__part {
    font-size: 13px;
}

.cheers {
    width: 100%;
    min-height: 280px;
    display: flex;
    flex-flow: column nowrap;
}

.cheers__item {
    border-bottom: 1px solid #eee;
    position: relative;
    padding: 16px 20px;
    display: none;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
}

.cheers__item:hover {
    background: #fbfbfb;
}

.cheers__item:hover .halo {
    width: 130%;
    height: 130%;
    border-color: #1b69ec;
}

.cheers__item:hover .row-body__icon,
.cheers__item:hover .row-date,
.shared__item:hover .row-body__icon,
.shared__item:hover .row-date,
.friends__item:hover .row-body__icon,
.friends__item:hover .row-date {
    color: #1b69ec;
}

.cheers__item.x--last {
    border-bottom: none;
}

.cheers .row-pic__icon {
    background: #1b69ec;
}

.cheers .row-pic__icon.x--pending {
    background: #fd7124;
    background: white;
    color: #1b69ec;
    border: 2px solid;
}

.cheers-ribbon {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0)!important;
    width: 300px;
    height: 34px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: rgb(26, 82, 177); */
    color: white;
    z-index: 1000;
    font-size: 16px;
    font-weight: bold;
    border-radius: 100px;
    margin: 0 auto;
}

.cheers-ribbon span {
    font-family: 'Open sans';
}

.cheers-ribbon h2 {}

.cheers-back {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background: white;
    display: flex;
    flex-flow: column;
    top: 0;
    left: 0;
    z-index: 1000;
}

.cheers-back-pictures {
    width: 230px;
    height: 230px;
    margin: 0px auto;
    flex-shrink: 1;
    font-size: 12px;
    text-align: center;
}

.cheers-back-pictures .rosace {}
 
.cheers-back-users {
    width: 100%!important;
    flex-basis: 250px;
    height: 250px;
    outline: none;
    position: relative;
}

.cheers-back-actions {
    margin-top: auto;
    padding: 30px 0 40px 0;
    order: 1;
    flex-shrink: 0;
    border-top: 1px solid #eee;
}

.cheers-back-actions button {
    width: 70px;
    height: 70px;
    background: #1b69ec;
    color: white;
}

.cheers-back-actions button i {
    font-size: 26px;
    transform: rotate(-20deg);
    transition: all ease-in-out .15s;
}

.cheers-back-actions button span {
    display: none;
}

.cheers-back-actions button:hover i {
    transform: rotate(20deg);
}
.chat-header__icon.x--close {
    position: absolute;
    right: 10px;
    top: 16px;
    cursor: pointer;
}

.cheers-back-groupname {display: flex;justify-content: flex-end;flex-flow: column nowrap;align-items: center;flex-shrink: 0;height: 70px;margin-bottom: 10px;}

.cheers-back-groupname__h1 {font-family: 'creamy';font-size: 24px;margin-bottom: 6px;color: #1B69ec;}

.cheers-back-groupname__h1 span {}

.cheers-back-groupname__h2 {
    font-size: 11px;
    position: relative;
    top: -2px;
}

.cheers-back-groupname__h2 span {
    font-size: 13px;
}

.cheers-back-users .jspPane {
    padding: 0!important;
    width: 100%!important;
}

.cheers-back-users .jspDrag {
    background: #FFFFFF;
    border: 1px solid #eee;
    right: 2px;
    border-radius: 0;
}

.cheers-back-users .jspVerticalBar {
    right: 0;
}

.cheers-back-users .jspTrack {
    background: #ECECEC;
    right: 0;
    width: 6px;
}

.cheers-back__loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 100;
    margin: auto;
    margin-bottom: 136px;
}
 
.cheers-title {
    font-family: 'creamy';
    font-size: 30px;
    color: #454545;
}

.cheers-title h3 {

}

.cheers-subtitle {font-size: 12px;}

.cheers-subtitle span {

}

.empty__btn {width: 200px;height: 40px;margin-top: 30px;}
.empty__btn button {
    width: 100%;
    height: 100%;
    background: #1b69ec;
    color: white;
    border-radius: 110px;
    font-size: 15px;
    font-family: 'quenda';
    line-height: 11px;
    justify-content: center;
}

.empty__btn button:hover {
    opacity: .8!important;
}

