.menu-section.--cheers {}

.menu-section.--cheers .menu-section-segment {}

.menu-section.--cheers .segment {
    width: 500px;
}

.menu-section.--cheers .segment__part {
    font-size: 13px;
}

.cheers {
    width: 100%;
    min-height: 280px;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 30px;
}

.cheers__item {
    border-bottom: 1px solid #eee;
    position: relative;
    padding: 16px 20px;
    display: none;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
}

.cheers__item:hover {
    background: #fbfbfb;
}

.cheers__item:hover .halo {
    width: 130%;
    height: 130%;
    border-color: #1b69ec;
}

.cheers__item:hover .row-body__icon,
.cheers__item:hover .row-date,
.shared__item:hover .row-body__icon,
.shared__item:hover .row-date,
.friends__item:hover .row-body__icon,
.friends__item:hover .row-date {
    color: #1b69ec;
}

.cheers__item.--last {
    border-bottom: none;
}

.cheers .row-pic__icon {
    background: #1b69ec;
}

.cheers .row-pic__icon.--pending {
    background: #fd7124;
    background: white;
    color: #1b69ec;
    border: 1px solid;
}

.cheers-ribbon {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0)!important;
    width: 300px;
    height: 34px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: rgb(26, 82, 177); */
    color: white;
    z-index: 1000;
    font-size: 16px;
    font-weight: bold;
    border-radius: 100px;
    margin: 0 auto;
}

.cheers-ribbon span {
    font-family: 'Open sans';
}

.cheers-ribbon h2 {}

.cheers-back {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background: white;
    display: flex;
    flex-flow: column;
    top: 0;
    left: 0;
    z-index: 1000;
}

.cheers-back-pictures {
    width: 110px;
    height: 110px;
    margin: 20px auto;
    flex-shrink: 0;
    font-size: 12px;
    text-align: center;
}

.cheers-back-pictures .rosace {}

.cheers-back-users {
    width: 399px;
    flex-basis: 250px;
    height: 250px;
    outline: none;
}

.cheers-back-actions {
    margin-top: auto;
    padding: 30px 0 40px 0;
    order: 1;
    flex-shrink: 0;
    border-top: 1px solid #eee;
}

.cheers-back-actions button {
    width: 70px;
    height: 70px;
    background: #1B69EC;
    color: white;
}

.cheers-back-actions button i {
    font-size: 38px;
}

.cheers-back-actions button span {
    display: none;
}

.chat-header__icon.--close {
    position: absolute;
    right: 10px;
    top: 16px;
    cursor: pointer;
}

.cheers-back-groupname {
    display: flex;
    flex-shrink: 0;
    /* justify-content: center; */
    align-items: center;
    max-width: 300px;
    margin: -33px auto 30px;
    /* background: #1b69ec; */
    /* background: #34ab53; */
    background: #e94f6a;
    z-index: 1;
    padding: 8px 20px;
    border-radius: 100px;
    color: white;
    border: 2px solid;
}

.cheers-back-groupname__h1 {
    font-size: 12px;
    margin-right: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cheers-back-groupname__h1 span {}

.cheers-back-groupname__h2 {
    font-size: 11px;
    position: relative;
    top: -2px;
}

.cheers-back-groupname__h2 span {}

.cheers-back-users .jspPane {
    padding: 0!important;
    width: 100%!important;
}

.cheers-back-users .jspDrag {
    background: #FFFFFF;
    border: 1px solid #eee;
    right: 2px;
    border-radius: 0;
}

.cheers-back-users .jspVerticalBar {
    right: 0;
}

.cheers-back-users .jspTrack {
    background: #ECECEC;
    right: 0;
    width: 6px;
}

.cheers-back__loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    margin: auto;
}
