.search-header {
    padding: 26px 0px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #191919;
    position: fixed;
    top: -12px;
    z-index: 10000000000000;
    color: white;
    right: 43%;
}

.search__title {
    font-family: 'creamy';
    font-size: 34px;
    margin-top: 40px;
    display: none;
}

.search-header__title {
    font-size: 27px;
    font-family: 'creamy';
}

.search-header__title h2 {}

.search-filters__icon {
    position: fixed;
    right: 20px;
    top: 80px;
    font-size: 20px;
    cursor: pointer;
    background: #1B69EC;
    color: #FFFFFF;
    height: 50px;
    width: 50px;
    z-index: 10;
    cursor: pointer;
    /* transition: all ease-in-out .15s; */
}

.search-filters__icon:hover {
    background: #4E90FF;
}

.search-filters__icon i {
    margin: auto;
}

.search__input {
    margin: auto;
    width: 40%;
    position: relative;
    display: none;
}

.search__input input {
    border: none;
    padding: 10px 30px;
    font-size: 18px;
    font-family: 'Alegreya sans';
    width: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid #191919;
    font-weight: 300;
    /* background: #191919; */
    color: black;
    font-weight: 600;
}

.search-users {
    text-align: center;
    flex-flow: column nowrap;
    box-sizing: border-box;
    max-width: 835px;
    margin-top: 0;
    align-items: center;
    justify-content: center;
}

.search-users-row {
    display: flex;
    width: 100%;
    position: relative;
}

.search-users-row:last-of-type {}

.search-user {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 33%;
    margin: 2px;
    overflow: hidden;
    position: relative;
    /* border-radius: 6px; */
    border-bottom: 1px solid #eee;
    transition: all ease-in-out .2s;
    cursor: pointer;
    box-shadow: 0px 2px 2px -1px rgb(232, 232, 232);
}

.search-user-body {
    background: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 66px;
    position: relative;
    top: -4px;
    /* background: #fbfbfb; */
    border: 1px solid #eee;
}

.search-user:not(.--blank):hover {}

.search-user:not(.--blank):hover .search-user__pic-overlay {
    opacity: 0.5;
}

.search-user:not(.--blank):hover .search-user__pic img {
    transform: scale(1.1);
}

.search-user.--blank {
    opacity: 0;
    cursor: default;
}

.search-user__pic {
    overflow: hidden;
    width: 100%;
    position: relative;
    transition: all ease-in-out .2s;
}

.search-user__pic-overlay:hover {}

.search-user__pic-overlay,
.search-user__pic-filterlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .0;
    transition: all ease-in-out .2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-user__pic-filterlay {
    opacity: .2;
    z-index: 0;
}

.search-user__pic-overlay i {}

.search-user .user-online {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    z-index: 10;
}

.search-user__pic img {
    transition: all ease-in-out .2s;
    width: 100%;
    height: auto;
}

.search-user__country {
    font-size: 11px;
    display: none;
    margin: 0 0 0px 8px;
    position: relative;
    /* top: -2px; */
}

.search-user__country i {
    border-radius: 7px 0 5px 0;
}

.search-user__gender {
    display: inline-block;
    position: relative;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    position: relative;
    order: -1;
    top: -1px;
}

.search-user__location {
    font-family: 'open sans';
}

.search-user__location span {}

.search-user__h1 {
    width: 100%;
    color: #454545;
    font-size: 16px;
}

.search-user__h1 .name {
    font-weight: 700;
    overflow: hidden;
    max-width: 60%;
    white-space: nowrap;
    font-size: 13px;
}

.search-user__h2 {
    width: 100%;
    font-weight: 400;
    color: #919191;
    font-size: 10px;
    margin-top: 6px;
}

.search-user__h2 .comma {
    color: #919191;
    font-family: 'Open sans';
    margin: 0 4px;
    font-weight: 100;
}

.search-user__h2 .age,
.search-user__h2 .location {}

.search-user__h2 .age {}

.search-user__h2 .location {}

.search-user__actions {
    background: #FFFFFF;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    /* border-radius: 0 0 6px 6px; */
    height: 98px;
    position: relative;
    top: -4px;
    color: white;
    border: 1px solid #ccc;
    border-bottom: none;
    border-top: none;
    box-sizing: border-box;
}

.search-user__action {
    height: 40px;
    width: 50%;
    cursor: pointer;
}

.search-user__action.--meepass {
    color: #ccc;
}

.search-user__action.--share {
    color: #1B69EC;
}

.search-user__action i {
    margin: auto;
}

.search__input::-webkit-input-placeholder {
    color: #ccc;
    font-weight: 400;
}

.search__input:-moz-placeholder {
    /* Firefox 18- */
    color: #ccc;
    font-weight: 400;
}

.search__input::-moz-placeholder {
    /* Firefox 19+ */
    color: #ccc;
    font-weight: 400;
}

.search__input:-ms-input-placeholder {
    color: #ccc;
    font-weight: 400;
}

.search-user__splitter {
    background: #ccc;
    height: 40%;
    width: 1px;
    display: none;
}

.search-user__name,
.search-user__actions {}

.search-users > img {
    width: 32px;
    margin: 40px 0 80px;
}

.search-filters__close {
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
    color: #ccc;
}

.search-filters__close i {
    margin: auto;
}

.search-filters-body {
    font-size: 12px;
    overflow-y: scroll;
}

@media (min-width: 736px) {
    .search-user__name,
    .search-user__actions,
    .search-user__location {}
    .search-user {
        margin-right: 40px;
        padding-bottom: 36%;
    }
    .search-users-row {
        margin-bottom: 40px;
    }
    .search-user__country {}
    .search-users {
        margin-top: 40px;
        min-width: 840px;
    }
    .search__title {
        display: block;
    }
}
