

	
.menu-section.--friends {

}


.friends {width: 100%;display: flex;flex-flow: column nowrap;min-height: 280px;}

.friend__item {
	border-bottom: 1px solid #eee;
	position: relative;
	padding: 16px 20px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
}
.friend__item:hover {
	background: #f9f9f9;
}
.friend__item:last-of-type {
	border-bottom: none;
}


.friend__item.--invite-friends .row-pic {
	font-size: 50px;
    background: #7b4cbb;
    border-radius: 100px;
    color: white;
}
.friend__item.--invite-friends h2 {
	font-family: 'Creamy Script';
	font-size: 32px;
}

.friend__item.--invite-friends i {
	margin: auto;
}