.menu-section.x--friends {}

.friends {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    min-height: 280px;
}

.friend__item {
    border-bottom: 1px solid #eee;
    position: relative;
    padding: 16px 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.friend__item:hover {
    background: #f9f9f9;
}

.friend__item:hover i,
.friend__item:hover .row-date {
    color: #1a59c3;
}

.friend__item:last-of-type {
    border-bottom: none;
    display: none;
}

.friends .x--invite-friends .row-pic {
    font-size: 50px;
    background: white;
    color: #1a59c3;
    border: 2px solid;
    border-radius: 100px;
}

.friend__item.x--invite-friends h2 {
    font-family: 'creamy';
    font-size: 32px;
}

.friend__item.x--invite-friends i {
    margin: auto;
}

.friend-modal {
    display: flex;
    width: 100%;
    margin: 0px 0;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    padding: 10px;
    border-radius: 4px;
    margin: 0 14px 0;
}

.friend-modal.x--noselect:hover {
    cursor: not-allowed;
}

.friend-modal:hover {
    background: #fbfbfb;
}

.friend-modal:last-of-type {
    border: none;
}

.friend-modal__name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    font-size: 16px;
}

.friend-modal__name span {}

.item-modal__noselect {
    color: #1a59c3;
    font-weight: 600;
    font-size: 10px;
    margin-left: 10px;
}

.friend-modal__icon {
    position: absolute;
    bottom: -8px;
    right: -8px;
    background: #eee;
    height: 16px;
    width: 16px;
    font-size: 10px;
    color: white;
    border: 4px solid;
}

.friend-modal__icon i {
    margin: auto;
}

.friend-modal__pic {
    border-radius: 100px;
    position: relative;
    width: 40px;
    height: 40px;
}

.friend-modal__pic img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.friend-modal.x--selected {}

.friend-modal.x--selected .friend-modal__icon {
    background: #1a59c3;
}

.friend-modal.x--selected .friend-modal__name {
    font-weight: 700;
}

.no-friends {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0;
    width: 310px;
    text-align: center;
}

.no-friends span {
    font-weight: 600;
    color: #D55D8C;
    font-size: 12px;
}

.no-friends button {
    width: 100%;
    height: 50px;
    background: #3b5998!important;
    border: none!important;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bolder;
    margin-top: 12px;
}

.invite-friends-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    font-size: 12px;
    height: 90px;
    border: 1px solid #f7f7f7;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invite-friends-popup__icon {
    font-size: 26px;
    background: none;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    color: white;
    /* margin-right: 20px; */
    animation: pound-light .5s infinite alternate;
    transform-origin: center;
}

.invite-friends-popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 8px;
    color: white;
}

.invite-friends-popup__close i {}

.invite-friends-popup-message {
    display: flex;
    flex-flow: column;
}

.invite-friends-popup__icon i {}

.invite-friends-popup__h1 {
   display: none;
}

.invite-friends-popup__h1 span {}

.invite-friends-popup__h2 {
    font-size: 12px;
}

.invite-friends-popup__h2 span {
    display: none;
}

.invite-friends-popup__btn {
    flex-shrink: 0;
}

.invite-friends-popup__btn button {
    border-radius: 2px;
    /* color: white; */
    background: #1a59c3;
    /* border: 2px solid #e94f6a; */
    color: white;
    background: none;
    font-weight: 700;
    font-family: 'quenda';
    font-size: 20px;
}

