.me {
    flex-direction: column;
    width: 80%;
    order: 2;
    margin-bottom: 40px;
    justify-content: center;
}

.me-item {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 50px 0;
    width: 100%;
}

.me-item.x--no-edit input {
    opacity: .5;
}

.me-item-body {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.me-item label {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    /* margin-left: 30px; */
} 

.me-item input,
.me-item textarea {
    font-weight: 200;
    width: 100%;
    padding: 12px 0px;
    border: 1px solid white;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    outline: none;
    transition: all ease-out .15s;
    box-sizing: border-box;
    font-size: 17px;
    font-family: 'Open sans';
    cursor: pointer;
}

.menu-section__input {
    padding: 8px 10px 10px 0;
    outline: none;
    border: 1px solid white;
    border-bottom: 1px solid #eee;
    width: 100%;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 200;
    cursor: pointer;
    transition: all cubic-bezier(0, 0, 0.2, 1) .20s;
}

.me-item textarea {
    resize: none;
}

.me-item__explanation {
    color: #454545;
    font-weight: 400;
    margin-top: 6px;
    border-radius: 100px;
    font-size: 11px;
}

.me-item.x--active input,
.me-item.x--active textarea {
    border-bottom: 1px solid #1B69EC;
    padding-left: 16px;
    cursor: text;
}

.me-item .action {
    top: -2px;
    right: -20px;
    font-size: 16px;
    color: #191919;
    z-index: 1;
}

.me-item.x--validating .menu-input-action {
    opacity: .5!important;
}
