/*
   - Curtain
   - Loaders
   _ Toast
   - Modals
   
*/

.user__status {
    width: 18px;
    height: 18px;
    border-radius: 100px;
    position: absolute;
    top: 0;
    right: 0;
}

.user__status.--online {
    background: #6ae74f;
}

.padded {
    padding-top: 60px;
}

/* App toasts */

.toast {
    position: fixed;
    left: 50%;
    transform: translateX(-50%)!important;
    top: 10px;
    min-width: 240px;
    height: 34px;
    z-index: 10000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 40px;
    padding: 0 30px;
    font-weight: 400;
}

.toast--info {
    color: #FFFFFF;
}

.toast--error {
    background: #B10926;
}

.toast--success {
    background: black;
}


/* End app toasts */


/* App Loaders */

.app__loader {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 23px;
    z-index: 1000;
}


/* End app loaders */


/* App curtain  */

.curtain {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #191919;
    z-index: 12345;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}


/* End app curtain */


/* App modals and popup */

.modal {
    background: white;
    border-radius: 10px;
    padding: 10px 10px 20px 10px;
    color: #191919;
    width: 400px;
    display: flex;
    flex-flow: column nowrap;
}

.modal.--facebook {
    padding: 10px 30px;
}

.modal-content {}

.modal-header {
    min-height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-subheader {
    color: #919191;
    padding: 0 30px;
    text-align: center;
    font-weight: 300;
    line-height: 18px;
    font-size: 16px;
}

.modal-body {
    min-height: 100px;
    max-height: 300px;
    margin: 20px 0 0px;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    align-items: flex-start;
    outline: none;
}

.modal-footer {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.modal__title {
    font-family: 'creamy';
    font-size: 40px;
}

.modal__title h1 {}

.modal__close {
    position: absolute;
    top: 12px;
    right: 8px;
    cursor: pointer;
    color: #ccc;
    font-size: 16px;
}

.modal__close i {}

.modal-footer button.--rounded {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    color: white;
    background: white;
    border: 4px solid;
}


.modal.--share button,
.modal.--be-create button,
.modal.--request button {
    background: #33afff;
    border: 4px solid #33afff;
}

.modal.--logout button {
    color: #fd7124;
}
.modal.--logout button i {
    font-size: 36px;
}

.modal-footer button.--squared {}

.modal__loader {
    margin: auto;
}
.menu__loader {
    margin: auto;
}

.modal__loading-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)!important;
    background: #FFF5F5;
    color: #A92020;
    width: 70%;
    text-align: center;
    padding: 10px;
    border-radius: 100px;
}

.modal-footer i {
    font-size: 28px;
}

.modal.--facebook:not(.--active) .modal-footer {
    opacity: .2;
}

.modal.--facebook:not(.--active) button {
    color: #919191;
    cursor: default;
}

.modal__facebook-picture {
    display: none;
    /* margin: 4px; */
    /* border: 1px solid #eee; */
    padding: 2px 4px;
    cursor: pointer;
    width: 33.333333%;
    box-sizing: border-box;
}

.modal__facebook-picture .modal__picture-icon {
    display: none;
    transition: all ease-in-out .2s;
    position: absolute;
    bottom: 12px;
    right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: #33AFFF;
    color: white;
    box-sizing: border-box;
}

.modal__picture-icon i {
    margin: auto;
}

.modal__facebook-picture.--active .modal__picture-icon {
    display: flex;
}

.modal__input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.modal__input input {
    margin: auto;
    padding: 16px 40px;
    width: 50%;
    font-size: 30px;
    font-weight: 200;
    border: none;
    border-bottom: 2px solid #ccc;
    text-align: center;
}

.modal__facebook-picture img {
    width: 100%;
}
.modal.--delete .modal-footer {flex-flow: column;margin: 16px 0;} 
.modal.--delete button {
    background: #eee;
    width: 260px;
    padding: 14px 0;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin: 4px 0;
}
.modal.--delete button.--pending {
    opacity: .5;
}
.modal.--delete button[data-action="confirm"] {
    background: #db4760;
    color: white;
    font-weight: bolder;
}
.modal.--delete button[data-action="cancel"] {}

.modal-search__input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    padding: 0 30px;
}

.modal-search__input input {padding: 10px 16px;border-radius: 100px;border: 1px solid #eee;width: 100%;font-size: 16px;font-family: 'Alegreya sans';}

.modal.--share .modal-body {
    margin-top: 0px;
    x;
}
.modal.--share .jspPane {
    
}

.modal.--share .jspDrag {
   
}

.modal.--share .jspTrack {

}

.modal.--disabled button {
    color: #eee;
    border: 4px solid;
    background: white;
}
.modal.--pending button {
    color: #eee;
    opacity: .6;
}

.modal__search-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)!important;
    width: 40px;
    z-index: 100000;
}


/* End app modals and popup */



/* Slide */
.slide {
    background: rgb(255, 255, 255);
    color: #191919;
    width: 350px;
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    right: 0;
    top: 59px;
    z-index: 100;
    height: 500px;
    box-shadow: 0 0 14px #949494;
}

.slide-overlay {
    position: absolute;
    z-index: 100;
    background: rgba(0, 0, 0, 0.74);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    flex-flow: column;
    display: none;
}

.slide-overlay__actions {display: flex;margin-top: auto;flex-flow: column;background: #eee;position: relative;}

.slide-overlay__action {display: flex;justify-content: center;align-items: center;height: 54px;font-size: 18px;background: white;cursor: pointer;margin: 1px 0px;}
.slide-overlay__action:hover {
    background: #F7F7F7;
}
.slide-overlay__action.--back {color: #DB4760;font-weight: 700;margin-top: 8px;}

.slide-overlay__action-message {display: flex;justify-content: center;color: #eee;margin-bottom: 16px;position: absolute;top: -30px;left: 50%;transform: translate(-50%,0);}

.slide.--facebook {
}

.slide-content {}

.slide-header {
    min-height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-subheader {
    color: #919191;
    padding: 0 30px;
    text-align: center;
    font-weight: 300;
    line-height: 18px;
    font-size: 16px;
}

.slide-body {
    min-height: 100%;
    display: flex!important;
    align-items: flex-start;
    outline: none;
    position: relative;
}

.slide__loader {
    width: 40px;
    margin: auto;
}
.slide-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide__title {
    font-family: 'creamy';
    font-size: 30px;
}

.slide__title h1 {}

.slide__close {position: absolute;top: 8px;transform: translate(0,-50%);right: 8px;/* background: #3C7FEE; */color: #868686;color: white;text-shadow: 0 0 1px #868686;height: 30px;width: 30px;cursor: pointer;font-size: 14px;z-index: 100;display: none;}

.slide__close i {
    margin: auto;
}

.slide-footer button.--rounded {

}

.slide-footer button.--squared {}

.slide__loader {
}

.slide-footer i {
}


.slide__facebook-picture {

}

.slide__facebook-picture .slide__picture-icon {

}

.slide__picture-icon i {
}



.slide__input {

}

.slide__input input {
  
}

/* End slide */


.--filterlay {
    background: #af8276!important;
}


/* Bubble */
    
.bubble {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    top: 4px;
    right: 4px;
    height: 20px;
    font-size: 10px;
    width: 20px;
    font-weight: bolder;
    color: white;
    background: #1B69EC;
    border: 4px solid #191919;
}

.bubble__number {
    margin: auto;
}

/* End bubble */