html {
    overflow: auto;
    overflow-y: scroll;
}

body {
    font-family: 'Alegreya Sans';
    color: #191919;
}

.login {
    font-family: 'creamy';
    font-size: 40px;
    flex-flow: column;
}

.left {
    float: left;
}

.right {
    float: right;
}

.none {
    display: none;
}

.nonei {
    display: none!important;
}

button {
    cursor: pointer;
    outline: none;
    margin: auto;
    font-family: 'Open sans';
    border: none;
}

button:hover {
    opacity: .8;
}

.date {
    font-family: 'Open sans';
}

.--round-icon {
    display: flex;
    border-radius: 1000px;
}
.--round-icon i {
    margin: auto;
}

.app {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: white;
    position: absolute;
}

.app-section {
    width: 100%;
    background: white;
    display: none;
    z-index: 10;
    position: relative;
    flex-flow: row wrap;
}

.app-section.active {
    display: flex;
}
.app-section.--search {
    top: -2px;
    position: relative;
    flex-flow: column nowrap;
    padding-top: 0px;
    align-items: center;
}

.super-centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.row-date {
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: 300;
    font-size: 16px;
    color: #ccc;
}

.row-pic {
    display: flex;
    position: relative;
    width: 90px;
    height: 90px;
    flex-shrink: 0;
}

.row-pic__image {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.row-pic__image i {
    margin: auto;
}

.row-pic.--invite-friends {
    font-size: 50px;
    background: #7b4cbb;
    border-radius: 100px;
    color: white;
}

.row-pic__image img {}

.row-pic__icon {
    position: absolute;
    bottom: -5px;
    right: -5px;
    border: 3px solid white;
    color: white;
    background: #454545;
    font-size: 20px;
    height: 30px;
    width: 30px;
}

.row-pic__icon i {
    margin: auto;
    position: relative;
    left: 1px;
}

.row-body {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding-left: 40px;
}

.row-body__title {
    margin-bottom: 8px;
    position: relative;
}

.row-body__subtitle {
    display: flex;
    align-items: center;
    color: #919191;
}

.row-body__age {
    font-family: 'Open Sans';
    font-size: 18px;
    margin-left: 6px;
    font-weight: 100;
}

.row-body h1 {
    font-family: 'creamy';
    font-size: 30px;
}

.row-body h2 {
    font-weight: 600;
    font-size: 20px;
    color: #454545;
    margin-right: 30px;
}

.row-body__icon {
    color: #919191;
    width: 24px;
    height: 20px;
}

.row-body__icon i {}

.row-body h4 { 
    color: #919191;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open sans';
}

.row-body h4 span {
    font-size: 14px;
    margin-left: 2px;
}

.settings-input {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 8px;
    padding-bottom: 5px;
}

.settings-input-label {
    display: flex;
    width: 100%;
    margin-left: 20px;
}

.settings-input__label {
    font-weight: 300;
    font-size: 24px;
    color: #454545;
    padding-left: 8px;
    margin-bottom: 4px;
    width: 100%;
}

.settings-input__icon {
    /* background: #EAEAEA; */
    border: 2px solid #33afff;
    min-width: 60px;
    min-height: 60px;
    box-sizing: border-box;
    font-size: 32px;
    position: absolute;
    left: -50px;
    top: -8px;
    border: none;
}

.settings-input__icon i {
    margin: auto;
}

.settings-input__explanation {
    display: inline-block;
    background: #F9F9F9;
    padding: 10px 10px;
    border-radius: 100px;
    align-self: flex-end;
    margin-left: auto;
}

.toggle {
    height: 40px;
    display: flex;
    flex-flow: column;
    width: 80px;
    background: #ccc;
    border-radius: 100px;
    margin-left: auto;
    order: 100;
    border: 1px solid #ccc;
    transition: all ease-in-out .2s;
    transition-delay: .15s;
    position: relative;
    cursor: pointer;
}

.toggle__background {
    background: #f9f9f9;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
    transition: all ease-in-out .3s;
    transition-delay: .005s;
}

.toggle__button {
    height: 34px;
    width: 55%;
    background: white;
    border-radius: 100px;
    margin: auto 3px;
    margin-left: 4%;
    box-shadow: 1px 1px 3px #ABABAB;
    position: relative;
    transition: all ease-in-out .2s;
}

.toggle.--active {
    background: #33afff;
    border-color: #33afff;
}

.toggle.--active .toggle__button {
    margin-left: 42%;
    box-shadow: 1px 1px 3px #616161;
}

.toggle.--active .toggle__background {
    height: 0%;
    width: 0%;
    opacity: 0;
}

.action {
    position: absolute;
    display: none;
}

.action i {
    margin: auto;
}

.action > div {
    width: 40px;
    height: 40px;
    border: 2px solid #454545;
    margin: 0 2px;
    cursor: pointer;
}

.action > div:hover {
    opacity: 0.75;
}

.action .action__validate {
    background: white;
    border: 2px solid #1B69EC;
    color: #1B69EC;
}

.action .action__cancel {
    background: white;
    color: #FF6767;
    border-color: #ff6767;
}

.icon-item {
    position: absolute;
    left: -60px;
    top: 29px;
    font-size: 30px;
}

.icon-item i {
    margin: auto;
}

.edit {
    color: rgb(51, 175, 255);
    position: absolute;
    right: 14px;
    top: 24px;
    z-index: 1;
    font-size: 22px;
    cursor: pointer;
    border-radius: 100px;
    background: rgba(51, 175, 255, 0.12);
    height: 40px;
    width: 40px;
    display: flex;
}

.edit:hover {
    opacity: .7;
}

.edit i {
    margin: auto;
}

.empty {
    display: none;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    min-height: 400px;
    width: 400px;
    margin: auto;
    text-align: center;
}

.empty__icon {
    display: flex;
    color: #33afff;
    color: #ccc;
    font-size: 100px;
}

.empty__icon i {
    margin: auto;
}

.empty__title {
    font-size: 36px;
    margin-top: 30px;
    color: #454545;
}

.empty__title h2 {}

.empty__subtitle {
    color: #919191;
    margin-top: 20px;
    line-height: 23px;
}

.empty__subtitle p {}

.empty__subicon {
    min-height: 70px;
    min-width: 70px;
    margin: auto;
    justify-content: center;
    align-items: center;
    background: #7b4cbb;
    color: white;
    font-size: 50px;
    margin-top: 30px;
    cursor: pointer;
}

.empty__subicon i {}

.disconnected {
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    width: 400px;
    margin: auto;
    text-align: center;
}

.disconnected__icon {
    display: flex;
    color: #33afff;
    font-size: 60px;
}

.disconnected__icon i {
    margin: auto;
}

.disconnected__title {
    font-size: 50px;
    font-family: 'creamy';
    color: white;
}

.disconnected__title h2 {}

.disconnected__subtitle {
    color: #ccc;
    margin-top: 20px;
    line-height: 23px;
}

.disconnected__subtitle p {}

.disconnected__subicon {
    min-height: 70px;
    min-width: 70px;
    margin: auto;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #7b4cbb; */
    color: #7B4CBB;
    font-size: 50px;
    margin-top: 16px;
    cursor: pointer;
}

.disconnected__subicon i {}

.app-lang {
    display: flex;
    margin-left: auto;
    margin-right: 6px;
    position: relative;
    cursor: pointer;
}
.app-lang:hover .app-lang__icon {
    color: #eee;
}
.app-lang:hover .app-lang__flag-icons i.--active {
    opacity: 1;
}

.app-lang__icon {
    display: flex;
    color: #454545;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    transition: all ease-out .15s;
}

.app-lang__icon i {

}
.app-lang__flag-icons {
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 4px;
    border: 2px solid #191919;
    background: #191919;
    font-size: 12px;
    border-radius: 6px 0 6px 0;
    overflow: hidden;
}
.app-lang__flag-icons i {display: none;opacity: .75;}
.app-lang__flag-icons i.--active {
    display: block;
}

.app-logout {color: #454545;font-size: 26px;display: flex;justify-content: center;align-items: center;margin-right: 16px;margin-left: auto;cursor: pointer;}
.app-logout:hover { color: white; transition: all ease-in-out .2s;}
.app-logout i {
}


.change-lang {
    width: 50%;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.change-lang__title {
    color: white;
    font-size: 60px;
    font-family: 'creamy';
    margin-bottom: 15px;
}

.change-lang__subtitle {
    color: #919191;
    font-size: 22px;
    margin-bottom: 35px;
    font-weight: 300;
}

.change-lang__title h2 {}

.change-lang-available {
    display: flex;
    justify-content: center;
    width: 100%;
}

.change-lang__choice {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 80px;
    height: 80px;
    font-size: 40px;
    border: 2px solid #454545;
    border-radius: 200px;
    margin: 0 20px;
}

.change-lang__choice:hover i{
    opacity: 1;
}
.change-lang__choice.--active {
    border: 2px solid #33afff;
}
.change-lang__choice i {cursor: pointer;opacity: .8;transform: scaleX(.85);border-radius: 100px;font-size: 50px;}

.change-lang__choice.--unavailable {
    border: 2px solid #232323;
}
.change-lang__choice.--unavailable i {opacity: .2;}

.change-lang__choice .soon {font-size: 14px;position: absolute;bottom: -24px;left: 50%;transform: translate(-50%,0);color: #8A8A8A;font-weight: 300;}

.change-lang__translating {
    color: white;
    display: none;
}


.user-gender {
    border-radius: 100px;
    position: absolute;
}
.user-gender.--male {
    background: #3fb3c6;
}
.user-gender.--female {
    background: rgb(213, 93, 140);
}

.user-country {
    position: absolute;
    bottom: 2px;
    right: 0px;
    overflow: hidden;
    display: none;
}

.user-country i {
    border-radius: 6px 0 6px 0;
    border: 2px solid white;
    font-size: 12px;
}

.user-online {
    height: 10px;
    width: 10px;
    border-radius: 100px;
    opacity: 0;
    display: inline-block;
}

