html {
    overflow: auto;
    overflow-y: scroll;
}

body {
    font-family: 'Open sans';
    color: #191919;
}

.login {
    font-family: 'creamy';
    font-size: 40px;
    flex-flow: column;
}

.left {
    float: left;
}

.right {
    float: right;
}

.none {
    display: none;
}

.nonei {
    display: none!important;
}

button {
    cursor: pointer;
    outline: none;
    margin: auto;
    font-family: 'Open sans';
    border: none;
}

button:hover {
    opacity: .8;
}

.date {
    font-family: 'Open sans';
}

.--round-icon {
    display: flex;
    border-radius: 1000px;
}
.--round-icon i {
    margin: auto;
}

.app {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: white;
    position: absolute;
}

.app-section {
    width: 100%;
    background: white;
    display: none;
    z-index: 10;
    position: relative;
    flex-flow: row wrap;
}

.app-section.active {
    display: flex;
}
.app-section.--search {
    top: -2px;
    position: relative;
    flex-flow: column nowrap;
    padding-top: 0px;
    align-items: center;
}

.super-centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.row-date {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12px;
}

.row-pic {
    display: flex;
    position: relative;
    width: 90px;
    height: 90px;
    flex-shrink: 0;
}

.row-pic__image {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.row-pic__image i {
    margin: auto;
}

.row-pic.--invite-friends {
    font-size: 50px;
    background: #7b4cbb;
    border-radius: 100px;
    color: white;
}

.row-pic__image img {}

.row-pic__icon {
    position: absolute;
    bottom: -5px;
    right: -5px;
    border: 3px solid white;
    color: white;
    background: #454545;
    font-size: 20px;
    height: 30px;
    width: 30px;
}

.row-pic__icon i {
    margin: auto;
}

.row-body {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding-left: 40px;
}

.row-body__title {
    margin-bottom: 8px;
    position: relative;
}

.row-body__subtitle {
    display: flex;
    align-items: center;
    color: #454545;
    font-size: 12px;
}

.row-body__age {
    font-size: 14px;
    margin-left: 2px;
    font-weight: 400;
}

.row-body h1 {
    font-family: 'creamy';
    font-size: 30px;
}

.row-body h2 {
    font-weight: 700;
    font-size: 15px;
    color: #454545;
    margin-right: 30px;
    letter-spacing: -.5px;
}

.row-body__icon {
    width: 24px;
    height: 20px;
}

.row-body__icon i {}

.row-body h4 {
}

.row-body h4 span {
    font-size: 14px;
    margin-left: 2px;
}

.settings-input {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.settings-input-label {
    display: flex;
    width: 100%;
    margin-left: 20px;
}

.settings-input__label {
    font-weight: 300;
    font-size: 17px;
    color: #454545;
    padding-left: 8px;
    margin-bottom: 4px;
    width: 100%;
    font-family: 'Open sans';
}

.settings-input__icon {
    /* background: #EAEAEA; */
    border: 2px solid #33afff;
    min-width: 60px;
    min-height: 60px;
    box-sizing: border-box;
    font-size: 32px;
    position: absolute;
    left: -50px;
    top: -8px;
    border: none;
}

.settings-input__icon i {
    margin: auto;
}

.settings-input__explanation {
    display: inline-block;
    border-radius: 100px;
    font-size: 11px;
    position: relative;
    top: -12px;
    left: 28px;
}

.toggle {
    height: 30px;
    display: flex;
    flex-flow: column;
    width: 70px;
    background: #ccc;
    border-radius: 100px;
    margin-left: auto;
    order: 100;
    border: 1px solid #ccc;
    transition: all ease-in-out .2s;
    transition-delay: .15s;
    position: relative;
    cursor: pointer;
}

.toggle__background {
    background: #f9f9f9;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
    transition: all ease-in-out .3s;
    transition-delay: .005s;
}

.toggle__button {
    height: 34px;
    width: 55%;
    background: white;
    border-radius: 100px;
    margin: auto 3px;
    margin-left: 4%;
    box-shadow: 1px 1px 3px #ABABAB;
    position: relative;
    transition: all ease-in-out .2s;
} 

.toggle.--active {
    background: #1B69EC;
    border-color: #1B69EC;
}

.toggle.--active .toggle__button {
    margin-left: 42%;
    box-shadow: 1px 1px 3px #616161;
}

.toggle.--active .toggle__background {
    height: 0%;
    width: 0%;
    opacity: 0;
}

.action {
    position: absolute;
    display: none;
}

.action i {
}

.action > div {
    width: 34px;
    height: 34px;
    border: 1px solid #454545;
    margin: 0 3px;
    cursor: pointer;
    font-size: 15px;
}

.action > div:hover {
    opacity: 0.75;
}

.action .action__validate {
    background: #1b69ec;
    border: 1px solid #1B69EC;
    color: white;
}

.action .action__cancel {
    background: white;
    color: #1b69ec;
    border-color: inherit;
}

.icon-item {
    position: absolute;
    left: -60px;
    top: 29px;
    font-size: 30px;
}

.icon-item i {
    margin: auto;
}

.edit {
    color: rgb(27, 105, 236);
    position: absolute;
    right: 0px;
    top: -10px;
    z-index: 1;
    font-size: 22px;
    cursor: pointer;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    display: flex;
}

.edit:hover {
    opacity: .7;
}

.edit i {
    margin: auto;
}

.empty {
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    width: 400px;
    margin: auto;
    text-align: center;
}

.empty__icon {
    display: flex;
    color: #eee;
    font-size: 80px;
}

.empty__icon i {
    margin: auto;
}

.empty__title {
    font-size: 30px;
    margin-top: 30px;
    color: #454545;
    font-family: 'creamy';
    color: #1b69ec;
}

.empty__title h2 {}

.empty__subtitle {
    margin-top: 20px;
    line-height: 23px;
    font-size: 13px;
}

.empty__subtitle p {}

.empty__subicon {
    height: 70px;
    width: 70px;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    margin-top: 30px;
    cursor: pointer;
    color: #1b69ec;
    border: 1px solid;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
}

.empty__subicon i {}

.disconnected {
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    width: 400px;
    margin: auto;
    text-align: center;
}

.disconnected__icon {
    display: flex;
    color: #33afff;
    font-size: 60px;
}

.disconnected__icon i {
    margin: auto;
}

.disconnected__title {
    font-size: 50px;
    font-family: 'creamy';
    color: white;
}

.disconnected__title h2 {}

.disconnected__subtitle {
    color: #ccc;
    margin-top: 20px;
    line-height: 23px;
}

.disconnected__subtitle p {}

.disconnected__subicon {
    min-height: 70px;
    min-width: 70px;
    margin: auto;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #7b4cbb; */
    color: #7B4CBB;
    font-size: 50px;
    margin-top: 16px;
    cursor: pointer;
}

.disconnected__subicon i {}

.app-lang {
    display: flex;
    margin-left: auto;
    margin-right: 6px;
    position: relative;
    cursor: pointer;
}
.app-lang:hover .app-lang__icon {
    color: #eee;
}
.app-lang:hover .app-lang__flag-icons i.--active {
    opacity: 1;
}

.app-lang__icon {
    display: flex;
    color: #454545;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    transition: all ease-out .15s;
}

.app-lang__icon i {

}
.app-lang__flag-icons {
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 4px;
    border: 2px solid #191919;
    background: #191919;
    font-size: 12px;
    border-radius: 6px 0 6px 0;
    overflow: hidden;
}
.app-lang__flag-icons i {display: none;opacity: .75;}
.app-lang__flag-icons i.--active {
    display: block;
}

.app-logout {color: #454545;font-size: 26px;display: flex;justify-content: center;align-items: center;margin-right: 16px;margin-left: auto;cursor: pointer;}
.app-logout:hover { color: white; transition: all ease-in-out .2s;}
.app-logout i {
}


.change-lang {
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


.change-lang__title h2 {}

.change-lang-available {
    display: flex;
    justify-content: center;
    width: 100%;
}

.change-lang__choice {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 50px;
    height: 60px;
    font-size: 40px;
    margin: 0 20px;
}

.change-lang__choice:hover i{
    opacity: 1;
}
.change-lang__choice.--active {border-bottom: 3px solid #1b69ec;}
.change-lang__choice.--active i { opacity: 1 }
.change-lang__choice i {cursor: pointer;opacity: .7;border-radius: 10px 0 10px 0;}

.change-lang__choice.--unavailable {cursor: not-allowed;opacity: .8;}
.change-lang__choice.--unavailable i {cursor: not-allowed;}
.change-lang__choice.--unavailable i {opacity: .2;}

.change-lang__choice .soon {font-size: 9px;position: absolute;bottom: -10px;left: 50%;transform: translate(-50%,0);color: #454545;font-weight: 600;}

.change-lang__translating {
    color: white;
    display: none;
}


.user-gender {
    border-radius: 100px;
    position: absolute;
}
.user-gender.--male {
    background: #3fb3c6;
}
.user-gender.--female {
    background: rgb(213, 93, 140);
}

.user-country {
    position: absolute;
    bottom: 2px;
    right: 0px;
    overflow: hidden;
    display: none;
}

.user-country i {
    border-radius: 6px 0 6px 0;
    border: 2px solid white;
    font-size: 12px;
}

.user-online {
    height: 10px;
    width: 10px;
    border-radius: 100px;
    opacity: 0;
    display: inline-block;
}


/* Fun experiment */

.cssload-box-loading {
    width: 32px;
    height: 32px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.cssload-box-loading:before {
    content: '';
    width: 32px;
    height: 3px;
    background: rgb(0,0,0);
    opacity: 0.1;
    position: absolute;
    top: 38px;
    left: 0;
    border-radius: 50%;
    animation: shadow 0.475s linear infinite;
        -o-animation: shadow 0.475s linear infinite;
        -ms-animation: shadow 0.475s linear infinite;
        -webkit-animation: shadow 0.475s linear infinite;
        -moz-animation: shadow 0.475s linear infinite;
}
.cssload-box-loading:after {
    content: '';
    width: 32px;
    height: 32px;
    background: rgba(30,105,188,0.98);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    animation: cssload-animate 0.475s linear infinite;
        -o-animation: cssload-animate 0.475s linear infinite;
        -ms-animation: cssload-animate 0.475s linear infinite;
        -webkit-animation: cssload-animate 0.475s linear infinite;
        -moz-animation: cssload-animate 0.475s linear infinite;
}



@keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 2px;
    }
    25% {
        transform: translateY(6px) rotate(22.5deg);
    }
    50% {
        transform: translateY(12px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 26px;
    }
    75% {
        transform: translateY(6px) rotate(67.5deg);
    }
    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@-o-keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 2px;
    }
    25% {
        -o-transform: translateY(6px) rotate(22.5deg);
    }
    50% {
        -o-transform: translateY(12px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 26px;
    }
    75% {
        -o-transform: translateY(6px) rotate(67.5deg);
    }
    100% {
        -o-transform: translateY(0) rotate(90deg);
    }
}

@-ms-keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 2px;
    }
    25% {
        -ms-transform: translateY(6px) rotate(22.5deg);
    }
    50% {
        -ms-transform: translateY(12px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 26px;
    }
    75% {
        -ms-transform: translateY(6px) rotate(67.5deg);
    }
    100% {
        -ms-transform: translateY(0) rotate(90deg);
    }
}

@-webkit-keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 2px;
    }
    25% {
        -webkit-transform: translateY(6px) rotate(22.5deg);
    }
    50% {
        -webkit-transform: translateY(12px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 26px;
    }
    75% {
        -webkit-transform: translateY(6px) rotate(67.5deg);
    }
    100% {
        -webkit-transform: translateY(0) rotate(90deg);
    }
}

@-moz-keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 2px;
    }
    25% {
        -moz-transform: translateY(6px) rotate(22.5deg);
    }
    50% {
        -moz-transform: translateY(12px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 26px;
    }
    75% {
        -moz-transform: translateY(6px) rotate(67.5deg);
    }
    100% {
        -moz-transform: translateY(0) rotate(90deg);
    }
}

@keyframes shadow {
    0%,
    100% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1);
    }
}

@-o-keyframes shadow {
    0%,
    100% {
        -o-transform: scale(1, 1);
    }
    50% {
        -o-transform: scale(1.2, 1);
    }
}

@-ms-keyframes shadow {
    0%,
    100% {
        -ms-transform: scale(1, 1);
    }
    50% {
        -ms-transform: scale(1.2, 1);
    }
}

@-webkit-keyframes shadow {
    0%,
    100% {
        -webkit-transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(1.2, 1);
    }
}

@-moz-keyframes shadow {
    0%,
    100% {
        -moz-transform: scale(1, 1);
    }
    50% {
        -moz-transform: scale(1.2, 1);
    }
}


/* Fun experiment end */
