
html {
   overflow: auto;
   overflow-y: scroll;
}

body {

}

.left { float: left; }
.right { float: right; } 
.none { display: none; }
.nonei { display: none!important; }

button {
    cursor: pointer;
    outline: none;
}
button:hover {
    opacity: .8;
}


