
html {
   overflow: auto;
   overflow-y: scroll;
}

body {

}

.left { float: left; }
.right { float: right; } 
.none { display: none; }
.nonei { display: none!important; }


.ui__curtain {
   position: absolute;
   width: 100%;
   height: 100%;
   background: #191919;
   z-index: 12345;
   flex-direction: column;
   align-items: center;
   justify-content: center;
} 

