.chat {
    display: none;
    position: fixed;
    right: 0px;
    top: 55px;
    z-index: 101;
    background: #fff;
    width: 420px;
    box-sizing: border-box;
    box-shadow: 0 3px 14px #949494;
    /* box-shadow: -5px 10px 15px 5px rgba(0,0,0,.1); */
    flex-flow: column nowrap;
}

.chat-wrap {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: white;
}

.chat-row-wrap {
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
}

.chat__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)!important;
    width: 28px;
}

.chat__close {
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 8px;
    color: #ccc;
    z-index: 3;
    display: none;
}

.chat__close i {}

.chat-header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'creamy';
    font-size: 32px;
    border-bottom: 1px solid #eee;
    position: relative;
    z-index: 1;
    flex-shrink: 0;
    margin-bottom: 0px;
    height: 74px;
    background: white;
    display: none;
}

.chat-header__title {
    display: flex;
    justify-content: center;
    font-size: 26px;
}

.chat-header__title span {
    position: relative;
    top: 4px;
    color: #454545;
}

.chat-subheader {
    height: 84px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    width: 100%;
    box-shadow: 2px 2px 13px #E0E0E0;
    position: relative;
    z-index: 0;
    top: 0px;
    flex-shrink: 0;
    display: none!important;
}

.chat-segment {
    width: 80%;
    margin: 20px 0 0 0;
}

.chat-segment .segment {
    font-size: 14px;
    height: 32px;
}

.chat-segment .segment-part {}

.chat-segment .segment-part h3 {}

.chat__filter-explanation {
    color: #919191;
    font-size: 14px;
    display: flex;
    margin: 16px 0;
}

.chat__filter-explanation span {}

.chat-rows {
    display: flex;
    flex-flow: column;
    position: relative;
    z-index: 1;
    outline: none;
    width: 100%;
    height: 100%!important;
}

.chat-rows .jspPane {
    padding-top: 0!important;
}

.chat-rows .jspVerticalBar {
    right: 0px;
}

.chat-rows .jspTrack {}

.chat-rows .jspDrag {}

.chat-row {
    display: none;
    flex-flow: row nowrap;
    align-items: center;
    height: 90px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.chat-row.x--no-match {
    height: 70px;
    text-align: center;
    cursor: default;
    justify-content: center;
    color: #ccc;
    font-size: 11px;
}

.chat-row.x--no-match:hover {
    background: white;
}

.chat-rows-body:last-of-type .x--no-match{
    border-bottom: none;
}

.chat-row.x--no-match span {

}

.chat-row .user-online {width: 12px;height: 12px;position: relative;left: -6px;}

.chat-row.x--loading {
    opacity: .5;
}

.chat-row.x--loading .chat-row-infos__name .x--name {
    font-weight: 500;
    color: #919191
}

.chat-row:hover {
    background: #fbfbfb;
}

.chat-row__status {
    width: 40px;
    height: 40px;
    color: #ccc;
    margin: 0 20px 0 20px;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    display: none!important;
}

.chat-row__status i {}

.chat-rows-body {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}

.chat-rows-title, .notification--header {
    /* background: #f1f1f1; */
    color: #676767;
    border-bottom: 1px solid #eee;
    padding: 8px 10px;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    color: #1a59c3;
    font-family: 'quenda';
    display: none!important;
}

.chat-rows-title span {
    position: relative;
    top: 1px;
}


/*.chat-row-date {
    width: 80px;
    flex-shrink: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #919191;
    font-family: 'Open sans';
}
.chat-row-date__status {
    position: absolute;
    right: 30px;
    top: -8px;
    color: #ccc;
    font-size: 10px;
}
.chat-row-date__status i {}
.chat-row-date__day {}
.chat-row-date__day span {}
.chat-row-date__day .x--day {}
.chat-row-date__day .x--month {
    font-size: 10px;
    text-transform: uppercase;
}
.chat-row-date__splitter {
    width: 60%;
    height: 2px;
    background: #eee;
    margin: 3px;
}
.chat-row-date__hour {}
.chat-row-date__hour .x--hour {
    font-size: 12px;
    color: #191919;
    font-weight: 600;
}*/
 
.chat-row-pictures {
    display: flex;
    width: 70px;
    flex-shrink: 0;
    height: 70px;
    margin-left: 20px;
    position: relative;
    border-radius: 100px;
}

.chat-row-pictures > img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.chat-row-infos {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 20px;
    max-width: 300px;
    color: #454545;
}

.chat-row-infos__h1 {
    font-family: 'creamy';
    font-size: 22px;
    margin-bottom: 10px;
}

.chat-row-infos__h2 {
    font-size: 11px;
    line-height: 20px;
}

.chat-row-infos__name {
    margin-bottom: 4px;
    font-size: 14px;
    display: flex; 
}

.chat-row-infos-name span {}

.chat-row-infos__name .x--name {
    font-weight: 500;
    margin-right: 6px;
    font-size: 13.5px;
    letter-spacing: -.2px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 240px;
    display: inline-block;
    /* font-family: 'quenda'; */
    /* font-size: 15px; */
}

.chat-row-infos__preview {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 230px;
    color: #454545;
    font-size: 11.5px;
    height: 14px;
}

.chat-row-infos__preview span {}

.chat-row-time {
    position: absolute;
    top: 12px;
    right: 10px;
    font-family: 'Open sans';
    font-size: 12px;
}

.chat-row-time span {
    font-weight: 500;
    font-size: 11px;
}

.chat-row .bubble {
    position: absolute;
    left: 61px;
    top: 28px;
    width: 13px;
    height: 13px;
    background: #1a59c3;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 0;
    font-weight: 500;
    z-index: 1;
}

.chat-row-bubble .chat-bubble {
    margin: auto;
}

.chat-row.x--new .chat-row__status {
    color: #1a59c3;
}

.chat-row.x--new.x--pending .chat-row__status {
    color: #FD7124;
}

.chat-row.x--new .chat-row-infos__preview {
    color: #191919;
}

.chat-row.x--new .chat-row-infos__name .x--name {font-weight: 700;color: #191919;}

.chat-row.x--new .chat-row-time span {
    font-weight: 700;
    color: #191919;
}

.chat-row.x--new.x--pending .chat-row-time span {
    color: #FD7124;
}

.chat-row.x--new .bubble {
    color: #1a59c3;
}

.chat-row.x--new.x--pending .bubble {
    color: #FD7124;
}

.chat-row.x--filtered .chat-row-date__day,
.chat-row.x--filtered .chat-row-date__status {
    color: #33afff;
    font-weight: 700;
}

.chat-empty {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-shrink: 1;
}

.chat-empty__image {
    width: 100px;
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}
.chat-inview .chat-empty__image {
    width: 150px;
    height: 150px;
}
.chat-empty__icon {
    color: #db4760;
}
 
.chat-empty__icon img {
    width: 100%;
    height: 100%;
}

.chat-empty__title {
    font-size: 24px;
    font-family: 'quenda';
    color: #1a59c3;
    text-align: center;
}

.chat-empty__title span {}

.chat-empty__subtitle {
    color: #454545;
    margin-top: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
}

.chat-empty__subtitle {}

.chat-empty__subtitle span {}

.chat-empty.x--hosts .chat-empty__icon,
.chat-empty.x--pending .chat-empty__icon,
.chat-empty.x--accepted .chat-empty__icon,
.chat-empty.x--team .chat-empty__icon {
    border: 2px solid;
    height: 120px;
    width: 120px;
    margin-bottom: 20px;
}

.chat-empty.x--pending .chat-empty__icon {
    color: #FD7124;
}

.chat-inview-group {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.chat-inview-group .be-users {
    max-height: inherit;
}

.chat-inview-group .user-row {
    padding: 16px 20px;
}

.chat-inview-group .be-action {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.chat-inview-group .be-action button {
    margin: 0 10px;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
}

.chat-inview-group .be-action button.x--later {
    background: #eee;
    color: #919191;
}

.chat-inview-group .be-action button i {
    font-size: 42px;
}

.chat-inview-group .be-action button.x--now {
    background: #1a59c3;
    /* background: #191919; */
}

.chat-inview-group .be-action button span {
    position: relative;
    top: -13px;
    font-size: 12px;
}

.chat-inview-group .be-action button.x--validating {
    opacity: .5;
}

.chat-row.x--no-match .chat-row__icon {
    font-size: 40px;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    color: #ccc;
}

