.chat-inview-wrap {
    display: none;
    height: 100%;
    flex-flow: column nowrap;
    position: relative;
    padding: 0;
}

.chat-inview-messages .jspContainer {
    width: 100%!important;
}
.chat-inview-messages .jspPane{
    display: block;
    width: 100%!important;
    padding-bottom: 20px!important;
}
.chat-inview-messages .jspVerticalBar {right: 0px;width: 4px;}

.chat-inview-messages .jspTrack {
    
}

.chat-inview-messages .jspDrag {background: #D4D4D4;}
.chat-inview {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

.chat-inview-item {
    display: none;
    flex-flow: column;
    width: 100%;
    height: 100%;
}
.chat-inview-item.--active {
    display: flex;
}

.chat-inview-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #eee;
    position: relative;
    /* box-shadow: 2px 2px 13px #E0E0E0; */
    padding-top: 10px;
    position: relative;
}

.chat-inview__icon {
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
    width: 42px;
    height: 42px;
}

.chat-inview__icon:hover {
    background: #f5f5f5;
}

.chat-inview__icon i {}

.chat-inview__icon.--previous {
    font-size: 20px;
    left: 6px;
}

.chat-inview__icon.--switch {
    right: 50px;
    font-size: 26px;
}

.chat-inview__icon.--options {
    right: 6px;
}

.chat-inview__icon.--switch .bubble {
    border: none;
    top: -4px;
    border: 2px solid white;
    right: -4px;
}

.chat-inview__icon.--users {
    left: 40px;
}

.chat-inview.--team {
    display: none;
}
 
.chat-inview.--all {}

.chat-inview-title {
    display: flex;
    flex-flow: column nowrap;
    order: 2;
    margin: 0 auto;
}

.chat-inview-title__groupname {
    font-weight: 800;
    text-align: center;
    font-size: 17px;
    margin-bottom: 6px;
    height: 16px;
}

.chat-inview-title__groupname .--team {
    display: none;
}

.chat-inview-title__groupname .--all {}

.chat-inview-title__address {
    text-align: center;
    font-family: 'Open sans';
    font-size: 12px;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    color: #919191;
}

.chat-inview-title__address .--date {

}
.chat-inview-title__address .--place-name {
    margin-left: 6px;
}

.chat-inview-messages {
    padding: 0px 20px 60px;
    margin-top: 0px;
    width: 100%!important;
    outline: none;
    height: 300px;
}

.chat-inview-message {
    display: flex;
    align-items: flex-end;
    margin: 4px 0;
    padding: 0 28px;
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 0;
    position: relative;
}

.chat-inview-message__bubble.--pending {
    opacity: .5;
}

.chat-inview-message.--left {
    justify-content: flex-start;
}

.chat-inview-message.--left .chat-inview-message-head {
    order: 1;
}

.chat-inview-message.--left .chat-inview-message-body {
    order: 2;
}

.chat-inview-message.--right {
    justify-content: flex-end;
}

.chat-inview-message.--right .chat-inview-message-head {
    order: 2;
}

.chat-inview-message.--right .chat-inview-message-body {
    order: 1;
}

.chat-inview-message.--me {
    position: relative;
    right: -15px;
}

.chat-inview-message.--me .chat-inview-message-head {
    display: none;
}

.chat-inview-message.--me .chat-inview-message__bubble {
    color: white;
    background: #0084ff;
    margin-right: -10px;
}

.chat-inview-message.--friend .chat-inview-message__bubble {
    background: #d4eefe;
    color: #333;
    background: rgba(0, 132, 255, 0.07);
}

.chat-inview-message.--friend {}

.chat-inview-message__date {
    font-family: 'Open sans';
    font-weight: 600;
    font-size: 11px;
    color: #ccc;
    text-align: center;
}

.chat-inview-message__date .--day {
    margin-right: 4px;
}

.chat-inview-message__date .--month {
    margin-right: 4px;
}

.chat-inview-message__date .--hour {}

.chat-inview-message-head {}

.chat-inview-message__picture {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-inview-message__picture img {
    border-radius: 100px;
    flex-shrink: 0;
}

.chat-inview-message__picture .user-online {
    position: absolute;
    bottom: 0px;
    left: -1px;
    border: 2px solid white;
    width: 8px;
    height: 8px;
}

.chat-inview-message__name {
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #454545;
    max-width: 38px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-inview-message__name span {}

.chat-inview-message-body {
    display: flex;
    padding: 10px;
    font-weight: 300;
    max-width: 70%;
    margin: 0 -4px;
}

.chat-inview-message__bubble-wrap {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.chat-inview-message__bubble {
    background: #f5f5f5;
    /* background: #eee; */
    color: #191919;
    border-radius: 30px;
    padding: 10px 14px;
    font-size: 16px;
    font-weight: 400;
    margin: 1px 0;
    line-height: 20px;
    margin-right: auto;
    /* cursor: pointer; */
} 

.chat-inview-message__bubble.--merged.--first {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 20px;
}
.chat-inview-message__bubble.--merged.--last {
    border-top-left-radius: 0;
    border-bottom-left-radius: 20px;
}
.chat-inview-message__bubble.--merged {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.chat-inview-message__bubble.--tall {
    border-radius: 20px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.chat-inview-message.--me .chat-inview-message__bubble.--merged.--first,
.chat-inview-item.--all .chat-inview-message.--friend .chat-inview-message__bubble.--merged.--first {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 20px;
}
.chat-inview-message.--me .chat-inview-message__bubble.--merged.--last,
.chat-inview-item.--all .chat-inview-message.--friend .chat-inview-message__bubble.--merged.--last{
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
}
.chat-inview-message.--me .chat-inview-message__bubble.--merged,
.chat-inview-item.--all .chat-inview-message.--friend .chat-inview-message__bubble.--merged {
    border-radius: 30px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    margin-right: 0;
    margin-left: auto;
}  

.chat-inview-message.--me .chat-inview-message__bubble.--tall,
.chat-inview-item.--all .chat-inview-message.--friend .chat-inview-message__bubble.--tall {
    border-radius: 20px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}




.chat-inview-message__bubble:hover {
    /* opacity: .8; */
}

/* Positionning the messages in the right order - left/right - in chat inviews */

.chat-inview-message {
    justify-content: flex-start;
}
.chat-inview-message-head {
    order: 1;
}
.chat-inview-message-body {
    order: 2;
}

.chat-inview-message.--me {
    justify-content: flex-end;
}

.chat-inview-item.--all .chat-inview-message.--friend {
    justify-content: flex-end;
}
.chat-inview-item.--all .chat-inview-message.--friend .chat-inview-message-head {
    order: 2;
}

.chat-inview-item.--all .chat-inview-message.--friend .chat-inview-message-body {
    order: 1;
}


.chat-inview-item.--pending .chat-inview-footer {
    background: #eee;
}

.chat-inview-item.--pending .chat-inview-footer input {
    display: none;
}

.chat-inview-footer {
    height: 64px;
    border-top: 1px solid #eee;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
}

.chat-inview__input {
    width: 100%;
}

.chat-inview__input input {
    padding: 10px 20px;
    box-sizing: border-box;
    width: 100%;
    border: none;
    font-size: 13px;
    color: #454545;
}

.chat-inview__button {
    width: 100px;
    text-align: center;
    display: none;
}

.chat-inview__button button {
    background: red;
}

.chat-inview-options {
    /* height: 100%; */
    /* background: rgba(0, 0, 0, 0.7); */
    /* width: 100%; */
    /* position: absolute; */
    /* z-index: 200; */
    /* top: 0; */
    /* left: 0; */
}
.chat-inview-options__close {
    position: absolute;
    top: 20px;
    left: 12px;
    z-index: 1000000;
    color: white;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.chat-inview-users {width: 75%;height: 100%;margin-left: auto;background: white;flex-flow: column;}
.chat-inview-users__group {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    font-weight: 600;
}
.chat-inview-users__group i {}
.chat-inview-users__group span {
    margin-left: 6px;
}

.chat-inview-users .user-row {
}

.chat-inview-users .user-row__informations {
    padding-left: 10px;
}

.chat-inview-seen-by {
    color: #ABABAB;
    font-size: 10px;
    font-family: 'open sans';
    margin-left: 11px;
    text-align: center;
    margin-top: auto;
}

.chat-inview-seen-by__label {

}

.chat-inview-seen-by i {
    margin-left: 2px;
}