.chat-inview-wrap {
    display: none;
    height: 100%;
    flex-flow: column nowrap;
    position: relative;
    padding: 0;
    z-index: 10;
}

.chat-inview-messages .jspContainer {
    width: 100%!important;
    height: 97%!important;
}

.chat-inview-messages .jspPane {
    display: block;
    width: 100%!important;
    padding-top: 0!important;
    padding-bottom: 20px!important;
}

.chat-inview-messages .jspVerticalBar {
    right: 0px;
    width: 4px;
}

.chat-inview-messages .jspTrack {}

.chat-inview-messages .jspDrag {
    background: #D4D4D4;
}

.chat-inview {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

.chat-inview-item {
    /* display: none; */
    /* flex-flow: column; */
    width: 100%;
    height: 100%;
}

.chat-inview-item.x--active {
    display: flex;
}

.chat-inview-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #eee;
    /* box-shadow: 2px 2px 13px #E0E0E0; */
    padding-top: 10px;
    position: relative;
    flex-shrink: 0;
    background: white;
}

.chat-inview__icon {
    font-size: 22px;
    position: absolute;
    top: 2px;
    bottom: 0;
    margin: auto 0;
    cursor: pointer;
    width: 42px;
    height: 42px;
}

.chat-inview-header .bubble {background: #1b69ec;border: none;width: 18px;height: 18px;border: 2px solid white;top: -2px;right: -4px;}

.chat-inview__icon:hover {
    background: #f5f5f5;
}

.chat-inview__icon i {
    color: #1a59c3;
}

.chat-inview__icon.x--previous {
    font-size: 18px;
    left: 8px;
}

.cheers-back .chat-inview__icon.x--previous {
    margin-top: 23px;
}

.chat-inview__icon.x--close {
    right: 8px;
    font-size: 14px;
}

.chat-inview__icon.x--options {
    right: 6px;
}

.chat-inview__icon.x--users {
    left: 40px;
}

.chat-inview.x--team {
    display: none;
}

.chat-inview.x--all {}

.chat-inview-title {
    display: flex;
    flex-flow: column nowrap;
    order: 2;
    margin: 0 auto;
}

.chat-inview-title__h1 {
    font-weight: 700;
    text-align: center;
    font-size: 13px;
    margin-bottom: 5px;
    letter-spacing: -.3px;
    font-family: 'quenda';
    font-size: 16px;
}

.chat-inview-title__h2 {
    text-align: center;
    font-family: 'Open sans';
    font-size: 11px;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 18px;
}

.chat-inview-title__h1 .x--hour {}

.chat-inview-title__h1 .x--date {}

.chat-inview-title__h2 .x--place-name {
    margin-left: 6px;
}

.chat-inview-messages {
    padding: 0px 20px 60px;
    margin-top: 0px;
    width: 100%!important;
    outline: none;
    position: relative;
    height: 150px;
}

.chat-inview-message {
    display: flex;
    align-items: flex-end;
    margin: 4px 0;
    padding: 0 20px;
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 0;
    position: relative;
}

.chat-inview-message a {
    text-decoration: underline
}
.chat-inview-message__bubble.x--pending {
    opacity: .5;
}

.chat-inview-message.x--left {
    justify-content: flex-start;
}

.chat-inview-message.x--left .chat-inview-message-head {
    order: 1;
}

.chat-inview-message.x--left .chat-inview-message-body {
    order: 2;
}

.chat-inview-message.x--right {
    justify-content: flex-end;
}

.chat-inview-message.x--right .chat-inview-message-head {
    order: 2;
}

.chat-inview-message.x--right .chat-inview-message-body {
    order: 1;
}

.chat-inview-message.x--me {
    position: relative;
    right: -15px;
}

.chat-inview-message.x--me .chat-inview-message-head {
    display: none;
}

.chat-inview-message.x--me .chat-inview-message__bubble {
    color: white;
    background: #0084ff;
    margin-right: -10px;
    position: relative;
    right: 6px;
}

.chat-inview-message.x--friend .chat-inview-message__bubble {
    background: #d4eefe;
    color: #333;
    background: rgba(0, 132, 255, 0.07);
}

.chat-inview-message.x--friend {}

.chat-inview-message__date {
    font-weight: 600;
    font-size: 10px;
    color: #ccc;
    text-align: center;
}

.chat-inview-message__date .x--day {
    margin-right: 4px;
}

.chat-inview-message__date .x--month {
    margin-right: 4px;
}

.chat-inview-message__date .x--hour {}

.chat-inview-message-head {}

.chat-inview-message__picture {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}

.chat-inview-message__picture img {
    border-radius: 100px;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.chat-inview-message__picture .user-online {
    position: absolute;
    bottom: 0px;
    left: -8px;
    border: 2px solid white;
    width: 8px;
    height: 8px;
}

.chat-inview-message__name {
    font-weight: 600;
    font-size: 9px;
    text-align: center;
    color: #454545;
    max-width: 42px;
    height: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px;
}

.chat-inview-message__name span {}

.chat-inview-message-body {
    display: flex;
    padding: 10px;
    font-weight: 300;
    max-width: 70%;
    margin: 0 -4px;
}

.chat-inview-message__bubble-wrap {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.chat-inview-message__bubble {
    background: #f5f5f5;
    color: #191919;
    border-radius: 30px;
    padding: 6px 12px;
    font-size: 12.5px;
    font-weight: 400;
    margin: 1px 0;
    line-height: 20px;
}

.chat-inview-message__bubble.x--merged {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.chat-inview-message__bubble.x--tall:not(.x--merged) {
    border-radius: 20px!important;
}


.chat-inview-message__bubble.x--merged.x--first {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 20px;
}

.chat-inview-message__bubble.x--merged.x--last {
    border-top-left-radius: 0;
    border-bottom-left-radius: 20px;
}


.chat-inview-message__bubble.x--tall.x--merged {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.chat-inview-message__bubble.x--tall.x--merged.x--first {
    border-top-left-radius: 20px;
}

.chat-inview-message.x--me .chat-inview-message__bubble.x--merged.x--first,
.chat-inview-item.x--all .chat-inview-message.x--friend .chat-inview-message__bubble.x--merged.x--first {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 20px;
}

.chat-inview-message.x--me .chat-inview-message__bubble.x--merged.x--last,
.chat-inview-item.x--all .chat-inview-message.x--friend .chat-inview-message__bubble.x--merged.x--last {
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
}

.chat-inview-message.x--me .chat-inview-message__bubble.x--merged,
.chat-inview-item.x--all .chat-inview-message.x--friend .chat-inview-message__bubble.x--merged {
    border-radius: 30px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    margin-right: 0;
    margin-left: auto;
}

.chat-inview-message.x--me .chat-inview-message__bubble.x--tall,
.chat-inview-item.x--all .chat-inview-message.x--friend .chat-inview-message__bubble.x--tall {
    border-radius: 20px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.chat-inview-message.x--me .chat-inview-message__bubble.x--merged.x--tall,
.chat-inview-item.x--all .chat-inview-message.x--friend .chat-inview-message__bubble.x--merged.x--tall {
    border-top-right-radius: 3px;
}

.chat-inview-message.x--me .chat-inview-message__bubble.x--merged.x--tall.x--first,
.chat-inview-item.x--all .chat-inview-message.x--friend .chat-inview-message__bubble.x--merged.x--tall.x--first {
    border-top-right-radius: 20px;
}


.chat-inview-message__bubble:hover {
    /* opacity: .8; */
}


/* Positionning the messages in the right order - left/right - in chat inviews */

.chat-inview-message {
    justify-content: flex-start;
}

.chat-inview-message-head {
    order: 1;
}

.chat-inview-message-body {
    order: 2;
}

.chat-inview-message.x--me {
    justify-content: flex-end;
}

.chat-inview-item.x--all .chat-inview-message.x--friend {
    justify-content: flex-end;
}

.chat-inview-item.x--all .chat-inview-message.x--friend .chat-inview-message-head {
    order: 2;
}

.chat-inview-item.x--all .chat-inview-message.x--friend .chat-inview-message-body {
    order: 1;
}

.chat-inview-item.x--pending .chat-inview-footer {
    background: #eee;
}

.chat-inview-item.x--pending .chat-inview-footer input {
    display: none;
}
 
.chat-inview-footer {
    height: 64px;
    border-top: 1px solid #eee;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
    z-index: 1;
}

.chat-inview-input {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.chat-inview-input input {
    padding-left: 20px;
    box-sizing: border-box;
    border: none;
    font-size: 12.5px;
    font-family: 'Open sans';
    outline: none;
    width: 100%;
}


/*.chat-inview-input__img {
    width: 17px;
    margin: 0 4px;
}

.chat-inview-input__placeholder {
    position: absolute;
    top: 0;
    left: 20px;
    bottom: 0;
    margin: auto 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
    color: #ccc;
    font-weight: 300;
}*/

.chat-inview__button {
    width: 100px;
    text-align: center;
    display: none;
}

.chat-inview__button button {
    background: red;
}

.chat-inview-options {
    /* height: 100%; */
    /* background: rgba(0, 0, 0, 0.7); */
    /* width: 100%; */
    /* position: absolute; */
    /* z-index: 200; */
    /* top: 0; */
    /* left: 0; */
}

.chat-inview-options__close {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 10;
    color: #ccc;
    cursor: pointer;
    height: 40px;
    width: 40px;
    font-size: 12px;
}

.chat-inview-users {
    width: 75%;
    height: 100%;
    margin-left: auto;
    background: white;
    flex-flow: column;
}

.chat-inview-users__group {
    height: 38px;
    display: flex;
    font-size: 11px;
    color: #1a59c3;
    padding-right: 16px;
    justify-content: flex-end;
    align-items: center;
    font-weight: 600;
    font-family: 'quenda';
    font-size: 13px;
    border-bottom: 1px solid #eee;
}

.chat-inview-users__group i {}

.chat-inview-users__group span {
    margin-left: 6px;
}

.chat-inview-users .user-row {}

.chat-inview-users .user-row__informations {
    padding-left: 10px;
}

.chat-inview-seen-by {
    color: #b5b5b5;
    font-size: 10px;
    margin-left: 11px;
    text-align: center;
    margin-top: auto;
    font-weight: 400;
}

.chat-inview-seen-by__label {}

.chat-inview-seen-by i {
    margin-left: 2px;
}

.chat-inview-footer button {
    flex-shrink: 0;
    width: 100px;
    margin-right: 10px;
    color: #0084ff;
    background: white;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 600;
    display: none;
}
