
Mushia 		: #db4760
Gentle blue : #33afff
Royal blue 	: #1b69ec
Odébo 		: #fd7124
Blue boy 	: #3fb3c6
Pinkirl 	: #d55d8c
Purple pill : #7b4cbb
Greenected 	: #6ae74f
Validateen 	: #6fe27e
Whispereen 	: #58c170