html {
    overflow: auto;
    overflow-y: scroll;
}

body { 
    font-family: 'Open sans'; 
    color: #191919;
}

.login {}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizeLegibility;
}

.left {
    float: left;
}

.right {
    float: right;
}

.none {
    display: none;
}

.nonei {
    display: none!important;
}

button {
    cursor: pointer;
    outline: none;
    margin: auto;
    font-family: 'Open sans';
    border: none;
}

button:hover {
    opacity: .8;
}

.date {
    font-family: 'Open sans';
}

.x--round-icon {
    display: flex;
    border-radius: 1000px;
}

.x--round-icon i {
    margin: auto;
}

.x--mb {
    display: none;
}

.app {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: white;
    position: absolute;
}

.app-section {
    width: 100%;
    background: white;
    display: none;
    z-index: 10;
    position: relative;
    flex-flow: row wrap;
}

.app-section.active {
    display: flex;
}

.app-section.x--search {
    top: -2px;
    position: relative;
    flex-flow: column nowrap;
    padding-top: 60px;
    align-items: center;
}

.super-centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.app-subheader {
    height: 52px;
    padding-bottom: 0px;
    background: white;
    box-shadow: 0 0 11px  #ADADAD;
    align-items: center;
    border-bottom: none;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 58px;
    left: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-date {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12px;
}

.row-pic {
    display: flex;
    position: relative;
    width: 90px;
    height: 90px;
    flex-shrink: 0;
}

.row-pic__image {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.row-pic__image i {
    margin: auto;
}

.row-pic.x--invite-friends {
    font-size: 50px;
    background: #7b4cbb;
    border-radius: 100px;
    color: white;
}

.row-pic__image img {
    width: 100%;
    height: 100%;
    transition: all ease-in-out .2s;
}

.row-pic__icon {
    position: absolute;
    bottom: -5px;
    right: -5px;
    border: 3px solid white;
    color: white;
    background: #454545;
    font-size: 16px;
    height: 30px;
    width: 30px;
}

.icon-meedrink {
    transform: rotate(20deg);
}


.row-pic__icon i {
    margin: auto;
    font-size: 13px;
}

.row-body {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding-left: 40px;
}

.row-body__title {
    margin-bottom: 8px;
    position: relative;
}

.row-body__subtitle {
    display: flex;
    align-items: center;
    color: #454545;
    font-size: 12px;
}

.row-body__age {
    font-size: 14px;
    margin-left: 2px;
    font-weight: 400;
}

.row-body h1 {
    font-family: 'creamy';
    font-size: 30px;
}

.row-body h2 {
    font-weight: 700;
    font-size: 15px;
    color: #454545;
    margin-right: 30px;
    letter-spacing: -.5px;
}

.row-body__icon {
    width: 24px;
    height: 20px;
}

.row-body__icon i {}

.row-body h4 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.row-body h4 span {
    font-size: 14px;
    margin-left: 2px;
}

.settings-input {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.settings-item.x--no-border .settings-input__explanation {
    left: 20px;
}
.settings-input-label {
    display: flex;
    width: 100%;
    margin-left: 20px;
}

.settings-input__label {
    font-weight: 300;
    font-size: 17px;
    color: #454545;
    padding-left: 8px;
    margin-bottom: 4px;
    width: 100%;
    font-family: 'Open sans';
}

.settings-input__icon {
    /* background: #EAEAEA; */
    border: 2px solid #33afff;
    min-width: 60px;
    min-height: 60px;
    box-sizing: border-box;
    font-size: 22px;
    position: absolute;
    left: -50px;
    top: -8px;
    border: none;
}

.settings-input__icon i {
    margin: auto;
}

.settings-input__explanation {
    display: inline-block;
    border-radius: 100px;
    font-size: 11px;
    position: relative;
    top: -12px;
    left: 28px;
}

.toggle {
    height: 30px;
    display: flex;
    flex-flow: column;
    width: 70px;
    background: #ccc;
    border-radius: 100px;
    margin-left: auto;
    order: 100;
    border: 1px solid #ccc;
    transition: all ease-in-out .2s;
    transition-delay: .15s;
    position: relative;
    cursor: pointer;
}

.toggle__background {
    background: #f9f9f9;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
    transition: all ease-in-out .3s;
    transition-delay: .005s;
}

.toggle__button {
    height: 34px;
    width: 55%;
    background: white;
    border-radius: 100px;
    margin: auto 3px;
    margin-left: 4%;
    box-shadow: 1px 1px 3px #ABABAB;
    position: relative;
    transition: all ease-in-out .2s;
}

.toggle.x--active {
    background: #1B69EC;
    border-color: #1B69EC;
}

.toggle.x--active .toggle__button {
    margin-left: 42%;
    box-shadow: 1px 1px 3px #616161;
}

.toggle.x--active .toggle__background {
    height: 0%;
    width: 0%;
    opacity: 0;
}

.action {
    position: absolute;
    display: none;
}

.action i {}

.action > div {
    width: 34px;
    height: 34px;
    border: 1px solid #454545;
    margin: 0 3px;
    cursor: pointer;
    font-size: 15px;
}

.action > div:hover {
    opacity: 0.75;
}

.action .action__validate {
    background: #1b69ec;
    border: 1px solid #1B69EC;
    color: white;
}

.action .action__cancel {
    background: white;
    color: #1b69ec;
    border-color: #1b69ec;
}

.icon-item {
    position: absolute;
    left: -60px;
    top: 21px;
    font-size: 22px;
}

.icon-item i {
    margin: auto;
}

.edit {
    color: rgb(27, 105, 236);
    position: absolute;
    right: 0px;
    top: -10px;
    z-index: 1;
    font-size: 16px;
    cursor: pointer;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    display: flex;
}

.edit:hover {
    opacity: .7;
}

.edit i {
    margin: auto;
}

.empty {
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    width: 400px;
    margin: auto;
    text-align: center;
}

.empty__icon {
    display: flex;
    color: #eee;
    font-size: 80px;
}

.empty__icon i {
    margin: auto;
}

.icon-meedrink, .icon-meedrink-empty {
    transform: rotate(20deg);
}
.empty__title {
    font-size: 30px;
    margin-top: 30px;
    color: #454545;
    font-family: 'creamy';
    color: #1b69ec;
}

.empty__title h2 {}

.empty__subtitle {
    margin-top: 20px;
    line-height: 23px;
    font-size: 13px;
}

.empty__subtitle p {}

.empty__subicon {
    height: 70px;
    width: 70px;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #1b69ec;
    border: 1px solid;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
}

.empty__subicon i {}

.empty__subicon i:hover {
    opacity: .7;
}

.disconnected {
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    width: 400px;
    margin: auto;
    text-align: center;
}

.disconnected__icon {
    display: flex;
    color: #1b69ec;
    font-size: 60px;
}

.disconnected__icon i {
    margin: auto;
}

.disconnected__title {
    font-size: 50px;
    font-family: 'creamy';
    color: white;
}

.disconnected__title h2 {}

.disconnected__subtitle {
    color: #ccc;
    margin-top: 20px;
    line-height: 23px;
    font-size: 13px;
}

.disconnected__subtitle p {}

.disconnected__subicon {
    min-height: 70px;
    min-width: 70px;
    margin: auto;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #7b4cbb; */
    color: #7B4CBB;
    font-size: 50px;
    margin-top: 16px;
    cursor: pointer;
}

.disconnected__subicon i {}

.app-lang {
    display: flex;
    margin-left: auto;
    margin-right: 6px;
    position: relative;
    cursor: pointer;
}

.app-lang:hover .app-lang__icon {
    color: #eee;
}

.app-lang:hover .app-lang__flag-icons i.x--active {
    opacity: 1;
}

.app-lang__icon {
    display: flex;
    color: #454545;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    transition: all ease-out .15s;
}

.app-lang__icon i {}

.app-lang__flag-icons {
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 4px;
    border: 2px solid #191919;
    background: #191919;
    font-size: 12px;
    border-radius: 6px 0 6px 0;
    overflow: hidden;
}

.app-lang__flag-icons i {
    display: none;
    opacity: .75;
}

.app-lang__flag-icons i.x--active {
    display: block;
}

.app-logout {
    color: #919191;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    margin-left: auto;
    cursor: pointer;
}

.app-logout:hover {
    color: #676767;
    transition: all ease-in-out .2s;
}

.app-logout i {}

.change-lang {
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.change-lang__title h2 {}

.change-lang-available {
    display: flex;
    justify-content: center;
    width: 100%;
}

.change-lang__choice {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 50px;
    height: 50px;
    font-size: 31px;
    margin: 0 10px;
}

.change-lang__choice:hover i {
    opacity: 1;
}

.change-lang__choice.x--active {
    border-bottom: 3px solid #1b69ec;
}

.change-lang__choice.x--active i {
    opacity: 1
}

.change-lang__choice i {
    cursor: pointer;
    opacity: .7;
    width: 100%;
    /* border-radius: 10px 0 10px 0; */
}

.change-lang__choice.x--unavailable {
    cursor: not-allowed;
    opacity: .8;
}

.change-lang__choice.x--unavailable i {
    cursor: not-allowed;
}

.change-lang__choice.x--unavailable i {
    opacity: .2;
}

.change-lang__choice .soon {
    font-size: 9px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0);
    color: #454545;
    font-weight: 600;
}

.change-lang__translating {
    color: white;
    display: none;
}

.user-gender {
    border-radius: 100px;
}

.user-gender.x--male {
    background: #3fb3c6;
}

.user-gender.x--female {
    background: rgb(213, 93, 140);
}

.user-country {
    position: relative;
    bottom: 2px;
    margin-left: 6px;
    overflow: hidden;
    display: none;
}

.user__host {
    width: 22px;
    height: 22px;
    background: white;
    position: absolute;
    left: -3px;
    bottom: -4px;
    z-index: 10;
    border-radius: 100px;
    color: #db4760;
    font-size: 12px;
}

.user__host i {
    position: relative;
    top: -1px;
}

.user-country i {
    border-radius: 6px 0 6px 0;
    border: 2px solid white;
    font-size: 12px;
}

.user-online {
    height: 10px;
    width: 10px;
    margin-left: 6px;
    border-radius: 100px;
    opacity: 0;
    display: none;
}


/* Fun experiment */

.cssload-box-loading {
    width: 32px;
    height: 32px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.cssload-box-loading:before {
    content: '';
    width: 32px;
    height: 3px;
    background: rgb(0, 0, 0);
    opacity: 0.1;
    position: absolute;
    top: 38px;
    left: 0;
    border-radius: 50%;
    animation: shadow 0.475s linear infinite;
    -o-animation: shadow 0.475s linear infinite;
    -ms-animation: shadow 0.475s linear infinite;
    -webkit-animation: shadow 0.475s linear infinite;
    -moz-animation: shadow 0.475s linear infinite;
}

.cssload-box-loading:after {
    content: '';
    width: 32px;
    height: 32px;
    background: rgba(30, 105, 188, 0.98);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    animation: cssload-animate 0.475s linear infinite;
    -o-animation: cssload-animate 0.475s linear infinite;
    -ms-animation: cssload-animate 0.475s linear infinite;
    -webkit-animation: cssload-animate 0.475s linear infinite;
    -moz-animation: cssload-animate 0.475s linear infinite;
}

@keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 2px;
    }
    25% {
        transform: translateY(6px) rotate(22.5deg);
    }
    50% {
        transform: translateY(12px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 26px;
    }
    75% {
        transform: translateY(6px) rotate(67.5deg);
    }
    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@-o-keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 2px;
    }
    25% {
        -o-transform: translateY(6px) rotate(22.5deg);
    }
    50% {
        -o-transform: translateY(12px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 26px;
    }
    75% {
        -o-transform: translateY(6px) rotate(67.5deg);
    }
    100% {
        -o-transform: translateY(0) rotate(90deg);
    }
}

@-ms-keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 2px;
    }
    25% {
        -ms-transform: translateY(6px) rotate(22.5deg);
    }
    50% {
        -ms-transform: translateY(12px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 26px;
    }
    75% {
        -ms-transform: translateY(6px) rotate(67.5deg);
    }
    100% {
        -ms-transform: translateY(0) rotate(90deg);
    }
}

@-webkit-keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 2px;
    }
    25% {
        -webkit-transform: translateY(6px) rotate(22.5deg);
    }
    50% {
        -webkit-transform: translateY(12px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 26px;
    }
    75% {
        -webkit-transform: translateY(6px) rotate(67.5deg);
    }
    100% {
        -webkit-transform: translateY(0) rotate(90deg);
    }
}

@-moz-keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 2px;
    }
    25% {
        -moz-transform: translateY(6px) rotate(22.5deg);
    }
    50% {
        -moz-transform: translateY(12px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 26px;
    }
    75% {
        -moz-transform: translateY(6px) rotate(67.5deg);
    }
    100% {
        -moz-transform: translateY(0) rotate(90deg);
    }
}

@keyframes shadow {
    0%,
    100% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1);
    }
}

@-o-keyframes shadow {
    0%,
    100% {
        -o-transform: scale(1, 1);
    }
    50% {
        -o-transform: scale(1.2, 1);
    }
}

@-ms-keyframes shadow {
    0%,
    100% {
        -ms-transform: scale(1, 1);
    }
    50% {
        -ms-transform: scale(1.2, 1);
    }
}

@-webkit-keyframes shadow {
    0%,
    100% {
        -webkit-transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(1.2, 1);
    }
}

@-moz-keyframes shadow {
    0%,
    100% {
        -moz-transform: scale(1, 1);
    }
    50% {
        -moz-transform: scale(1.2, 1);
    }
}


/* Fun experiment end */

.app-header {
    display: flex;
    width: 100%;
    height: 54px;
    position: fixed;
    top: 0;
    left: 0;
    background: #191919;
    z-index: 101;
}

.app-header__splitter {
    position: absolute;
    width: 100%;
    top: 54px;
    background: #33AFFF;
    background: #1b69ec;
    /* background: #009bff; */
    height: 5px;
    /* display: none; */
}

.app-header__logo {
    margin-left: 100px;
    width: 40px;
    text-align: center;
}

.app-header__logo img {
    margin-top: 10px;
}

.app-nav {
    width: 350px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    color: #454545;
    background: #191919;
    position: relative;
}

.app-nav.x--thumbnail {
    width: 130px;
    position: absolute;
    left: -130px;
    top: -10px;
}

.app-nav ul {
    display: inline-block;
    position: relative;
    height: 100%;
}

.app__menu-item {
    display: inline-block;
    font-size: 16px;
    width: 60px;
    height: 52px;
    text-align: center;
    position: relative;
    outline: none;
    color: #919191;
}

.app__menu-item:hover .app__menu-icon {
    color: #696969;
}

.app__menu-item.x--active {
    background: black;
}

.app__menu-item.x--active .app__menu-icon {
    color: white;
}

.app__menu-item .bubble {
    background: #e61515;
}

.app__menu-item a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app__menu-icon {
    margin: 18px auto;
    font-size: 20px;
    transition: all ease-in .10s;
}

.app-header__title {
    display: none;
    position: relative;
    top: 3px;
}

.app-header-titles {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    font-size: 30px;
    font-family: 'creamy';
}

.app-header__title {}



/*
   - Curtain
   - Loaders
   _ Toast
   - Modals
   
*/

.x--online {
    background: #6ae74f;
    opacity: 1;
    display: inline-block;
}

.padded {
    padding-top: 60px;
}

.hint {
    width: 100%;
    height: 100%;
    position: absolute;
}


/* App toasts */

.toast {
    position: fixed;
    left: 50%;
    transform: translateX(-50%)!important;
    top: 10px;
    min-width: 240px;
    height: 34px;
    z-index: 10000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 40px;
    padding: 0 30px;
    font-weight: 400;
}

.toast--info {
    color: #FFFFFF;
}

.toast--error {
    background: #B10926;
    background: #1B69EC;
}

.toast--success {
    background: black;
}


/* End app toasts */


/* App Loaders */

.app__loader {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 23px;
    z-index: 1000;
}


/* End app loaders */


/* App curtain  */

.curtain {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1234;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}

.curtain.x--light {
    background: #fff;
}


/* End app curtain */


/* App modals and popup */

.modal {
    background: white;
    border-radius: 10px;
    padding: 10px 10px 20px 10px;
    color: #191919;
    width: 400px;
    display: flex;
    flex-flow: column nowrap;
    max-height: 90%;
}

.modal.x--facebook {
    padding: 10px 30px;
}

.modal-content {}

.modal-header {
    min-height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-subheader {
    /* color: #919191; */
    padding: 0 30px;
    text-align: center;
    font-weight: 400;
    line-height: 20px;
    font-size: 13px;
}

.modal-subheader b {
    color: #191919;
}

.modal-body {
    min-height: 120px;
    margin-top: auto;
    display: flex;
    flex-flow: row wrap;
    /* overflow: hidden; */
    align-items: center;
    justify-content: center;
    outline: none;
    position: relative;
}

.modal-footer {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.modal__title {
    font-family: 'creamy';
    font-size: 40px;
}

.modal__title h1 {}

.modal__close {
    position: absolute;
    top: 12px;
    right: 8px;
    cursor: pointer;
    color: #ccc;
    font-size: 16px;
}

.modal__close i {}

.modal-footer button.x--rounded {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    color: #1b69ec;
    background: white;
    border: 4px solid;
}

.modal.x--share button,
.modal.x--be-create button,
.modal.x--request button {
    background: #1B69EC;
    color: white;
    border: 4px solid #1B69EC;
}

.modal.x--logout button {
    color: #1b69ec;
    transform: scale(0.75);
}

.modal.x--logout button i {
    font-size: 28px;
}

.modal-footer button.x--squared {}

.modal__loader {
    margin: auto;
}

.menu__loader {
    margin: auto;
}

.modal__loading-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)!important;
    background: rgba(27, 105, 236, 0.07);
    color: #1b69ec;
    width: 70%;
    text-align: center;
    padding: 10px;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 600;
}

.modal-footer i {
    font-size: 30px;
}

.modal.x--facebook:not(.x--active) .modal-footer {
    opacity: .2;
}

.modal.x--facebook:not(.x--active) button {
    color: #919191;
    cursor: default;
}

.modal__facebook-picture {
    display: none;
    /* margin: 4px; */
    /* border: 1px solid #eee; */
    padding: 2px 4px;
    cursor: pointer;
    width: 33.333333%;
    box-sizing: border-box;
}

.modal__facebook-picture .modal__picture-icon {
    display: none;
    transition: all ease-in-out .2s;
    position: absolute;
    bottom: 12px;
    right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: #1b69ec;
    color: white;
    box-sizing: border-box;
}

.modal__picture-icon i {
    margin: auto;
}

.modal__facebook-picture.x--active .modal__picture-icon {
    display: flex;
}

.modal__input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.modal__input input {
    margin: auto;
    padding: 16px 40px;
    width: 50%;
    font-size: 30px;
    font-weight: 200;
    border: none;
    border-bottom: 2px solid #ccc;
    text-align: center;
}

.modal__facebook-picture img {
    width: 100%;
}

.modal.x--delete .modal-footer {
    flex-flow: column;
    margin: 16px 0;
}

.modal.x--delete button {
    background: #eee;
    width: 260px;
    padding: 14px 0;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
    margin: 4px 0;
}

.modal.x--delete button.x--pending {
    opacity: .5;
}

.modal.x--delete button[data-action="confirm"] {
    color: #1b69ec;
    font-weight: bolder;
    background: white;
    border: 1px dashed;
}

.modal.x--delete button[data-action="cancel"] {}

.modal-search__input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    padding: 0 30px;
}

.modal-search__input input {
    padding: 10px 16px;
    border-radius: 100px;
    border: 1px solid #eee;
    width: 100%;
    font-size: 16px;
}

.modal.x--share .modal-body {
    margin-top: 0px;
}

.modal.x--share .jspPane {}

.modal.x--share .jspDrag {}

.modal.x--share .jspTrack {}

.modal.x--disabled button {
    color: white;
    border: 4px solid #eee;
    background: #eee;
}

.modal.x--pending button {
    color: #eee;
    opacity: .6;
}

.modal__search-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)!important;
    width: 32px;
    z-index: 100000;
}


/* End app modals and popup */


/* Slide */

.slide {
    background: rgb(255, 255, 255);
    color: #191919;
    width: 350px;
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    right: 0;
    top: 59px;
    z-index: 100;
    height: 500px;
    box-shadow: 0 0 14px #949494;
    overflow: scroll;
}

.slide.x--facebook {}

.slide-content {}

.slide-header {
    min-height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-subheader {
    color: #919191;
    padding: 0 30px;
    text-align: center;
    font-weight: 300;
    line-height: 18px;
    font-size: 16px;
}

.slide-body {
    min-height: 100%;
    display: flex!important;
    align-items: flex-start;
    outline: none;
    position: relative;
}

.slide__loader {
    width: 30px;
    margin: auto;
}

.slide-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide__title {
    font-family: 'creamy';
    font-size: 30px;
}

.slide__title h1 {}

.slide__close {
    position: absolute;
    top: 0px;
    transform: translate(0, -50%);
    right: 2px;
    /* background: #3C7FEE; */
    color: #868686;
    color: white;
    height: 30px;
    width: 30px;
    cursor: pointer;
    font-size: 16px;
    z-index: 100;
    display: none;
    text-shadow: 0 0 1px #919191;
    padding: 4px;
}

.slide__close i {
    margin: auto;
}

.slide-footer button.x--rounded {}

.slide-footer button.x--squared {}

.slide__loader {}

.slide-footer i {}

.slide__facebook-picture {}

.slide__facebook-picture .slide__picture-icon {}

.slide__picture-icon i {}

.slide__input {}

.slide__input input {}

.slide-ghost {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.slide-ghost__icon {
    font-size: 70px;
    color: #eee;
    margin-bottom: 30px;
}

.slide-ghost__icon i {}

.slide-ghost__title {
    font-family: 'creamy';
    font-weight: 700;
    font-size: 34px;
    color: #1b69ec;
    margin-bottom: 20px;
}

.slide-ghost__title span {}

.slide-ghost__subtitle {
    font-size: 12px;
    padding: 0 40px;
    line-height: 20px;
    margin-bottom: 60px;
    color: #454545;
}

.slide-ghost__subtitle span {}

.slide-ghost__action {
    width: 100%;
    height: 20px;
}

.slide-ghost__action button {
    background: red;
    position: static;
    display: block;
    width: 200px;
    height: 36px;
    background: white;
    border: 1px dashed;
    color: #1b69ec!important;
    text-shadow: none;
    font-size: 12px;
}


/* End slide */

.ui-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0.7;
}

.ui-overlay--dark {
    background: black;
}

.ui-overlay--light {
    background: white;
}

.ui-overlay__message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)!important;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    color: white;
    font-weight: 500;
    z-index: 101;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.ui-overlay--light .ui-overlay__message {
    color: #3b5998;
}

.ui-synchronify {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 102;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.ui-synchronify .ui-overlay__message {
    position: static;
    transform: none!important;
    color: #454545;
    background: rgba(255, 255, 255, 0.5);
    font-weight: 600;
    font-size: 12px;
}

.ui-synchronify .ui-overlay__message span {
    width: 100%;
    display: block;
    color: #1b69ec;
}

.ui-synchronify img {
    margin: 10px;
}

.pictures-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.2;
    /* display: none; */
    overflow: hidden;
}

.x--filterlay {
    background: rgb(228, 189, 178)!important;
}

.loader__overlay {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .5);
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
}


/* Bubble */

.bubble {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    top: 4px;
    right: 4px;
    height: 20px;
    font-size: 10px;
    width: 20px;
    font-weight: bolder;
    color: white;
    background: #1B69EC;
    border: 4px solid #191919;
}

.bubble__number {
    margin: auto;
    font-weight: 700;
}

.app__menu-item.x--chats .bubble {
    /* background: #1b69ec; */
}


/* End bubble */

.halo {
    background: none;
    border: 2px solid rgba(27, 105, 236, 0.3);
    width: 95%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    border-radius: 100px;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all ease-in .15s;
}

.ux__magnify {
    overflow: hidden;
}
.ux__magnify img {
    transform: scale(1.1);
    border-radius: 1000px;
}

