@media (max-width: 1000px) {
    .app-header__logo {
        display: none;
    }
}

@media (max-width: 500px) {
    div,span,input,button {
        cursor: pointer!important;
    }
    .x--mb {
        display: flex!important;
        text-align: center;
    }
    .app-section.x--menu {
        padding-top: 45px!important;
    }
    .app-logout, .settings-input__explanation, .me-item__explanation, .me .icon-item, .settings-input__icon, .settings-input__label.x--lang, .search-filters-section__explanations, .be-dates__count, .be-create-row__explanations, .app-subheader.x--map, .modal-search__input, .app-header__brand, .map-zoom, .map__icon.x--change-location, .map__icon.x--facebook, .map__icon.x--feedback, .user-actions, .modal.x--feedback .modal-subheader {
        display: none!important;
    }
    .be-create, .notifications-panel, .chat, .slide, .search-filters, .menu-section.x--cheers .segment, .empty, .settings__button.x--delete, .settings__button, .map-browse input {
        width: 100%!important;
    }
    .modal.x--be-create,
    .modal.x--request {
        width: 80%!important; 
        height: 88%!important;
    }
    .modal__title {
        font-size: 22px;
    }
    .settings-input-label {
        margin: 0!important;
    }
    .app-subheader.x--menu .menu-item__bar {
        margin-left: 8px!important;
    }
    .meemap-closed {
        padding: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .map-browse {
        bottom: 0px!important;
        width: 100%!important;
        right: 0!important;
        left: 0!important;
        justify-content: center!important;
        height: 54px!important;
    }
    .seek-map-browser-places.pac-container {
        bottom: 42px!important;
        width: 100%!important;
        left: 0!important;
        right: 0!important;
    }
    .map__icon.x--change-location {
        z-index: 100!important;
    }
    .map__icon.x--change-location,
    .map__icon.x--geoloc {
        bottom: 4px!important;
    }
    .map-zoom {
        bottom: 70px!important;
    }
    .picture,
    .picture-icon {
        width: 220px;
        height: 220px;
        display: inline-block;
        width: 130px;
        height: 130px;
        padding: 0px!important;
    }
    .picture-icon {
        top: 0;
        padding: 2px;
        left: 0;
    }
    .picture__ribbon-main {
        font-size: 10px;
        width: 130px;
        border-radius: 0;
        bottom: 0px;
    }
    .picture-icon {
        display: none;
    }
    .picture-icon i {
        /* display: none; */
    }
    input,
    textarea,
    .settings-input__label {
        font-size: 13px!important;
    }
    .settings-input__label.x--settings-btn {
        display: none!important;
    }
    .invite-friends-popup {
        left: 0;
        right: 0;
        bottom: 0;
        height: 220px;
        flex-flow: column nowrap;
        background: rgba(255, 255, 255, .8);
    }
    .invite-friends-popup > div {
        margin: 10px 0;
    }
    .invite-friends-popup-message {
        text-align: center;
        margin: 10px 0;
        flex-shrink: 0;
    }
    .friend__item,
    .cheers__item {}
    .row-pic {
        width: 50px;
        height: 50px;
    }
    .row-body {
        padding-left: 20px;
    }
    .row-body h4 {
        max-width: 150px;
    }
    .row-date {
        display: none!important;
    }
    .pika-single {
        width: 100%!important;
        /* left: 0!important; */
        right: 0!important;
        bottom: -2px!important;
        top: auto!important;
        box-sizing: border-box!important;
        padding: 0!important;
        transform: translate(-50%, 0)!important;
        left: 50%!important;
    }
    .pika-lendar {
        width: 100%!important;
        margin: 0!important;
        padding: 20px!important;
        box-sizing: border-box!important;
    }
    .hourpicker {
        width: 100%!important;
        left: 0!important;
        right: 0!important;
        top: auto;
        box-sizing: border-box;
    }
    .hourpicker-col {
        margin: 0 2px!important;
    }
    .pika-prev,
    .pika-next {
        width: auto!important;
        background: none!important;
    }
    .app-subheader {
        background: rgba( 255, 255, 255, .85)!important;
    }
    .app-subheader.x--menu .menu-item__icon {
        display: none!important;
    }
    .search-user .user-online {
        bottom: 80px!important;
        right: 10px!important;
        position: absolute!important;
        width: 16px!important;
        height: 16px;
    }
    .disconnected {
        padding: 0 10px!important;
        width: 80%!important;
    }
    .disconnected__title {
        font-size: 36px!important;
    }
    .slide {
        top: 0!important;
        z-index: 1000!important;
        height: 100%!important;
        overflow: scroll!important;
    }
    .row-pic__icon {
        width: 20px!important;
        height: 20px!important;
        border: 2px solid!important;
    }
    .map__icon.x--create-before {}
    .search-users {
        margin-top: 10px!important;
    }
    .app__menu-item:not(.x--active):hover .app__menu-icon {}
    .search-filters {
        padding-bottom: 0!important;
    }
    .be-create-row__input input {
        border: none!important;
        border-bottom: 1px solid #eee!important;
        box-shadow: none;
    }
    .chat-inview-footer button {
        display: flex!important;
        justify-content: center!important;
    }
    .search-filters-section {
        margin-bottom: 40px!important;
    }
    .user-infos {
        position: relative!important;
        top: 0px!important;
    }
    .me-item .action {
        top: -20px!important;
    }
    .be-action {
        /* position: static; */
        /* flex-shrink: 0!important; */
        /* height: 100px!important; */
        /* background: none!important; */
    }
    .be-usernames {
        flex-shrink: 0!important;
        height: 70px!important;
    }
    .be-inview-address {
        flex-shrink: 0!important;
    }
    .user-pics {
        padding-bottom: 100%!important;
        height: 0px!important;
    }
    .chat-row-infos__name .x--name {}
    .chat-row-pictures {
        margin-left: 10px!important;
    }
    .be-pictures {
        /* width: 230px!important; */
        /* height: 230px!important; */
    }
    .empty {
        min-height: 0!important;
    }
    .notification .notification__date {
        position: absolute!important;
        top: 4px!important;
        right: 6px!important;
    }
    .chat,
    .notifications-panel {
        border: none;
    }
    .login__progress-bar {
        width: 230px
    }
    .be-create {
        padding: 0 20px 40px;
    }
    .tip {
        width: 70%;
        max-width: 400px;
        left: 0!important;
        right: 0!important;
        margin: auto;
    }
    .tip__tri {
        transform: rotate(0deg) !important;
        right: 0;
        left: 0!important;
        margin: auto;
        bottom: -10px!important;
        border-top-color: #3980da;
        border-top-width: 20px;
    }
    .user-pics__navigate {
        /* display: none; */
    }
    .user-pics__img {
        /* position: static; */
        /* opacity: 1; */
        /* padding-bottom: 0%; */
        /* margin: 0; */
        /* display: inline-block; */
        /* width: 200px; */
        /* height: 200px; */
    }
    .user-pics {
        /* height: 200px; */
        /* display: block; */
        /* width: 100%; */
        /* overflow-x: scroll; */
        /* overflow-y: hidden; */
        /* white-space: nowrap; */
    }
    .pictures-overlay {
        display: none;
    }
    .onb-welcome {
        border-radius: 0;
        padding: 0;
    }
    .onb-welcome-body {
        border-radius: 0;
    }
    .onb-welcome__title span {
        font-size: 26px;
    }
    .onb-welcome__subtitle span {
        line-height: 24px;
        font-size: 11px;
        display: block;
        padding: 0 30px;
    }
    .onb-welcome br {
        display: none;
    }
    .modal-subheader br {
        display: none;
    }
    .be-inview {
        /* height: auto; */
        min-height: 100%;
    }

    .profile-logout {
        width: 80%;
    } 

    .cheers-back {
        overflow: scroll;
    }
}
