.be-browser {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.be-browser .jspPane {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0!important;
    height: 54px;
    /* overflow: visible; */
}

.be-browser .jspVerticalBar {
    display: none;
}

.be-browser .jspDrag {
    background: #EAEAEA;
}

.be-browser .jspHorizontalBar {
    height: 2px;
}

.be-browser__empty {
    text-align: center;
}

.be-browser__empty span {
    font-size: 12px;
    color: #191919;
    font-weight: 600;
}

.be-dates {
    width: 80%!important;
    height: 100%;
    display: flex;
    outline: none;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-shrink: 0;
}

.be-address {
    width: 100%;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #eee;
    height: 46px;
    /* color: #919191; */
    font-family: 'Open sans';
    z-index: 0;
    position: relative;
    flex-shrink: 1;
    display: none!important;
}

.be-address i {}

.be-address span {
    margin: 0 2px;
}

.be-dates__bar {
    width: 98px;
    border-radius: 100px;
    position: absolute;
    height: 4px;
    background: #1b69ec;
    top: 46px;
    left: 3px;
    display: none;
}

.be-dates__date {
    position: relative;
    top: 2px;
    margin: 0 10px;
    /* color: #ccc; */
    cursor: pointer;
    font-size: 12px;
    align-items: center;
    display: flex;
    font-weight: 600;
    background: #ffffff;
    padding: 7px 12px;
    border-radius: 100px;
    height: 100%;
    box-sizing: border-box;
}

.be-dates__date.x--active .be-dates__bar {
    display: block;
}

.be-dates__date:not(.x--active):hover {}

.be-dates__date span {
    margin-left: 4px;
}

.be-dates__date.x--active {
    position: relative;
    color: black;
    font-weight: 700;
    padding: 7px 12px;
    border-radius: 100px;
}

.be-dates__date.x--active span {}

span.be-dates__offset {
    /* margin-top: 10px; */
}

span.be-dates__count {
    font-weight: 400;
    margin-left: 6px;
    font-size: 10px;
    margin-bottom: 10px;
}

.be-create__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)!important;
    width: 32px;
    z-index: 100;
}


/* Before inview begin */

.slide.x--before {
    left: 0px;
    padding: 0;
    margin: 0;
}

.slide.x--before .slide__close {
    color: white;
    color: #1b69ec;
    text-shadow: none;
}

.be-inview {
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    z-index: 10;
    display: none;
    flex: 1;
    overflow: hidden;
}

.be-inview.x--flat {
    overflow: hidden;
}

.be-inview__deleted-warning {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)!important;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    color: white;
    font-weight: 500;
    z-index: 101;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.be-pictures {
    position: relative;
    /* display: flex; */
    padding-bottom: 50%;
    width: 100%;
    overflow: hidden;
    flex-grow: 0;
    transition: all ease-in-out .2s;
}

.be-pictures:hover {}

.be-options {
    position: absolute;
    top: 0;
    left: 0;
    /* color: white; */
    font-size: 26px;
    z-index: 101;
    padding-left: 5px;
    box-sizing: border-box;
    background: white;
    height: 44px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.be-inview.x--hive .be-options {
    display: flex;
}
.be-options__option {
    border: 2px solid white;
    height: 36px;
    width: 36px;
    cursor: pointer;
    font-size: 22px;
    color: #1b69ec;
}

.be-options__option:hover {
    opacity: .8;
}

.be-options__option.x-settings {
}

.be-options__option.x--settings i {
    font-size: .9em;
}

.be-options__option.x--switch {
}

.be-options__option.x--switch i {
    /* transform: rotate(140deg); */
}

.be-options__option.x--share {}

.be-options__option.x--share i {}

.be-pictures__pic {
    width: 50%;
    /* height: 124px; */
    position: absolute!important;
    transition: transform ease-in-out .2s;
}

.be-pictures__pic img {
    width: 100%;
    height: 100%;
}

.be-pictures__shadolay {
    width: 80%;
    height: 100%;
    background: rgba(0, 0, 0, 0.11);
    background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65));
    z-index: 10;
    position: absolute;
    right: 50%;
}

.be-inview-address {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 20px;
    padding: 0px 40px;
    font-size: 12px;
    align-items: center;
    margin-bottom: 10px;
}

.be-inview-address__address {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.be-inview-address__address span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 220px;
    height: 15px;
}

.be-inview-address__date {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    height: 10px;
}

.be-inview-address__date span {
    /* font-size: 14px; */
    /* color: #333; */
}

.be-users {
    max-height: 350px;
    outline: none;
    border-bottom: 1px solid #eee;
    position: relative;
}

.user-row {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 0;
    position: relative;
}

.user-row:hover {
    background: #fbfbfb;
}

.user-row:last-of-type {
    border-bottom: none;
}

.user-row__pic {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}

.user-row__pic img {
    width: 60px;
    height: 100%;
    border-radius: 100px;
}

.user-row__informations {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    padding: 0 0 0 20px;
}

.be-inview .user-gender {
    width: 8px;
    height: 8px;
    bottom: 4px;
    left: 2px;
    display: none;
    border: 2px solid white;
}

.user-row .pictures-overlay {
    border-radius: 100px;
}

.be-inview .user-country {}

.be-inview .user-country i {}

.user-row__about {
    display: flex;
    align-items: center;
    position: relative;
}

.user-name {
    font-size: 14px;
    font-weight: 600;
    margin-left: 4px;
    color: #333;
}

.user-comma {
    margin: 0 5px 0 0px;
    font-size: 16px;
}

.user-row__education-label {
    font-size: 11px;
    font-weight: 400;
}

.user-age {
    font-size: 14px;
}

.user-host-icon {
    color: #FD7124;
    display: none;
}

.user-row.x--main .user-host-icon {}

.user-row__education {
    display: flex;
    align-items: center;
    margin-top: 4px;
    color: #454545;
    /* display: none; */
}

.user-row__education-icon {
    font-size: 1;
}

.user-row__education-icon i {}
 
.be-action {
    order: 1;
    height: 130px;
    width: 100%;
    display: flex;
    margin-top: auto;
    position: fixed;
    bottom: 0;
}

.be-inview.x--flat .be-action {
    background: linear-gradient(transparent, white);
    width: 100%;
    height: 130px;
    z-index: 10;
    position: fixed;
    bottom: 0;
}

.be-action button {
    width: 70px;
    height: 70px;
    background: #1B69EC;
    color: white;
}

.be-action .check-cheers {
    min-width: 180px;
    height: 40px;
    border-radius: 100px;
    background: #1b69ec;
    font-size: 13px;
}

.be-action button.x--pending {
    color: white;
    border: 2px solid;
    background: #FD7124;
    background: white;
    color: #1b69ec;
}

.be-action button.x--accepted {
    /* background: white; */
    /* border: 2px solid; */
    /* color: #1B69EC; */
}

.be-action i {
    font-size: 28px;
}

.be-action i.icon-meedrink {
    transform: rotate(20deg)
}

.be-users .jspPane {
    padding: 0!important;
    width: 100%!important;
}

.be-users .jspDrag {
    background: #FFFFFF;
    border: 1px solid #eee;
    right: 2px;
    border-radius: 0;
}

.be-users .jspVerticalBar {
    right: 0;
}

.be-users .jspTrack {
    background: #ECECEC;
    right: 0;
    width: 6px;
}

.be-ended {
    color: #919191;
    width: 74%;
    text-align: center;
    /* padding: 16px 0px; */
    font-weight: 500;
    font-size: 12px;
    margin: auto;
    color: red;
}

.be-ended span {
    padding: 14px 20px;
    color: #d94962;
    border-radius: 100px;
    white-space: nowrap;
    display: block;
    margin: auto;
    min-width: 200px;
    font-weight: 600;
    border: 2px solid #d94962;
}


/* Before inview end */

.be-ghost {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.be-ghost__icon {
    font-size: 70px;
    color: #eee;
    margin-bottom: 30px;
}

.be-ghost__icon i {}

.be-ghost__title {
    font-family: 'creamy';
    font-weight: 700;
    font-size: 34px;
    color: #1b69ec;
    margin-bottom: 20px;
}

.be-ghost__title span {}

.be-ghost__subtitle {
    font-size: 12px;
    padding: 0 40px;
    line-height: 20px;
    margin-bottom: 60px;
    color: #454545;
}

.be-ghost__subtitle span {}

.be-ghost__action {
    width: 100%;
    height: 20px;
}

.be-ghost__action button {
    background: red;
    position: static;
    display: block;
    width: 200px;
    height: 36px;
    background: white;
    border: 1px dashed;
    color: #1b69ec!important;
    text-shadow: none;
    font-size: 12px;
}

.be-usernames {
    color: #1b69ec;
    font-family: 'creamy';
    font-size: 26px;
    display: flex;
    align-items: flex-end;
    height: 100px;
    justify-content: center;
}

.be-usernames span {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 240px;
    white-space: nowrap;
    padding: 0 6px;
    /* font-family: 'quenda'; */
    /* font-size: 18px; */
    margin-bottom: 4px;
}

.be-inview.x--hive .be-pictures {
    width: 300px;
    height: 300px;
    padding: 0;
    flex-shrink: 0;
    margin: 0 auto;
    cursor: pointer;
}

.x--hive img {
    transition: all ease-in .15s;
}

.hive__picture:hover img, .hive__background:hover~div img {
    transform: scale(1.2);
}

.be-inview-address__icon {
    margin-right: 4px;
}

.be-inview-address__icon i {}

.flat-users {
    overflow: scroll;
}

.user-flat {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.user-flat:first-of-type {
    margin-top: 50px;
}

.user-flat:last-of-type {
    margin-bottom: 140px;
}

.flat-user-body {
    height: 70px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 75%;
    border: 1px solid #eee;
    box-shadow: 0px 2px 2px -1px rgb(232, 232, 232);
    box-sizing: border-box;
    top: -2px;
}

.flat-user__pic {
    position: relative;
    width: 75%;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}

.flat-user__pic img {
    width: 100%;
    height: 100%;
    transition: all ease-in .15s;
}

.flat-user__pic:hover img {
    /* transform: scale(1.1); */
}

.flat-user__pic .pictures-overlay {
    border-radius: 4px;
}

.flat-user__h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flat-user__h2 {
    display: flex;
    color: #919191;
    font-size: 12px;
    /* color: #1b69ec; */
    /* font-family: 'quenda'; */
}

.user-flat .comma {
    margin: 0 4px;
}

.flat-user__gender {
    display: none;
}

.flat-user__age {}

.flat-user__name {
    font-weight: 700;
    font-size: 30px;
    font-family: 'creamy';
    font-weight: 400;
}

.flat-user__country {
    display: none;
}

.flat-user-actions {
    position: absolute;
    right: 50px;
    bottom: 62px;
    font-size: 20px;
    color: #1b69ec;
    cursor: pointer!important;
    z-index: 1;
}

.flat-user__action {
    height: 34px;
    width: 34px;
    color: white;
    border: 2px solid;
    cursor: pointer;
}

.flat-user__action i {}

.flat-user-job {}

.flat-user-job i {}

.flat-user__job {}
